<app-dialog-box *ngIf="isDialogPresent"
  (dialogClose)="exitFinalistLocationEditIgnoreChanges($event)"
  [doesNotNavigateBack]="true"></app-dialog-box>
<div class="modal-overlay"
  *ngIf="this.model"
  [ngStyle]="{'z-index':isDialogPresent ? 0 : '' }">
  <div class="modal-container">
    <header>
      <h4>My Contact Info</h4>
    </header>
    <section class="dialog-content">
      <div class="row p-1"
        *ngIf="validationManager.errors && validationManager.errors.length > 0">
      </div>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-md-3"><label>Phone</label></div>
          <div class="col col-md-5">
            <app-numerical-input [(ngModel)]="model.phoneNumber"
              [isReadOnly]="false"
              (ngModelChange)="model.phoneNumber = $event; validate();"
              [isInvalid]="modelErrors['phoneNumber']"
              [cacheInnerValue]="originalModel?.phoneNumber"
              [isPhoneNumber]="true"
              [NGMaxLength]="14"
              [isRequired]="true"> </app-numerical-input>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-md-3"><label for="email">Email Address</label></div>
          <div class="col col-md-7">
            <app-generic-text-input id="email"
              [(ngModel)]="model.email"
              (ngModelChange)="model.email = $event; validate();"
              [isInvalid]="modelErrors['email']"
              [cacheInnerValue]="originalModel?.email"
              [isRequired]="true"
              [NGMaxLength]="120">
            </app-generic-text-input>
          </div>
        </div>
      </fieldset>
    </section>
    <footer>
      <app-cancel-save-footer [isSaving]="isSaving"
        [canSubmit]="true"
        [isDisabled]="isSectionValid"
        (cancelEvent)="exit()"
        (submitEvent)="submit()"></app-cancel-save-footer>
    </footer>
  </div>
</div>
