div.row {
  font-size: 0.77rem;
}

div.row.color:nth-child(n) {
  &:hover {
    background-color:#ebf4fa;
  }
}

div.row.color:nth-child(odd) {
  background-color:#F6F8F8;
}

div.row.summary {
  background-color:#1F5673;
  color: #fff;
}

div.col-sm-1:nth-child(n) {
  max-width: 7.69%;
  display: inline-block;
  padding: 6px;
  text-align: center;
  word-wrap: break-word;
}

div.col-sm-4 {
  max-width: 30.76%;
}

.dis {
  cursor: not-allowed;
}
