<div class="modal-overlay">
  <div class="modal-container">
    <header>
      <h4>Simulate User</h4>
    </header>
    <section class="dialog-content">
      <div class="alert alert-danger"
        *ngIf="errorMessage">{{ errorMessage }}</div>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-xs-3 col-md-3 col-lg-3"><label for="username">Username</label></div>
          <div class="col col-xs-7 col-md-7 col-lg-7">
            <app-auto-complete name="username"
              [dropDownList]="usernamesDropOptions"
              [(ngModel)]="selectedUserIndex"
              [isRequired]="true"></app-auto-complete>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-xs-3 col-md-3 col-lg-3"><label for="roles">Role <span class="small">(Select all
                that
                apply.)</span></label></div>
          <div class="col col-xs-7 col-md-7 col-lg-7">
            <app-multi-select-dropdown name="roles"
              [options]="rolesDropOptions"
              [isDisabled]="!rolesDropOptions"
              width="30"
              [(ngModel)]="selectedRoles"
              [isRequired]="false"></app-multi-select-dropdown>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-xs-3 col-md-3 col-lg-3"><label for="agency">Agency</label></div>
          <div class="col col-xs-7 col-md-7 col-lg-7">
            <app-auto-complete name="agency"
              [dropDownList]="officesDropOptions"
              [(ngModel)]="selectedOfficeIndex"
              [isRequired]="false"></app-auto-complete>
          </div>
        </div>
      </fieldset>
    </section>
    <footer>
      <app-cancel-save-footer [isDisabled]="canSubmit"
        [isSaving]="isSubmitting"
        [canSubmit]="true"
        (cancelEvent)="exit()"
        (submitEvent)="submit()"></app-cancel-save-footer>
    </footer>
  </div>
</div>
