:host >>> input.required.ng-untouched.error, 
:host >>> textarea.required.ng-untouched.error,
:host >>> select.required.ng-untouched.error  {
    border-color:#BDC3C7!important;
    border-left-color: #9B59B6!important;
    box-shadow: none!important;
}

:host >>> input.ng-untouched.error, 
:host >>> textarea.ng-untouched.error,
:host >>> select.ng-untouched.error {
    border-color:#BDC3C7!important;
    border-left-color: #BDC3C7!important;
    box-shadow: none!important;
}

:host >>> input.ng-untouched:focus,
:host >>> textarea.ng-untouched:focus,
:host >>> select.ng-untouched:focus,
:host >>> input.ng-untouched.error:focus, 
:host >>> textarea.ng-untouched.error:focus,
:host >>> select.ng-untouched.error:focus {
    border-color: #31B0D5!important;
    border-left-color: #31B0D5!important;
    box-shadow:0 0 2px #31B0D5!important;
}