<div id="modal"
  onmouseover="this.title = ''">
  <div>
    <div [@flyInOut]="true"
      *ngIf="!animateModalLeave"
      id="modal-content">
      <div class="row custom-modal-header">
        <div class="col-md-12">
          <h4>{{title}}</h4>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-md-12">
          <span *ngIf="showWarning"
            class="tcenter list-group-item list-group-item-warning war">
            {{warningMsg}}
          </span>
          <p>
            {{message}}
          </p>
        </div>
      </div>
      <button type="button"
        class="btn btn-primary"
        (click)="onConfirmClick()">{{confirmButtonText}}</button>
      <button type="button"
        class="btn btn-add"
        (click)="onCancelClick()">{{cancelButtonText}}</button>
    </div>
  </div>
</div>
