<div class="dialog-modal">
  <div>
    <div [@flyInOut]="true" *ngIf="!animateModalLeave" class="modal-content">
      <div class="row custom-modal-header">
        <div class="col-md-12">
          <h4>Unsaved Changes</h4>
        </div>
      </div>
      <div class="row pad2-0">
        <div class="col-md-12">
            <p>There are unsaved changes. Leaving without saving will result in your changes being lost.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <button type="button" class="btn btn-primary" (click)="navigateBack()">Exit without Saving</button>
          <button type="button" class="btn btn-add mx-2" (click)="closeDialogBox()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>