<ul class="action-holder">
  <li class="user-action"
    [class]="{multi: isMultiSelect, requiredActionNeeded: isRequired, error: isActionErrored, dirtyActionNeeded: isModified}">
    <h4 *ngIf="!isMultiSelect">{{title}}</h4>
    <ul class="pad0-1">
      <li *ngFor="let an of actionNeededs; let i=index"
        [class]="{half: isHalf, full: !isHalf}"
        class="left pad0-1">
        <input type="checkbox"
          [disabled]="an.isDisabled === true"
          [checked]="an.isSelected === true"
          (click)="manageSelected(an.id)"
          [attr.id]="i" />
        <label [attr.for]="i">{{an.name}}</label>
      </li>
    </ul>
    <div data-chold="cc-refer"
      class="pad1">
      <textarea [class]="{required: isDetailsRequired, error: isDetailsErrored}"
        *ngIf="value"
        maxlength="380"
        [(ngModel)]="value.assistDetails"
        (ngModelChange)="value.assistDetails = $event; checkState();"
        AutoResize
        class="form-control autosize"
        id="legal-action-refer"
        name="legal-action-refer"
        placeholder="Details"></textarea>
    </div>
  </li>
</ul>
