<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Children First Tracking Entry'"></app-loading>
  <div *ngIf="isLoaded"
    class="p-1">
    <app-dialog-box *ngIf="this.appService.isDialogPresent"
      (dialogClose)="dialogueClose()"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom">
          <div class="col-lg-8 col-md-8">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              title="Close"
              (click)="exit()">
              <i class="fa fa-times"></i>
            </a>
            <div class="row flex-nowrap">
              <h1 id="editPageTitle"
                class="px-3">{{model.activityName}}
              </h1>
              <app-help-button [featureName]="'participantEntry'"></app-help-button>
            </div>
          </div>
          <div class="right col-lg-4 col-md-4">
            <app-modified-stamp [readOnly]="true"
              [author]="model.modifiedBy"
              [lastModified]="model.modifiedDate">
            </app-modified-stamp>
          </div>
        </div>
      </div>
    </header>
    <div class="edit-content py-1">
      <div class="container">
        <div class="row p-1">
          <app-validation-summary [errors]='validationManager.errors'
            class="col-md-12"></app-validation-summary>
        </div>
        <div class="row p-1">
          <div class="col-md-3">
            <label>Date:</label>
          </div>
          <div class="col-md-3">
            <app-date-mm-dd-yyyy [ngModel]="model.participationDate"
              [isReadOnly]="true"
              [cacheInnerValue]="cachedModel.participationDate">
            </app-date-mm-dd-yyyy>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-3">
            <label>Scheduled Hours:</label>
          </div>
          <div class="col-md-3">
            <app-numerical-input [(ngModel)]="model.scheduledHours"
              [isReadOnly]="true"
              [isHrs]="true"
              [cacheInnerValue]="cachedModel.scheduledHours">
            </app-numerical-input>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-3">
            <label>Did the participant complete this activity?</label>
          </div>
          <div class="col-md-3">
            <app-yes-no-basic [isRequired]="true"
              [cacheInnerValue]="cachedModel.didParticipate"
              [(ngModel)]="model.didParticipate"
              (ngModelChange)="model.didParticipate = $event; validate()"
              [errorIndicator]="modelErrors['didParticipate']"
              [isDisabled]="!canEdit">
            </app-yes-no-basic>
          </div>
        </div>
        <ng-container *ngIf="model.didParticipate===false">
          <div class="row p-1">
            <div class="col-md-3"><label>Non-Participation Reason:</label></div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  <app-select [(ngModel)]="model.nonParticipationReasonId"
                    (ngModelChange)="model.nonParticipationReasonId = $event; validate()"
                    [cacheInnerValue]="cachedModel?.nonParticipationReasonId"
                    [isRequired]="false"
                    [isInvalid]="modelErrors['nonParticipationReasonId']"
                    [dropDownList]="nonParticipationReasons"
                    [isDisabled]="!canEdit"></app-select>
                </div>
                <div class="col-md-6">
                  <app-text-area [maxlength]="120"
                    [isRequired]="model.isnonParticipationReasonsDetailsRequired(nonParticipationReasons)"
                    [isInvalid]="modelErrors['nonParticipationReasonDetails']"
                    [cacheInnerValue]="cachedModel.nonParticipationReasonDetails"
                    [placeholder]="'Details'"
                    [isAutoSizeable]="true"
                    (ngModelChange)="model.nonParticipationReasonDetails = $event; validate()"
                    [(ngModel)]="model.nonParticipationReasonDetails"
                    [isDisabled]="!canEdit">
                  </app-text-area>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-1"
            *ngIf="model.nonParticipationReasonId">
            <div class="col-md-3">
              <label>Good Cause Granted?</label>
            </div>
            <div class="col-md-3">
              <app-yes-no-basic [isRequired]="true"
                [cacheInnerValue]="cachedModel.goodCauseGranted"
                [(ngModel)]="model.goodCauseGranted"
                (ngModelChange)="model.goodCauseGranted = $event; validate()"
                [errorIndicator]="modelErrors['goodCauseGranted']"
                [isDisabled]="!canEdit">
              </app-yes-no-basic>
            </div>
          </div>
          <div class="row p-1"
            *ngIf="model.nonParticipationReasonId && (model.goodCauseGranted === true || model.goodCauseGranted === false)">
            <div class="col-md-3"><label>Worker's Reason:</label></div>
            <div class="col-md-9">
              <div class="row"
                *ngIf="model.goodCauseGranted === true">
                <div class="col-md-6">
                  <app-select [(ngModel)]="model.goodCauseGrantedReasonId"
                    (ngModelChange)="model.goodCauseGrantedReasonId = $event; validate()"
                    [cacheInnerValue]="cachedModel?.goodCauseGrantedReasonId"
                    [isRequired]="true"
                    [isInvalid]="modelErrors['goodCauseGrantedReasonId']"
                    [dropDownList]="goodCauseGrantedReasons"
                    [isDisabled]="!canEdit"></app-select>
                </div>
                <div class="col-md-6">
                  <app-text-area [maxlength]="120"
                    [isInvalid]="modelErrors['goodCauseReasonDetails']"
                    [cacheInnerValue]="cachedModel.goodCauseReasonDetails"
                    [placeholder]="'Details'"
                    [isAutoSizeable]="true"
                    (ngModelChange)="model.goodCauseReasonDetails = $event; validate()"
                    [(ngModel)]="model.goodCauseReasonDetails"
                    [isRequired]="model.isgoodCauseReasonsDetailsRequired(goodCauseGrantedReasons)"
                    [isDisabled]="!canEdit">
                  </app-text-area>
                </div>
              </div>
              <div class="row"
                *ngIf="model.goodCauseGranted === false">
                <div class="col-md-6">
                  <app-select [(ngModel)]="model.goodCauseDeniedReasonId"
                    (ngModelChange)="model.goodCauseDeniedReasonId = $event; validate()"
                    [cacheInnerValue]="cachedModel?.goodCauseDeniedReasonId"
                    [isInvalid]="modelErrors['goodCauseDeniedReasonId']"
                    [isRequired]="true"
                    [dropDownList]="goodCauseDeniedReasons"
                    [isDisabled]="!canEdit"></app-select>
                </div>
                <div class="col-md-6">
                  <app-text-area [maxlength]="120"
                    [isInvalid]="modelErrors['goodCauseReasonDetails']"
                    [cacheInnerValue]="cachedModel.goodCauseReasonDetails"
                    [placeholder]="'Details'"
                    [isAutoSizeable]="true"
                    (ngModelChange)="model.goodCauseReasonDetails = $event; validate()"
                    [(ngModel)]="model.goodCauseReasonDetails "
                    [isRequired]="model.isgoodCauseReasonsDetailsRequired(goodCauseDeniedReasons)"
                    [isDisabled]="!canEdit">
                  </app-text-area>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
      <app-cancel-save-footer [isSaving]="isSaving"
        [isDisabled]="isSectionValid"
        (cancelEvent)="exit()"
        (saveEvent)="saveAndExit()"></app-cancel-save-footer>
    </div>
  </div>
</div>
