:host {
    width:100%;
    font-size:1.2em;
    display:table;
}

:host:before, :host:after {
    clear:both;
    display:table;
}


#subBoxes li {
    background:transparent;
    display: inline-block;
    padding: 0;
    width: auto;
    position: initial;
    padding-right: 1.5em;
    height:2rem;
    vertical-align: top;
}

#subBoxes li:last-child {
    padding-right:0;
}

#subBoxes li a {
    color:#7f8c8d;
    background:transparent;
    display: inline-block;
    text-decoration:none;
    vertical-align: middle;
    height: 2rem;
    line-height: 1rem;
}

#subBoxes li a.disabled {
    color:#bdc3c7;
}

#subBoxes li a.disabled:hover {
    color:#bdc3c7;
    cursor: not-allowed;
}

#subBoxes li a:hover,
#subBoxes li a:active,
#subBoxes li a:focus,
#subBoxes li.current a {
    color:#1F5673;
    background:none;
    text-decoration:none;
}

#subBoxes li i {
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

#subBoxes li i:before {
    vertical-align: baseline;
    height: 2rem;
    display: inline-block;
}

#subBoxes li p {
    position: static;
    display:inline;
    font-size: 0.7em;
    vertical-align: middle;
    padding:0;
    margin:0;
}

#subBoxes .history .input-group-addon {
    background: #E67E22;
    color:#fff;
}

#subBoxes .history .dropdown-item span.time {
    color:#95a5a6;
    font-size:0.8em;
}
