<ul id="subBoxes" *ngIf="mode === 'Timelimits'" class="boxes container mb-0">
  <li *ngIf="appService.isUserAuthorized(Auth.timeLimitsView, participant)" class="box"
    [class.current]="activeItem === 'time-limits'">
    <a [routerLink]="[timelimitsNavUrl]">
      <i class="fa fa-hourglass"></i>
      <p>Time Limit</p>
    </a>
  </li>
</ul>


<ul id="subBoxes" *ngIf="mode === 'Assessment'" class="boxes m-0">
  <!-- // sec_page Sub Header Navigation -->
  <!-- // sec_usage Enables the Edit Assessment button only when the user has access based upon the given Participant. -->
  <li *ngIf="isEditAssessmentEnabled() && assessment?.id" class="box edit">
    <a [routerLink]="[eiaNavUrl]">
      <i class="wwp-ia-edit"></i>
      <p>Edit Assessment</p>
    </a>
  </li>
  <!-- // sec_page Sub Header Navigation -->
  <!-- // sec_usage Enables the New Assessment button only when the user has access based upon the given Participant. -->
  <li *ngIf="isNewAssessmentEnabled() && !isSaving" class="box edit"
    [class.right]="isEditAssessmentEnabled() && assessment?.id">
    <a (click)="onNewAssessment()">
      <i class="wwp-ia-add"></i>
      <p>New Assessment</p>
    </a>
  </li>
</ul>
<ul id="subBoxes" *ngIf="mode === 'EmployabilityPlan'" class="boxes m-0">
  <li class="box edit" *ngIf="canEditEP">
    <a [routerLink]="[epEditUrl]">
      <i class="wwp-ia-edit"></i>
      <p>Edit Employability Plan</p>
    </a>
  </li>
</ul>
