<app-sub-header [pageTitle]="'Children First Tracking'"
  [participant]="participant"
  [goBackUrl]="goBackUrl"
  [helpComponent]="'children-first-tracking'"></app-sub-header>
<app-calendar *ngIf="showCalendar"
  [iseventsLoaded]="iseventsLoaded"
  (closeCalendar)="closeCalendar($event)"
  (nextMonthClicked)="nextMonthClicked($event)"
  (previousMonthClicked)="previousMonthClicked($event)"
  [isBackwardingDisabled]="isBackwardingOfDisabled"
  [isForwardingDisabled]="isForwardingOfDisabled"
  [isWeeklyHoursRequired]="false"
  [events]="events"
  [eventsName]="'cftEvents'"
  [viewDate]="viewDate"
  (activityClicked)="loadCTE($event)"
  (buttonClicked)="makeFullOrNoParticipation($event)"
  [isCloseButtonRequired]="false"
  [extraColumnWithButtons]="true"
  [canEdit]="canEdit"></app-calendar>
<app-children-first-tracking-entry *ngIf="isCFEnabled"
  [pin]="pin"
  [singleCFEntry]="singleCFEntry"
  [canEdit]="canEdit"></app-children-first-tracking-entry>
