<div>
  <div class="cal-events p-1"
    *ngFor="let event of day?.events"
    [ngStyle]="{ backgroundColor: event?.color?.primary }"
    [ngClass]="event?.cssClass">
    <span class="d-flex">
      <span *ngIf="!event.canEditBasedOnDate || !canEdit"> {{event.activityCd }}</span>
      <a *ngIf="event.canEditBasedOnDate && canEdit"
        (click)="clicked(event)">{{event.activityCd }}</a> -
      <span class="px-1">{{event.scheduledHours}}</span>
      <span *ngIf="event.didParticipate === true"
        class="">
        <span class="border-left border-dark pr-1"></span>
        <span class="text-success pr-1">{{event.didParticipate | yesNo}}</span>
      </span>
      <span *ngIf="event.didParticipate === false"
        class="">
        <span class="border-left border-dark pr-1"></span>
        <span class="text-danger pr-1">{{event.didParticipate | yesNo}}</span>
      </span>
    </span>
  </div>
  <div class="cell-event"
    *ngIf="day?.buttons && canEdit"
    class="cal-buttons ">
    <div *ngFor="let i of day?.buttons">
      <button class="btn btn-add p-1"
        (click)="buttonClicked($event, day)">{{i}}</button>
    </div>
  </div>
</div>
