<div class="input-group">
  <div class="col-md-2">
    <label class="control-label">End Reason</label>
  </div>
  <div class="col-md-4">
    <app-select [(ngModel)]="this.goal.endReasonId"
      [dropDownList]="endGoalTypesDrop"
      (ngModelChange)="this.goal.endReasonId = $event; this.endGoalValidation.next()"
      [cacheInnerValue]="this.originalGoal?.endReasonId"
      [isInvalid]="modelErrors['endReasonId']"
      [isRequired]="true"
      [isResizable]="true"
      [isDisabled]="this.goal?.isGoalEnded"></app-select>
  </div>
  <div class="col-md-2">
    <label class="control-label">End Date</label>
  </div>
  <div class="col-md-3">
    <app-date-mm-dd-yyyy [(ngModel)]="this.goal.endDate"
      [isReadOnly]="true"></app-date-mm-dd-yyyy>
  </div>
</div>
<br />

<div class="input-group">
  <div class="col-md-2">
    <label class="control-label">Details</label>
  </div>
  <div class="col-md-10">
    <app-generic-text-input [(ngModel)]="this.goal.endReasonDetails"
      [cacheInnerValue]="this.originalGoal?.endReasonDetails"
      [NGMaxLength]="380"
      [isRequired]="false"
      [isDisabled]="this.goal?.isGoalEnded"></app-generic-text-input>
  </div>
</div>
