<div id="contact-modal">
  <header class="nav-header pad1">
    <div class="clearfix">
      <a class="btn btn-back btn-secondary-outline btn-sm"
        title="Close"
        (click)="onCloseClick()">
        <i class="fa fa-times"></i>
      </a>
      <h1 id="pageTitle">Select Contact</h1>
    </div>
  </header>
  <div class="app-content pad1-0">
    <main id="main"
      [class.loading]="!isLoaded">
      <div class="container px-2 pb-2 btmborder">
        <div class="row header align-items-center">
          <div class="col-md-6">
            <input class="search"
              placeholder="Search"
              [(ngModel)]="searchQuery"
              (keyup)="onSearch()">
            <button data-sort="name"
              class="btn"
              [ngClass]="{sort: true, asc: hasSortedByAscName, desc: hasSortedByAscName === false}"
              (click)="sortByName()">Sort by name</button>
            <button data-sort="title"
              class="btn"
              [ngClass]="{sort: true, asc: hasSortedByAscTitle, desc: hasSortedByAscTitle === false}"
              (click)="sortByTitle()">Sort by title</button>
          </div>
          <ng-container *ngIf="contacts?.length > 0">
            <div class="col-md-3">
              <strong>Phone</strong>
            </div>
            <div class="col-md-3">
              <strong>Email</strong>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="contacts?.length > 0"
        id="contactsList"
        class="container px-2">
        <div class="row list-item align-items-center py-1"
          *ngFor="let contact of contacts | paginate: config"
          (click)="onSelect(contact)">
          <div class="col-md-6 contactDiv small">
            <div class="xbig">
              <strong class="name">{{contact.name}}</strong>
            </div>
            <div class="title">
              {{contact.title}}
            </div>
          </div>
          <div class="col-md-3 phone">
            {{contact.phoneNumber | phoneNumber}}
          </div>

          <div class="col-md-3 email wrapword">
            {{contact.email}}
          </div>
        </div>
      </div>

      <div class="row"
        *ngIf="!contacts || (contacts.length === 0 && searchQuery === '')">
        <div class="col-md-12">
          <blockquote class="jumbotron tcenter"><span>No Contacts</span></blockquote>
        </div>
      </div>

      <div class="row"
        *ngIf="contacts?.length === 0 && searchQuery !== ''">
        <div class="col-md-12">
          <blockquote class="jumbotron tcenter"><span>No Results</span></blockquote>
        </div>
      </div>

      <div class="tcenter full pad1-0">
        <!--Pagination-->
        <pagination-template *ngIf="contacts?.length >= config.itemsPerPage"
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          class="center">
          <button class="btn btn-add"
            (click)="p.previous()"
            *ngIf="!p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-add disabled"
            *ngIf="p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
          <span class="paging-info pad0-1">
            {{numberInView(config, p, this.contacts?.length)}} of {{contacts?.length}}
          </span>
          <button class="btn btn-add"
            (click)="p.next()"
            *ngIf="!p.isLastPage()"><i class="fa fa-angle-right"></i></button>
          <button class="btn btn-add disabled"
            *ngIf="p.isLastPage()"><i class="fa fa-angle-right"></i></button>
        </pagination-template>
      </div>

    </main>
  </div>
</div>
