<h4>Licenses &amp; Certificates</h4>

<fieldset *ngFor="let license of models; let i=index"
  class="cert-repeat repeat rel">
  <input type="hidden"
    id="ps-cert-id-{{i}}"
    name="ps-cert-id-1"
    value="0" />
  <div class="content pad1">
    <div class="row">
      <div class="col-md-2">
        <label for="ps-cert-type-1"
          class="control-label"
          title="Type">Type</label>
        <app-select [(ngModel)]="license.licenseType"
          (ngModelChange)="license.licenseType = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'licenseType')"
          [cacheInnerValue]="getInitialModelValue(license.id, 'licenseType')"
          [isRequired]="isRepeaterRowRequired(i)"
          [dropDownList]="licenseTypeDrop"></app-select>
      </div>
      <div class="col-md-4">
        <label for="ps-cert-name-1"
          class="control-label"
          title="Credential Name">Credential Name</label>
        <app-generic-text-input [NGMaxLength]="100"
          [isRequired]="isRepeaterRowRequired(i)"
          [isInvalid]="isModelErrorsItemInvalid(i, 'licenseName')"
          [NGName]="'name'"
          [cacheInnerValue]="getInitialModelValue(license.id, 'name')"
          [(ngModel)]="license.name"
          (ngModelChange)="license.name = $event; onChangeCallback(models);"></app-generic-text-input>
      </div>
      <div class="col-md-2">
        <label for="ps-cert-valid-1"
          class="control-label"
          title="Valid in WI">Valid in WI</label>
        <app-select [(ngModel)]="license.polarLookupId"
          (ngModelChange)="license.polarLookupId = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'licenseValid')"
          [cacheInnerValue]="getInitialModelValue(license.id, 'polarLookupId')"
          [isRequired]="isRepeaterRowRequired(i)"
          [dropDownList]="licenseValidDrop"></app-select>
      </div>
      <div class="col-md-4">
        <label for="ps-cert-issuer-1"
          class="control-label"
          title="Issuer">Issuer</label>
        <app-generic-text-input [NGMaxLength]="100"
          [isRequired]="isRepeaterRowRequired(i)"
          [isInvalid]="isModelErrorsItemInvalid(i, 'licenseIssuer')"
          [cacheInnerValue]="getInitialModelValue(license.id, 'issuer')"
          [NGName]="'issuer'"
          [(ngModel)]="license.issuer"
          (ngModelChange)="license.issuer = $event; onChangeCallback(models);">
        </app-generic-text-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label for="ps-cert-attain-1"
          class="control-label"
          title="Month and Year Attained">Month and Year
          Attained</label>
        <div class="input-group">
          <app-date-mm-yyyy class="first"
            [(ngModel)]="license.attainedDate"
            (ngModelChange)="license.attainedDate = $event; onChangeCallback(models);"
            [isDisabled]="license.isInProgress"
            [cacheInnerValue]="getInitialModelValue(license.id, 'attainedDate')"
            [isRequired]="false"
            [isInvalid]="isModelErrorsItemInvalid(i, 'licenseDateAttained')"></app-date-mm-yyyy>
          <app-radio-button class="input-group-addon input-group-append input-group-text last group-pad"
            [(ngModel)]="license.isInProgress"
            (ngModelChange)="license.isInProgress = $event; onChangeCallback(models);"
            [NgLabel]="'in progress'">
          </app-radio-button>
        </div>
      </div>
      <div class="col-md-6">
        <label for="ps-cert-expired-1"
          class="control-label"
          title="Expiration Month and Year">Expiration Month and Year</label>
        <div class="input-group">
          <app-date-mm-yyyy class="first"
            [(ngModel)]="license.expiredDate"
            (ngModelChange)="license.expiredDate = $event; onChangeCallback(models);"
            [isDisabled]="license.doesNotExpire"
            [cacheInnerValue]="getInitialModelValue(license.id, 'expiredDate')"
            [isRequired]="false"
            [isInvalid]="isModelErrorsItemInvalid(i, 'licenseDateExpired')"></app-date-mm-yyyy>
          <app-radio-button class="input-group-addon  input-group-append input-group-text last group-pad"
            [(ngModel)]="license.doesNotExpire"
            (ngModelChange)="license.doesNotExpire = $event; onChangeCallback(models);"
            [NgLabel]="'no expiration'">
          </app-radio-button>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <ul>
      <!-- <li class="clear" (click)="eraseFromRepeater(license)"><i class="fa fa-eraser" title="clear"></i></li> -->
      <li class="del"
        (click)="deleteFromRepeater(license)"><i class="fa fa-trash-alt"
          title="delete"></i></li>
    </ul>
  </div>
</fieldset>

<div class="tright col-md-12 add-holder">
  <button class="btn btn-sm btn-add add-cert"
    (click)="addToRepeater()">+ &nbsp; Add Item</button>
  <hr class="spacer" />
</div>