<!-- We have multiple inputs here because the mask directive constructor and cannot be dynamically. First one is the default -->

<input *ngIf="isSSN != true && isPhoneNumber != true && isFEIN != true && isMoney != true && isHrs != true"
  type="text"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  (blur)="blur()"
  class="form-control number-input"
  [placeholder]="NGPlaceHolder"
  [attr.maxlength]="NGMaxLength"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  (keyup)="validate()"
  (keydown)="keyDown($event)" />

<input *ngIf="isSSN"
  type="text"
  [dropSpecialCharacters]="true"
  mask="000-00-0000"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  (blur)="blur()"
  class="form-control number-input"
  [placeholder]="NGPlaceHolder"
  [attr.maxlength]="NGMaxLength"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  (keyup)="validate()"
  (keydown)="keyDown($event)" />

<input *ngIf="isPhoneNumber"
  type="text"
  [dropSpecialCharacters]="true"
  mask="(000) 000-0000"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  (blur)="blur()"
  class="form-control number-input"
  [placeholder]="NGPlaceHolder"
  [attr.maxlength]="NGMaxLength"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  (keyup)="validate()"
  (keydown)="keyDown($event)" />

<input *ngIf="isFEIN"
  type="text"
  [dropSpecialCharacters]="true"
  mask="00-0000000"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  (blur)="blur()"
  class="form-control number-input"
  [placeholder]="NGPlaceHolder"
  [attr.maxlength]="NGMaxLength"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  (keyup)="validate()"
  (keydown)="keyDown($event)" />

<input *ngIf="isMoney"
  type="text"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  class="form-control number-input"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  mask-money
  [attr.maxlength]="NGMaxLength" />

<input *ngIf="isHrs"
  type="text"
  [ngClass]="{required: isRequired,dirty: isModified, error: isInvalid, textIndent: isDisabled, border: !isBorderRequired}"
  (blur)="blur()"
  class="form-control number-input"
  [placeholder]="NGPlaceHolder"
  [attr.maxlength]="maxLength"
  [disabled]="isDisabled || isReadOnly"
  [(ngModel)]="value"
  (ngModelChange)="value=formatHrDecimal($event);"
  (keyup)="validate()"
  (keydown)="keyDown($event)" />
