<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net462" />
  <package id="Ben.Demystifier" version="0.1.0" targetFramework="net461" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="Enums.NET" version="2.2.0" targetFramework="net462" />
  <package id="EPPlus" version="4.1.0" targetFramework="net462" />
  <package id="MediatR" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.1.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.1" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net462" />
  <package id="NRules" version="0.8.4" targetFramework="net461" />
  <package id="NRules.Fluent" version="0.8.4" targetFramework="net461" />
  <package id="NRules.RuleModel" version="0.8.4" targetFramework="net461" />
  <package id="NRules.Runtime" version="0.8.4" targetFramework="net461" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="Serilog" version="2.6.0" targetFramework="net461" />
  <package id="Serilog.Enrichers.Demystify" version="0.1.0-dev-00016" targetFramework="net461" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net462" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net462" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net462" />
  <package id="Serilog.Settings.Configuration" version="2.4.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.MSSqlServer" version="5.1.2" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
  <package id="SerilogMetrics" version="2.0.3" targetFramework="net462" />
  <package id="ShellProgressBar" version="4.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.5.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.0.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>