<div class="dialog-modal">
  <div>
    <div class="modal-content">
      <div class="row custom-modal-header">
        <div class="col-md-12">
          <h4>{{this.title}}</h4>
        </div>
      </div>
      <div class="row pad2-0">
        <div class="col-md-12">
          <p>{{this.warningMessage}}</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <button type="button" class="btn btn-primary" (click)="disregardAndExit()">Exit without Saving</button>
          <button type="button" class="btn btn-add mx-2" (click)="exit()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
