:host .modal-container {
    padding: 5px;
}

.modal-container > header {
    justify-content: flex-end;
    align-items: baseline;
}

.modal-container > header h4 {
    flex-grow: 1;
}
.modal-container > header app-tab-selector {
    margin-left:15px;
}

.modal-container .dialog-content{
    position: relative;
    min-height: 350px;
    padding:2rem 5rem;
}

.no-decision{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.details-input-group{
    display:flex;
    flex-wrap: nowrap;

}

.details-input-group >>> .form-control{
    width:100%;
}

.details-input-group *.first-child >>> .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.details-input-group .details-box{
    flex-grow: 1;
}
.details-input-group .details-box >>> input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:4px solid #BDC3C7;
}

.date-range-display > div{
  text-transform: uppercase;
  color:#63899D;
  line-height: 1.3em;
}

.date-range-display > div span{
  color:#373a3c;
}
.date-range-display .time-display{
  color:#BDC3C7;
  text-transform: none;
  text-align: center;
  padding: 0 1rem;
}

.date-range-display .time-display .month-tick{
  color:#BDC3C7;
  text-transform: none;
}

.date-range-display .time-display span{
    color:#BDC3C7;
    text-align: center;
}

.date-range-display .time-display .month-ticks{
    display:flex;
    flex-wrap: nowrap;
}

.date-range-display .time-display .month-ticks div{
    padding: 3px 21px 0 0;
    background-color: #BDC3C7;
    font-size:0;
    line-height: 0;    
}
.date-range-display .time-display .month-ticks div:not(.last-child){
    margin-right:3px;
}

.no-gutters{
    margin-right:0;
    margin-left:0;

}

.no-gutters > [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}

