<div class="modal-overlay" *ngIf="model">
  <div class="modal-container">
    <header>
      <h4>Add Extension Decision</h4>
      <label>Decision</label>
      <app-tab-selector [tabs]="extensionDecisions" [(ngModel)]="exDecision" [isRequired]="true" [isInValid]="modelErrors['decision']" (ngModelChange)="exDecision = $event;validate();" ></app-tab-selector>
    </header>
    <section class="dialog-content" *ngIf="model.decision == null">
      <div class="no-decision"><span>No Decision Selected</span></div>
    </section>
    <section class="dialog-content" *ngIf="model.decision != null">
      <fieldset *ngIf="hadSaveError">
        <div class="col col-xs-12">
          <div class="alert alert-danger">
            <strong>Sorry! There was an error performing the requested action.</strong>
            <p *ngIf="errorMessage">{{errorMessage}}</p>
          </div>
        </div>
      </fieldset>
      <div *ngIf="stateOnly && additionalClockWarnings && additionalClockWarnings.length">
        <div *ngIf="stateOnly" class="alert alert-info"><strong>State Extension Evaluation Required.</strong><br> Because the state time limit is running low, only State extension are available. State extension will include coverage for any other low time limtis.</div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <div class="col col-xs-4">
            <label for="timelimit-type">Time Limit Type</label>
            <app-select *ngIf="model.decision === extensionDecision.Approve" [ngModel]="clockType.valueOf()" [cacheInnerValue]="cachedClockType?.valueOf()" (ngModelChange)="clockType = $event;validate();" [dropDownList]="timelimitsTypeDrop" [isRequired]="true"  [isInvalid]="modelErrors['clockType']"></app-select>
            <app-select *ngIf="model.decision === extensionDecision.Deny" [ngModel]="clockType.valueOf()" [cacheInnerValue]="cachedClockType?.valueOf()" (ngModelChange)="clockType = $event;validate();" [dropDownList]="denialTimelimitsTypeDrop" [isRequired]="true"  [isInvalid]="modelErrors['clockType']"></app-select>
          </div>
          <div class="col col-xs-4" *ngIf="canCreateForm">
            <label>Initial Discussion Date</label>
            <app-date-mm-dd-yyyy [required]="true" [ngModel]="model.discussionDate" (ngModelChange)="model.discussionDate = $event;validate();"></app-date-mm-dd-yyyy>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="ext-reason" *ngIf="exDecision === extensionDecision.Approve">Approval Reason</label>
        <label for="ext-reason" *ngIf="exDecision=== extensionDecision.Deny">Denial Reason</label>
        <div class="form-inline details-input-group">
          <app-select *ngIf="model.decision === extensionDecision.Approve" [isDisabled]="clockType.state.None" (ngModelChange)="approvalReason = +$event; updateExtensionDateRange();validate();" [ngModel]="approvalReason" [cacheInnerValue]="model.cachedOriginalModel?.approvalReasonId" [dropDownList]="approvalReasonDrop" [isRequired]="true" [isInvalid]="modelErrors['approvalReasonId']" class="first"></app-select>
          <app-select *ngIf="model.decision === extensionDecision.Deny" [isDisabled]="clockType.state.None" (ngModelChange)="denialReasonId = +$event;updateExtensionDateRange();validate();"  [ngModel]="denialReasonId" [cacheInnerValue]="model.cachedOriginalModel?.denialReasonId" [dropDownList]="denialReasonDrop" [isRequired]="true" [isInvalid]="modelErrors['denialReasonId']" class="first"></app-select>
          <app-text-input [maxLength]="380" class="details-box last" [isRequired]="false" [(ngModel)]="model.reasonDetails" [cacheInnerValue]="model.cachedOriginalModel?.reasonDetails" [maxLength]="255" [placeholder]="'Details'"></app-text-input>
        </div>
      </div>
      <div class="extension-form-checks form-group" *ngIf="canCreateForm">
        <div class="form-group row">
          <div class="col col-xs-9"><label>Does the Participant have DVR referral pending?</label></div>
          <div class="col col-xs-3 tright"><app-yes-no-basic [isRequired]="true" [(ngModel)]="model.dvrReferralPending" (ngModelChange)="model.dvrReferralPending = $event;validate();"></app-yes-no-basic></div>
        </div>
        <div class="form-group row">
          <div class="col col-xs-9"><label>Is the participant recieving DVR services?</label></div>
          <div class="col col-xs-3 tright"><app-yes-no-basic [isRequired]="true" [(ngModel)]="model.recieivingDvrServices"  (ngModelChange)="model.recieivingDvrServices = $event;validate();"></app-yes-no-basic></div>
        </div>
        <div class="form-group row">
         <div class="col col-xs-9"><label>Does the Participant have a pending SSI/SSDI application or appeal?</label></div>
         <div class="col col-xs-3 tright"><app-yes-no-basic [isRequired]="true" [(ngModel)]="model.pendingSSAppOrAppeal"  (ngModelChange)="model.pendingSSAppOrAppeal = $event;validate();"></app-yes-no-basic></div>
        </div>
      </div>
      <div class="form-group row" *ngIf="model.dateRange">
            <div class="col col-xs-9"><label> Backdate Extension: </label></div>
            <div class="col col-xs-3 tright"> <app-yes-no-basic [isRequired]="true" [(ngModel)]="isBackdated" [isYes]="isBackdated" [cacheInnerValue]="false" [isDisabled]="!canBackdate"></app-yes-no-basic></div>
      </div>
      <div class="form-group">
        <app-text-area [(ngModel)]="model.notes" [cacheInnerValue]="model.cachedOriginalModel?.notes"></app-text-area>
      </div>
    </section>
    <footer class="nav-footer">
      <div class="wrapper clearfix">
        <div class="left">
          <div class="date-range-display clearfix" *ngIf="exDecision === extensionDecision.Approve && model.dateRange">
            <div class="left tright">
              Begin Month<br>
              <span>{{ model.dateRange.start | amDateFormat : 'MM/YYYY'}} </span>
            </div>
            <div class="left time-display">

              <span *ngIf="!isCMCExtension">{{ extensionLength }} months</span>
              <div *ngIf="!isCMCExtension" class="month-ticks"><div *ngFor="let month of extensionMonths"></div></div>
              <app-select *ngIf="isCMCExtension" (ngModelChange)="cmcExtensionLength = +$event; updateExtensionDateRange(+$event);validate()"  [ngModel]="cmcExtensionLength" [dropDownList]="cmcExtensionLengthDrop" [isRequired]="true"></app-select>
            </div>
            <div class="left tleft">End Month<br>
              <span>{{ model.dateRange.end | amDateFormat : 'MM/YYYY'}} </span>
            </div>
          </div>
        </div>
        <div class="right">
          <button class="btn btn-add" (click)="exit()">Cancel</button>
          <button class="btn btn-primary disabled" *ngIf="isSaving"><i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> Saving </button>
          <button class="btn btn-primary" *ngIf="!isSaving" (click)="saveAndExit()" [disabled]="!isModelValid">Save</button>
        </div>
      </div>
    </footer>
  </div>
</div>
