<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="commentModeType+' Comments Edit'"></app-loading>
  <div *ngIf="this.isLoaded && model">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitPCEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row border-bottom p-1">
          <div class="col-lg-6 col-md-6 ">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              *ngIf="model && model.id == 0 && !isReadOnly"
              class="px-3">Add {{commentModeType}} Comment</h1>
            <h1 id="editPageTitle"
              *ngIf="model && model.id != 0 && !isReadOnly"
              class="px-3">Edit {{commentModeType}} Comment
            </h1>
            <app-help-button *ngIf="commentModeType !== 'EA'" [featureName]="'pin-comments-edit'"></app-help-button>
            <h1 id="editPageTitle"
              *ngIf="isReadOnly">{{commentModeType}} Comment</h1>
          </div>
          <div class="justify-content-right col-lg-6 col-md-6"
            *ngIf="model && model.modifiedBy != null">
            <app-modified-stamp [readOnly]="true"
              [author]="model.modifiedBy"
              [lastModified]="model.modifiedDate">
            </app-modified-stamp>
          </div>
        </div>
      </div>
    </header>

    <div class="app-content">
      <div class="container">
        <div class="row p-1">
          <app-validation-summary class="col-md-12 p-3"
            [errors]='validationManager.errors'></app-validation-summary>
        </div>
        <div class="row">
          <div class="col-md-12 form-page">
            <label>Comment</label>
            <app-text-area (ngModelChange)="model.commentText = $event; validate();"
              [(ngModel)]="model.commentText"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="this.cachedModel?.commentText"
              maxlength="1000"
              [textLength]="model.commentText?.length"
              [isTextLengthGiven]="true"
              [isInvalid]="modelErrors['commentText']"
              [isReadOnly]="isReadOnly"
              [isDisabled]="isReadOnly">
            </app-text-area>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 autoWidth">
            <label class="pt-1">Comment Type <span class="small">(Select all that apply.)</span></label>
            <br />
            <app-multi-select-dropdown [(ngModel)]="model.commentTypeIds"
              (ngModelChange)="this.selectCommentTypes($event); validate(model);"
              [cacheInnerValue]="this.cachedModel?.commentTypeIds"
              [isRequired]="!isReadOnly"
              [options]="commentTypesDrop"
              [isDisabled]="isReadOnly"
              [isInvalid]="modelErrors['commentTypes']"
              [isReadOnly]="isReadOnly"
              [settings]="commentTypeSettings"
              [isHistorical]="true">
            </app-multi-select-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="edit-footer">
    <app-cancel-save-footer [hadSaveError]="hadSaveError"
      [isSaving]="isSaving"
      [isDisabled]="isSectionValid"
      (cancelEvent)="exit()"
      (saveEvent)="saveAndExit()"></app-cancel-save-footer>
  </footer>
</div>
