<!-- In the Work History App, We have different set of rules based on the job category. But the user can change the jobCategory at any point.
we are not deleting the data once collected i.e, if we collect the data for How was this job found? when the job is current and at some later
point user ends this job which then becomes pastJob, rather than deleting the data for How was this job found? we then collect new data that is
required for the pastjobs like the Reason for leaving.
for more details. Please view the BR at
http://dcfsharepoint/it/fse/epba/Business%20Documentation/02b%20-%20Work%20History%20app/08-28-18%20-%20Business%20Requirements%20for%20the%20Work%20History%20App.docx -->



<div id="app-container"
  [class.closed]="isLoaded == false">

  <app-dialog-box *ngIf="appService?.isDialogPresent"
    (dialogClose)="exitWorkHistoryIgnoreChanges($event)"
    [doesNotNavigateBack]="true"></app-dialog-box>

  <header class="nav-header">
    <div class="wrapper">
      <div class="clearfix">
        <a class="btn btn-back btn-secondary-outline btn-sm"
          title="Close Record"
          (click)="exitWorkHistory()">
          <i class="fa fa-times"></i>
        </a>
        <h1 id="pageTitle"
          class="px-3">Work History</h1>
        <app-help-button [featureName]="'work-history-add-edit-help'"></app-help-button>
      </div>
    </div>
  </header>


  <div class="app-content">
    <div class="wrapper pad1">

      <div *ngIf="model"
        class="row pad1-0">

        <aside id="sidebar"
          [class.col-md-3]="!isCollapsed"
          [class.col-md-1]="isCollapsed">
          <div class="toggle-side"
            (click)="sidebarToggle()">
            <i class="fa fa-bars"></i>
          </div>
          <ul class="participant-menu popmenu">
            <li class="menu-item wh-add"
              data-goto="wh-add">Add/Edit Record</li>
            <li class="menu-item wh-basic"
              data-goto="wh-basic">Basic information</li>
            <li *ngIf="whichJobCategory() === 'currentJob' ||  whichJobCategory() === 'pastJob'"
              class="menu-item wh-wage"
              data-goto="wh-wage">Wage/Hours</li>
            <li *ngIf="whichJobCategory() === 'currentJob' || model.isCurrentJobAtCreation"
              class="menu-item wh-leave"
              data-goto="wh-leave">Leave of Absence</li>
          </ul>
        </aside>

        <main id="main-work-history"
          [class.col-md-9]="!isCollapsed"
          [class.col-md-11]="isCollapsed">

          <div class="row control-group pb-1">
            <div class="col-md-12">
              <ul *ngIf="showEPFeature === true && model.hasEmploymentOnEp === true && !hasOnlyFcdp"
                class="list-group">
                <li class="list-group-item list-group-item-warning">This job is associated with the current
                  EP. A new EP may be needed</li>
              </ul>
              <ul *ngIf="displayEpMessage && !hasOnlyFcdp"
                class="list-group">
                <li class="list-group-item list-group-item-warning">New job added. New EP may be needed.</li>
              </ul>
            </div>
          </div>
          <div class="row control-group pb-1">
            <div class="col-md-12">
              <label>&nbsp;</label>
              <ul *ngIf="precheck == null"
                class="list-group">
                <li></li>
              </ul>
              <ul *ngIf="precheck?.errors != null"
                class="list-group">
                <li *ngFor="let error of precheck.errors"
                  class="list-group-item list-group-item-danger">{{error}}</li>
              </ul>
              <ul *ngIf="precheck?.warnings != null"
                class="list-group">
                <li *ngFor="let warning of precheck.warnings"
                  class="list-group-item list-group-item-warning">
                  {{warning}}</li>
              </ul>
              &nbsp;
            </div>
          </div>
          <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>


          <fieldset id="wh-add">

            <h4 *ngIf="this.recordId == 0"
              class="part-title">Add Work Record</h4>
            <!-- show this if creating new record, otherwise show header below -->
            <h4 *ngIf="this.recordId != 0"
              class="part-title">Edit Work Record</h4>
            <!--<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt elementum mauris vitae sagittis.
            Etiam vehicula mi at finibus dignissim. Donec ligula felis, dapibus vitae metus quis, semper vulputate lacus.
            Praesent ac aliquet libero. Vestibulum tincidunt velit augue, a commodo nisl semper quis. Aenean volutpat faucibus
            dignissim.
          </blockquote>-->
            <div class="row pad1-0">
              <div class="col-md-12">
                <label>Job Type</label>
                <br />
                <!-- #1 -->
                <app-select [(ngModel)]="model.jobTypeId"
                  (ngModelChange)="model.jobTypeId = $event; initDefaultWorkerAssisted(); validate(); employerofRecord($event); displayEPMessage();filterJobLeavingReasonsDropBasedOnJobType();"
                  [cacheInnerValue]="this.originalModel?.jobTypeId"
                  [isInvalid]="modelErrors['jobTypeId']"
                  [dropDownList]="jobTypesDrop"
                  [isRequired]="true"></app-select>
              </div>
            </div>
            <div class="row pad1-0"
              *ngIf="model.id !== 0 && canAddAndShowTMJTJSubsidizedHours(model)">
              <div class="col-md-6">
                <span *ngIf="model.totalSubsidizedHours">{{model.totalSubsidizedHours}} Total Subsidized
                  Hours</span>
                <span *ngIf="!model.totalSubsidizedHours">0 Total Subsidized Hours</span>
                <!-- #1 -->
                <button class="btn btn-del allowClick edit border"
                  (click)="goToHourlyEntry(model)">
                  <i class="fas fa-user-clock"></i>
                </button>
              </div>
            </div>
            <div class="row pad1-0">
              <div class="col-md-6">
                <label>Begin Date</label>
                <br />
                <!-- #2 -->
                <app-date-mm-dd-yyyy [(ngModel)]="model.jobBeginDate"
                  (ngModelChange)="model.jobBeginDate = $event; validate();"
                  [cacheInnerValue]="this.originalModel?.jobBeginDate"
                  [isInvalid]="modelErrors['jobBeginDate']"
                  [minDate]="participantDOB"
                  [maxDate]="date10DaysAfterCurrent"
                  [datePickerRequired]="true"
                  [isRequired]="true">
                </app-date-mm-dd-yyyy>
              </div>
              <div class="col-md-6">
                <label>End Date</label>
                <br />
                <!-- #3 -->
                <div class="input-group">
                  <app-date-mm-dd-yyyy [(ngModel)]="model.jobEndDate"
                    (ngModelChange)="model.jobEndDate = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.jobEndDate"
                    [isInvalid]="modelErrors['jobEndDate']"
                    [maxDate]="currentDate"
                    [isDisabled]="model.isCurrentlyEmployed"
                    [isRequired]="true"
                    [datePickerRequired]="!model.isCurrentlyEmployed"
                    [class.first]="model.isCurrentJobAtCreation !== false && model.jobEndDate == null">
                  </app-date-mm-dd-yyyy>
                  <app-radio-button [isDisabled]="this.originalModel?.jobEndDate && !isHD"
                    [NgLabel]="'Currently Employed'"
                    (ngModelChange)="model.isCurrentlyEmployed = $event; validate();"
                    [(ngModel)]="model.isCurrentlyEmployed"
                    class="last input-group-addon input-group-text padr">
                  </app-radio-button>
                </div>
              </div>
            </div>

            <div class="pad1-0"
              *ngIf="displayEmployerofRecord">
              <div class="row">
                <div class="col-md-12">
                  <label>Employer of Record is:</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <app-tab-selector [(ngModel)]="this.model.employerOfRecordId"
                    (ngModelChange)="this.model.employerOfRecordId = $event; validate();"
                    [tabs]="employerOfRecordTypes"
                    [isRequired]="true"
                    [cacheInnerValue]="this.originalModel?.employerOfRecordId"
                    [isInValid]="modelErrors['emoployerOfRecordId']"></app-tab-selector>
                </div>
              </div>
              <div class=" pad1-0"
                *ngIf="employerOfRecordValue(this.model.employerOfRecordId)">
                <h4 class="part-title">Employer of Record</h4>
                <div class="row pad1-0">
                  <div class="col-md-10">
                    <label>Company/Organization Name</label>
                    <br />
                    <!-- #5 -->
                    <app-generic-text-input [(ngModel)]="model.employerOfRecordDetails.companyName"
                      (ngModelChange)="model.employerOfRecordDetails.companyName = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.companyName"
                      [isInvalid]="isInValid(modelErrors, 'employerOfRecordDetails', 'companyName')"
                      [isRequired]="true"
                      [NGMaxLength]="120"></app-generic-text-input>
                  </div>
                  <div class="col-md-2">
                    <label>FEIN</label>
                    <br />
                    <!-- #6 -->
                    <app-numerical-input [isFEIN]="true"
                      [(ngModel)]="model.employerOfRecordDetails.fein"
                      [allowDash]="true"
                      (ngModelChange)="model.employerOfRecordDetails.fein = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.fein"
                      [isInvalid]="isInValid(modelErrors, 'employerOfRecordDetails', 'fein')"
                      [NGMaxLength]="10"
                      [isRequired]="isFEINRequired()">
                    </app-numerical-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <label>Location</label>
                    <br />
                    <!-- #7 -->
                    <app-remote-auto-complete
                      [errorIndicator]="isInValid(modelErrors, 'employerOfRecordDetails', 'location')"
                      [(ngModel)]="model.employerOfRecordDetails.location"
                      (ngModelChange)="model.employerOfRecordDetails.location = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.location"
                      [isRequired]="true">
                    </app-remote-auto-complete>
                  </div>
                  <div class="col-md-6">
                    <label>Street Address</label>
                    <br />
                    <!-- #8 -->
                    <!-- TODO: fix this so its inside of the component. It's weird here because the location object is changed by another component -->
                    <app-remote-auto-suggest *ngIf="!model.employerOfRecordDetails.location"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails?.location?.fullAddress"
                      (googlePlaceId)="autoPopulateZipcode($event,'employerOfRecord')"
                      [searchType]="'streetAddresses'"
                      [isInvalidbyParent]="isInValid(modelErrors, 'employerOfRecordDetails', 'streetAddress')"
                      [isRequired]="true"></app-remote-auto-suggest>
                    <app-remote-auto-suggest *ngIf="model.employerOfRecordDetails.location"
                      [googlePlaceIdInput]="model.employerOfRecordDetails?.location?.googlePlaceId"
                      [(ngModel)]="model.employerOfRecordDetails.location.fullAddress"
                      (ngModelChange)="model.employerOfRecordDetails.location.fullAddress = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails?.location?.fullAddress"
                      (googlePlaceId)="autoPopulateZipcode($event, 'employerOfRecord')"
                      [searchType]="'streetAddresses'"
                      [isInvalidbyParent]="isInValid(modelErrors, 'employerOfRecordDetails', 'streetAddress')"
                      [isRequired]="true"></app-remote-auto-suggest>
                  </div>
                  <div class="col-md-2">
                    <label>Zip</label>
                    <br />
                    <!-- #9 -->
                    <!-- TODO: fix this so its inside of the component. It's weird here because the location object is changed by another component -->
                    <app-numerical-input *ngIf="!model.employerOfRecordDetails.location"
                      [isDisabled]="true"
                      [isInvalid]="isInValid(modelErrors, 'employerOfRecordDetails', 'zipAddress')"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails?.location?.zipAddress"
                      [isRequired]="true"
                      [NGMaxLength]="5"></app-numerical-input>
                    <app-numerical-input *ngIf="model.employerOfRecordDetails.location"
                      [(ngModel)]="model.employerOfRecordDetails.location.zipAddress"
                      [isInvalid]="isInValid(modelErrors, 'employerOfRecordDetails', 'zipAddress')"
                      (ngModelChange)="model.employerOfRecordDetails.location.zipAddress = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.location?.zipAddress"
                      [isRequired]="true"
                      [NGMaxLength]="5"></app-numerical-input>
                  </div>
                </div>
                <div class="row pad1-0">
                  <div class="col-md-4">
                    <label>Private/Public</label>
                    <br />
                    <app-select [(ngModel)]="model.employerOfRecordDetails.jobSectorId"
                      [isInvalid]="isInValid(modelErrors, 'employerOfRecordDetails', 'jobSectorId')"
                      (ngModelChange)="model.employerOfRecordDetails.jobSectorId = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.jobSectorId"
                      [dropDownList]="jobSectorsDrop"
                      [isRequired]="true">
                    </app-select>
                  </div>
                </div>

                <div class="">
                  <!--#10 -->
                  <app-contacts-embed [(ngModel)]="model.employerOfRecordDetails.contactId"
                    [pin]="participant?.pin"
                    [cacheInnerValue]="this.originalModel?.employerOfRecordDetails.contactId">
                  </app-contacts-embed>
                </div>
              </div>
            </div>

          </fieldset>

          <fieldset id="wh-basic"
            style="margin:0;">

            <h4 class="part-title">Basic Information</h4>
            <div class="pad1-0">
              <div class="row">
                <div class="col-md-9">
                  <label>Position</label>
                  <br />
                  <!-- #4 -->
                  <app-generic-text-input [(ngModel)]="model.jobPosition"
                    (ngModelChange)="model.jobPosition = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.jobPosition"
                    [isInvalid]="modelErrors['jobPosition']"
                    [isRequired]="true"
                    [NGMaxLength]="120"></app-generic-text-input>
                </div>
                <div class="col-md-3">
                  &nbsp;
                </div>
              </div>
            </div>

            <div class="pad1-0">
              <div class="row">
                <div class="col-md-10">
                  <label>Company/Organization Name</label>
                  <br />
                  <!-- #5 -->
                  <app-generic-text-input [(ngModel)]="model.companyName"
                    (ngModelChange)="model.companyName = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.companyName"
                    [isInvalid]="modelErrors['companyName']"
                    [isRequired]="true"
                    [NGMaxLength]="120"></app-generic-text-input>
                </div>
                <div class="col-md-2"
                  *ngIf="employerOfRecordSelectedValue !== 'Other'">
                  <label>FEIN</label>
                  <br />
                  <!-- #6 -->
                  <app-numerical-input [isFEIN]="true"
                    [(ngModel)]="model.fein"
                    [allowDash]="true"
                    (ngModelChange)="model.fein = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.fein"
                    [isInvalid]="modelErrors['fein']"
                    [NGMaxLength]="10"
                    [isRequired]="isFEINRequired()">
                  </app-numerical-input>
                </div>
              </div>
            </div>

            <div class="pad1-0">
              <div class="row">
                <div class="col-md-4">
                  <label>Location</label>
                  <br />
                  <!-- #7 -->
                  <app-remote-auto-complete [errorIndicator]="modelErrors['location']"
                    [(ngModel)]="model.location"
                    (ngModelChange)="model.location = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.location"
                    [isRequired]="true">
                  </app-remote-auto-complete>
                </div>
                <div class="col-md-6">
                  <label>Street Address</label>
                  <br />
                  <!-- #8 -->
                  <!-- TODO: fix this so its inside of the component. It's weird here because the location object is changed by another component -->
                  <app-remote-auto-suggest *ngIf="!model.location"
                    [cacheInnerValue]="this.originalModel?.location?.fullAddress"
                    (googlePlaceId)="autoPopulateZipcode($event,'basic')"
                    [searchType]="'streetAddresses'"
                    [isInvalidbyParent]="modelErrors['streetAddress']"
                    [isRequired]="isAddressRequired()">
                  </app-remote-auto-suggest>
                  <app-remote-auto-suggest *ngIf="model.location"
                    [googlePlaceIdInput]="model.location?.googlePlaceId"
                    [(ngModel)]="model.location.fullAddress"
                    (ngModelChange)="model.location.fullAddress = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.location?.fullAddress"
                    (googlePlaceId)="autoPopulateZipcode($event,'basic')"
                    [searchType]="'streetAddresses'"
                    [isInvalidbyParent]="modelErrors['streetAddress']"
                    [isRequired]="isAddressRequired()">
                  </app-remote-auto-suggest>
                </div>
                <div class="col-md-2">
                  <label>Zip</label>
                  <br />
                  <!-- #9 -->
                  <!-- TODO: fix this so its inside of the component. It's weird here because the location object is changed by another component -->
                  <app-numerical-input *ngIf="!model.location"
                    [isDisabled]="true"
                    [isInvalid]="modelErrors['zipAddress']"
                    [cacheInnerValue]="this.originalModel?.location?.zipAddress"
                    [isRequired]="isZipCodeRequired()"
                    [NGMaxLength]="5"></app-numerical-input>
                  <app-numerical-input *ngIf="model.location"
                    [isDisabled]="false"
                    [(ngModel)]="model.location.zipAddress"
                    [isInvalid]="modelErrors['zipAddress']"
                    (ngModelChange)="model.location.zipAddress = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.location?.zipAddress"
                    [isRequired]="isZipCodeRequired()"
                    [NGMaxLength]="5"></app-numerical-input>
                </div>
              </div>
            </div>

            <div class="pad1-0">
              <!--#10 -->
              <app-contacts-embed [(ngModel)]="model.contactId"
                [pin]="participant?.pin"
                [cacheInnerValue]="this.originalModel?.contactId"></app-contacts-embed>
            </div>

            <div class="pad1-0">
              <div class="row">
                <div class="col-md-12">
                  <label>Job Duties</label>
                  <br />
                  <!-- #14 -->
                  <!-- here keyup is a hack to trigger the validation methoed since the ngModelChange is not firing for some reason need to spend some extra time for now this will do the trick -->
                  <app-listing [ngModel]="model.jobDuties"
                    (ngModelChange)="model.jobDuties = $event; validate();"
                    (keyup)="validate();"
                    [isRequired]="true"
                    [cacheInnerValue]="this.originalModel?.jobDuties"
                    [errorIndicator]="modelErrors['jobDuties']"></app-listing>
                </div>
              </div>
            </div>

            <hr />
          </fieldset>

          <div>
            <fieldset id="wh-basic-dynamic">

              <div class="pad1-0"
                *ngIf="isPrivatePublicRequired()">
                <div class="row">
                  <div class="col-md-4">
                    <label>Private/Public</label>
                    <br />
                    <!-- #11 -->
                    <app-select [(ngModel)]="model.jobSectorId"
                      [isInvalid]="modelErrors['jobSectorId']"
                      (ngModelChange)="model.jobSectorId = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.jobSectorId"
                      [dropDownList]="jobSectorsDrop"
                      [isRequired]="true"></app-select>
                  </div>
                  <div class="col-md-4">
                    &nbsp;
                  </div>
                  <!-- Removing this based on US2480 -->
                  <!-- <div *ngIf="isLocatedInTMIAreaRequired()" class="col-md-4 tright">
                                        <label>Located in TMI Area?</label>
                                        <br />
                                         #29
                                        <app-yes-no-basic [isRequired]="true" [(ngModel)]="model.isLocatedTmiArea" [errorIndicator]="modelErrors['isLocatedTmiArea']"
                                            (ngModelChange)="model.isLocatedTmiArea = $event; validate();" [cacheInnerValue]="this.originalModel?.isLocatedTmiArea"></app-yes-no-basic>
                                    </div> -->
                </div>
              </div>

              <div class="pad1-0"
                *ngIf="whichJobCategory() === 'currentJob' || model.isCurrentJobAtCreation">
                <div class="row">
                  <div class="col-md-6">
                    <label>Expected Schedule</label>
                    <br />
                    <!-- #13 -->
                    <app-text-area [maxlength]="380"
                      [placeholder]="''"
                      [isAutoSizeable]="true"
                      (ngModelChange)="model.expectedScheduleDetails = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.expectedScheduleDetails"
                      [(ngModel)]="model.expectedScheduleDetails"></app-text-area>
                  </div>
                  <div *ngIf="whichJobCategory() === 'currentJob' || model.isCurrentJobAtCreation"
                    class="col-md-6">
                    <label>Benefits Offered <span class="small">(Select all that apply.)</span></label>
                    <br />
                    <!-- #13 -->
                    <app-multi-select-dropdown *ngIf="model.jobAction"
                      [(ngModel)]="model.jobAction.jobActionTypes"
                      (ngModelChange)="model.jobAction.jobActionTypes = $event; validate();"
                      [cacheInnerValue]="this.originalModel?.jobAction?.jobActionTypes"
                      [isRequired]="true"
                      [isInvalid]="modelErrors['jobAction']"
                      [options]="benefitsOffered"></app-multi-select-dropdown>
                  </div>
                </div>
              </div>

              <div class="pad1-0"
                *ngIf="isJobFoundMethodBlockDisplayed()">
                <div class="row">
                  <div class="col-md-12">
                    <label>How was this job found?</label>
                    <br />
                    <!-- #16 -->
                    <div class="input-group gapless flex-row">
                      <app-select [(ngModel)]="model.jobFoundMethodId"
                        (ngModelChange)="model.jobFoundMethodId = $event; validate();"
                        [cacheInnerValue]="this.originalModel?.jobFoundMethodId"
                        [isInvalid]="modelErrors['jobFoundMethodId']"
                        [isRequired]="true"
                        [dropDownList]="jobFoundMethods"
                        class="first"></app-select>
                      <span class="input-group-addon"></span>
                      <app-generic-text-input *ngIf="isWorkerIdRequired()"
                        [(ngModel)]="model.workerId"
                        (ngModelChange)="model.workerId = $event; validate();"
                        [cacheInnerValue]="this.originalModel?.workerId"
                        [isInvalid]="modelErrors['workerId']"
                        [NGMaxLength]="120"
                        [ngPlaceholder]="'Worker ID'"
                        [isRequired]="true">
                      </app-generic-text-input>
                      <span class="input-group-addon"></span>
                      <app-text-area [maxlength]="380"
                        [isRequired]="isJobFoundDetailsRequired()"
                        [placeholder]="'Details'"
                        [cacheInnerValue]="this.originalModel?.jobFoundMethodDetails"
                        [isInvalid]="modelErrors['jobFoundMethodDetails']"
                        [isAutoSizeable]="true"
                        (ngModelChange)="model.jobFoundMethodDetails = $event; validate();"
                        [(ngModel)]="model.jobFoundMethodDetails"
                        class="last"></app-text-area>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pad1-0"
                *ngIf="isWorkProgramBlockDisplayed()">
                <div class="row">
                  <div class="col-md-12">
                    <label>Work Program</label>
                    <br />
                    <!-- #16 -->
                    <div class="input-group">
                      <app-select [(ngModel)]="model.workProgramId"
                        (ngModelChange)="model.workProgramId = $event; validate();"
                        [cacheInnerValue]="this.originalModel?.workProgramId"
                        [isInvalid]="modelErrors['workProgramId']"
                        [isRequired]="true"
                        [dropDownList]="workPrograms"
                        class=""></app-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pad1-0"
                *ngIf="whichJobCategory()==='pastJob' && (whichJobCategory()==='pastJob' || model.isCurrentJobAtCreation)">
                <div class="row">
                  <div class="col-md-12">
                    <label>Reason for Leaving</label>
                    <br />
                    <!-- #15 -->
                    <div class="input-group flex-row">
                      <app-select [(ngModel)]="model.leavingReasonId"
                        (ngModelChange)="model.leavingReasonId = $event; validate(); checkForLeavingReason();"
                        [cacheInnerValue]="this.originalModel?.leavingReasonId"
                        [isRequired]="true"
                        [isInvalid]="modelErrors['leavingReasonId']"
                        [dropDownList]="jobLeavingReasonsDropBasedOnJobType"
                        class="first"></app-select>
                      <app-text-area [maxlength]="380"
                        [isRequired]="isLeavingReasonsDetailsRequired()"
                        [isInvalid]="modelErrors['leavingReasonDetails']"
                        [cacheInnerValue]="this.originalModel?.leavingReasonDetails"
                        [placeholder]="'Details'"
                        [isAutoSizeable]="true"
                        (ngModelChange)="model.leavingReasonDetails = $event; validate();"
                        [(ngModel)]="model.leavingReasonDetails"
                        class="inline last">
                      </app-text-area>
                    </div>
                  </div>
                </div>
              </div>

            </fieldset>
            <fieldset *ngIf="whichJobCategory() === 'currentJob' || whichJobCategory() === 'pastJob'"
              id="wh-wage">
              <!-- show if in-program or current employment -->
              <app-validation-summary [errors]='currentWageValidationManager.errors'>
              </app-validation-summary>
              <app-work-history-wage [modelIds]="modelIds"
                [isNewRecord]="isNewRecord"
                [modelWorkHistory]="model"
                (moveToHistory)="moveCurrentWageToHistory()"
                [modelErrors]="modelErrors"
                [currentJobCategory]="currentJobCategory"
                [(ngModel)]="model.wageHour"
                (modelChange)="processInput(); validateCurrent(); validate(); checkforHourlyWageWarning()"
                [employerOfRecordSelectedValue]="this.employerOfRecordSelectedValue"
                [jobTypeId]="model.jobTypeId"
                [isHourlySubsidyDisabled]="this.isHourlySubsidyDisabled"></app-work-history-wage>
              <app-work-history-wage-history
                *ngIf="model.wageHour && (whichJobCategory()==='currentJob' || model.isCurrentJobAtCreation)"
                [isNewRecord]="isNewRecord"
                [allEffectiveDates]="model.allEffectiveDates"
                [modelIds]="modelIds"
                [modelWorkHistory]="model"
                [isCurrentlyEmployed]="model.isCurrentlyEmployed"
                [jobBeginDate]="model.jobBeginDate"
                [jobEndDate]="model.jobEndDate"
                [jobTypeId]="model.jobTypeId"
                [(ngModel)]="model.wageHour.wageHourHistories"
                [isHourlySubsidyDisabled]="isHourlySubsidyDisabled"
                (modelChange)="validate(); checkforHourlyWageWarning()">
              </app-work-history-wage-history>
            </fieldset>


            <fieldset *ngIf="whichJobCategory() === 'currentJob' || model.isCurrentJobAtCreation"
              id="wh-leave">
              <h4 class="part-title">Leave of Absence</h4>


              <app-work-history-leave-history [isCurrentlyEmployed]="model.isCurrentlyEmployed"
                [jobBeginDate]="model.jobBeginDate"
                [jobEndDate]="model.jobEndDate"
                [(ngModel)]="model.absences"
                (modelChange)="validate();">
              </app-work-history-leave-history>

            </fieldset>
          </div>
          <div>

            <hr *ngIf="whichJobCategory() != null" />

            <fieldset id="wh-notes">
              <div class="row">
                <div class="col-md-12">
                  <app-text-area [(ngModel)]="model.notes"
                    (ngModelChange)="model.notes = $event; validate();"
                    [cacheInnerValue]="this.originalModel?.notes"></app-text-area>
                </div>
              </div>
            </fieldset>
          </div>
        </main>
      </div>
    </div>
  </div>

  <footer class="nav-footer">
    <div class="wrapper tright">
      <div *ngIf="hadSaveError">There was an error saving.</div>
      <button class="btn btn-primary btn-save disabled"
        *ngIf="isSaving">
        <i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> Saving </button>
      <button class="btn btn-primary btn-save"
        *ngIf="(!isSaving && !precheck && !canSaveWithWarningAfterLeavingReasonCheck) || (!isSaving && (precheck && !precheck?.canSaveWithWarnings) && !canSaveWithWarningAfterLeavingReasonCheck)"
        [ngClass]="{disabled: !isSectionValid}"
        [disabled]="!isSectionValid"
        (click)="saveAndExitWorkHistory()">Save
        &amp; Exit</button>
      <button class="btn btn-primary btn-warning"
        *ngIf="!isSaving && precheck && (precheck?.canSaveWithWarnings) || (!isSaving && canSaveWithWarningAfterLeavingReasonCheck)"
        [ngClass]="{disabled: !isSectionValid}"
        [disabled]="!isSectionValid"
        (click)="saveAndExitWorkHistory(true)">Save
        with Warning</button>
    </div>
  </footer>

</div>
