<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Career Assessment Edit'"></app-loading>
  <div *ngIf="isLoaded && careerAssessment">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitCAEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom">
          <div class="col-lg-6">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close Career Assessment">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              *ngIf="careerAssessment && careerAssessment.id == 0 && !isReadOnly"
              class="px-3">Add
              Career Assessment
            </h1>

            <h1 id="editPageTitle"
              *ngIf="careerAssessment && careerAssessment.id != 0 && !isReadOnly"
              class="px-3">Edit
              Career Assessment
            </h1>
            <app-help-button [featureName]="'career-assessment-edit'"></app-help-button>

            <h1 id="editPageTitle"
              *ngIf="isReadOnly"
              class="px-3">Career Assessment</h1>
          </div>
          <div class="right col-lg-6 col-md-6"
            *ngIf="careerAssessment && careerAssessment.modifiedBy != null">
            <app-modified-stamp [readOnly]="true"
              [author]="careerAssessment.modifiedBy"
              [lastModified]="careerAssessment.modifiedDate">
            </app-modified-stamp>
          </div>
        </div>
      </div>
    </header>
    <div class="edit-content">
      <div class="container">
        <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
        <div class="row p-1">
          <div class="col-md-4">
            <label>Element(s) <span class="small">(Select all that apply.)</span></label>
            <br />
            <app-multi-select-dropdown [options]="element"
              [(ngModel)]="careerAssessment.elementIds"
              (ngModelChange)="careerAssessment.elementIds = $event; validate();"
              [isReadOnly]="isReadOnly"
              [isDisabled]="isReadOnly"
              [isInvalid]="modelErrors['elementIds']"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.elementIds"></app-multi-select-dropdown>
          </div>
          <div class="col-md-4">
            <label>Completion Date</label>
            <app-date-mm-dd-yyyy [(ngModel)]="careerAssessment.completionDate"
              (ngModelChange)="careerAssessment.completionDate =
                      $event; validate();"
              [isReadOnly]="isReadOnly"
              [isRequired]="!isReadOnly"
              [isInvalid]="modelErrors['completionDate']"
              [cacheInnerValue]="cachedModel?.completionDate">
            </app-date-mm-dd-yyyy>
          </div>
          <div class="col-md-4">
            <label>Assessment Provider</label>
            <app-text-input [(ngModel)]="careerAssessment.assessmentProvider"
              [isReadOnly]="isReadOnly"
              [maxLength]="120"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.assessmentProvider"
              [isInvalid]="modelErrors['assessmentProvider']"
              (ngModelChange)="validate();"
              [isReadOnly]="isReadOnly">
            </app-text-input>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-6">
            <label>Assessment Tool Used</label>
            <app-text-input [(ngModel)]="careerAssessment.assessmentToolUsed"
              [isReadOnly]="isReadOnly"
              [maxLength]="120"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.assessmentToolUsed"
              [isInvalid]="modelErrors['assessmentToolUsed']"
              (ngModelChange)="validate();"
              [isReadOnly]="isReadOnly">
            </app-text-input>
          </div>
          <div class="col-md-6">
            <label>Assessment Results</label>
            <app-text-input [(ngModel)]="careerAssessment.assessmentResults"
              [isReadOnly]="isReadOnly"
              [maxLength]="380"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.assessmentResults"
              [isInvalid]="modelErrors['assessmentResults'] "
              (ngModelChange)="validate();"
              [isReadOnly]="isReadOnly">
            </app-text-input>
          </div>
        </div>
        <div class="row p-1">
          <div class="twothird center">
            <app-contacts-embed [pin]="pin"
              [isRequired]="false"
              [isInvalid]="modelErrors['careerAssessmentContactId']"
              [(ngModel)]="careerAssessment.careerAssessmentContactId"
              (ngModelChange)="validate()"
              [cacheInnerValue]="cachedModel?.careerAssessmentContactId"
              [isReadOnly]="isReadOnly"></app-contacts-embed>
          </div>
        </div>
        <div class="row justify-content-center"
          *ngIf="!isReadOnly">
          <div class="col-md-12 d-flex justify-content-center docs-holder tcenter small">
            <a href="http://skillexplorer.wisconsin.gov/"
              target="_blank"
              class="btn btn-primary">
              <span><i class="fa fa-external-link-alt"></i></span>
              <p>Skill Explorer</p>
            </a>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12">
            <label>Related Occupation(s)</label>
            <app-text-input [(ngModel)]="careerAssessment.relatedOccupation"
              [isReadOnly]="isReadOnly"
              [maxLength]="120"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.relatedOccupation"
              [isInvalid]="modelErrors['relatedOccupation']"
              (ngModelChange)="validate();"></app-text-input>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12">
            <label>How are the assessment results being applied to the Employability Plan and
              Activities?</label>
            <app-text-input [(ngModel)]="careerAssessment.assessmentResultAppliedToEP"
              [isReadOnly]="isReadOnly"
              [maxLength]="380"
              [isRequired]="!isReadOnly"
              [cacheInnerValue]="cachedModel?.assessmentResultAppliedToEP"
              [isInvalid]="modelErrors['assessmentResultAppliedToEP']"
              (ngModelChange)="validate();"></app-text-input>
          </div>
        </div>
        <app-cancel-save-footer class="d-flex justify-content-end"
          [isReadOnly]="isReadOnly"
          [hadSaveError]="hadSaveError"
          [isSaving]="isSaving"
          [isDisabled]="isSectionValid"
          (cancelEvent)="exit()"
          (saveEvent)="saveAndExit()"></app-cancel-save-footer>
      </div>
    </div>
  </div>
</div>
