<div class="card-col" [class.dont-print]="!this.isPrinting">

  <div class="col-title clearfix">
    <h3 class="col-title left">{{this.listName}} Tasks</h3>
    <div class="btn-holder right" *ngIf="this.tasks?.length > 0 && this.filteredTasks?.length > 0">

      <button class="btn btn-add squared" (click)="this.printCol()">
        <i class="fa fa-print"></i> Print</button>
      <app-select [(ngModel)]="this.selectedSort" [icon]="'fa-sort-amount-up'" [defaultValueId]="this.dueDateId"
        (ngModelChange)="this.selectedSort = $event; this.sortTasks();" [isFilter]="true"
        (onReverseSort)="this.reverseClick()" [dropDownList]="this.sortDrop"></app-select>
      <!-- hide if zero results in column -->

    </div>
  </div>

  <!-- <div class="taskgroup" *ngFor="let page of this.actionNeededPagesDrop"> this.actionNeededPagesDrop should be replaced with a variable depending on which sort option is selected -->
  <div
    *ngFor="let task of this.tasks | actionNeededFilter: this.filterOnGoing: this.filterRecentActions: this.filterCompleted: this.filterNotCompleted">
    <div class="container">
      <div class="row history">
        <div class="col-md-6"></div>
        <div class="lastEdit rcorner col-md-6 d-flex flex-column justify-content-end py-2">
          <div><i class="fa fa-pencil-alt"></i> Last Edited by <strong
              class="languages-lastEdit-author">{{task.modifiedByName}}</strong></div>
          <div class="d-flex justify-content-end"><i class="fa fa-calendar"></i> <strong
              class="languages-lastEdit-date">{{task.modifiedDate | date:'short'}}</strong></div>
        </div>
      </div>
    </div>

    <app-task [isReadOnly]="this.isReadOnly" [accessType]="this.accessType" (reload)="this.forceReload($event)"
      [task]="task"></app-task>
  </div>
  <!-- </div> -->
  <!-- show if zero results in column -->
  <div class="tgrey2 tcenter pad2" *ngIf="isLoaded && this.tasks?.length <= 0 || this.tasks?.length == null">No Tasks
  </div>
  <div class="tgrey2 tcenter pad2" *ngIf="isLoaded && this.filteredTasks?.length == 0 && this.tasks?.length > 0">No
    Matching Tasks</div>
</div>
