<div class="app-embed">
  <div class="app-icon">
    <a target="_blank" href="{{pinTestScoresUrl}}"><i class="wwp-test"></i></a>
  </div>

  <div class="app-options" *ngIf="!isReadOnly">
    <ul class="app-option-list">
      <!-- if test-scores exist -->
      <li *ngIf="this.model?.length > 0" (click)="openAdd(false)" class="app-option app-edit">
        <a><i class="fa fa-pencil-alt"></i></a>
      </li>
      <li (click)="openAdd(true)" class="app-option app-new">
        <a><i class="fa fa-plus"></i></a>
      </li>
      <li *ngIf="this.model?.length > 0" (click)="tryDelete()" class="app-option app-delete">
        <a><i class="fa fa-trash-alt"></i></a>
      </li>
    </ul>
  </div>
  <div *ngFor="let exam of this.model | paginate: config" class="app-info">
    <div class="app-main twothird">

      <table class="scores-table">
        <thead>
          <tr>
            <th class="st-subject">Subject</th>
            <th class="st-score">Score</th>
            <th class="st-date-passed">Date Passed</th>
          </tr>
        </thead>
        <tbody class="scores-content">
          <tr *ngFor="let examResult of exam.examResults" class="scores-Language">
            <td class="sc-subject">{{ examResult.name }}</td>
            <td class="sc-score"><span *ngIf="examResult.score" class="score">{{ examResult.score }} <span class=
                        "per">/{{ examResult.totalScore }}</span></span>
                         <i *ngIf="!examResult.score" class="fa fa-ellipsis-h"></i>
            </td>
            <td class="sc-date-passed"> {{ examResult.datePassed }}<span class="dp">
                         <i *ngIf="examResult.datePassed == null || examResult.datePassed == ''" class="fa fa-ellipsis-h"></i></span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="app-extra third" *ngIf="this.model?.length > 0">
      <div class="test-date-holder threefifth left">
        <pagination-template *ngIf="this.model?.length >= config.itemsPerPage" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
          <div class="test-date-next test-date-nav fifth right tcenter" (click)="p.next()" *ngIf="!p.isLastPage()"><i class="fa fa-caret-right"></i></div>
          <div class="test-date-prev test-date-nav fifth left tcenter" (click)="p.previous()" *ngIf="!p.isFirstPage()"><i class="fa fa-caret-left"></i></div>
          <div class="threefifth tcenter center">
            <p class=" test-date-title small">Test Date</p>
            <p class="test-date">{{exam?.dateTaken}}</p>
          </div>
        </pagination-template>
      </div>
    </div>

  </div>

  <div class="app-blank tcenter tgrey2 pad2 full" *ngIf="this.model?.length <= 0 || this.model?.length == null">
      <p class="blank-text pad2">No Test Scores</p>
  </div>

  <div>
    <p>Information about ABE/ASE and ESL/ELL test scores can be found in the Test Scores app</p>
  </div>

</div>

<app-testscores-edit *ngIf="isInEdit" [pin]="pin" [isExamTypeDisabled]="true" [examId]="editExamId" (close)="handleModalClosed($event)" [examTypeId]="defaultExamTypeId" (hasSaved)="handleModalSaved($event)"></app-testscores-edit>

<app-confirm-dialog *ngIf="inConfirmDeleteView" (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()" title="Delete Test"
confirmButtonText="Delete" cancelButtonText="Cancel" message="Deleting a test score will remove its information throughout the entire application. Are you sure you want to do this?"></app-confirm-dialog>
