<app-sub-header data-test="sub-header"
  pageTitle="POP Claims"
  [goBackUrl]="goBackUrl"
  [participant]="participant"
  [helpComponent]="'pop-claims'">
</app-sub-header>
<app-loading data-test="pop-claims-loading"
  [isLoaded]="isLoaded"
  [loadingLabel]="'POP Claims(s)' "></app-loading>
<div data-test="add-pop-claims-button"
  class="row pad1-0" *ngIf="isWorker">
  <span class="col-md-12 d-flex justify-content-end">
    <button class="btn btn-add"
      (click)="onAddPOP()">+ Add POP Claim</button>
  </span>
</div>
<div class="row"
  data-test="no-pops"
  *ngIf="popClaims && popClaims.length == 0">
  <div class="w-100">
    <blockquote class="tcenter pad2">
      <p>No POP Claims</p>
    </blockquote>
  </div>
</div>
<div *ngIf="isLoaded && popClaims && popClaims.length > 0">
  <div class="row justify-content-end btmborder m-1 p-2">
    <div class="col-md-3">Claim Type</div>
    <div class="col-md-2">Status</div>
    <div class="col-md-2">Status Date</div>
    <div class="col-md-3">Worker</div>
    <div class="col-md-2">Agency Code</div>
  </div>
  <div class="list-item p-2"
    *ngFor="let pop of popClaims"
    data-test='pops'
    (click)="onSingleItemClick(pop)">
    <div class="row align-items-center">
    <div class="col-md-3">
      <h6>
        <span class="tgrey3 wrapword"
          data-test="pop-claimType">{{pop.popClaimTypeName}}</span>
      </h6>
    </div>
    <div class="col-md-2">
      <h6>
        <span class="tgrey3 wrapword"
          data-test="pop-claimStaus">{{pop.claimStatusTypeDisplayName}}</span>
      </h6>
    </div>
    <div class="col-md-2">
      <h6><span class="tgrey3 wrapword"
          data-test="pop-claimStaus">{{pop.claimStatusDate | date :'MM/dd/yyyy'}}</span></h6>
    </div>

    <div class="col-md-3">
      <h6>
        <span class="tgrey3 wrapword"
          data-test="pop-worker">{{pop.modifiedBy}}</span>
      </h6>
    </div>
    <div class="col-md-2">
      <h6><span class="tgrey3 wrapword"
          data-test="pop-claimStaus">{{pop.agencyName}}</span></h6>
    </div>
    </div>
  </div>
</div>

<app-pop-claim-single-entry *ngIf="inSingleEntryView"
  [popClaim]="clickedPOPClaim"
  [POPClaimTypes]="POPClaimTypes"
  (onExitSingleEntryMode)="exitSingleEntryView()"></app-pop-claim-single-entry>
