

.modal-container{
    max-width: 75%;
    max-height: 100%;
}


.table-scroller{
    max-height: 750px;
    overflow-y:auto;
    font-size: 1rem;
    padding:.5rem .2rem;
}



th,td{padding:0em 1rem}

thead th{color:#63899D; font-size:.9em; text-transform: uppercase;}
tbody th{ color:#7F8C8D; }
tbody td{ white-space: nowrap;}
tbody tr:nth-of-type(odd){
    background-color:#F6F8F8;
}

.timelimit-total-wrapper{
  display:flex;
}

.timelimit-totals{
  margin-right: 1.5rem;
  font-size: .9rem;
  text-align: center;
  font-weight: 700;

}
.timelimit-totals h5{
  font-weight: 700;
  margin:0;
  color:#63899D;
  font-size:1rem;
  text-transform: uppercase;
}

button.btn-close {
  background:none;
  color:#95a5a6;

}

.list-item {
  font-size: 0.9em;
  margin: 0;
}

.list-item:hover:nth-of-type(odd){
  background-color:#ced9f5;
}
