<div *ngIf="isSectionLoaded">
  <h2 class="poplegend">Agency Summary</h2>
  <fieldset class="form-page">
    <div class="alert alert-danger"
      *ngIf="otherSectionsErrored">
      <strong>Errors exist in other sections that prevent the application from being submitted.</strong>
    </div>
    <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
    <app-modified-stamp *ngIf="model?.eaAgencySummary?.modifiedBy"
      [author]="model?.eaAgencySummary?.modifiedBy"
      [lastModified]="model?.eaAgencySummary?.modifiedDate"
      [readOnly]="true"></app-modified-stamp>
    <hr class="spacer" />
    <h5>Financial Eligibility: {{model.eaAgencySummary.hasFinancialEligibilityPassed ? 'PASS' : 'FAIL'}}</h5>
    <div>
      <span class="col-md-2">Group Size: {{model?.eaAgencySummary?.groupSize}}</span>
      <span class="col-md-2">Total Income: $ {{model?.eaAgencySummary?.totalIncome}}</span>
      <span class="col-md-2">Total Assets: $ {{model?.eaAgencySummary?.totalAssets}}</span>
    </div>
    <hr />
    <div>
      <span class="col-md-4">Approved Emergency Assistance payment in last 12 months:
        {{model?.eaAgencySummary?.approvedPaymentsPast12Months | yesNo}}</span>
      <span class="col-md-2">Active IPV: {{model?.eaAgencySummary?.hasActiveIPV | yesNo}}</span>
    </div>
    <hr />
    <h5>Selected Emergency Types</h5>
    <span *ngFor="let item of model?.eaAgencySummary?.eaEmergencyType?.emergencyTypeNames">
      <span class="pr-3"
        *ngIf="!(item === 'Impending Homelessness' || item === 'Homelessness')">{{item}}</span>
    </span>
    <div class="row pt-3"
      *ngIf="model?.eaAgencySummary?.eaEmergencyType?.emergencyTypeCodes.includes('IHL') || model?.eaAgencySummary?.eaEmergencyType?.emergencyTypeCodes.includes('HLN')">
      <div class="col-md-4"></div>
      <div class="col-md-6">Reason</div>
    </div>
    <div class="row pt-3"
      *ngIf="model?.eaAgencySummary?.eaEmergencyType?.emergencyTypeCodes.includes('IHL')">
      <div class="col-md-4">Impending Homelessness</div>
      <div class="col-md-6">
        <app-select
          [(ngModel)]="model.eaAgencySummary.eaEmergencyType.eaImpendingHomelessness.emergencyTypeReasonId"
          (ngModelChange)="model.eaAgencySummary.eaEmergencyType.eaImpendingHomelessness.emergencyTypeReasonId = $event; checkState()"
          [isInvalid]="modelErrors['IHLemergencyTypeReasonId']"
          [cacheInnerValue]="cachedModel.eaAgencySummary.eaEmergencyType.eaImpendingHomelessness.emergencyTypeReasonId"
          [isRequired]="isStatusApprovedOrPending"
          [isReadOnly]="isReadOnly"
          [dropDownList]="impendingHomelessReasonDrop">
        </app-select>
      </div>
    </div>
    <div class="row pt-3"
      *ngIf="model?.eaAgencySummary?.eaEmergencyType?.emergencyTypeCodes.includes('HLN')">
      <div class="col-md-4">Homelessness</div>
      <div class="col-md-6">
        <app-select [(ngModel)]="model.eaAgencySummary.eaEmergencyType.eaHomelessness.emergencyTypeReasonId"
          (ngModelChange)="model.eaAgencySummary.eaEmergencyType.eaHomelessness.emergencyTypeReasonId = $event; checkState()"
          [isInvalid]="modelErrors['HLNemergencyTypeReasonId']"
          [cacheInnerValue]="cachedModel.eaAgencySummary.eaEmergencyType.eaHomelessness.emergencyTypeReasonId"
          [isRequired]="isStatusApprovedOrPending"
          [isReadOnly]="isReadOnly"
          [dropDownList]="homelessReasonDrop">
        </app-select>
      </div>
    </div>
    <app-financial-need-repeater class="col-md-12"
      [(ngModel)]="model.eaAgencySummary.eaFinancialNeeds"
      (ngModelChange)="checkState()"
      [initTotal]="model.eaAgencySummary.eaFinancialNeeds"
      [isReadOnly]="isReadOnly"
      [isRequired]="statusCode === eaStatusCodes.Approved"
      [financialNeedDrop]="financialNeedsDrop"
      [cachedInitialModels]="cachedModel?.eaAgencySummary?.eaFinancialNeeds"
      [maxPaymentAmount]="model.eaAgencySummary.maxPaymentAmount"
      [modelErrors]="modelErrors['eaFinancialNeeds']"></app-financial-need-repeater>
    <div class="row">
      <label class="col-md-12">Approved Payment Amount</label>
      <div class="input-group col-md-2 pr-0 flex-nowrap">
        <div class="input-group-prepend"><span class="input-group-text">$</span>
        </div>
        <app-currency-input class="w-100 last"
          [(ngModel)]="model.eaAgencySummary.approvedPaymentAmount"
          [isRequired]="statusCode === eaStatusCodes.Approved"
          (ngModelChange)="model.eaAgencySummary.approvedPaymentAmount = $event; checkState();"
          [errorIndicator]="modelErrors['approvedPaymentAmount']"
          [isReadOnly]="isStatusReadOnly"
          [cacheInnerValue]="cachedModel?.eaAgencySummary?.approvedPaymentAmount"
          [NGMaxLength]="10"></app-currency-input>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-2 no-wrap">
        <label>Application Status</label>
      </div>
      <div class="col-md-8"
        *ngIf="filteredStatusReasonDrop && filteredStatusReasonDrop.length">
        <label>Reason</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <app-select [(ngModel)]="model.eaAgencySummary.statusId"
          (ngModelChange)="model.eaAgencySummary.statusId = $event; filterReasonsDrop($event); model.eaAgencySummary.statusReasonIds = []; checkState()"
          [isInvalid]="modelErrors['statusId']"
          [hasEmptyOption]="false"
          [cacheInnerValue]="cachedModel?.eaAgencySummary?.statusId"
          [isRequired]="true"
          [isReadOnly]="isStatusReadOnly"
          [dropDownList]="eaStatusesDrop">
        </app-select>
      </div>
      <div class="col-md-9"
        *ngIf="filteredStatusReasonDrop && filteredStatusReasonDrop.length">
        <app-select *ngIf="filteredStatusReasonDrop[0].optionCd !== 'DN'"
          [(ngModel)]="model.eaAgencySummary.statusReasonIds[0]"
          (ngModelChange)="model.eaAgencySummary.statusReasonIds = $event === null ? [] : [$event]; setSubmitButtonStatus(); checkState(); "
          [isInvalid]="modelErrors['statusReasonId']"
          [cacheInnerValue]="cachedModel?.eaAgencySummary?.statusReasonIds[0]"
          [isRequired]="true"
          [isReadOnly]="isStatusReadOnly"
          [dropDownList]="filteredStatusReasonDrop">
        </app-select>
        <app-multi-select-dropdown *ngIf="filteredStatusReasonDrop[0].optionCd === 'DN'"
          [settings]="multSelectSettings"
          [customWidth]="45"
          [(ngModel)]="model.eaAgencySummary.statusReasonIds"
          (ngModelChange)="model.eaAgencySummary.statusReasonIds = $event; setSubmitButtonStatus(); checkState();"
          [cacheInnerValue]="cachedModel?.eaAgencySummary?.statusReasonIds"
          [options]="filteredStatusReasonDrop"
          [isInvalid]="modelErrors['statusReasonId']"
          [isRequired]="true"
          [isDisabled]="isStatusReadOnly">
        </app-multi-select-dropdown>
      </div>
    </div>
    <div class="row pt-3"
      *ngIf="requestEditService.modifiedTracker.isSubmitEnabled && (isSectionValid || model.eaAgencySummary.notes)">
      <label class="col-md-12 text-info">EA Notice will automatically be generated when you Submit.</label>
      <label class="col-md-12">Any additional notes you would like to include on the EA Notice should be
        entered here.</label>
      <div class="col-md-12">
        <app-text-area [maxlength]="1000"
          [(ngModel)]="model.eaAgencySummary.notes"
          (ngModelChange)="model.eaAgencySummary.notes; checkState();"
          placeholder="Notes"
          [cacheInnerValue]="''"
          [restrictCharactersForEA]="true"></app-text-area>
      </div>
    </div>
  </fieldset>
</div>
