<div *ngIf="isSectionLoaded">
  <h2 class="poplegend">Demographics</h2>

  <fieldset *ngIf="model"
    class="form-page">
    <div class="alert alert-warning mb-0"
      *ngIf="isMinor">
      <a class="close"
        data-dismiss="alert"
        aria-label="close">&times;</a>
      <strong>The applicant is a minor, review policy requirements for Minor Caretaker Relatives.</strong>
    </div>

    <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

    <app-modified-stamp *ngIf="model?.modifiedBy"
      [author]="model?.modifiedBy"
      [lastModified]="model?.modifiedDate"
      [readOnly]="true"></app-modified-stamp>

    <hr class="spacer" />

    <div class="row">
      <div class="col-md-3">
        <label>Application Date</label>
      </div>
      <div class="col-md-4">
        <label>CARES Case Number</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-date-mm-dd-yyyy [(ngModel)]="model.applicationDate"
          [cacheInnerValue]="cachedModel.applicationDate"
          (ngModelChange)="model.applicationDate = $event; checkState();"
          [isInvalid]="modelErrors['applicationDate']"
          [isReadOnly]="viewMode === eaViewModes.View || (requestId !== '0' && requestEditService.lastSavedModel.statusCode !== eaStatusCodes.InProgress)"
          [isRequired]="true"></app-date-mm-dd-yyyy>
      </div>
      <div class="col-md-4">
        <app-numerical-input [(ngModel)]="model.caresCaseNumber"
          (ngModelChange)="model.caresCaseNumber = $event; checkState();"
          [cacheInnerValue]="cachedModel.caresCaseNumber"
          [isReadOnly]="isReadOnly"
          [NGMaxLength]="10"></app-numerical-input>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-3">
        <label>Application Initiated Method</label>
      </div>
      <div class="col-md-4"
        *ngIf="model.applicationInitiatedMethodCode && model.applicationInitiatedMethodCode === 'AC'">
        <label>ACCESS Tracking Number</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-select [(ngModel)]="model.applicationInitiatedMethodId"
          (ngModelChange)="model.applicationInitiatedMethodId = $event; updateInitiatedMethodCode($event); checkState()"
          [isInvalid]="modelErrors['applicationInitiatedMethodId']"
          [cacheInnerValue]="cachedModel.applicationInitiatedMethodId"
          [isRequired]="true"
          [isDisabled]="isReadOnly"
          [dropDownList]="initiatedMethodDrop">
        </app-select>
      </div>
      <div class="col-md-4"
        *ngIf="model.applicationInitiatedMethodCode && model.applicationInitiatedMethodCode === 'AC'">
        <app-numerical-input [(ngModel)]="model.accessTrackingNumber"
          (ngModelChange)="model.accessTrackingNumber = $event; checkState();"
          [cacheInnerValue]="cachedModel.accessTrackingNumber"
          [isInvalid]="modelErrors['accessTrackingNumber']"
          [isRequired]="true"
          [isReadOnly]="isReadOnly"
          [NGMaxLength]="10"></app-numerical-input>
      </div>
    </div>
    <hr />

    <fieldset id="reg-address">
      <div class="row pb-1">
        <div class="col-md-3">
          <label>County of Residence</label>
          <app-auto-complete [(ngModel)]="model.eaDemographicsContact.countyOfResidenceId"
            (ngModelChange)="model.eaDemographicsContact.countyOfResidenceId = $event; checkState();"
            [isValidByParent]="modelErrors['countyOfResidenceId']"
            [cacheInnerValue]="cachedModel.eaDemographicsContact.countyOfResidenceId"
            [dropDownList]="countiesDrop"
            [isDisabled]="isReadOnly"
            [isRequired]="true"></app-auto-complete>
        </div>
        <div class="col-md-9">
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-12">
          <h5 class="part-title d-inline-block">Household Information</h5>
          <label>
            <input [(ngModel)]="model.eaDemographicsContact.isHomeless"
              (ngModelChange)="model.eaDemographicsContact.isHomeless = $event; checkState();"
              [disabled]="isReadOnly"
              type="checkbox"
              name="checkbox"
              value="true"
              class="mr-2 ml-4">Homeless</label>
        </div>
      </div>

      <div class="row"
        *ngIf="!model.eaDemographicsContact.isHomeless">
        <div class="col-md-12 px-0">
          <app-finalist-address
            [reValidationRequired]="!model.eaDemographicsContact.isMailingAddressDisplayed"
            [isDisplayed]="!model.eaDemographicsContact.isMailingAddressDisplayed"
            [modelErrors]="modelErrors"
            (modelChange)="checkState()"
            [isReadOnly]="isReadOnly"
            [locationAddress]="model.eaDemographicsContact.householdAddress"
            [cachedInnerValue]="cachedModel.eaDemographicsContact.householdAddress"
            additionalValidationErrorParameter="household"
            (validateButtonStatus)="householdAddressValidateStatus = $event"></app-finalist-address>
        </div>
      </div>

      <hr />

      <div *ngIf="!model.eaDemographicsContact.isHomeless"
        class="row">
        <div class="col-md-8">
          <label class="control-label">Is your household address the same as your mailing
            address?
          </label>
        </div>
        <div class="col-md-4 tright">
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaDemographicsContact.isMailingSameAsHouseholdAddress"
              (ngModelChange)="model.eaDemographicsContact.isMailingSameAsHouseholdAddress = $event; checkState();"
              [errorIndicator]="modelErrors['isMailingSameAsHouseholdAddress']"
              [isRequired]="model.eaDemographicsContact.isMailingSameAsHouseholdAddressRequired"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaDemographicsContact.isMailingSameAsHouseholdAddress">
            </app-yes-no-basic>
          </div>
        </div>
      </div>

      <h5 *ngIf="model.eaDemographicsContact.isMailingAddressDisplayed">Mailing Address</h5>
      <div *ngIf="model.eaDemographicsContact.isMailingAddressDisplayed"
        class="row">
        <div class="col-md-12 px-0">
          <app-finalist-address [isDisplayed]="true"
            [modelErrors]="modelErrors"
            (modelChange)="checkState()"
            [isReadOnly]="isReadOnly"
            [locationAddress]="model.eaDemographicsContact.mailingAddress"
            [cachedInnerValue]="cachedModel.eaDemographicsContact.mailingAddress"
            (validateButtonStatus)="mailingAddressValidateStatus = $event"
            additionalValidationErrorParameter="mailing"></app-finalist-address>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6"><label>Best way to reach you?</label></div>
        <div class="col-md-6">
          <div class="right">
            <app-tab-selector [(ngModel)]="model.eaDemographicsContact.bestWayToReach"
              (ngModelChange)="model.eaDemographicsContact.bestWayToReach = $event; checkState();"
              [isRequired]="true"
              [tabs]="bestWayToReachDrop"
              [isInValid]="modelErrors['bestWayToReach']"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaDemographicsContact.bestWayToReach"></app-tab-selector>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-12"><label>Applicant Phone</label></div>
        <div class=" col-md-3">
          <app-numerical-input [(ngModel)]="model.eaDemographicsContact.phoneNumber"
            [isInvalid]="modelErrors['phoneNumber']"
            (ngModelChange)="model.eaDemographicsContact.phoneNumber = $event; checkState();"
            [cacheInnerValue]="cachedModel.eaDemographicsContact.phoneNumber"
            [isPhoneNumber]="true"
            [isReadOnly]="isReadOnly"
            [NGMaxLength]="14"
            [isRequired]="model?.eaDemographicsContact?.bestWayToReach === 'phone'"></app-numerical-input>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label class="control-label">Can you receive messages at this number?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaDemographicsContact.canText"
              (ngModelChange)="model.eaDemographicsContact.canText = $event; checkState();"
              [errorIndicator]="modelErrors['canText']"
              [isRequired]="model?.eaDemographicsContact?.bestWayToReach === 'phone'"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaDemographicsContact.canText"></app-yes-no-basic>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-12"><label>Alternate Applicant Phone</label></div>
        <div class=" col-md-3">
          <app-numerical-input [(ngModel)]="model.eaDemographicsContact.alternatePhoneNumber"
            [isInvalid]="modelErrors['alternatePhoneNumber']"
            (ngModelChange)="model.eaDemographicsContact.alternatePhoneNumber = $event; checkState();"
            [cacheInnerValue]="cachedModel.eaDemographicsContact.alternatePhoneNumber"
            [isPhoneNumber]="true"
            [isReadOnly]="isReadOnly"
            [NGMaxLength]="14"></app-numerical-input>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label class="control-label">Can you receive messages at this number?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaDemographicsContact.canTextAlternate"
              (ngModelChange)="model.eaDemographicsContact.canTextAlternate = $event; checkState();"
              [errorIndicator]="modelErrors['canTextAlternate']"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaDemographicsContact.canTextAlternate"></app-yes-no-basic>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-12"><label>Applicant Email</label></div>
        <div class="col-md-6">
          <app-generic-text-input id="email"
            [(ngModel)]="model.eaDemographicsContact.emailAddress"
            (ngModelChange)="model.eaDemographicsContact.emailAddress = $event; checkState();"
            [cacheInnerValue]="cachedModel.eaDemographicsContact.emailAddress"
            [isRequired]="model?.eaDemographicsContact?.bestWayToReach === 'email'"
            [NGMaxLength]="120"
            [isDisabled]="isReadOnly"
            [isInvalid]="modelErrors['emailAddress']"></app-generic-text-input>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-10"><label>Do you take care of and make decisions for either your child or a
            relative's child in your home?</label></div>
        <div class="col-md-2">
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.didApplicantTakeCareOfAnyChild"
              (ngModelChange)="model.didApplicantTakeCareOfAnyChild = $event; checkState();"
              [errorIndicator]="modelErrors['didApplicantTakeCareOfAnyChild']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.didApplicantTakeCareOfAnyChild"></app-yes-no-basic>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-10"><label>Will this child(ren) stay in your care in the future?</label></div>
        <div class="col-md-2">
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.willTheChildStayInApplicantCare"
              (ngModelChange)="model.willTheChildStayInApplicantCare = $event; checkState();"
              [errorIndicator]="modelErrors['willTheChildStayInApplicantCare']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.willTheChildStayInApplicantCare"></app-yes-no-basic>
          </div>
        </div>
      </div>

    </fieldset>
  </fieldset>

</div>
