#sidebar ul li.disabled {
  color: #95a5a6;
}

#sidebar ul li.disabled:hover {
  color: #95a5a6!important;
  cursor: not-allowed;
}

#sidebar {
  transform: translateX(0);
  opacity:1;
  transition-property: transform,opacity,width !important;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-in-out !important;
}

#sidebar.loading {
  transform: translateX(-10%);
  opacity:0;
}

fieldset {
  opacity: 1;
  transition:opacity 0.6s;
}

fieldset.loading {
  opacity:0;
}

main {
  // opacity:0;
  transition-duration: 0 !important;
}

main.loaded {
  // opacity:1;
  transition-property: transform,opacity,width !important;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-in-out !important;
}

.btn-saving {
  display: inline-block;
  background: #dddddd;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 4px;
}

aside {
  height: calc(100vh / 2);
}

.btn-disabled:disabled {
  .btn {
    cursor: not-allowed;
  }
}
