<div *ngIf="isSectionLoaded">
  <h2 class="poplegend">Type of Emergency</h2>
  <fieldset *ngIf="true"
    class="form-page">

    <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

    <app-modified-stamp *ngIf="model?.modifiedBy"
      [author]="model?.modifiedBy"
      [lastModified]="model?.modifiedDate"
      [readOnly]="true"></app-modified-stamp>

    <hr class="spacer" />
    <div class="row">
      <div class="col-md-12">
        <app-multi-select-dropdown [(ngModel)]="model.emergencyTypeIds"
          (ngModelChange)="model.emergencyTypeIds = $event; getEmergencyCodes($event); checkState();"
          [cacheInnerValue]="cachedModel.emergencyTypeIds"
          [options]="eaEmergencyTypesDrop"
          [isInvalid]="modelErrors['emergencyTypeIds']"
          [isRequired]="true"
          [isHistorical]="true"
          [isDisabled]="isReadOnly"
          placeholder="Emergency Type">
        </app-multi-select-dropdown>
      </div>
    </div>



    <div class="row pt-3">
      <label class="col-md-12">Describe the emergency you have. For example, what happened and when the
        emergency happened.</label>
      <div class="col-md-12">
        <app-text-area [(ngModel)]="model.emergencyDetails"
          [maxlength]="380"
          (ngModelChange)="model.emergencyDetails = $event; checkState();"
          [isRequired]="true"
          [isInvalid]="modelErrors['emergencyDetails']"
          placeholder="Details"
          [isReadOnly]="isReadOnly"
          [cacheInnerValue]="cachedModel.emergencyDetails"></app-text-area>
      </div>
    </div>

    <!-- Impending Homelessness -->
    <div *ngIf="model.emergencyTypeCodes && model.emergencyTypeCodes.includes('IHL')">
      <hr class="spacer" />
      <h4 class="part-title">Impending Homelessness</h4>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Do you have an eviction notice or foreclosure notice?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaImpendingHomelessness.haveEvictionNotice"
              (ngModelChange)="model.eaImpendingHomelessness.haveEvictionNotice = $event; checkState();"
              [errorIndicator]="modelErrors['haveEvictionNotice']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaImpendingHomelessness.haveEvictionNotice"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaImpendingHomelessness.haveEvictionNotice">
        <label class="col-md-9">When did you get the eviction or foreclosure notice?</label>
        <div class="col-md-3">
          <app-date-mm-dd-yyyy [(ngModel)]="model.eaImpendingHomelessness.dateOfEvictionNotice"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.dateOfEvictionNotice"
            (ngModelChange)="model.eaImpendingHomelessness.dateOfEvictionNotice = $event; checkState();"
            [isReadOnly]="isReadOnly"
            [isInvalid]="modelErrors['dateOfEvictionNotice']"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
      </div>
      <div class="row pt-3">
        <label class="col-md-12">Describe what happened to make it difficult to pay your rent or mortgage
          payment.</label>
        <div class="col-md-12">
          <app-text-area [(ngModel)]="model.eaImpendingHomelessness.difficultToPayDetails"
            [maxlength]="380"
            (ngModelChange)="model.eaImpendingHomelessness.difficultToPayDetails = $event; checkState();"
            [isRequired]="true"
            [isInvalid]="modelErrors['difficultToPayDetails']"
            placeholder="Details"
            [isReadOnly]="isReadOnly"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.difficultToPayDetails"></app-text-area>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <h5 class="d-inline-block">Current Landlord/Management Company</h5>
          <label>
            <input [(ngModel)]="model.eaImpendingHomelessness.isCurrentLandLordUnknown"
              (ngModelChange)="model.eaImpendingHomelessness.isCurrentLandLordUnknown = $event; checkState();"
              type="checkbox"
              name="checkbox"
              value="true"
              [disabled]="isReadOnly"
              class="mr-2 ml-4">Unknown</label>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="!model.eaImpendingHomelessness.isCurrentLandLordUnknown">
        <div class="col-md-4">
          <label>Name</label>
          <app-generic-text-input [(ngModel)]="model.eaImpendingHomelessness.landLordName"
            [NGMaxLength]="28"
            (ngModelChange)="model.eaImpendingHomelessness.landLordName = $event; checkState();"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.landLordName"
            [isDisabled]="isReadOnly"
            [isInvalid]="modelErrors['landLordName']"></app-generic-text-input>
        </div>
        <div class="col-md-4">
          <label>Contact Person</label>
          <app-generic-text-input [(ngModel)]="model.eaImpendingHomelessness.contactPerson"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.contactPerson"
            [NGMaxLength]="28"
            [isDisabled]="isReadOnly"
            (ngModelChange)="model.eaImpendingHomelessness.contactPerson = $event; checkState();"
            [isInvalid]="modelErrors['contactPerson']"></app-generic-text-input>
        </div>
        <div class="col-md-4">
          <label>Phone</label>
          <app-numerical-input [(ngModel)]="model.eaImpendingHomelessness.landLordPhone"
            [isInvalid]="modelErrors['landLordPhone']"
            (ngModelChange)="model.eaImpendingHomelessness.landLordPhone = $event; checkState();"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.landLordPhone"
            [isPhoneNumber]="true"
            [isReadOnly]="isReadOnly"
            [NGMaxLength]="14"></app-numerical-input>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="!model.eaImpendingHomelessness.isCurrentLandLordUnknown">
        <div class="col-md-12 px-0">
          <app-finalist-address [modelErrors]="modelErrors"
            [isDisplayed]="true"
            (modelChange)="model.eaImpendingHomelessness.landLordAddress = $event; checkState();"
            [isRequired]="false"
            [isReadOnly]="isReadOnly"
            [locationAddress]="model.eaImpendingHomelessness.landLordAddress"
            [cachedInnerValue]="cachedModel.eaImpendingHomelessness.landLordAddress"
            [isWIDefault]="false"
            (validateButtonStatus)="landlordAddressValidateStatus= $event"
            additionalValidationErrorParameter="landlord"></app-finalist-address>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Do you need a different home because of domestic abuse?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaImpendingHomelessness.needingDifferentHomeForAbuse"
              (ngModelChange)="model.eaImpendingHomelessness.needingDifferentHomeForAbuse = $event; checkState();"
              [errorIndicator]="modelErrors['needingDifferentHomeForAbuse']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaImpendingHomelessness.needingDifferentHomeForAbuse">
            </app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Do you need a different home because your rental housing is in foreclosure?</label>
          <div class="right">
            <app-yes-no-basic
              [(ngModel)]="model.eaImpendingHomelessness.needingDifferentHomeForRentalForeclosure"
              (ngModelChange)="model.eaImpendingHomelessness.needingDifferentHomeForRentalForeclosure = $event; checkState();"
              [errorIndicator]="modelErrors['needingDifferentHomeForRentalForeclosure']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaImpendingHomelessness.needingDifferentHomeForRentalForeclosure">
            </app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaImpendingHomelessness.needingDifferentHomeForRentalForeclosure">
        <label class="col-md-9">When does your family have to leave?</label>
        <div class="col-md-3">
          <app-date-mm-dd-yyyy [(ngModel)]="model.eaImpendingHomelessness.dateOfFamilyDeparture"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.dateOfFamilyDeparture"
            (ngModelChange)="model.eaImpendingHomelessness.dateOfFamilyDeparture = $event; checkState();"
            [isInvalid]="modelErrors['dateOfFamilyDeparture']"
            [isReadOnly]="isReadOnly"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Has a building or housing inspector or public health official decided your home is not safe
            to live in?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaImpendingHomelessness.isYourBuildingDecidedUnSafe"
              (ngModelChange)="model.eaImpendingHomelessness.isYourBuildingDecidedUnSafe = $event; checkState();"
              [errorIndicator]="modelErrors['isYourBuildingDecidedUnSafeImpending']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaImpendingHomelessness.isYourBuildingDecidedUnSafe">
            </app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaImpendingHomelessness.isYourBuildingDecidedUnSafe">
        <label class="col-md-9">When did the building or housing inspector or public health official decide
          this?</label>
        <div class="col-md-3">
          <app-date-mm-dd-yyyy [(ngModel)]="model.eaImpendingHomelessness.dateBuildingWasDecidedUnSafe"
            [cacheInnerValue]="cachedModel.eaImpendingHomelessness.dateBuildingWasDecidedUnSafe"
            (ngModelChange)="model.eaImpendingHomelessness.dateBuildingWasDecidedUnSafe = $event; checkState();"
            [isInvalid]="modelErrors['dateBuildingWasDecidedUnSafeImpending']"
            [isReadOnly]="isReadOnly"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaImpendingHomelessness.isYourBuildingDecidedUnSafe">
        <div class="col-md-12">
          <label>Do you have a housing inspection report?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaImpendingHomelessness.isInspectionReportAvailable"
              (ngModelChange)="model.eaImpendingHomelessness.isInspectionReportAvailable = $event; checkState();"
              [errorIndicator]="modelErrors['isInspectionReportAvailableImpending']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaImpendingHomelessness.isInspectionReportAvailable">
            </app-yes-no-basic>
          </div>
        </div>
      </div>
    </div>

    <!-- Homelessness -->
    <div *ngIf="model.emergencyTypeCodes && model.emergencyTypeCodes.includes('HLN')">
      <hr class="spacer" />
      <h4 class="part-title">Homelessness</h4>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Do you lack a regular place to live or sleep in a place not meant for sleeping?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaHomelessness.inLackOfPlace"
              (ngModelChange)="model.eaHomelessness.inLackOfPlace = $event; checkState();"
              [errorIndicator]="modelErrors['inLackOfPlace']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaHomelessness.inLackOfPlace"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaHomelessness.inLackOfPlace">
        <label class="col-md-9">When did this start?</label>
        <div class="col-md-3">
          <app-date-mm-dd-yyyy [(ngModel)]="model.eaHomelessness.dateOfStart"
            [cacheInnerValue]="cachedModel.eaHomelessness.dateOfStart"
            (ngModelChange)="model.eaHomelessness.dateOfStart = $event; checkState();"
            [isInvalid]="modelErrors['dateOfStart']"
            [isReadOnly]="isReadOnly"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Do you plan to get a permanent place to live?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaHomelessness.planOnPermanentPlace"
              (ngModelChange)="model.eaHomelessness.planOnPermanentPlace = $event; checkState();"
              [errorIndicator]="modelErrors['planOnPermanentPlace']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaHomelessness.planOnPermanentPlace"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Are you staying in a shelter for domestic abuse?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaHomelessness.inShelterForDomesticAbuse"
              (ngModelChange)="model.eaHomelessness.inShelterForDomesticAbuse = $event; checkState();"
              [errorIndicator]="modelErrors['inShelterForDomesticAbuse']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaHomelessness.inShelterForDomesticAbuse"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Has a building or housing inspector or public health official decided your home is not safe
            to live in?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaHomelessness.isYourBuildingDecidedUnSafe"
              (ngModelChange)="model.eaHomelessness.isYourBuildingDecidedUnSafe = $event; checkState();"
              [errorIndicator]="modelErrors['isYourBuildingDecidedUnSafe']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaHomelessness.isYourBuildingDecidedUnSafe"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaHomelessness.isYourBuildingDecidedUnSafe">
        <label class="col-md-9">When did the building or housing inspector or public health official decide
          this?</label>
        <div class="col-md-3">
          <app-date-mm-dd-yyyy [(ngModel)]="model.eaHomelessness.dateBuildingWasDecidedUnSafe"
            [cacheInnerValue]="cachedModel.eaHomelessness.dateBuildingWasDecidedUnSafe"
            (ngModelChange)="model.eaHomelessness.dateBuildingWasDecidedUnSafe = $event; checkState();"
            [isInvalid]="modelErrors['dateBuildingWasDecidedUnSafe']"
            [isReadOnly]="isReadOnly"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
      </div>
      <div class="row pt-3"
        *ngIf="model.eaHomelessness.isYourBuildingDecidedUnSafe">
        <div class="col-md-12">
          <label>Do you have a housing inspection report?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaHomelessness.isInspectionReportAvailable"
              (ngModelChange)="model.eaHomelessness.isInspectionReportAvailable = $event; checkState();"
              [errorIndicator]="modelErrors['isInspectionReportAvailable']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaHomelessness.isInspectionReportAvailable"></app-yes-no-basic>
          </div>
        </div>
      </div>
    </div>

    <!-- Energy Crisis -->
    <div *ngIf="model.emergencyTypeCodes && model.emergencyTypeCodes.includes('ENC')">
      <hr class="spacer" />
      <h4 class="part-title">Energy Crisis</h4>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Does your family need financial assistance to get or keep heat, electricity, water, or sewer
            service?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaEnergyCrisis.inNeedForUtilities"
              (ngModelChange)="model.eaEnergyCrisis.inNeedForUtilities = $event; checkState();"
              [errorIndicator]="modelErrors['inNeedForUtilities']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaEnergyCrisis.inNeedForUtilities"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <label class="col-md-12">Describe what happened to make it difficult to pay your utility bill.</label>
        <div class="col-md-12">
          <app-text-area [(ngModel)]="model.eaEnergyCrisis.difficultyForUtilityBill"
            [maxlength]="380"
            (ngModelChange)="model.eaEnergyCrisis.difficultyForUtilityBill = $event; checkState();"
            [isRequired]="true"
            [isInvalid]="modelErrors['difficultyForUtilityBill']"
            placeholder="Details"
            [isReadOnly]="isReadOnly"
            [cacheInnerValue]="cachedModel.eaEnergyCrisis.difficultyForUtilityBill"></app-text-area>
        </div>
      </div>
      <div class="row pt-3">
        <label class="col-md-12">What help has your family applied for already?</label>
        <div class="col-md-12">
          <app-text-area [(ngModel)]="model.eaEnergyCrisis.existingAppliedHelp"
            [maxlength]="380"
            (ngModelChange)="model.eaEnergyCrisis.existingAppliedHelp = $event; checkState();"
            [isRequired]="true"
            [isInvalid]="modelErrors['existingAppliedHelp']"
            placeholder="Details"
            [isReadOnly]="isReadOnly"
            [cacheInnerValue]="cachedModel.eaEnergyCrisis.existingAppliedHelp"></app-text-area>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-12">
          <label>Does your family have an immediate threat to its health and safety from an Energy
            Crisis?</label>
          <div class="right">
            <app-yes-no-basic [(ngModel)]="model.eaEnergyCrisis.haveThreat"
              (ngModelChange)="model.eaEnergyCrisis.haveThreat = $event; checkState();"
              [errorIndicator]="modelErrors['haveThreat']"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [cacheInnerValue]="cachedModel.eaEnergyCrisis.haveThreat"></app-yes-no-basic>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
</div>
