<div *ngIf="isSectionLoaded && !groupMemberMode && !isSearchMode">
  <h2 class="poplegend">Household Members</h2>
  <fieldset *ngIf="true"
    class="form-page">
    <div class="alert alert-warning mb-0"
      *ngIf="isMinor">
      <strong>One or more Other Caretaker Relatives is a minor, review policy requirements for Minor Caretaker
        Relatives.</strong>
    </div>
    <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
    <app-modified-stamp *ngIf="model?.modifiedBy"
      [author]="model?.modifiedBy"
      [lastModified]="model?.modifiedDate"
      [readOnly]="true"></app-modified-stamp>
    <hr class="spacer" />
    <h4>Group members</h4>
    <hr />
    <div class="row">
      <div class="col-md-3">Name/Date of Birth</div>
      <div class="col-md-3 pl-0">Individual Type</div>
      <div class="col-md-2">Relationship</div>
      <div class="col-md-2">SSN</div>
      <div class="col-md-2 pl-0 no-wrap">Include in EA Group</div>
    </div>
    <div class="py-3"
      *ngFor="let r of model.eaGroupMembers; let indexOfElement = index">
      <div class="row tgrey3 align-items-center">
        <div class="col-md-3 wrapword">{{r.participantName}}<br />{{r.participantDOB | dateMmDdYyyy}}</div>
        <div class="col-md-3 pl-0">
          <app-select [(ngModel)]="r.eaIndividualTypeId"
            (ngModelChange)="r.eaIndividualTypeId = $event; r.eaIndividualTypeCode = setIndividualTypeCode($event); setMinorOtherCareTakerRelative(); checkState()"
            [isInvalid]="modelErrors['individualTypeId'+indexOfElement]"
            [cacheInnerValue]="cachedModel.eaGroupMembers[indexOfElement]?.eaIndividualTypeId"
            [isRequired]="r.isIncluded"
            [isDisabled]="isReadOnly || r.eaIndividualTypeId === isApplicantId"
            [dropDownList]="r.eaIndividualTypeId === isApplicantId ? eaIndividualTypesDrop : filteredEaIndividualTypesDrop">
          </app-select>
        </div>
        <div class="col-md-2">
          <app-select [(ngModel)]="r.eaRelationTypeId"
            (ngModelChange)="r.eaRelationTypeId = $event; checkState()"
            [isInvalid]="modelErrors['relationshipTypeId'+indexOfElement]"
            [cacheInnerValue]="cachedModel.eaGroupMembers[indexOfElement]?.eaRelationTypeId"
            [isRequired]="r.isIncluded"
            [isDisabled]="isReadOnly || r.eaIndividualTypeId === isApplicantId"
            [dropDownList]="r.eaIndividualTypeId === isApplicantId ? eaRelationshipTypesDrop : r.eaIndividualTypeId === otherCareTakeId ? filteredEARelationshipTypeDropForOCTR : filteredEARelationshipTypeDropForNonOCTR">
          </app-select>
        </div>
        <div class="col-md-2">{{r.ssn ? 'XXX-XX-XXXX' : 'Unknown'}}</div>
        <div class="col-md-2 pl-0">
          <app-yes-no-basic [(ngModel)]="r.isIncluded"
            (ngModelChange)="r.isIncluded = $event; checkState()"
            [errorIndicator]="modelErrors['isIncluded'+indexOfElement]"
            [isRequired]="true"
            [isDisabled]="isReadOnly || r.eaIndividualTypeId === isApplicantId"
            [cacheInnerValue]="cachedModel.eaGroupMembers[indexOfElement]?.isIncluded">
          </app-yes-no-basic>
        </div>
      </div>
      <div class="row tgrey3 pt-2 align-items-center"
        *ngIf="!r.ssn && r.isIncluded">
        <div class="col-md-5">
          <div class="right">SSN Application Date</div>
        </div>
        <div class="col-md-2 pl-0">
          <app-date-mm-dd-yyyy [(ngModel)]="r.ssnAppliedDate"
            [cacheInnerValue]="cachedModel.eaGroupMembers[indexOfElement]?.ssnAppliedDate"
            [isDisabled]="r.ssnExemptTypeId"
            [isReadOnly]="isReadOnly"
            (ngModelChange)="r.ssnAppliedDate = $event; checkState();"
            [isInvalid]="modelErrors['ssnAppliedDate'+indexOfElement]"
            [isRequired]="true"></app-date-mm-dd-yyyy>
        </div>
        <div dir="rtl"
          class="col-md-1">
          Exempt
        </div>
        <div class="col-md-4 pl-0">
          <app-select [(ngModel)]="r.ssnExemptTypeId"
            (ngModelChange)="r.ssnExemptTypeId = $event; checkState()"
            [isDisabled]="isReadOnly || r.ssnAppliedDate"
            [isInvalid]="modelErrors['ssnExemptTypeId'+indexOfElement]"
            [cacheInnerValue]="cachedModel.eaGroupMembers[indexOfElement]?.ssnExemptTypeId"
            [isRequired]="true"
            [dropDownList]="eaSSNExemptsDrop"></app-select>
        </div>
      </div>
    </div>
    <hr />
    <div class="row justify-content-end mx-0 pb-3">
      <button class="btn btn-add"
        [disabled]="isReadOnly"
        (click)="editGroup()"
        *ngIf="!model.isPreviousMemberClicked">+ Find Previous Group Members</button>
      <button class="btn btn-add ml-3"
        [disabled]="isReadOnly"
        (click)="editGroup(true)">+ Add Group Members
      </button>
    </div>
  </fieldset>
</div>

<app-ea-group-edit *ngIf="groupMemberMode || isSearchMode"
  [participant]="participant"
  [eaModel]="model"
  [requestId]="requestId"></app-ea-group-edit>
