input.search {
  border: 1px solid #bdc3c7;
  font-weight: normal;
  line-height: 1em;
  vertical-align: bottom;
  padding: 0.5em;
  display: inline-block;
  margin: 0;
}

input.search.dirty {
  border-left-color: #bdc3c7!important;
}

.list-item {
  &:hover {
    background:none;
    cursor: auto;
  }
}
