<!-- normal template binding isn't worling for placeholder so hacking it for now -->
<textarea *ngIf="!isAutoSizeable"
  placeholder="{{ isDetails ? 'Details' : placeholder }}"
  (keydown)="keypress()"
  (keyup)="stripRestrictedCharactersForEA()"
  (mouseleave)="stripRestrictedCharactersForEA()"
  (cut)="keypress()"
  (paste)="keypress()"
  (keypress)="keypress()"
  class="form-control"
  [ngClass]="{error: isInvalid, required: isRequired, dirty: isModified && !isInvalid}"
  [ngStyle]="{height: height ? height : ''}"
  [attr.maxlength]="maxlength"
  [(ngModel)]="value"
  [disabled]="isDisabled || isReadOnly"> </textarea>
<textarea *ngIf="isAutoSizeable"
  AutoResize
  [placeholder]="placeholder"
  (keydown)="keypress()"
  (cut)="keypress()"
  (paste)="keypress()"
  (keypress)="keypress()"
  class="form-control"
  [ngClass]="{error: isInvalid, required: isRequired, dirty: isModified && !isInvalid}"
  [attr.maxlength]="maxlength"
  [(ngModel)]="value"
  [disabled]="isDisabled || isReadOnly"> </textarea>
<span *ngIf="!(isReadOnly || isDisabled || doNotShowRemainigCharacters)">
  <span *ngIf="!isAutoSizeable && isTextLengthGiven"
    class="remaining"
    [class.warn]="this.charWarning(textLength)">{{ maxlength - textLength }} characters remaining</span>
  <span *ngIf="!isAutoSizeable && !isTextLengthGiven"
    class="remaining"
    [class.warn]="isNearLimit">{{ maxlength - lengthOfString }} characters remaining</span>
</span>
