
/* .required  {
    border-left-color: #9B59B6;
}

.required:disabled {
    border-left-color: #BDC3C7;
}

.error {
    border-left: 4px solid #c0392b!important;
} */

:host.first input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
}

:host.ncp input {
  height: 100%;
}

:host.last input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
}

:host.lastish input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 4px;
}

:host input:disabled {
    text-indent: 999px;
}

.readOnly {
    color: #95a5a6;
    cursor: not-allowed;
    background-color: #eceeef;
    opacity: 1;
   }

input.autoWidth {
width: auto;
}
