<div class="modal-overlay">
  <div class="modal-container">
      <header class="full">
          <div class="row full">
              <div class="col-md-8">
                  <h3><i class="fa fa-history tyellow2"></i> Field History</h3>
              </div>
              <div class="col-md-4 tright">
                  <a class="btn btn-back btn-secondary-outline btn-sm" title="Close Record" (click)="exit()">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
      </header>
      <section class="dialog-content pad0-1">

          <div class="row  field-name">
              <h5> {{ this.sectionName }}<span class="hist-field"> - {{this.prettyPropName}}</span></h5>
          </div>

          <div *ngIf="this.hasDeleteReasons" class="flex-row hist-item">
              <div class="flex-row" [class.col-md-4]="this.hasDeleteReasons" [class.col-md-8]="!this.hasDeleteReasons"></div>
              <div class="col-md-4 flex-row"><span class="hist-label">Delete Reason</span></div>
              <div class="col-md-4 flex-row"></div>
          </div>

          <div *ngFor="let record of this.history" class="flex-row hist-item">
              <div class="flex-row" [class.col-md-4]="this.hasDeleteReasons" [class.col-md-8]="!this.hasDeleteReasons">
                  <span *ngIf="this.dataConversion === 'default'" class="flex-row hist-value">{{record?.displayValue}}</span>
                  <span *ngIf="this.dataConversion === 'boolean'" class="hist-value">{{record?.value | yesNo}}</span>
                  <span *ngIf="this.dataConversion === 'mmDdYyyy'" class="hist-value">{{record?.displayValue}}</span>
                  <span *ngIf="this.dataConversion === 'mmYyyy'" class="hist-value">{{record?.displayValue | dateMmYyyy}}</span>
                  <span class="hist-more">&nbsp;</span>
              </div>
              <div class="col-md-4 flex-row" *ngIf="this.hasDeleteReasons">
                <!-- <span class="hist-label"><i class="fa fa-trash-alt"></i>Delete Reason</span><br />   -->
                <span class="hist-value tred small">{{record?.deleteReason}}</span>
              </div>
              <div class="col-md-4 flex-row">
                  <!-- determine if edited, created, or deleted -->
                  <app-modified-stamp [label]="record.changeType + ' by'" [author]="record.modifiedBy" [lastModified]="record.modifiedDate" [readOnly]="true"></app-modified-stamp>
              </div>
          </div>

      </section>
      <footer>
          <div class="wrapper tright">
              <button class="btn-add btn" (click)="exit()">Close</button>
          </div>
      </footer>
  </div>
</div>
