<form (ngSubmit)="onCancel()">
    <div class="restricted-access-modal modal">
      <div class="restricted-access-content">
        <h2>Restricted Access</h2>
        <br />
        <p>You are attempting to access information whose use and access is restricted by law, policy,
          and/or other guidance. This information is the property of the State of Wisconsin. It is for
          authorized users and authorized use ONLY. You are not authorized to access this data.</p>
        <button type="submit" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form>
