<div class="card">
  <div class="card-header">
    <app-ep-card-header [showEdit]="showEdit"
      [title]="'Employability Plan'"
      (editSec)="editSection()">
    </app-ep-card-header>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center"><span>Program:&nbsp;</span><span
          class="tgrey3">{{ this.employabilityPlan?.enrolledProgramName}}</span></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 d-flex justify-content-center"><span>EP Begin Date:&nbsp;</span><span
          class="tgrey3">{{ this.employabilityPlan?.beginDate | dateMmDdYyyy}}</span></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 d-flex justify-content-center"><span>EP End Date:&nbsp;</span><span
          class="tgrey3">{{ this.employabilityPlan?.endDate | dateMmDdYyyy}}</span></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 d-flex justify-content-center"><span>Create EP without
          activities?&nbsp;</span><span
          class="tgrey3">{{ this.employabilityPlan?.canSaveWithoutActivity | yesNo}}</span></div>
    </div>
    <div class="row justify-content-start"
      *ngIf="this.employabilityPlan.canSaveWithoutActivity">
      <div class="col-md-12 d-flex justify-content-start">
        <div>
          <span>Why is EP being created without an activity?&nbsp;</span><span
            class="tgrey3">{{ this.employabilityPlan?.canSaveWithoutActivityDetails}}</span>
        </div>
      </div>
    </div>

    <div class="row"
      *ngIf="this.employabilityPlan?.notes != null">
      <div class="col-md-12 justify-content-start">
        <span>Notes: </span><span class="tgrey3">{{ this.employabilityPlan?.notes}}</span>
      </div>
    </div>
  </div>
</div>
