<app-sub-header pageTitle="Participant Barriers" [goBackUrl]="goBackUrl" [participant]="participant"
  [helpComponent]="'participant-barriers-single'"></app-sub-header>
<app-sub-header-nav [mode]="'App'" activeItem="participant-barriers" [pin]="pin" [participant]="participant">
</app-sub-header-nav>


<div class="container">
  <main id="main" class="w-100" *ngIf="model">
    <div class="right">
      <app-app-history-header [rowVersion]="model?.rowVersion" [isEditHidden]="this.hasEditAccess"
        [historyDrop]="this.appHistoryManager?.historyDrop"
        [historyArrayLength]="this.appHistoryManager?.history.length" (onHistory)="this.toggledHistory($event)"
        (onHistorySelected)="this.loadHistorySection($event)">
      </app-app-history-header>
    </div>
    <section id="job-title" class="clearfix pad1-0">
      <div class="row text-bottom">
        <div class="col-md-3">
          <h4 class="job-title">
            {{model.barrierTypeName}}
          </h4>
        </div>
        <div class="col-md-2 p-0">
          <span>Onset Month <strong class="tgrey4">{{model.onsetDate}}</strong></span>
        </div>
        <div class="col-md-3" *ngIf="model.endDate != null">
          <span *ngIf="model?.wasClosedAtDisenrollment">Closed at Disenrollment <strong
              class="tgrey4">{{model.endDate}}</strong></span>
          <span *ngIf="model?.wasClosedAtDisenrollment == false">End Month <strong
              class="tgrey4">{{model.endDate}}</strong></span>
        </div>

        <div class="col-md-3" *ngIf="model.endDate == null">
          <span class="tgrey4">Ongoing Barrier</span>
        </div>
        <div class="col-md-4">
          <blockquote class="history" *ngIf="model && model?.modifiedBy">
            <div class="lastEdit right xsmall tright pad0-1" *ngIf="model && model.modifiedBy">
              <i *ngIf="model.isDeleted === false" class="fa fa-pencil-alt"></i>
              <span *ngIf="model.isDeleted === true">Deleted by</span>
              <span *ngIf="model.isDeleted === false">Last Edited by</span>
              <strong class="languages-lastEdit-author">
                {{model?.modifiedBy}}
              </strong>
              <br />
              <i class="fa fa-calendar"></i>
              <strong class="languages-lastEdit-date" *ngIf="model && model.modifiedDate">
                {{model?.modifiedDate | date:'short'}}
              </strong>
            </div>
          </blockquote>
        </div>
      </div>
    </section>

    <section class="barrier-info">

      <dl class="row" *ngIf="model.barrierSubType.barrierSubTypeNames?.length > 0">
        <dt class="col-md-3">Barrier Subtype(s)</dt>
        <dd class="col-sm-9 wrapword">
          <ul>
            <li *ngFor="let st of model.barrierSubType.barrierSubTypeNames">{{st}}</li>
          </ul>
        </dd>
      </dl>

      <dl class="row" *ngIf="model.details">
        <dt class="col-md-3">Barrier Details</dt>
        <dd class="col-sm-9 wrapword" *ngIf="model.details">
          {{model.details}}
        </dd>
      </dl>

      <div class="row">
        <div class="col-md-12">
          <!--<label>Treatment Provider</label><br />-->
          <app-history-alert *ngIf="isHistoryActive"></app-history-alert>
          <app-contacts-repeater class="tabled" isReadOnly="true" [(ngModel)]="model.contacts" [pin]="pin"
            [inHistory]="isHistoryActive">
          </app-contacts-repeater>
        </div>
      </div>
    </section>

    <hr class="spacer" />

    <section class="formal-assessment"
      *ngIf="!model.formalAssessments[0]?.id && model.barrierTypeName != 'Domestic Violence'">
      <p class="pad2-0 tcenter tgrey2">No Formal Assessments</p>
    </section>

    <section class="formal-assessment" *ngIf="model.formalAssessments[0]?.id">

      <h4 class="partTitle">Formal Assessments</h4>
      <div class="card pad0-1" *ngFor="let fa of model.formalAssessments">
        <div class="row">
          <div class="col-md-3">
            <label>Referral Date</label> <br />
            <p *ngIf="fa.referralDeclined === true">Declined</p>
            <p *ngIf="fa.referralDeclined !== true">{{fa.referralDate}}&nbsp;</p>
          </div>
          <div class="col-md-9">
            <label>Details</label> <br />
            <p>{{fa.referralDetails}}&nbsp;</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>Assessment Date</label> <br />
            <p *ngIf="fa.assessmentNotCompleted">Not Completed</p>
            <p *ngIf="fa.assessmentNotCompleted != true">{{fa.assessmentDate}}&nbsp;</p>
          </div>
          <div class="col-md-9">
            <label>Details</label> <br />
            <p>{{fa.assessmentDetails}}&nbsp;</p>
          </div>
        </div>

        <div class="row" *ngIf="fa.isAssessmentDateEntered()">
          <div class="col-md-3">
            <label>How long will the symptoms likely last?</label> <br />
            <p>{{fa.symptomName}}&nbsp;</p>
          </div>
          <div class="col-md-3">
            <label>Recommended Reassessment Date</label> <br />
            <p *ngIf="fa.isRecommendedDateNotNeeded == true">Not Needed</p>
            <p *ngIf="fa.isRecommendedDateNotNeeded != true">
              <i class="fa fa-exclamation-triangle tred" *ngIf="fa.hasReassessmentRecommendedDatePassed == true"></i>
              {{fa.reassessmentRecommendedDate}}&nbsp;
            </p>
          </div>
          <div class="col-md-6">
            <label>Details</label> <br />
            <p>{{fa.symptomDetails}}&nbsp;</p>
          </div>
        </div>

        <div *ngIf="!fa.isParticipationHoursInformationHidden()" class="row">
          <div class="col-md-4">
            <label>Hours the individual can participate</label> <br />
            <p>{{fa.hoursParticipantCanParticipate}} <span *ngIf="fa.hoursParticipantCanParticipate != null">Hours
                per</span> {{fa.hoursParticipantCanParticipateIntervalDesc}}&nbsp;</p>
          </div>
          <div class="col-md-8">
            <label>Details</label> <br />
            <p>{{fa.hoursParticipantCanParticipateDetails}}&nbsp;</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!--<label>Assessment Provider</label><br />-->
            <app-contacts-embed class="tabled" isReadOnly="true" [pin]="pin"
              [(ngModel)]="fa.assessmentProviderContactId"></app-contacts-embed>
          </div>
        </div>
      </div>

    </section>

    <hr class="spacer" />

    <section class="accommodations"
      *ngIf="!model.barrierAccommodations[0]?.id && model.barrierTypeName != 'Domestic Violence'">
      <p class="pad2-0 tcenter tgrey2">No Accommodations</p>
    </section>

    <section class="accommodations" *ngIf="model.barrierAccommodations[0]?.id">
      <h4 class="partTitle">Accommodations</h4>

      <table class="w-100">
        <thead>
          <tr class="acco-head d-flex">
            <td class="col-md-4">Accommodation for</td>
            <td class="col-md-2">Begin Date</td>
            <td class="col-md-2">End Date</td>
            <td class="col-md-4">Details</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ba of model.barrierAccommodations; let i=index" class="d-flex">
            <td class="col-md-4">
              {{ba.accommodationName}}
            </td>
            <td class="col-md-2">
              {{ba.beginDate}}
            </td>
            <td class="col-md-2">
              {{ba.endDate}}
            </td>
            <td class="col-md-4">
              {{ba.details}}
            </td>
          </tr>
        </tbody>
      </table>

    </section>

    <hr class="spacer" />

    <hr />

    <div class="full tright">
      <button type="button" class="btn btn-add" (click)="goBackToList()"><i class="fa fa-angle-left"></i> Back to List
      </button>
    </div>

  </main>
</div>
