
:host app-date-mm-dd-yyyy {
  height:100%;
  padding:0;
  margin: 0;
}

:host app-date-mm-dd-yyyy input {
  height:100%;
  border-radius: .25rem 0 0 .25rem;
  border-right:none;
}

app-date-mm-dd-yyyy input.error {
  border-left: 4px solid #c0392b!important;
}

/*:host app-date-mm-dd-yyyy.dirty input {
  border-left: 4px solid #f1c40f;
}*/

.required  {
  border-left-color: #9B59B6;
}
