<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
<div class="row">
  <div class="col-md-12 tright small">
    <button class="btn btn-add" [class.baseless]="housingHistories?.length > 0" (click)="addHistoricalHousingRecord()">+
      Add Housing Situation</button>
  </div>
</div>

<fieldset class="hist-table">

  <div class="hist-table-holder pad0-1" *ngFor="let history of housingHistories; let i=index">
    <fieldset [disabled]="isDisabled(i)" class="housing item housing-item" [class.ie]="isIE()">
      <div class="content">
        <div class="row">
          <div class="col-md-4 required">
            <span class="ovtitle" title="Housing Situation">Housing Situation</span>
            <app-select [(ngModel)]="history.historyType" (ngModelChange)="history.historyType = $event; checkState();"
              [isFormControl]="false" [dropDownList]="housingSituationsDrop" [isRequired]="true"
              [isInvalid]="isModelErrorsItemInvalid(i, 'historyType')" [isRequired]="true" class="tabled"></app-select>
          </div>
          <div class="col-md-2 required">
            <span class="ovtitle" title="Begin Date">Begin Date</span>
            <app-date-mm-yyyy-input [(ngModel)]="history.beginDate"
              (ngModelChange)="history.beginDate = $event; checkState();"
              [errorIndicator]="isModelErrorsItemInvalid(i, 'beginDate')" [index]="i"></app-date-mm-yyyy-input>
          </div>
          <div class="col-md-2 required">
            <span class="ovtitle" title="End Date">End Date</span>
            <app-date-mm-yyyy-input [(ngModel)]="history.endDate"
              (ngModelChange)="history.endDate = $event; checkState();"
              [errorIndicator]="isModelErrorsItemInvalid(i, 'endDate')" [index]="i"></app-date-mm-yyyy-input>

          </div>
          <div class="col-md-2" [class.required]="!isEvictedDisabled(history)"
            [class.noedit]="isEvictedDisabled(history)">
            <span class="ovtitle" title="Were you evicted or forced to move?">Evicted?</span>
            <app-select [(ngModel)]="history.hasEvicted" (ngModelChange)="history.hasEvicted = $event; checkState();"
              [isDisabled]="isEvictedDisabled(history)" [isFormControl]="false" [dropDownList]="evictedDrop"
              [isInvalid]="isModelErrorsItemInvalid(i, 'hasEvicted')" [index]="i" [isRequired]="true"
              [isIdString]="true" class="tabled"></app-select>

          </div>
          <div class="col-md-2 required" (mouseleave)="SetIndex(-1)">
            <span class="ovtitle" title="Monthly Amount">Monthly&nbsp;Amount</span>
            <span class="prefix" [class.hidden]="history.isAmountUnknown">$</span>
            <app-currency-input (isFocused)="SetIndex(i)" [(ngModel)]="history.monthlyAmount"
              (ngModelChange)="history.monthlyAmount = $event; checkState();"
              [errorIndicator]="isModelErrorsItemInvalid(i, 'monthlyAmount')" [index]="i"
              [class.unknown]="history.isAmountUnknown"></app-currency-input>
            <div class="null-option" (mouseover)="SetIndex(i)" [class.hidden]="isUnknownHidden(i)">
              <app-radio-button [(ngModel)]="history.isAmountUnknown"
                (ngModelChange)="history.isAmountUnknown = $event; checkState();" [NgLabel]="'Unknown'">
              </app-radio-button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" [class.backgroundError]="isModelErrorsItemInvalid(i, 'details')"
            [class.required]="isDetailsRequired(history)">
            <span class="ovtitle" title="Housing Situation - Details">Details</span>
            <app-text-area [isAutoSizeable]="true" [placeholder]="'Details'" [(ngModel)]="history.details"
              (ngModelChange)="history.details = $event; checkState();"
              [isInvalid]="isModelErrorsItemInvalid(i, 'details')" [maxlength]="380"></app-text-area>
          </div>
        </div>
      </div>

      <ul class="controls">
        <li class="table-action" [hidden]="!isDisabled(i)" (click)="editHistoricalHousingRecord(history)"><i
            class="fa fa-pencil-alt" title="edit"></i></li>
        <!-- if fieldset is disabled -->
        <li class="table-action select" [hidden]="isDisabled(i)" (click)="confirmAndAddHistoricalHousingRecord(history)"
          [class.error]="!isHistoricalHousingSectionValid"><i class="fa fa-check" title="save"></i></li>
        <!-- if fieldset is being edited -->
        <li class="table-action" (click)="deleteHistoricalHousingRecord(history)"><i class="fa fa-trash-alt"
            title="delete"></i></li>
      </ul>
    </fieldset>
  </div>
</fieldset>
