<div id="app-container">
  <header class="nav-header">
    <div class="wrapper">
      <div class="clearfix">
        <a class="btn btn-back btn-secondary-outline btn-sm"
          (click)="cancel()">
          <i class="fa fa-times"></i>
        </a>
        <h1 id="pageTitle"
          class="px-3">Print Work History</h1>
      </div>
    </div>
  </header>
  <div class="app-content pt-3">
    <div class="wrapper row align-items-center"
      *ngFor="let emp of tempEmps">
      <div class="col-md-1 controls">
        <app-radio-button [NgLabel]="''"
          [(ngModel)]="emp.isSelected"
          (ngModelChange)="checked = $event; getEmployments(emp, $event)"></app-radio-button>
      </div>
      <div class="col-md-2">
        <h6>Job Type</h6>
        <p class="tgrey3 wrapword">{{emp.jobTypeName}}</p>
        <h6>Company/Organization Name</h6>
        <p class="tgrey3 wrapword">{{emp.companyName}}</p>
      </div>
      <div class="col-md-2">
        <h6>Position Name</h6>
        <p class="tgrey3 wrapword">{{emp.jobPosition}}</p>
        <h6>Company/Organization Location</h6>
        <p class="tgrey4 small semibold">{{emp.location?.fullAddress}}
          <br *ngIf="emp.location?.fullAddress" />{{emp.location.description}}
          {{emp.location.zipAddress}}</p>
      </div>
      <div class="col-md-2">
        <h6>Job Begin Date</h6>
        <p class="tgrey3 wrapword">{{emp.jobBeginDate | dateMmDdYyyy}}</p>
        <h6>Avg Weekly Hours</h6>
        <p class="tgrey3 wrapword">{{emp.wageHour.currentAverageWeeklyHours}}</p>
      </div>
      <div class="col-md-2">
        <h6>Job End Date</h6>
        <p *ngIf="emp.jobEndDate"
          class="tgrey3 wrapword">{{emp.jobEndDate | dateMmDdYyyy}}</p>
        <p *ngIf="!emp.jobEndDate"
          class="tgrey3 wrapword"><br /></p>
      </div>
      <hr />
    </div>
    <div class="wrapper tright">
      <button (click)="cancel()"
        class="btn btn-add">Cancel</button>
      <button *ngIf="!pdfLoaded && selectedEmpsForPrint.length === 0"
        class="btn btn-primary btn-save disabled">Generate
        PDF</button>
      <button *ngIf="!pdfLoaded && selectedEmpsForPrint.length > 0"
        (click)="generatePdf()"
        class="btn btn-primary btn-save">Generate PDF</button>
      <button *ngIf="pdfLoaded"
        class="btn btn-primary btn-save disabled"><i
          class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>Generating PDF</button>
    </div>
  </div>
</div>
