
<ng-container *ngIf="isLoaded else loading">
  <app-worker-level-pop-claims-list data-test="pop-claims-list"
    *ngIf="isPinBased && !inEditMode"
    (addPOP)="onAddPOP()"
    [pin]="pin"
    [popClaims]="popClaims"
    [POPClaimTypes]="POPClaimTypes"
    [participant]="participant"></app-worker-level-pop-claims-list>
  <app-agency-level-pop-claims-list data-test="pop-claims-list"
    *ngIf="!isPinBased && !inEditMode"
    [POPClaimTypes]="POPClaimTypes"
    [popClaims]="popClaims" (onExitSingleEntry)="exitSingleEntryView()"></app-agency-level-pop-claims-list>
  <app-pop-claims-edit *ngIf="inEditMode"
    [popClaims]="popClaims"
    [participant]="participant"
    (onExitEditMode)="exitEditView()"
    [POPClaimTypes]="POPClaimTypes"
    [pin]="pin"></app-pop-claims-edit>
</ng-container>
<ng-template #loading>
    <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Loading POP Claims'"></app-loading>
</ng-template>
