<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net462" />
  <package id="JetBrains.dotMemoryUnit" version="2.3.20160517.113140" targetFramework="net462" />
  <package id="Moq" version="4.7.63" targetFramework="net462" />
  <package id="Serilog" version="2.4.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Seq" version="3.3.2" targetFramework="net462" />
  <package id="SerilogMetrics" version="2.0.3" targetFramework="net462" />
  <package id="Shouldly" version="2.8.3" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>