<app-sub-header *ngIf="!isInEditMode"
  pageTitle="Worker Task List"
  [goBackUrl]="goBackUrl"
  [helpComponent]="'worker-task-list'"></app-sub-header>

<main *ngIf="!isInEditMode"
  class="pad1"
  id="workerTaskList">

  <div *ngIf="!isLoaded"
    class="row justify-content-center">
    <div class="">
      <blockquote class="">
        <div class="lg tgrey2 d-flex justify-content-center">
          <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
        </div>
        <span>Loading Worker Task(s)</span>
      </blockquote>
    </div>
  </div>

  <div *ngIf="isLoaded"
    class="action-control">
    <div class="top-controls">
      <div class="row m-0 pb-1" *ngIf="showWorkerDrop">
        <div class="col-md-2 offset-md-7 d-flex justify-content-end align-items-center">Worker:</div>
          <app-auto-complete
          [dropDownList]="this.workerDrop"
          [(ngModel)]="this.selectedWorker"
          [placeHolder]="'Worker'"
          (ngModelChange)="this.selectedWorker = $event; this.selectedWorkerNameChange();"
          [isDisabled]="this.workerDrop == null || this.workerDrop.length == 0"
          class="col-md-3"></app-auto-complete>
      </div>
      <div class="row m-0 pb-1">
        <div class="col-md-3">
           <input class="w-100 search"
            [(ngModel)]="searchQuery"
            (ngModelChange)="filter()"
            maxlength="120"
            placeholder="Search" />
        </div>
         <app-multi-select-dropdown class="col-md-3"
          [class.pr-0]="!showWorkerDrop"
          [placeholder]="'Category Type'"
          [options]="categoryTypeDrop"
          [(ngModel)]="categoryTypes"
          (ngModelChange)="categoryTypes = $event; filter();"></app-multi-select-dropdown>
          <div class="col-md-3 d-flex justify-content-end">
            <app-select [(ngModel)]="this.selectedSort"
          [icon]="'fa-sort-amount-up'"
          [floatRight]="false"
          [defaultValueId]="this.dueDateId"
          (ngModelChange)="this.selectedSort = $event; this.sortTasks();"
          [isFilter]="true"
          (onReverseSort)="this.reverseClick()"
          [dropDownList]="this.sortDrop"></app-select>
          </div>
          <app-multi-select-dropdown class="col-md-3"
          [class.pr-0]="!showWorkerDrop"
          [placeholder]="'System/Manual'"
          [options]="filterOptions"
          [(ngModel)]="filterQueryTypes"
          (ngModelChange)="filterQueryTypes = $event; filter();"></app-multi-select-dropdown>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center"
      *ngIf="!originalWorkerTasks?.length && isLoaded">
      <div *ngIf="!workerTasks?.length && isLoaded">
        <blockquote class=" pad2">
          <p>No Worker Tasks</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div *ngIf="originalWorkerTasks?.length && isLoaded">
    <div class="container">
      <div class="row justify-content-center"
        *ngIf="!workerTasks?.length">
        <div *ngIf="!workerTasks?.length">
          <blockquote class=" pad2">
            <p>No Matching Tasks</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="container"
      *ngIf="workerTasks?.length && isLoaded">
      <div class="row p-1 border-class">
        <div class="col-md-2">
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">Date</label>
            </div>
            <div class="col-md-3 pl-0">
              <label class="control-label">Category</label>
            </div>
            <div class="col-md-2">
              <label class="control-label">Due Date</label>
            </div>
            <div class="col-md-2 no-wrap pl-0">
              <label class="control-label">Days Remaining</label>
            </div>
            <div class="col-md-2">
              <label class="control-label">Priority</label>
            </div>
            <div class="col-md-1 no-wrap pl-0">
              <label class="control-label">System or Manual</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-class p-1"
        *ngFor="let workerTask of workerTasks">
        <div class="col-md-2 align-self-center cursor-style p-0"
          (click)="onSelect(workerTask.pin)">
          <div class="small">{{workerTask.fullName}}</div>
          <div>
            <span class="pin-holder info-pill">PIN &nbsp;<span
                class="small">{{workerTask.pin | padPipe:10}}</span></span>
          </div>
        </div>
        <div class="col-md-9 border-right">
          <div class="row border-bottom py-1">
            <div class="col-md-2">
              <span class="small">{{workerTask.taskDate}}</span>
            </div>
            <div class="col-md-3 pl-0">
              <span class="small">{{workerTask.categoryName}}</span>
            </div>
            <div class="col-md-2">
              <span class="small">{{workerTask.dueDate}}</span>
            </div>
            <div class="col-md-2 pl-0">
              <span class="small">{{workerTask.daysDifference}}</span>
            </div>
            <div class="col-md-2">
              <span class="small">{{workerTask.actionPriorityName}}</span>
            </div>
            <div class="col-md-1">
              <span class="small">{{workerTask.isSystemGenerated ? 'S' : 'M'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="small">{{workerTask.taskDetails}}</span>
            </div>
          </div>
        </div>
        <div class="btn-item align-self-center status-holder pl-4 col-md-1"
          *ngIf="workerTask.workerTaskStatusCode === 'OP'">
          <span class="ongoing"
            title="Quick Complete"
            (click)="changeState(workerTask)"><i class="far fa-circle"></i></span>
          <span class="ongoing"
            title="Reassign"
            (click)="reassign(workerTask)">
            <i class="wwp-reassign"></i></span>
          <span class="ongoing"
            *ngIf="!workerTask.isSystemGenerated"
            title="Edit"
            (click)="onEdit(workerTask)">
            <i class="fa fa-pencil-alt"></i></span>
        </div>
        <div class="col-md-1 c-info dont-print"
          *ngIf="workerTask.workerTaskStatusCode === 'CP'">
          <div class="info-thirds">
            <div class="info-completed">
              <span class="ci-label tgreen3"><i class="fa fa-calendar-check mr-1"></i>Date Completed</span>
              <span class="ci-value">{{workerTask?.statusDate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-worker-task-edit *ngIf="isInEditMode"></app-worker-task-edit>
