:host {
  position: relative;
}

:host .multi-select {
  position: relative;
}

:host .multi-select button {
  display: block;
  border: 1px solid #bdc3c7;
  background: #fff;
  color: #55595c;
  border-left-width: 4px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
:host .multi-select button .fa-caret-down {
  float:right;
}

:host .multi-select button.required {
  border-left-color: #9b59b6;
}

:host .multi-select button.dirty {
  border-left-color: #f1c40f;
}

:host .multi-select button.error {
  border-left-color: #e74c3c;
}

:host .multi-select button.disabled {
  display: block;
  border: 1px solid #9ca1a5;
  background: #eceeef;
  color: #55595c;
  border-left-width: 4px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

:host .multi-select button.valueLocked {
  background: #ECF0F1;
  opacity: 1;
  text-indent: 0px !important;
  border-left-color: #bdc3c7;
  color: #95a5a6 !important;
}

:host.first .multi-select button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
}

:host.last .multi-select button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host .multi-select span.dn-arrow {
  position: absolute;
  right: 0;
  top: 0;
  color: #7f8c8d;
  z-index: 400;
  padding: 0.45rem;
  display: block;
}

:host .multi-select span.dn-arrow:hover {
  cursor: pointer;
}

:host.tabled>span {
  /* display: inline;
width: inherit; */
  font-size: 1rem!important;
}

:host.tabled .multi-select button {
  /* font-size: 0.9em; */
  width: 100% !important;
  line-height: 1em;
  padding: 1em;
  margin: 0;
  color: #373a3c;
  height: 4em;
  background-color: transparent;
  padding-top: 2em;
  border-left: none !important;
  border: none;
}

:host .multi-select .dropdown-holder {
  width: 100%;
  display: inline-block;
  position: relative;
}

:host .multi-select ul.dropdown-menu {
  width: 100%;
}

:host .multi-select ul.dropdown-menu li {
  padding: 0;
  margin: 0;
}

:host .multi-select ul.dropdown-menu li a {
  color: #7f8c8d;
  outline: none;
  text-decoration: none;
  display: block;
  padding: 0.25em;
}

:host .multi-select ul.dropdown-menu li a:hover {
  background: #ecf0f1;
  outline: none;
  text-decoration: none;
}

:host .multi-select ul.dropdown-menu li a.selected {
  background: rgba(46, 204, 113, .25);
  color: #7f8c8d;
}

:host .multi-select ul.dropdown-menu li a.disabled {
  color: #bdc3c7;
  /*background:#ecf0f1;*/
}

:host .multi-select ul.dropdown-menu li a.disabled:hover {
  cursor: not-allowed;
  background: none;
}

:host .multi-select ul.dropdown-menu li a i {
  width: 1.25em;
  display: inline-block;
  text-align: center;
}

:host .multi-select ul.dropdown-menu li a.selected i {
  color: #27ae60;
}

:host .multi-select ul.dropdown-menu li a input {
  width: 0;
  height: 0;
  opacity: 0;
}

:host.tabled {
  display: block;
}

:host.tabled ul.dropdown-menu {
  left: auto;
  right: 0;
}


/* :host .multi-select button.error {
border-color: #e74c3c!important;
box-shadow: 0 0 3px #e74c3c;
}

:host .multi-select button.required {
border-left-color: #9B59B6;
}

.dirty {
border-left: 4px solid #f1c40f!important;
}

:host .multi-select button:focus {
border-color: #66afe9!important;
border-left-color: #66afe9!important;
box-shadow: 0 0 3px #66afe9;
} */


/*
.test {
display: inline-block;
} */


/* Filter-Sort Display */

:host .sort-holder {
  position: relative;
}

:host .btn-holder>button.btn,
.btn-group>button.btn {
  /* font-size: 0.8em; */
  border-radius: 0;
  text-align: left;
}

.sort-holder .btn-group>button.btn:hover {
  background: #F5F7F8;
}

.sort-holder .btn-group>button.btn:first-child {
  min-width: 200px;
  max-width: 225px;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.sort-holder .btn-group>button.btn:first-child::after {
  /* content: ""; */
  align-content: right;
  position: absolute;
  display: block;
  width: 0px;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: 0 0 10px 10px #fff;
  z-index: 200;
}

.sort-holder .btn-group>button.btn:first-child:hover::after {
  box-shadow: 0 0 10px 10px #F5F7F8;
}

.sort-holder .btn-group>button.btn:first-child:active::after,
.sort-holder .btn-group>button.btn:first-child:focus::after {
  box-shadow: 0 0 10px 10px #E6E6E6;
}

.sort-holder .btn-group>button.sort-btn {
  z-index: 200;
}

.sort-holder .sort-select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 200px;
  max-width: 275px;
  height: auto;
  overflow: visible;
  border: 1px solid #bdc3c7;
  background: #fff;
  z-index: 500;
  margin-top: -1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.sort-holder .sort-select li {
  padding: 0.5em;
  border-bottom: 1px solid #ecf0f1;
}

.sort-holder .sort-select li.select {
  padding: 0.5em;
  border-bottom: 1px solid #bdc3c7;
}

.sort-holder .sort-select li:last-child,
.sort-holder .sort-select li.select:last-child {
  border-bottom: none;
}

.sort-holder .sort-select li:hover {
  background: #F5F7F8;
  cursor: pointer;
}

.sort-holder .sort-select li.select {
  background: #ecf0f1;
}

.sort-holder .sort-select li.select .st-title {
  color: #2980b9;
}

.sort-holder .sort-select li:hover .st-title {
  color: #2980b9;
}

.sort-holder .sort-select li .st-title {
  display: block;
  font-weight: 500;
  clear: both;
}

.sort-holder .sort-select li .st-desc {
  /* font-size: 0.75em; */
  color: #95a5a6;
  font-weight: 600;
}

.fs {
  /* font-size: 0.9rem; */
}
