:host {
  font-size: 0.9em;
}


.input-group span.input-group-addon.gapless {
  width:0;
  padding:0;
  border:0;
}

.caretaker {
  border: 1px solid #bdc3c7;
  background: rgba(255,255,255,.5);
  padding: 0.5em;
  border-bottom:none;
}

:host .add-holder {
  padding:0;
}

:host .caretaker-holder {
  padding:0;
}

:host .caretaker-repeater {
  padding-top: 1em;
}
