<fieldset class="ncp-repeat repeat rel pad1-0">
  <div class="row">
    <div class="col-md-6">
      <h4>Primary Caretaker</h4>
    </div>
    <div class="col-md-6">
      <h4>Children</h4>
    </div>
  </div>

  <div class="row caretaker-holder">
    <div class="col-md-12">
      <div class="row caretaker"
        *ngFor="let caretaker of models; let i=index">
        <div class="col-md-6">
          <fieldset class="caretaker-repeater">
            <div class="row">
              <div class="col-md-12">
                <label>First Name</label>
                <div class="input-group">
                  <app-text-input [(ngModel)]="caretaker.firstName"
                    (ngModelChange)="caretaker.firstName = $event; onChangeCallback(models);"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'firstName')"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')"
                    [isRequired]="isRepeaterRowRequired(i)"
                    [isDisabled]="caretaker.isFirstNameUnknown"
                    [maxLength]="120"
                    type="text"
                    class="first ncp col-md-8 p-0">
                  </app-text-input>
                  <app-radio-button [(ngModel)]="caretaker.isFirstNameUnknown"
                    (ngModelChange)="caretaker.isFirstNameUnknown = $event; onChangeCallback(models);"
                    [NgLabel]="'Unknown'"
                    class="col-md-4 input-group-append input-group-text last">
                  </app-radio-button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Last Name</label>
                <div class="input-group">
                  <app-text-input [(ngModel)]="caretaker.lastName"
                    (ngModelChange)="caretaker.lastName = $event; onChangeCallback(models);"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'lastName')"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')"
                    [isRequired]="isRepeaterRowRequired(i)"
                    [maxLength]="120"
                    [isDisabled]="caretaker.isLastNameUnknown"
                    type="text"
                    class="first ncp col-md-8 p-0">
                  </app-text-input>
                  <app-radio-button [(ngModel)]="caretaker.isLastNameUnknown"
                    (ngModelChange)="caretaker.isLastNameUnknown = $event; onChangeCallback(models);"
                    [NgLabel]="'Unknown'"
                    class="col-md-4 input-group-append input-group-text last">
                  </app-radio-button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>Relationship to Child(ren)</label>
                <div class="input-group flex-row">
                  <app-select [(ngModel)]="caretaker.nonCustodialParentRelationshipId"
                    (ngModelChange)="caretaker.nonCustodialParentRelationshipId = $event; onChangeCallback(models);"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'nonCustodialParentRelationshipId')"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'nonCustodialParentRelationshipId')"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'nonCustodialParentRelationshipId')"
                    [isRequired]="isRepeaterRowRequired(i)"
                    (ngModelChange)="caretaker.nonCustodialParentRelationshipId = $event;"
                    [dropDownList]="ncpRelationshipDrop"
                    [isRequired]="false"
                    class="first"></app-select>
                  <span class="input-group-addon gapless"></span>
                  <app-text-area [maxlength]="380"
                    [(ngModel)]="caretaker.relationshipDetails"
                    (ngModelChange)="caretaker.relationshipDetails = $event; onChangeCallback(models);"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'relationshipDetails')"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'relationshipDetails')"
                    [isRequired]="isRepeaterRowRequired(i) && caretaker.isRelationshipDetailsRequired(ncpRelationshipDrop)"
                    [cacheInnerValue]="caretaker.cached?.relationshipDetails"
                    [isAutoSizeable]="true"
                    [placeholder]="'Details'"
                    class="inline last"></app-text-area>
                </div>
              </div>
            </div>

            <div *ngIf="!caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)"
              class="row">
              <!-- Hide if name & relationship is unknown -->
              <div class="col-md-12">
                <label>How often do you have contact with this person?</label>
                <div class="input-group flex-row">
                  <app-select [(ngModel)]="caretaker.contactIntervalId"
                    (ngModelChange)="caretaker.contactIntervalId = $event; onChangeCallback(models);"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'contactIntervalId')"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalId')"
                    [isRequired]="isRepeaterRowRequired(i)"
                    (ngModelChange)="caretaker.contactIntervalId = $event;"
                    [dropDownList]="contactIntervalDrop"
                    class="first"></app-select>
                  <span class="input-group-addon gapless"></span>
                  <app-text-area [maxlength]="380"
                    [(ngModel)]="caretaker.contactIntervalDetails"
                    (ngModelChange)="caretaker.contactIntervalDetails = $event; onChangeCallback(models);"
                    [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalDetails')"
                    [cacheInnerValue]="getInitialModelValue(caretaker.id, 'contactIntervalDetails')"
                    [isRequired]="isRepeaterRowRequired(i) && caretaker.isContactIntervalDetailsRequired(contactIntervalDrop)"
                    [cacheInnerValue]="caretaker.cached?.contactIntervalDetails"
                    [isAutoSizeable]="true"
                    [placeholder]="'Details'"
                    class="inline last"></app-text-area>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Hide if name & relationship is unknown -->
              <div class="col-md-12">
                <label *ngIf="!caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)">Is there anything you
                  would
                  like to change about your relationship with this person? </label><br />
                <div class="row">
                  <div class="col-md-4">
                    <app-yes-no-basic *ngIf="!caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)"
                      [(ngModel)]="caretaker.isRelationshipChangeRequested"
                      (ngModelChange)="caretaker.isRelationshipChangeRequested = $event; onChangeCallback(models);"
                      [errorIndicator]="isModelErrorsItemInvalid(i, 'isRelationshipChangeRequested')"
                      [cacheInnerValue]="getInitialModelValue(caretaker.id, 'isRelationshipChangeRequested')"
                      [isRequired]="isRepeaterRowRequired(i)"></app-yes-no-basic>
                  </div>
                  <div class="col-md-8 pl-0">
                    <app-text-area *ngIf="!caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)"
                      [maxlength]="380"
                      [(ngModel)]="caretaker.relationshipChangeRequestedDetails"
                      (ngModelChange)="caretaker.relationshipChangeRequestedDetails = $event; onChangeCallback(models);"
                      [isRequired]="isRepeaterRowRequired(i) && caretaker.isRelationshipChangeRequested"
                      [isInvalid]="isModelErrorsItemInvalid(i, 'relationshipChangeRequestedDetails')"
                      [cacheInnerValue]="getInitialModelValue(caretaker.id, 'relationshipChangeRequestedDetails')"
                      [isAutoSizeable]="true"
                      [placeholder]="'Details'"></app-text-area>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Hide if name & relationship is unknown -->
              <div class="col-md-12">
                <label
                  *ngIf="caretaker.isRelationshipChangeRequested && !caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)">Would
                  you be interested in getting a referral to help improve your relationship with this person,
                  if this
                  person is willing? </label>
                <div class="row">
                  <div class="col-md-4">
                    <app-yes-no-basic
                      *ngIf="caretaker.isRelationshipChangeRequested && !caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)"
                      [(ngModel)]="caretaker.isInterestedInRelationshipReferral"
                      (ngModelChange)="caretaker.isInterestedInRelationshipReferral = $event; onChangeCallback(models);"
                      [errorIndicator]="isModelErrorsItemInvalid(i, 'isInterestedInRelationshipReferral')"
                      [cacheInnerValue]="getInitialModelValue(caretaker.id, 'isInterestedInRelationshipReferral')">
                    </app-yes-no-basic>
                  </div>
                  <div class="col-md-8 pl-0">
                    <app-text-area
                      *ngIf="caretaker.isRelationshipChangeRequested && !caretaker.isContactIntervalIdHidden(ncpRelationshipDrop)"
                      [isRequired]="isRepeaterRowRequired(i) && caretaker.isInterestedInRelationshipReferral"
                      [maxlength]="380"
                      [isInvalid]="isModelErrorsItemInvalid(i, 'interestedInRelationshipReferralDetails')"
                      [(ngModel)]="caretaker.interestedInRelationshipReferralDetails"
                      (ngModelChange)="caretaker.interestedInRelationshipReferralDetails = $event; onChangeCallback(models);"
                      [cacheInnerValue]="getInitialModelValue(caretaker.id, 'interestedInRelationshipReferralDetails')"
                      [isAutoSizeable]="true"
                      [placeholder]="'Details'"></app-text-area>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="col-md-6">
          <app-ncp-child-repeater (moveNonCustodialChild)="moveNonCustodialChild($event)"
            [availableCaretackersDrop]="availableCaretackersDrop"
            [modelsDeleted]="caretaker.deletedNonCustodialChilds"
            [modelErrors]="getModelErrors(i, 'nonCustodialChilds')"
            [parentIndex]="i"
            [cachedInitialModels]="getInitialModelValue(caretaker.id, 'nonCustodialChilds')"
            [nonCustodialCaretakerModel]="caretaker"
            [contactIntervalDrop]="contactIntervalDrop"
            [polarDrop]="polarDrop"
            [(ngModel)]="caretaker.nonCustodialChilds"
            (ngModelChange)="caretaker.nonCustodialChilds = $event; onChangeCallback(models);">
          </app-ncp-child-repeater>
        </div>

        <hr *ngIf="areChildrenEmpty(i)" />

        <div class="col-md-12 p-0 control">
          <div class="del-reason-holder"
            *ngIf="areChildrenEmpty(i)">
            <app-delete-reason-button [type]="'ncpCareTaker'"
              [objectWatched]="caretaker"
              (deletedObject)="this.deleteFromRepeater($event)"></app-delete-reason-button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="add-holder d-flex col-md-12 justify-content-end">
      <button (click)="addToRepeater()"
        class="btn btn-add"><i class="fa fa-plus"></i> Add Caretaker &amp;
        Child(ren)</button>
    </div>
  </div>

</fieldset>
