<app-sub-header pageTitle="Payment Details"
  [goBackUrl]="goBackUrl"
  [participant]="participant"
  [helpComponent]="'payment-details'">
</app-sub-header>
<div class="container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Payment Details'"></app-loading>
  <div class="container"
    *ngIf="isLoaded">
    <div class="row align-items-center py-1">
      <label class="col-md-3 pl-0">Participation Period</label>
      <app-select class="col-md-4"
        [dropDownList]="participationPeriodDrop"
        [isRequired]="true"
        [(ngModel)]="participationPeriodId"
        [cacheInnerValue]="cachedPeriodId"
        (ngModelChange)="getCaseNumbersBasedOnParticipationPeriod();">
      </app-select>
      <app-select class="col-md-2"
        [dropDownList]="yearsDrop"
        [(ngModel)]="periodYear"
        [cacheInnerValue]="cachedYear"
        (ngModelChange)="getCaseNumbersBasedOnParticipationPeriod();"
        [isRequired]="true">
      </app-select>
      <span class="col-md-3 d-flex justify-content-end pr-0"
        *ngIf="participationPeriodId && periodYear && showBatchDetailsButton">
        <button *ngIf="!isPdfLoading"
          class="btn btn-save"
          (click)="generatePdf()">
          <i class="fas fa-print"></i> Batch Details Report
        </button>
        <button *ngIf="isPdfLoading"
          class="btn btn-primary btn-save disabled"><i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>
          Batch
          Details
          Report</button>
      </span>
    </div>
    <div class="row p-1"
      *ngIf="caseNumberDrop?.length > 0 && caseNumberDataLoaded">
      <div class="col-md-3 pl-0">
        <label>Case Number</label>
      </div>
      <div class="col-md-4">
        <app-select [isReadOnly]="caseNumberDrop?.length === 1"
          [dropDownList]="caseNumberDrop"
          [(ngModel)]="caseNumberId"
          (ngModelChange)="getDetailsBasedonParticipationPeriod();"
          [isRequired]="true">
        </app-select>
      </div>
    </div>

    <div *ngIf="issuanceMonth"
      class="row p-1">
      <div class="col-md-3 pl-0">
        <label>Issuance Month</label>
      </div>
      <app-date-mm-dd-yyyy class="col-md-3"
        [isReadOnly]="true"
        [isBorderRequired]="false"
        [(ngModel)]="issuanceMonth">
      </app-date-mm-dd-yyyy>
    </div>
    <div
      *ngIf="(participationPeriodId && periodYear && responseLoaded && !isPaymentdetailsExists) || (caseNumberDrop?.length ===0 && caseNumberDataLoaded)"
      class="row align-items-center justify-content-center pt-3 mt-3 tgrey4">
      No Payment Details Available for This Period
    </div>
    <ng-container *ngIf="participationPeriodId && periodYear && isPaymentdetailsExists">
      <div *ngFor="let detail of paymentDetailsModel.participantPaymentHistories; index as i">
        <div class="row align-items-center pt-1">
          <h4>
            <strong>{{detail.header}}</strong>
          </h4>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3 pl-0"><strong>{{detail.pmtLbl}}</strong></label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.baseW2Payment">
            </app-numerical-input>
          </div>
        </div>
        <div *ngIf="!detail.isDelayed && !detail.isOriginal && !!detail.baseW2PaymentDelayedCycle" class="row align-items-center">
           <label class="col-md-3 pl-0">+ Base W-2 Payment - Delayed Cycle</label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.baseW2PaymentDelayedCycle">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3">- Drug Felon Penalty</label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.drugFelonPenalty">
            </app-numerical-input>
          </div>
        </div>
                 <div *ngIf="!detail.isDelayed && !detail.isOriginal && !!detail.drugFelonPenaltyDelayedCycle" class="row align-items-center">
           <label class="col-md-3 pl-0">- Drug Felon Penalty - Delayed Cycle</label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.drugFelonPenaltyDelayedCycle">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3">- Recoupment</label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.recoupment">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3">- Learnfare Penalty</label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.learnfarePenalty">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 pr-0">
            <div class="d-flex flex-row-reverse">
              <div class="col-md-6 pl-1">
                <hr class="my-1 pb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3 pl-0"><strong>Adjusted Base Payment</strong></label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.adjustedBasePayment">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <label class="col-md-3">- Non-Participation Reduction</label>
          <div class="col-md-3 input-group flex-nowrap"
            *ngIf="!detail.isDelayed">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="detail.nonParticipationReduction">
            </app-numerical-input>
          </div>
          <div class="col-md-3 input-group flex-nowrap"
            *ngIf="detail.isDelayed">
            <app-text-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [(ngModel)]="nonParticipationReductionText">
            </app-text-input>
          </div>
        </div>

        <div class="row align-items-center">
          <label class="col-md-3 pl-0"><strong>Final Payment</strong></label>
          <div class="col-md-3 input-group flex-nowrap">
            <span class="input-group-prepend input-group-text">$</span>
            <app-numerical-input class="w-100 last"
              [isReadOnly]="true"
              [isBorderRequired]="false"
              [ngModel]="detail.finalPayment">
            </app-numerical-input>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 pr-0">
            <div class="d-flex flex-row-reverse">
              <div class="col-md-6 pl-2">
                <hr class="my-1 pb-2">
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="detail.switchCaseForHeader !== switchHeader.isNotOriginalAndIsNotDelayed">
          <div class="row align-items-center">
            <label class="col-md-4">- Paid to Vendor</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [(ngModel)]="detail.vendorPayment">
              </app-numerical-input>
            </div>
          </div>
          <div class="row align-items-center">
            <label class="col-md-4">- Paid to Participant</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [(ngModel)]="detail.participantPayment">
              </app-numerical-input>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="detail.switchCaseForHeader === switchHeader.isOriginalAndIsNotDelayed && detail.finalPayment < 0">
          <div class="row align-items-center">
            <label class="col-md-4">- Calculated Overpayment</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [ngModel]="math.abs(detail.finalPayment).toFixed(2)">
              </app-numerical-input>
            </div>
          </div>
        </ng-container>
        <div class="row mt-3"></div>
        <ng-template [ngIf]="detail.switchCaseForHeader === switchHeader.isNotOriginalAndIsNotDelayed || detail.switchCaseForHeader === switchHeader.isNotOriginalAndIsDelayed ">
          <div class="row align-items-center">
            <label class="col-md-4">Current Final Payment</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [ngModel]="detail.finalPayment">
              </app-numerical-input>
            </div>
          </div>
          <div class="row align-items-center"
            *ngIf="i-1>=0">
            <label class="col-md-4">- Previous Final Payment</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [ngModel]="getPreviousFinalPayment(i)">
              </app-numerical-input>
            </div>
          </div>
          <div class="row align-items-center"
            *ngIf="i-1 < 0">
            <label class="col-md-4">- Previous Final Payment</label>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [(ngModel)]="defaultFinalPayment">
              </app-numerical-input>
            </div>
          </div>
          <div class="row align-items-center">
            <ng-template [ngIf]="(+calculateDifferenceOfPayments(i) > 0)">
              <label class="col-md-4"><strong>Calculated Supplement</strong></label>
            </ng-template>
            <ng-template [ngIf]="(+calculateDifferenceOfPayments(i) < 0)">
              <label class="col-md-4"><strong>Calculated Overpayment</strong></label>
            </ng-template>
            <ng-template [ngIf]="(+calculateDifferenceOfPayments(i) == 0)">
              <label class="col-md-4"><strong>No Payment Change</strong></label>
            </ng-template>
            <div class="col-md-3 input-group flex-nowrap">
              <span class="input-group-prepend input-group-text">$</span>
              <app-numerical-input class="w-100 last"
                [isReadOnly]="true"
                [isBorderRequired]="false"
                [ngModel]="math.abs((calculateDifferenceOfPayments(i))).toFixed(2)">
              </app-numerical-input>
            </div>
          </div>
        </ng-template>
      </div>
      <ng-container
        *ngIf="paymentDetailsModel.manualAuxiliaries && paymentDetailsModel.manualAuxiliaries.length > 0">
        <div class="row align-items-center pt-1">
          <h4><strong>Manual Auxiliaries</strong></h4>
        </div>
        <div class="row align-items-center pt-1"
          *ngFor="let manulAuxiliary of paymentDetailsModel.manualAuxiliaries">
          <label class="col-md-1 pl-0 mb-0">Reason</label>
          <div class="col-md-4">
            <app-generic-text-input [ngModel]="manulAuxiliary.reason"
              [isDisabled]="true"
              [isBorderRequired]="false">
            </app-generic-text-input>
          </div>
          <div class="col-md-3 input-group flex-nowrap mb-0">
            <span class="input-group-prepend input-group-text spnFirst">$</span>
            <app-numerical-input class="last"
              [ngModel]="manulAuxiliary.amount"
              [isReadOnly]="true"
              [isBorderRequired]="false">
            </app-numerical-input>
          </div>
          <div class="col-md-4">
            <div class="row align-items-center">
              <label class="col-md-5 mb-0">Approval Date</label>
              <app-numerical-input class="col-md-7"
                [ngModel]="manulAuxiliary.approvalDate"
                [isReadOnly]="true"
                [isBorderRequired]="false">
              </app-numerical-input>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="paymentDetailsModel.UnAppliedSanctionableHours; else unAppliedHoursNull">
        <div class="row align-items-center pt-1">
          <h4><strong>Unapplied Sanctionable Hours</strong></h4>
        </div>
        <div class="row align-items-center pt-1">
          <div class="col-md-8">
            <div class="row align-items-center">
              <label class="col-md-6 mb-0">Remaining Unapplied Hours</label>
              <app-numerical-input class="col-md-6"
                [ngModel]="paymentDetailsModel.UnAppliedSanctionableHours.unAppliedHours"
                [isReadOnly]="true"
                [isBorderRequired]="false">
              </app-numerical-input>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row align-items-center">
              <label class="col-md-5 mb-0">Last Updated</label>
              <app-numerical-input class="col-md-7"
                [ngModel]="paymentDetailsModel.UnAppliedSanctionableHours.lastUpdated"
                [isReadOnly]="true"
                [isBorderRequired]="false">
              </app-numerical-input>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #unAppliedHoursNull>
        <div class="row align-items-center pt-1">
          <h4><strong>Unapplied Sanctionable Hours</strong></h4>
        </div>
        <div class="row align-items-center pt-1">
          <div class="col-md-8">
            <div class="row align-items-center">
              <label class="col-md-6 mb-0">Remaining Unapplied Hours</label>
              <app-numerical-input class="col-md-6"
                [ngModel]="0"
                [isReadOnly]="true"
                [isBorderRequired]="false">
              </app-numerical-input>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
