<!-- participantion status -html -->



<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Participantion Status Edit'"></app-loading>
  <div *ngIf="this.isLoaded && model">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitPSEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom">
          <div class="col-lg-6">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close Participation Statuses">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              class="px-3">Participation Status</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="edit-content">
      <div class="container pt-3">
        <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
        <div class="row control-group"
          *ngIf="this.canAddPSStatus?.errors != null || this.canAddPSStatus?.warnings != null">
          <div class="col-md-12 mt-2">
            <ul *ngIf="this.canAddPSStatus == null"
              class="list-group">
              <li></li>
            </ul>
            <ul *ngIf="this.canAddPSStatus?.errors != null"
              class="list-group">
              <li *ngFor="let error of this.canAddPSStatus.errors"
                class="list-group-item list-group-item-danger">
                {{error}}</li>
            </ul>
            <ul *ngIf="this.canAddPSStatus?.warnings != null"
              class="list-group">
              <li *ngFor="let warning of this.canAddPSStatus.warnings"
                class="list-group-item list-group-item-warning">
                {{warning}}</li>
            </ul>
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"
            *ngIf="model.id === 0">
            <label>Program</label>
            <br />
            <!-- #1 -->
            <app-select [(ngModel)]="model.enrolledProgramId"
              (ngModelChange)="model.enrolledProgramId = $event;initParticipationStatusTypes(); validate();"
              [dropDownList]="programDrop"
              [isDisabled]="selectedProgramNameDisabled || isEnding"
              [isRequired]="true">
            </app-select>

          </div>
          <div class="col-md-6"
            *ngIf="model.id !== 0">
            <label>Program</label>
            <app-text-input [(ngModel)]="model.enrolledProgramName"
              [isReadOnly]="isEnding"></app-text-input>
          </div>
          <div class="col-md-6"
            *ngIf="model.id === 0">
            <label>Status</label>
            <app-select *ngIf="participationStatusTypesDrop"
              [(ngModel)]="model.statusId"
              (ngModelChange)="model.statusId =$event; validate(); preCheckToAddPS();"
              [dropDownList]="participationStatusTypesDrop"
              [isInvalid]="modelErrors['statusId']"
              [isRequired]="true"
              [cacheInnerValue]="cachedModel?.statusId"
              [isDisabled]="isEnding">
            </app-select>
          </div>
          <div class="col-md-6"
            *ngIf="model.id !== 0">
            <label>Status</label>
            <app-text-input [(ngModel)]="model.statusName"
              [isReadOnly]="isEnding"></app-text-input>
          </div>
        </div>


        <div class="row pad1-0">
          <div class="col-md-6">
            <label>Begin Date</label>
            <br />
            <!-- #2 -->
            <app-date-mm-dd-yyyy [(ngModel)]="model.beginDate"
              (ngModelChange)="model.beginDate =
          $event; validate();"
              [isRequired]="!isEnding"
              [isInvalid]="modelErrors['beginDate']"
              [cacheInnerValue]="cachedModel?.beginDate"
              [datePickerRequired]="!isEnding"
              [isReadOnly]="isEnding"></app-date-mm-dd-yyyy>
          </div>
          <div class="col-md-6">
            <label>End Date</label>
            <br />
            <!-- #3 -->
            <div class="input-group">
              <app-date-mm-dd-yyyy class="w-80 first"
                [datePickerRequired]="!model.isCurrent"
                [(ngModel)]="model.endDate"
                (ngModelChange)="model.endDate =
          $event; validate();"
                [isRequired]="true"
                [isDisabled]="model.isCurrent"
                [isInvalid]="modelErrors['endDate']"
                [cacheInnerValue]="cachedModel?.endDate">
              </app-date-mm-dd-yyyy>
              <app-radio-button [ngClass]="{radioBtn: model.isCurrent}"
                [(ngModel)]="model.isCurrent"
                (ngModelChange)="model.isCurrent =
          $event; validate();"
                [NgLabel]="'Current'"
                class="w-20 last input-group-text input-group-addon"
                [cacheInnerValue]="cachedModel?.isCurrent">
              </app-radio-button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <app-text-area [(ngModel)]="model.details"
              (ngModelChange)="model.details =
          $event; validate();"
              [isRequired]="false"
              maxlength="380"
              [isAutoSizeable]="true"
              placeholder="Details"
              [cacheInnerValue]="cachedModel?.details">
            </app-text-area>
          </div>
        </div>
        <app-cancel-save-footer [hadSaveError]="hadSaveError"
          [isSaving]="isSaving"
          [isDisabled]="isSectionValid"
          (cancelEvent)="exit()"
          (saveEvent)="saveAndExit()"></app-cancel-save-footer>
      </div>
    </div>
  </div>
</div>
