<div class="app-content container"
  *ngIf="detailsLoaded && subjectdetailsLoaded">
  <app-sub-header pageTitle="Employability Plan"
    [pin]="pin"
    [employabilityPlan]="employabilityPlan"
    [isElapsedActivity]="isElapsedActivity"
    (exitToEpView)="exitToEpView()"
    [goBackUrl]="goBackUrl"
    [participant]="participant"
    [helpComponent]="'employability-plan'"></app-sub-header>
  <app-sub-header-nav [canEditEP]="isEpInProgress && hasEditEpAccess()"
    [mode]="'EmployabilityPlan'"
    [activeItem]="employabilityPlan"
    [pin]="pin"
    [epId]="employabilityPlanId"></app-sub-header-nav>

  <div class="">
    <div class="row pad1-0">
      <aside id="sidebar"
        [class.col-md-3]="!isCollapsed"
        [class.col-md-1]="isCollapsed">
        <div class="toggle-side"
          (click)="sidebarToggle()">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="participant-menu popmenu">
          <li [class.disabledFields]="isElapsedActivity"
            class="menu-item wh-add">Employability Plan</li>
          <li [class.disabledFields]="isElapsedActivity"
            class="menu-item wh-add">Goals</li>
          <li [class.disabledFields]="isElapsedActivity"
            class="menu-item wh-add">Employments</li>
          <li [class.disabledActivity]="isElapsedActivity"
            class="menu-item wh-basic">Activities</li>
          <li [class.disabledFields]="isElapsedActivity"
            class="menu-item wh-wage">Supportive Services
          </li>
        </ul>
        <div class="row card-body py-0"
          *ngFor="let ps of this.localParticipationStatuses">
          <div *ngIf="ps.isCurrent">
            <hr class="hrWidth" />
            <h6 class="psStatusFont">Status: {{ ps.statusCode}}</h6>

            <h6 class="psStatusFont">Begin Date: {{ ps.beginDate | dateMmDdYyyy}}</h6>
          </div>
        </div>
        <div class="row card-body" *ngIf="showCCAuthorizationsButton && (isEpInProgress || employabilityPlan?.employabilityPlanStatusTypeName === 'Submitted')">
          <button class="btn btn-add"
            (click)="showCCAuthorizations = !showCCAuthorizations"> View CC Authorizations</button>
        </div>
      </aside>
      <div class="col-md-9"
        *ngIf="!isElapsedActivity">
        <div class="row px-3">
          <div class="btn-group"
            *ngIf="!(isEpInProgress && hasEditEpAccess())"
            role="group">
            <button class="btn btn-add"
              (click)="showCalendarView()"> View Calendar</button>
          </div>
          <section class="overview-options pad2-0 tright"
            *ngIf="isEpInProgress && hasEditEpAccess()">
            <div class="btn-group"
              role="group">
              <button class="btn btn-add"
                (click)="showCalendarView()"> View Calendar</button>
            </div>
            <div class="btn-group"
              role="group">
              <button class="btn btn-danger btn-submit"
                (click)="delete()">
                <i class="fa fa-trash-alt"></i> Delete</button>
            </div>
            <div class="btn-group"
              role="group"
              *ngIf="!isSubmitting && !showWarningBtn()">
              <button class="btn btn-success btn-submit"
                [disabled]="!isSectionValid"
                (click)="onSubmit()">
                <i class="fa fa-paper-plane"></i> Submit</button>
            </div>
            <div class="btn-group"
              role="group"
              *ngIf="showWarningBtn()">
              <button class="btn btn-warning btn-submit"
                [disabled]="!isSectionValid"
                (click)="onSubmit(true)">
                <i class="fa fa-paper-plane"></i> Submit with Warning</button>
            </div>
            <div class="btn-group"
              role="group"
              *ngIf="this.isSubmitting">
              <button class="btn btn-success btn-submit disabled"><i
                  class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>
                Submitting</button>
            </div>
          </section>
          <!--  -->
          <div class="btn-group ml-2"
            *ngIf="showEndEPButton">
            <button class="btn btn-add overview-options"
              (click)="showEndEmployabilityPlan()">
              End Employability Plan Due to Disenrollment</button>
          </div>
          <div class="btn-group ml-2"
            *ngIf="showPrintEPButton && !pdfLoaded">
            <button class="btn btn-add overview-options"
              (click)="generatePdf()">
              Print Employability Plan</button>
          </div>
          <div class="btn-group ml-2"
            *ngIf="showPrintEPButton && pdfLoaded">
            <button class="btn btn-add overview-options disabled"><i
                class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>
              Printing Employability Plan</button>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-12">
            <ul *ngIf="precheck?.errors && precheck.errors.length > 0"
              class="list-group">
              <li *ngFor="let error of precheck.errors"
                class="list-group-item list-group-item-danger alert">{{error}}
              </li>
            </ul>
            <ul *ngIf="precheck?.warnings && precheck.warnings.length > 0"
              class="list-group">
              <li *ngFor="let warning of precheck.warnings"
                class="list-group-item list-group-item-warning alert">
                {{warning}}</li>
            </ul>
            &nbsp;
            <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-12">
            <app-employability-plan-overview [showEdit]="isEpInProgress && hasEditEpAccess()"
              [employabilityPlan]="employabilityPlan"
              (edit)="editSection($event)"
              class="">
            </app-employability-plan-overview>
          </div>
        </div>


        <div class="row py-1">
          <div class="col-md-12">
            <app-goals-overview [showEdit]="isEpInProgress && hasEditEpAccess()"
              [goals]="goals"
              (edit)="editSection($event)"
              [pin]="pin">
            </app-goals-overview>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-12">
            <app-employments-overview [showEdit]="isEpInProgress && hasEditEpAccess()"
              [employments]="this.employments"
              (edit)="editSection($event)">
            </app-employments-overview>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-12">
            <app-activity-overview [showEdit]="isEpInProgress && hasEditEpAccess()"
              [canEdit]="hasEditEpAccess()"
              [employabilityPlan]="employabilityPlan"
              [activities]="activities"
              (edit)="editSection($event)"
              (endElapsedActivities)="elapsedSection()"
              (showElapsedActivity)="elapsedSection()"
              [pin]="pin">
            </app-activity-overview>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-12">
            <app-supportive-services-overview [showEdit]="isEpInProgress && hasEditEpAccess()"
              [supportiveServices]="supportiveServices"
              (edit)="editSection($event)"></app-supportive-services-overview>
          </div>
        </div>
      </div>
      <div class="col-md-9"
        *ngIf="isElapsedActivity">
        <div class="row py-1">
          <div class="col-md-12">
            <app-elapsed-activities (showunSavedChanges)="elapsedSaveChanges($event)"
              (exitToEp)="exitToEp()"
              [pin]="pin"
              [employabilityPlan]="employabilityPlan"
              [activities]="allActivities"></app-elapsed-activities>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-dialog-box *ngIf="appService?.isDialogPresent && !appService?.isChildDialogPresent"
    (dialogClose)="exitElapsedActivityEditIgnoreChanges($event)"
    [doesNotNavigateBack]="true"></app-dialog-box>
  <div id="app-calendar-container"
    *ngIf="showCalendar">
    <div class="app-calendar-content">
      <app-calendar (closeCalendar)="closeCalendar($event)"
        (nextMonthClicked)="nextMonthClicked($event)"
        (previousMonthClicked)="previousMonthClicked($event)"
        [events]="events"
        [viewDate]="viewDate"
        [isWeeklyHoursRequired]="true"
        [isBackwardingDisabled]="isBackwardingOfCalendarDisabled"
        [isForwardingDisabled]="isForwardingofCalendarDisabled"
        [iseventsLoaded]="iseventsLoaded"
        [eventsName]="'epEvents'"></app-calendar>
    </div>
  </div>
  <div *ngIf="showCCAuthorizations">
    <app-childcare-authorizations [pin]="pin" (closeModal)="showCCAuthorizations = $event"></app-childcare-authorizations>
  </div>

  <app-confirm-dialog *ngIf="inConfirmDeleteView"
    (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()"
    title="Delete Employability Plan"
    confirmButtonText="Delete Employability Plan"
    cancelButtonText="Cancel"
    message="Deleting an In Progress Employability Plan will remove all changes that were made to activities, goals and supportive services. Are you sure you want to do this?">
  </app-confirm-dialog>

  <div id="submit-confirm"
    class="sb-prompt"
    [class.open]="showSubmitSuccess">
    <div class="overlay">
      <div class="message-container">
        <div class="primary-icon">
          <div class="outer">
            <div class="inner">
              <i class="fa fa-check"></i>
            </div>
          </div>
        </div>
        <p>The Employability Plan has been submitted successfully.</p>
        <button class="btn btn-close"
          (click)="closeSubmit()">Continue</button>
      </div>
    </div>
  </div>

  <div id="submit-fail"
    class="sb-prompt"
    [class.open]="showSubmitFail">
    <div class="overlay">
      <div class="message-container">
        <div class="primary-icon">
          <div class="outer">
            <div class="inner">
              <i class="fa fa-exclamation"></i>
            </div>
          </div>
        </div>
        <p>There was a problem submitting the Employability Plan.</p>
        <button class="btn btn-close"
          (click)="closeSubmit()">Try Again</button>
      </div>
    </div>
  </div>
