<div *ngIf="isLoaded"
  id="contact-modal">
  <header class="nav-header pad1">
    <div class="clearfix">
      <a (click)="exit()"
        class="btn btn-back btn-secondary-outline btn-sm"
        title="Close Record">
        <i class="fa fa-times"></i>
      </a>
      <h1 id="pageTitle">Reassign Worker</h1>
    </div>
  </header>

  <div *ngIf="(model && model.programs) || isWorkerTask"
    class="app-content">
    <div class="wrapper">
      <div id="enrollment"
        name="enrollment"
        class="pad1-0 twothird center">
        <div class="pad2">&nbsp;</div>
        <div class="row control-group"
          [class.justify-content-center]="isWorkerTask">
          <div *ngIf="!isWorkerTask"
            class="col-md-6">
            <label>Program</label>
            <app-select [(ngModel)]="programId"
              (ngModelChange)="programId = $event; programChange();"
              [cacheInnerValue]="originalProgramId"
              [dropDownList]="programDrop"
              [isRequired]="true"
              [isDisabled]="isProgramDropDisabled"></app-select>
          </div>
          <div [class.col-md-6]="!isWorkerTask"
            [class.col-md-8]="isWorkerTask">
            <label *ngIf="programId == null || programId == 0">Worker</label>
            <label *ngIf="pepW2Id == programId">FEP</label>
            <label *ngIf="pepTJId == programId">TJ Worker</label>
            <label *ngIf="pepLFId == programId">Learnfare Case Manager</label>
            <label *ngIf="pepCFId == programId">CF Case Manager</label>
            <label *ngIf="pepTmjId == programId">TMJ Worker</label>
            <label *ngIf="pepFcdpId == programId">FCDP Case Manager</label>
            <app-auto-complete [isShortHeightStyle]="true"
              [(ngModel)]="workerId"
              (ngModelChange)="workerChange($event)"
              [cacheInnerValue]="originalWorkerId"
              [isDisabled]="(programId == null || programId == 0) && !isWorkerTask"
              [dropDownList]="workerDrop"
              [isRequired]="true"></app-auto-complete>
          </div>
        </div>
        <div class="pad2">&nbsp;</div>
        <div class="pad2">&nbsp;</div>
      </div>
    </div>
  </div>

  <footer class="nav-footer">
    <div class="wrapper tright">
      <div class="error"
        *ngIf="hadSaveError">There was an error saving.</div>
      <button class="btn btn-add"
        (click)="exit()">Cancel</button>
      <button class="btn btn-primary disabled"
        *ngIf="isSaving">
        <i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> Saving </button>
      <button (click)="saveAndExit()"
        *ngIf="!isSaving"
        class="btn btn-primary"
        [class.disabled]="!isSaveAble"
        [disabled]="!isSaveAble">Reassign</button>
    </div>
  </footer>
</div>
