<div class="clear clearfix"></div>
<div class="row bottomborder m-0">
  <div class="col-md-6 p-0">
    <h4 class="left">{{ displayedTestScore?.name }}
      <!-- <span *ngIf="isGedPassed"> - Passed</span> -->
    </h4>
  </div>
  <div class="col-md-6 p-0">
    <div *ngIf="displayedTestScore && displayedTestScore?.modifiedBy"
      class="history">
      <app-modified-stamp [readOnly]="true"
        [author]="displayedTestScore.modifiedByName"
        [lastModified]="displayedTestScore.modifiedDate"></app-modified-stamp>
    </div>
  </div>
</div>

<table class="table scores-table">
  <thead>
    <tr>
      <th class="date-holder"><button *ngIf="!this.isReadOnly"
          (click)="openAdd(displayedTestScore?.id)"
          class="btn edit-btn"><i class="fa fa-edit"></i></button>{{displayedTestScore?.dateTaken}}</th>
      <th *ngIf="this.isScoreColDisplayed"
        class="st-score">Score</th>
      <th *ngIf="this.isScaleScoreColDisplayed"
        class="st-score">Scale Score</th>
      <th *ngIf="this.isPassFailColDisplayed"
        class="st-passfail">Pass/Fail</th>
      <th *ngIf="this.isDatePassedColDisplayed"
        class="st-date-passed">Date Passed</th>
      <th *ngIf="this.isVersionColDisplayed"
        class="st-date-passed ">Version</th>
      <ng-container *ngIf="displayedTestScore?.name !== 'CASAS'">
        <th *ngIf="this.isGradeEquivalencyColDisplayed"
          class="st-date-passed ">Grade Equivalency</th>
        <th *ngIf="this.isLevelColDisplayed"
          class="st-date-passed ">Level</th>
      </ng-container>
      <ng-container *ngIf="displayedTestScore?.name === 'CASAS'">
        <th class="st-date-passed ">Form</th>
        <th class="st-date-passed ">Form Level</th>
        <th class="st-date-passed ">Grade Equivalency</th>
      </ng-container>
      <th *ngIf="this.isNrsColDisplayed"
        class="st-date-passed ">NRS</th>
      <th *ngIf="this.isSplColDisplayed"
        class="st-date-passed ">SPL</th>
    </tr>
  </thead>
  <tbody class="scores-holder">

    <tr *ngFor="let examResult of displayedExamResults"
      class="score-info">
      <td class="score-name">
        {{examResult.name}}
      </td>
      <td *ngIf="this.isScoreColDisplayed">
        <span class="score"
          *ngIf="(examResult?.score != null && examResult?.totalScore != null)">
          <span>{{examResult.score}}</span>
          <span class="total">/ {{examResult.totalScore}}</span>
        </span>
        <span class="score"
          *ngIf="(examResult?.score == null && examResult?.totalScore != null)">
          - <span class="total">/ {{examResult.totalScore}}</span>
        </span>
        <span class="score"
          *ngIf="examResult?.score != null && examResult?.totalScore == null">
          <span>{{examResult.score}}</span>
          <span class="total">/ -</span>
        </span>
        <i *ngIf="(examResult?.score == null && examResult?.totalScore == null)"
          class="fa fa-ellipsis-h"></i>
      </td>
      <td *ngIf="this.isScaleScoreColDisplayed">
        <span class="score"
          *ngIf="(examResult?.score != null && examResult?.totalScore != null)">
          <span>{{examResult.score}}</span>
          <span class="total">/ {{examResult.totalScore}}</span>
        </span>
        <span class="score"
          *ngIf="(examResult?.score == null && examResult?.totalScore != null)">
          - <span class="total">/ {{examResult.totalScore}}</span>
        </span>
        <span class="score"
          *ngIf="(examResult?.score != null && examResult?.totalScore == null)">
          <span>{{examResult.score}}</span>
          <span *ngIf="displayedTestScore?.name !== 'CASAS'"
            class="total">/ -</span>
        </span>
        <i *ngIf="(examResult?.score == null && examResult?.totalScore == null)"
          class="fa fa-ellipsis-h"></i>
      </td>
      <td *ngIf="this.isPassFailColDisplayed">
        <span *ngIf="examResult?.hasPassed == this.passStatusId"
          class="datepass">Pass</span>
        <span *ngIf="examResult?.hasPassed ==  this.failStatusId"
          class="datepass">Fail</span>
        <i *ngIf="examResult?.hasPassed == null"
          class="fa fa-ellipsis-h"></i>
        <!-- if blank -->
      </td>
      <td *ngIf="this.isDatePassedColDisplayed">
        <span class="datepass"
          [class.tgrey2]="examResult.datePassed != displayedTestScore?.dateTaken">{{examResult.datePassed}}</span>
        <i *ngIf="(examResult?.datePassed == null || examResult?.datePassed == '')"
          class="fa fa-ellipsis-h"></i>
        <!-- if blank -->
      </td>
      <td *ngIf="this.isVersionColDisplayed">
        <span class="datepass">{{examResult.version}}</span>
        <i *ngIf="(examResult?.version == null || examResult?.version == '')"
          class="fa fa-ellipsis-h"></i>
      </td>
      <ng-container *ngIf="displayedTestScore?.name !== 'CASAS'">
        <td *ngIf="this.isGradeEquivalencyColDisplayed">
          <span class="datepass">{{examResult.gradeEquivalency}}</span>
          <i *ngIf="(examResult?.gradeEquivalency == null || examResult?.gradeEquivalency == '')"
            class="fa fa-ellipsis-h"></i>
        </td>
        <td *ngIf="this.isLevelColDisplayed">
          <span class="datepass">{{examResult.level}}</span>
          <i *ngIf="(examResult?.level == null || examResult?.level == '')"
            class="fa fa-ellipsis-h"></i>
        </td>
      </ng-container>
      <ng-container *ngIf="displayedTestScore?.name === 'CASAS'">
        <td>
          <span class="datepass">{{examResult.form}}</span>
          <i *ngIf="(examResult?.form == null || examResult?.form == '')"
            class="fa fa-ellipsis-h"></i>
        </td>
        <td>
          <span class="datepass">{{examResult.level}}</span>
          <i *ngIf="(examResult?.level == null || examResult?.level == '')"
            class="fa fa-ellipsis-h"></i>
        </td>
        <td>
          <span class="datepass">{{examResult.casasGradeEquivalency}}</span>
          <i *ngIf="(examResult?.casasGradeEquivalency == null || examResult?.casasGradeEquivalency == '')"
            class="fa fa-ellipsis-h"></i>
        </td>
      </ng-container>
      <td *ngIf="this.isNrsColDisplayed">
        <span class="passfail">{{examResult.nrsRating}}<i *ngIf="examResult.nrsId > 0"
            class="passfail">/6</i></span>
        <i *ngIf="(examResult?.nrsId == null || examResult?.nrsId == 0)"
          class="fa fa-ellipsis-h"></i>
        <!-- if blank -->
      </td>
      <td *ngIf="this.isSplColDisplayed">
        <span class="score">{{examResult.splRating}}</span>
        <i *ngIf="(examResult?.splId == null || examResult?.splId == 0)"
          class="fa fa-ellipsis-h"></i>
        <!-- if blank -->
      </td>
    </tr>
    <tr class="detail-holder">
      <td colspan="1">&nbsp;</td>
      <td colspan="10">
        <div>{{displayedTestScore?.details}}</div>
      </td>
    </tr>
  </tbody>
</table>

<div class="clear clearfix"></div>

<footer class="card-bottom">
  <div class="plus-holder text-md-right right">
    <div *ngIf="!this.isReadOnly"
      class="btn-group"
      role="group"
      aria-label="Basic example">
      <button (click)="openAdd(0)"
        class="plus-date outline-btn btn"><i class="fa fa-plus"></i></button>
      <button (click)="tryDelete()"
        class="del-date outline-btn btn"><i class="fa fa-trash-alt"></i></button>
    </div>
  </div>
  <div *ngIf="testScores"
    class="dates text-md-center center">
    <button *ngFor="let testscore of testScores"
      (click)="clickTestDate(testscore)"
      class="btn btn-date"
      [class.select]="testscore?.dateTaken == displayedTestScore?.dateTaken">{{ testscore?.dateTaken }}</button>
    <!-- foreach date of test taken -->
  </div>

</footer>

<div class="clear clearfix"></div>


<app-confirm-dialog *ngIf="inConfirmDeleteView"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
  title="Delete Test"
  confirmButtonText="Delete"
  cancelButtonText="Cancel"
  message="Deleting a test score will remove its information throughout the entire application. Are you sure you want to do this?">
</app-confirm-dialog>
