<div class="partTitle row px-3">
  <span class="secTitle">{{title}}</span>
  <div class="row history-dropdown px-3" *ngIf="isHistoryActive && !isHistoryLoading">
    <button class="btn btn-link" (click)="forward()" *ngIf="historyIndex > 0">
      <i class="fa fa-angle-right"></i>
    </button>
    <button class="btn btn-link disabled disabledBtn" *ngIf="!(historyIndex > 0)">
      <i class="fa fa-angle-right"></i>
    </button>
    <app-select [hasEmptyOption]="false" [isCompact]="true" [(ngModel)]="historyIndex"
      (ngModelChange)="historyIndex = $event; loadHistorySection();" [dropDownList]="historyDrop"></app-select>
    <button class="btn btn-link" (click)="back()" *ngIf="(historyIndex < (historyArrayLength - 1))">
      <i class="fa fa-angle-left"></i>
    </button>
    <button class="btn btn-link disabled disabledBtn" *ngIf="!(historyIndex < (historyArrayLength - 1))">
      <i class="fa fa-angle-left"></i>
    </button>
  </div>
  <div class="row history-dropdown px-3" *ngIf="isHistoryActive && isHistoryLoading"></div>
  <div class="row history-dropdown px-3" *ngIf="!isHistoryActive"></div>
  <nav class="right">
    <a *ngIf="!isHistoryLoading && rowVersion && showHistoryIcon" (click)="toggleHistory()"
      [class.history]="isHistoryActive"><i class="fa fa-history"></i></a>
    <a *ngIf="isHistoryLoading" [class.history]="isHistoryActive"><i
        class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i></a>
    <a *ngIf="isEditHidden" (click)="clickEdit()"><i class="fa fa-pencil-alt"></i></a>
    <a (click)="toggleCollapse()" *ngIf="rowVersion || canRequestPBAccess || canRequestFBAccess"><i *ngIf="!isCollapsed"
        class="fa fa-compress"></i><i *ngIf="isCollapsed" class="fa fa-expand"></i></a>
  </nav>
</div>
