<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'EA Payment'"></app-loading>
  <div *ngIf="this.isLoaded">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitEAEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom align-items-center">
          <div class="col-md-8">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close EA Payment">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="model.id === 0">New EA Payment
            </h1>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="model.id > 0">Edit EA Payment
            </h1>
          </div>
        </div>
      </div>
    </header>
    <div class="edit-content">
      <div class="container pt-3">
        <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
        <div class="row">
          <div class="col-md-7 pr-0">
            <label>Voucher/Check #</label>
            <app-generic-text-input [(ngModel)]="model.voucherOrCheckNumber"
              (ngModelChange)="model.voucherOrCheckNumber = $event; validate();"
              [cacheInnerValue]="cachedModel?.voucherOrCheckNumber"
              [isDisabled]="isReadOnly"
              [NGMaxLength]="50"
              [isInvalid]="modelErrors['voucherOrCheckNumber']"></app-generic-text-input>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-2 pr-0">
            <label>Voucher/Check Date</label>
            <app-date-mm-dd-yyyy [(ngModel)]="model.voucherOrCheckDate"
              [cacheInnerValue]="cachedModel?.voucherOrCheckDate"
              (ngModelChange)="model.voucherOrCheckDate = $event; validate();"
              [isInvalid]="modelErrors['voucherOrCheckDate']"
              [isReadOnly]="isReadOnly"></app-date-mm-dd-yyyy>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-2 no-wrap pr-0">
            <label>Voucher/Check Amount</label>
            <div class="input-group col-md-12 p-0 flex-nowrap">
              <div class="input-group-prepend"><span class="input-group-text">$</span>
              </div>
              <app-currency-input class="w-100 last"
                [(ngModel)]="model.voucherOrCheckAmount"
                [isRequired]="true"
                (ngModelChange)="model.voucherOrCheckAmount = $event; validate();"
                [errorIndicator]="modelErrors['voucherOrCheckAmount']"
                [isReadOnly]="isReadOnly"
                [cacheInnerValue]="cachedModel?.voucherOrCheckAmount"
                [NGMaxLength]="10"></app-currency-input>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-5">
            <label>Payee Name</label>
            <app-generic-text-input [(ngModel)]="model.payeeName"
              (ngModelChange)="model.payeeName = $event; validate();"
              [cacheInnerValue]="cachedModel?.payeeName"
              [isRequired]="true"
              [isDisabled]="isReadOnly"
              [isInvalid]="modelErrors['payeeName']"></app-generic-text-input>
          </div>
        </div>

        <div class="row pt-3">
          <app-finalist-address class="col-md-10 p-0"
            [modelErrors]="modelErrors"
            (modelChange)="model.mailingAddress = $event; validate()"
            [isReadOnly]="isReadOnly"
            [isWIDefault]="false"
            [locationAddress]="model?.mailingAddress"
            [isDisplayed]="true"
            (validateButtonStatus)="mailingAddressValidateStatus = $event"></app-finalist-address>
        </div>
        <div class="form-page pt-3">
          <app-text-area col-md-11
            [(ngModel)]="model.notes"
            [isReadOnly]="isReadOnly"
            (ngModelChange)="model.notes = $event; validate();"
            [cacheInnerValue]="cachedModel?.notes"></app-text-area>
        </div>
      </div>
      <app-cancel-save-footer [hadSaveError]="hadSaveError"
        [isSaving]="isSaving"
        [isDisabled]="isSectionModified && isSectionValid && mailingAddressValidateStatus"
        (cancelEvent)="exit()"
        (saveEvent)="onSave()"></app-cancel-save-footer>
    </div>
  </div>
</div>
