<app-sub-header pageTitle="TJ/TMJ 60 Day Employment Verification"
  [goBackUrl]="goBackUrl"
  [isSectionModified]="isSectionModified"
  (onExitEditMode)="cancelDialog()"
  [helpComponent]="'tj-tmj-employment-verification'"
  [participant]="participant">
</app-sub-header>
<div class="container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'TJ/TMJ 60 Day Employment Verification'"></app-loading>
  <div class="app-content"
    *ngIf="isLoaded">
    <app-dialog-box *ngIf="appService?.isDialogPresent && !appService?.isChildDialogPresent"
      (dialogClose)="exitEditIgnoreChanges($event)"
      (cancel)="cancelDialog()"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <div class="row align-items-center py-1">
      <label class="col-md-2">Employment Type</label>
      <app-select class="col-md-3"
        [hasEmptyOption]="false"
        [dropDownList]="employmentTypeDrop"
        [isRequired]="false"
        [(ngModel)]="employmentTypeId"
        [cacheInnerValue]="cachedEmploymentTypeID"
        (ngModelChange)="updateEmployments($event)">
      </app-select>
    </div>

    <app-loading [isLoaded]="isEmploymentsLoaded"
      [loadingLabel]="'Employment'"></app-loading>
    <div *ngIf="isEmploymentsLoaded">
      <ng-container *ngIf="model && model.length > 0; else elseBlock">
        <div class="row justify-content-end mr-0 pr-4">
          <div class="col-md-4 d-flex justify-content-center">
            <label class="rowSpace">60-day Verification</label>
          </div>
        </div>
        <div class="card">
          <div class="card-body border-bottom border-right"
            *ngFor="let emp of model; index as i">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">
                  <h6>Job Type</h6>
                  <p class="tgrey3 wrapword">{{emp.jobTypeName}}</p>
                  <h6>Position</h6>
                  <p class="tgrey3 wrapword">{{emp.jobPosition}}</p>
                  <h6>Company/Organization Name</h6>
                  <p class="tgrey3 wrapword">{{emp.companyName}}</p>
                  <h6>Company/Organization Location</h6>
                  <p class="tgrey3 wrapword">{{emp.location.addressLine1}}<br />{{emp.location.city}},
                    {{emp.location.state}}, {{emp.location.zip}}</p>
                </div>
                <div class="col-md-3">
                  <h6>Job Begin Date</h6>
                  <p class="tgrey3 wrapword">{{emp.jobBeginDate}}</p>
                  <h6>Job End Date</h6>
                  <p *ngIf="emp.jobEndDate"
                    class="tgrey3 wrapword">{{emp.jobEndDate}}</p>
                  <p *ngIf="!emp.jobEndDate"
                    class="tgrey3 wrapword"><br /></p>
                  <h6>Avg Weekly Hours</h6>
                  <p class="tgrey3 wrapword">{{emp.avgWeeklyHours}}</p>
                </div>
                <div class="col-md-4 d-flex space-between">
                  <div *ngIf="emp && emp.modifiedBy != null">
                    <app-modified-stamp [readOnly]="true"
                      [author]="emp.modifiedBy"
                      [lastModified]="emp.modifiedDate">
                    </app-modified-stamp>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12 pl-5 pb-2 text-nowrap">Days of Employment:
                          {{emp?.numberOfDaysAtVerification ? emp.numberOfDaysAtVerification : emp.calculatedEmploymentDays}}</div>
                        <div class="col-md-12 pl-5 ">
                          <app-tab-selector [(ngModel)]="emp.isVerified"
                            (ngModelChange)="emp.isVerified = $event; setSectionModified(i)"
                            [isRequired]="false"
                            [isDisabled]="emp.isDisabled || appService.isStateStaff"
                            [cacheInnerValue]="cachedModel[i]?.isVerified"
                            [tabs]="verificationDrop"></app-tab-selector>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body border-bottom border-right" *ngIf="isAcknowledgementShown">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1 pl-4 pt-1">
                  <app-radio-button [(ngModel)]="isAgreed" (ngModelChange)="isAgreed = $event;"
                    [scaleButton]="true"></app-radio-button>
                </div>
                <div class="col-md-11 pl-0">By clicking verify you acknowledge having all documentation to
                  confirm the participant was in a qualifying job or collection of jobs that meet a total
                  of 60 days in {{model[0].jobTypeName}} Employment.</div>
              </div>
            </div>
          </div>
        </div>
        <app-cancel-save-footer *ngIf="!appService.isStateStaff"
          [isSaving]="isSaving"
          [isDisabled]="!(isAcknowledgementShown && !isAgreed)"
          (cancelEvent)="cancel()"
          (saveEvent)="save()">
        </app-cancel-save-footer>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row justify-content-center mt-4 pt-4"
    *ngIf="employmentTypeId !== undefined">No Eligible Employments</div>
</ng-template>
