<app-sub-header pageTitle="Clearance"
  [helpComponent]="'clearance'"></app-sub-header>

<main *ngIf="model"
  class="pad1-0"
  id="participant">

  <div class="flex-row py-1">
    <app-validation-summary class="w-100"
      [errors]="validationManager.errors"></app-validation-summary>
  </div>

  <div class="form-holder">
    <!-- <form> -->
    <div *ngIf="this.redirect"
      class="alert alert-warning">
      <a class="close"
        data-dismiss="alert"
        aria-label="close">&times;</a>
      <strong>This participant has not been through clearance. Clearance must be completed once before
        accessing client registration.</strong>
    </div>

    <div class="row fields">
      <div class="col-md-4">
        <label>First Name</label>
        <app-generic-text-input [(ngModel)]="this.model.name.firstName"
          (ngModelChange)="this.model.name.firstName = $event; this.checkState();"
          [NGMaxLength]="15"
          [isRequired]="true"
          [cacheInnerValue]="''"
          [isInvalid]="modelErrors['firstName']"></app-generic-text-input>
      </div>
      <div class="col-md-1">
        <label>MI</label>
        <app-generic-text-input [(ngModel)]="this.model.name.middleInitial"
          (ngModelChange)="this.model.name.middleInitial = $event; this.checkState();"
          [NGMaxLength]="1"
          [cacheInnerValue]="''"
          [isInvalid]="modelErrors['middleInitial']"></app-generic-text-input>
      </div>
      <div class="col-md-5">
        <label>Last Name</label>
        <app-generic-text-input [(ngModel)]="this.model.name.lastName"
          (ngModelChange)="this.model.name.lastName = $event; this.checkState();"
          [NGMaxLength]="20"
          [cacheInnerValue]="''"
          [isRequired]="true"
          [isInvalid]="modelErrors['lastName']"></app-generic-text-input>
      </div>
      <div class="col-md-2">
        <label>Suffix</label>
        <app-select [(ngModel)]="this.model.name.suffix"
          (ngModelChange)="this.model.name.suffix = $event; this.checkState();"
          [cacheInnerValue]="''"
          [dropDownList]="suffixTypesDrop"
          [isIdString]="true"
          [isInvalid]="modelErrors['suffix']"></app-select>
      </div>
    </div>
    <div class="row fields">
      <div class="col-md-3">
        <label>DOB</label>
        <app-date-mm-dd-yyyy [(ngModel)]="this.model.dateOfBirthMmDdYyyy"
          (ngModelChange)="this.model.dateOfBirthMmDdYyyy = $event; this.checkState();"
          [isRequired]="true"
          [cacheInnerValue]="''"
          [isInvalid]="modelErrors['dateOfBirthMmDdYyyy']"></app-date-mm-dd-yyyy>
      </div>
      <div class="col-md-4">
        <label>SSN</label>
        <div class="input-group">
          <app-numerical-input [(ngModel)]="this.model.ssn"
            (ngModelChange)="this.model.ssn = $event; this.checkState();"
            [isRequired]="true"
            [NGMaxLength]="11"
            [allowDash]="true"
            [cacheInnerValue]="''"
            [isDisabled]="this.model.isNoSsn"
            [isSSN]="true"
            [isInvalid]="modelErrors['ssn']"
            class="first"></app-numerical-input>
          <app-radio-button [(ngModel)]="this.model.isNoSsn"
            (ngModelChange)="this.model.isNoSsn = $event; this.checkState();"
            [NgLabel]="'No SSN'"
            class="input-group-addon input-group-append input-group-text"></app-radio-button>
        </div>
      </div>
      <div class="col-md-2">
        <label>Gender</label>
        <br />
        <app-tab-selector [(ngModel)]="this.model.gender"
          (ngModelChange)="this.model.gender = $event; this.checkState();"
          [isRequired]="true"
          [tabs]="this.genderDrop"
          [cacheInnerValue]="''"
          [isInValid]="modelErrors['gender']"></app-tab-selector>
      </div>
      <!-- <div class="col-md-3 tright">
                <label>&nbsp;</label>
                <br />
                <button *ngIf="this.hasSearchLoaded" class="btn btn-secondary disabled">Find Matches</button>
                <button *ngIf="!this.hasSearchLoaded" (click)="this.search()" class="btn btn-secondary">Find Matches</button>
            </div> -->
    </div>

    <div class="row">
      <app-alias-repeater [(ngModel)]="this.model.aliases"
        class="w-100"
        (ngModelChange)="this.model.aliases = $event; this.checkState();"
        [aliasTypesDrop]="aliasTypesDrop"
        [suffixTypesDrop]="suffixTypesDrop"
        [modelErrors]="modelErrors['aliases']"></app-alias-repeater>
    </div>

    <div class="row">
      <div class="col-md-12 tright pad0r-0l">
        <button *ngIf="this.hasSearchLoaded"
          class="btn btn-add disabled">Find Matches</button>
        <button *ngIf="!this.hasSearchLoaded"
          (click)="this.search()"
          class="btn btn-add">Find Matches</button>
      </div>
    </div>

    <div *ngIf="this.isSearching"
      class="pad2 searching">
      <!-- SEARCHING -->
      <div class="lg tgrey2 tcenter pad2">
        <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
      </div>
      <div class="tgrey3 tcenter">Searching for Matches...</div>
    </div>

    <div *ngIf="!this.isSearching && this.hasSearchLoaded === true && this.mciParticipants?.length === 0"
      class="pad2 searching">
      <!-- No Results -->
      <!-- <div class="lg tgrey2 tcenter pad2">
                <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
            </div> -->
      <div class="tgrey3 tcenter">No Results</div>
    </div>

    <div *ngIf="this.hasErrored"
      class="tcenter pad1-0">
      <!-- ERROR -->
      <i class="tred fa fa-exclamation-triangle xxlarge"></i>
      <p class="center text-danger">Error Searching</p>
    </div>

    <div *ngIf="this.mciParticipants?.length > 0"
      class="results">
      <hr />
      <div class="cl-header pad0-1">
        <div class="row">
          <!-- <div class="col-md-1">&nbsp;</div> -->
          <div class="col-md-3">
            Full Name
          </div>
          <div class="col-md-3 tcenter">
            DOB
          </div>
          <div class="col-md-1 tcenter">
            Gender
          </div>
          <div class="col-md-2 tcenter">
            SSN
          </div>
          <div class="col-md-1 tcenter">
            <!-- Has Alias -->
          </div>
          <div class="col-md-2 tcenter">
            Match %
          </div>
        </div>
      </div>
      <ul class="pad0-1">
        <li class="cl-result row"
          [class.select]="this.selectedMciParticipant == p"
          (click)="this.selectMciParticipant(p)"
          *ngFor="let p of this.mciParticipants">
          <div class="col-md-3"
            [class.diff]="p.fullNameWithMiddleInitialSuffixTitleCase != this.model.fullNameWithMiddleInitialSuffixTitleCase">
            {{p.fullNameWithMiddleInitialSuffixTitleCase}}
          </div>
          <div class="col-md-3 tcenter"
            [class.diff]="p.dateOfBirthMmDdYyyy != this.model.dateOfBirthMmDdYyyy">
            {{p.dateOfBirth | dateMmDdYyyy}}
          </div>
          <div class="col-md-1 tcenter"
            [class.diff]="p.gender != this.model.gender">
            {{p.gender}}
          </div>
          <div class="col-md-2 tcenter"
            [class.diff]="p.displaySsn != this.model.displaySsn">
            {{p.displaySsn}}
          </div>
          <!-- <div *ngIf="p.isNoSsn" class="col-md-2 tcenter" [class.diff]="p.displaySsn != this.model.displaySsn">
                        No SSN
                    </div> -->
          <div class="col-md-1 tcenter">
            <!-- {{p.hasAlias | yesNo}} -->
          </div>
          <div class="col-md-2 tcenter">
            <span *ngIf="p.id != 0">{{p.displayScore}}%</span>
            <span *ngIf="p.id == 0"
              class="tred2 small bold">New&nbsp;Record</span>
          </div>
        </li>
      </ul>
      <hr />
    </div>


    <div *ngIf="this.selectedMciParticipant"
      class="row">
      <div class="col-md-12 tright outcome-holder">
        <!-- <span class="tgrey3">Continue to: &nbsp; </span> -->
        <!-- <button *ngIf="this.selectedMciParticipant?.id > 0" class="btn btn-primary" (click)="goToPartSum()">
                    <i class="fa fa-user-circle"></i> Participant Summary</button> -->
        <button class="btn btn-primary"
          (click)="addReg()">
          <i class="wwp-register"></i> Client Registration</button>
      </div>
    </div>

    <!-- </form> -->
  </div>

</main>

<app-registration [regId]="regId"
  [eaRequestDetails]="eaRequestDetails"
  [selectedMciParticipant]="this.selectedMciParticipant"
  [mciParticipantSearchModel]="this.model"
  (saveAndExitAndStatus)="exitReg($event)"
  *ngIf="inEditView"></app-registration>
