<app-sub-header-nav *ngIf="!isInEditMode"
  [mode]="'App'"
  activeItem="career-assessment"></app-sub-header-nav>
<app-loading [isLoaded]="isLoaded"
  [loadingLabel]="'Career Assessment(s)'"></app-loading>
<div class="container">
  <div class="row justify-content-center"
    *ngIf="!isInEditMode && !careerAssessments?.length && isLoaded">
    <blockquote class="p-3 m-3">
      <div>No Career Assessments</div>
    </blockquote>
  </div>
</div>
<div *ngIf="!isInEditMode && careerAssessments?.length && isLoaded">
  <div class="row list-item m-1"
    *ngFor="let ca of careerAssessments">
    <div class="col-md-10"
      (click)="edit(ca, true)">
      <div class="row">
        <div class="col-md-4">
          <label>Element(s)</label>
          <br />
          <p class="tgrey3"
            *ngIf="ca?.elementNames">
            <span *ngFor="let elementName of ca?.elementNames; let last = last"> {{elementName}} <span
                *ngIf="!last">,</span></span></p>
        </div>
        <div class="col-md-4">
          <label>Completion Date</label>
          <p class="tgrey3"> {{ca.completionDate | dateMmDdYyyy}}</p>
        </div>
        <div class="col-md-4">
          <label>Assessment Provider</label>
          <p class="tgrey3">{{ca.assessmentProvider}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Assessment Tool Used</label>
          <p class="tgrey3">{{ca.assessmentToolUsed}}</p>
        </div>
        <div class="col-md-6">
          <label>Assessment Results</label>
          <p class="tgrey3">{{ca.assessmentResults}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Related Occupation(s)</label>
          <p class="tgrey3">{{ca.relatedOccupation}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>How are the assessment results being applied to the Employability Plan and
            Activities?</label>
          <p class="tgrey3"> {{ca.assessmentResultAppliedToEP}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 btn-item"
      *ngIf="canEdit">
      <button class="btn btn-del allowClick edit"
        (click)="edit(ca, false)">
        <i class="fa fa-pencil-alt"></i>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!isInEditMode && isLoaded && canAdd"
  class="pad1-0">
  <span class="right">
    <button id=""
      class="btn btn-add"
      (click)="onAdd()">+ Add Career Assessment</button>
  </span>
</div>

<app-career-assessment-edit [careerAssessmentId]="careerAssessmentId"
  *ngIf="isInEditMode"> </app-career-assessment-edit>
