.info-pill {
   border: 1px solid #95a5a6;
   color:#fff;
   display: inline-block;
   margin-right:3px;
   padding-left:0.25em;
   background:#95a5a6;
   overflow: hidden;
   border-radius: 3px;

}

.info-pill span {
   background:#fff;
   color:#7f8c8d;
   padding:0.5em;
}
