<blockquote *ngIf="models.length == 0"
  class="tcenter pad2">
  <p>Participant does not have any Supportive Services.</p>
</blockquote>
<fieldset *ngFor="let item of models; let i=index"
  class="repeat rel">
  <div class="content pad1">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Service</label>
        <app-select (ngModelChange)="item.supportiveServiceTypeId = $event; onChangeCallback(models);"
          [isRequired]="true"
          [isInvalid]="isModelErrorsItemInvalid(i, 'supportiveServiceTypeId')"
          [cacheInnerValue]="getInitialModelValue(item.id, 'supportiveServiceTypeId')"
          [index]="i"
          [dropDownList]="serviceDropList"
          [(ngModel)]="item.supportiveServiceTypeId"></app-select>
      </div>
      <div class="col-md-6 control-group">
        <label class="control-label">Details</label>
        <app-text-area [(ngModel)]="item.details"
          (ngModelChange)="item.details = $event; onChangeCallback(models);"
          [shrinkOnBlur]="false"
          [isInvalid]="isModelErrorsItemInvalid(i, 'details')"
          [cacheInnerValue]="getInitialModelValue(item.id, 'details')"
          [maxlength]="380"
          [placeholder]="'Details'"
          [isDetails]="true"
          [isAutoSizeable]="true"
          [isRequired]="isDetailsRequired(item)">
        </app-text-area>
      </div>
    </div>
  </div>
  <div class="controls">
    <ul>
      <li class="del"
        (click)="deleteFromRepeater(item, 0)">
        <i class="fa fa-trash-alt"
          title="delete"></i>
      </li>
    </ul>
  </div>
</fieldset>
<div class="tright col-md-12 add-holder">
  <span class="left tgrey3 small"
    *ngIf="models?.length >= maxNumberOfItems,">You can enter up to 10 Services</span>
  <button class="btn btn-sm btn-add disabled"
    *ngIf="models?.length >= maxNumberOfItems">+ &nbsp; Add Supportive
    Service</button>
  <button (click)="addToRepeater()"
    *ngIf="models?.length < maxNumberOfItems"
    class="btn btn-sm btn-add">+
    &nbsp; Add Supportive Service</button>

  <hr class="spacer">
</div>
