 .cal-tooltip {
    position:relative;
    z-index:20;
    line-height:1.5;
    .cal-tooltipcontent {
      display:none;
       width: 250px;
  top: 100%;
  left: 50%;
  margin-left: -125px;
  border:1px solid;
  &::after {
      content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  }
    }
    &:hover {
      z-index:21;
      .cal-tooltipcontent {
        display:flex;
        width:250px;
        padding:5px;
        background-color: #ecf0f1;
        font-size:13px;
        text-decoration: none;
        position: absolute;
        .tooltip-items {

        }
      }
    }
  }
   .cal-events {
     flex: 1 0 0;
    align-items: flex-start;
    margin: 0px;
    line-height: 10px;
    flex-direction:column;
    flex-wrap: wrap;
  //   .cal-event {
  //   margin: 5px 0px 5px 0px;
  // }
  }
    .hours {
    display:flex;
    height:100px;
    width:100%;
    align-items:center;
    justify-content:center;
  }
