*, *:before, *:after {
	border:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
	-webkit-font-smoothing: subpixel-antialiased;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-size:16px;
	font-weight:normal;
	zoom:1;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

.bold {
	font-weight:800!important;
}

.semibold {
	font-weight:600!important;
}

.regular {
	font-weight:400!important;
}

.light {
	font-weight:200!important;
}

a, button, .trans, a:before, a:after, button:before, button:after, .trans:before, .trans:after {
	text-decoration: none;
    -webkit-transition:all .5s;
       -moz-transition:all .5s;
        -ms-transition:all .5s;
         -o-transition:all .5s;
            transition:all .5s;
}

a:hover {

}

a:active {
 	top:1px;
}

.semibold {
	font-weight:500;
}

b, strong, .bold {
	font-weight: 700;
	vertical-align: initial;
}

sup {
	vertical-align: super;
	font-size: 50%;
}

.light {
	font-weight: 300;
}

input {
	font-family:inherit;
}

input[type="submit"] {
	position:relative;
	font-family:inherit;
}

textarea {
	font-family:inherit;
	resize:none;
}

ul, li, ol {
	list-style:none;
	list-style-type:none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

.small {
	font-size:0.9em;
}

.xsmall {
	font-size:0.8em;
}

.xxsmall {
	font-size:0.6em;
}

.big {
	font-size:1.1em;
}

.xbig {
	font-size:1.2em;
}

.xxbig {
	font-size:1.4em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.full {
	width:100%;
}

.half {
	width:50%;
}

.third {
	width:33.33%;
}

.twothird {
	width:66.66%;
}

.fourth {
	width:25%;
}

.threefourth {
	width:75%;
}

.fifth {
	width:20%;
}

.threefifth {
	width:60%;
}

.fourfifth {
	width:80%;
}

.left, .alignleft {
	float:left;
}

.right, .alignright {
	float:right;
}

.center {
	margin:0 auto;
}

.tleft {
	text-align: left;
}

.tright {
	text-align: right;
}

.tcenter {
	text-align: center;
}

.twhite {
	color:#fff;
}

.tblack {
	color:#000;
}

.vcenter {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.noline {
	text-decoration: none;
}

.upper {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

.full-height {
	height: 100%;
}

.bgimg {
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bgimg2 {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.green {
    background-color:#1abc9c
}

.green2 {
    background-color:#16a085
}

.green3 {
    background-color:#1abc9c
}

.green4 {
    background-color:#27ae60
}

.tgreen {
   color:#1abc9c
}

.tgreen2 {
    color:#16a085
}

.tgreen3 {
    color:#1abc9c
}

.tgreen4 {
    color:#27ae60
}

.blue {
    background-color:#3498db
}

.blue2 {
    background-color:#2980b9
}

.blue3 {
    background-color:#34495e
}

.blue4 {
    background-color:#2c3e50
}

.tblue {
    color:#3498db
}

.tblue2 {
    color:#2980b9
}

.tblue3 {
    color:#34495e
}

.tblue4 {
    color:#2c3e50
}

.purple {
    background-color:#9b59b6
}

.purple2 {
    background-color:#8e44ad
}

.tpurple {
    color:#9b59b6
}

.tpurple2 {
    color:#8e44ad
}

.yellow {
    background-color:#f1c40f
}

.yellow2 {
    background-color: #f39c12
}

.tyellow {
    color:#f1c40f
}

.tyellow2 {
    color: #f39c12
}

.orange {
    background-color:#e67e22
}

.orange2 {
    background-color:#d35400
}

.tornage {
    color:#e67e22
}

.torange2 {
    color:#d35400
}

.red {
    background-color:#e74c3c
}

.red2 {
    background-color:#c0392b
}

.tred {
    color:#e74c3c
}

.tred2 {
    color:#c0392b
}

.grey {
    background-color:#ecf0f1
}

.grey2 {
    background-color:#bdc3c7
}

.grey3 {
    background-color:#95a5a6
}

.grey4 {
    background-color:#7f8c8d
}

.tgrey {
    color:#ecf0f1
}

.tgrey2 {
    color:#bdc3c7
}

.tgrey3 {
    color:#95a5a6
}

.tgrey4 {
    color:#7f8c8d
}


.bgw {
	background-color:#fff;
}

.bgw90 {
	background-color: rgba(255,255,255,0.9);
}

.bgw70 {
	background-color: rgba(255,255,255,0.7);
}

.bgw50 {
	background-color: rgba(255,255,255,0.5);
}

.bgw30 {
	background-color: rgba(255,255,255,0.3);
}

.bgw10 {
    background-color: rgba(255,255,255,0.1);
}

.bgb {
	background-color:#000;
}

.bgb90 {
	background-color: rgba(0,0,0,0.9);
}

.bgb70 {
	background-color: rgba(0,0,0,0.7);
}

.bgb50 {
	background-color: rgba(0,0,0,0.5);
}

.bgb30 {
	background-color: rgba(0,0,0,0.3);
}

.bgb10 {
    background-color: rgba(0,0,0,0.1);
}

.fill, .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

button, .button {
	padding:0.5em 1em;
	text-decoration: none;
	letter-spacing: 0.5px;
	display:inline-block;
	font-weight: 400;
}

button, .button:hover {
	text-decoration: none;
	cursor:pointer;
}

a.more {
  text-decoration: underline;
  letter-spacing: 0.5px;
  font-weight: 400;
  clear:both;
  display:inline-block;
  margin:0;
}
.padhalf {
	padding:0.5em;
}

.pad0r-0l {
	padding-left: 0;
    padding-right: 0;
  }
  
.pad1 {
  padding:1em;
}

.pad1-0 {
  padding:1em 0;
}

.pad0-1 {
  padding:0 1em;
}

.pad2 {
  padding:2em;
}

.pad2-0 {
  padding:2em 0;
}

.pad0-2 {
  padding:0 2em;
}

.pad1-2 {
  padding:1em 2em;
}

.pad2-1 {
  padding:2em 1em;
}

.padl {
	padding-left:1em;
}

.padr {
	padding-right:1em;
}

.mar0 {
	margin:0!important;
}

.mar1 {
	margin:1;
}

.mar1-0 {
	margin:1em 0;
}

.mar0-1 {
	margin: 0 1em;
}

.large {
  font-size:1.2em;
}

.xlarge {
	font-size:1.5em;
}

.xxlarge {
	font-size:2em;
}

.small {
  font-size:0.9em;
}

.noscroll {
	height:100%;
	overflow:hidden;
}

.figure {
	overflow:hidden;
	position:relative;
	display:block;
}

.figure img {
	width:100%;
	height:auto;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.rel {
	position:relative;
}

.hidden {
	display:none;
}

.spaced {
	letter-spacing: 1px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
	border-top: 1px solid #bdc3c7;
    width: 100%;
}

hr.spacer {
    border:none!important;
    margin: 0.8em 0;
    width: 100%;
    display: inline-block;
    clear:both;
}

hr.slim {
	margin:0;
	padding:0.5em 0;
}

.notification {
    background: #EAB926;
    display: inline-block;
    font-size: 0.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.35em;
    vertical-align: bottom;
    font-weight: 800;
    color:#fff!important;
}

/*```````````````````````````//
//			PAGE CORE		 //
//___________________________*/

.wrapper {
    max-width:1200px;
		width:95%;
    margin:0 auto;
    position:relative;
}

.wrapper.slim {
	max-width:980px;
}

header, footer, section {
	display:inline-block;
	float:left;
	clear:both;
	width:100%;
	position:relative;
}
.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.display-inline {
	display: inline;
}


