@import "./variables.scss";


.font-color-error {
  color:  $color-error;
}


// No line breaks in text.
.no-wrap {
  white-space: nowrap
}

// Breaks long texts.
.word-break {
	word-break: break-word;
}