<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
<div *ngIf="isStrikeWarningDisplayed()"
  class="alert alert-warning alert-dismissible"
  role="alert">Individuals who are
  currently on strike are not eligible for W-2. Please review this participant’s eligibility in CWW</div>
<div *ngIf="!readOnly"
  class="row">
  <div class="col-md-12 tright small">
    <button (click)="addAbsenceRecord()"
      class="btn btn-light btn-add"
      [class.baseless]="model?.length > 0"
      [disabled]="jobEndDate">+
      Add Leave of Absence</button>
  </div>
</div>

<fieldset class="hist-table"
  [class.readonly]="readOnly">

  <div *ngFor="let m of model; let i=index"
    class="hist-table-holder pad0-1">
    <fieldset [disabled]="isDisabled(m)"
      class="leave item leave-item"
      [class.ie]="isIE()">
      <div class="content">
        <div class="row">
          <div class="col-md-2 required">
            <span class="ovtitle">Begin Date</span>
            <app-date-mm-dd-yyyy [isInvalid]="isErrored(m,'beginDate')"
              [(ngModel)]="m.beginDate"
              [datePickerRequired]="!readOnly"
              (ngModelChange)="m.beginDate = $event; onChangeCallback(model); registerModelChange(m);">
            </app-date-mm-dd-yyyy>
          </div>
          <div class="col-md-2">
            <span class="ovtitle">End Date</span>
            <app-date-mm-dd-yyyy [isInvalid]="isErrored(m,'endDate')"
              [(ngModel)]="m.endDate"
              [datePickerRequired]="!readOnly"
              (ngModelChange)="m.endDate = $event; onChangeCallback(model); registerModelChange(m);">
            </app-date-mm-dd-yyyy>
          </div>
          <div class="col-md-8 required">
            <span class="ovtitle">Reason</span>
            <app-select [isInvalid]="isErrored(m,'absenceReasonId')"
              [(ngModel)]="m.absenceReasonId"
              (ngModelChange)="m.absenceReasonId = $event; onChangeCallback(model); registerModelChange(m);"
              [dropDownList]="jobAbsenceReasonsDrop"></app-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"
            [class.backgroundError]="isErrored(m, 'details')"
            [class.required]="isDetailsRequired(m)">
            <span class="ovtitle">Details</span>
            <textarea class="tabled"
              [(ngModel)]="m.details"
              [class.error]="isErrored(m,'details')"
              (ngModelChange)="m.details = $event; onChangeCallback(model); registerModelChange(m);"
              AutoResize
              maxlength="360"></textarea>
          </div>
        </div>
      </div>

      <ul *ngIf="!readOnly"
        class="controls">
        <li [hidden]="!isDisabled(m)"
          (click)="editAbsenceRecord(m)"
          class="table-action"><i class="fa fa-pencil-alt"
            title="edit"></i></li>
        <!-- if fieldset is disabled -->
        <li [hidden]="isDisabled(m)"
          (click)="confirmAbsenceRecord(m)"
          [class.error]="!isValid"
          class="table-action select"><i class="fa fa-check"
            title="save"></i></li>
        <!-- if fieldset is being edited -->
        <li (click)="deleteAbsenceRecord(m)"
          class="table-action"><i class="fa fa-trash-alt"
            title="delete"></i></li>
      </ul>

      <div class="controls"
        *ngIf="readOnly && m.modifiedBy != null && displayModifiedStamp">
        <app-modified-stamp [readOnly]="true"
          [author]="m.modifiedBy"
          [lastModified]="m.modifiedDate"></app-modified-stamp>
      </div>

    </fieldset>
  </div>
</fieldset>
