<div class="container">
  <app-loading [isLoaded]="activitiesLoaded"
    [loadingLabel]="inEditView ? 'Activity' : 'Activity(s)' "></app-loading>
  <div class="row"
    *ngIf="activitiesLoaded && !this.activities?.length">
    <app-ep-card-header [title]="'Activities'"
      [showEdit]="false"
      class="col-md-12"></app-ep-card-header>

    <blockquote class="col-md-12 d-flex justify-content-center">
      <p>Participant does not have any Activities.</p>
    </blockquote>
  </div>
  <ng-container *ngIf="activitiesLoaded && !inEditView">
    <main *ngIf="this.activities?.length > 0">
      <div class="card">
        <div class="card-header">
          <app-ep-card-header [title]="'Activities'"
            [showEdit]="false"></app-ep-card-header>
        </div>
        <app-activities-list [employabilityPlan]="employabilityPlan"
          [activities]="this.activities"
          (deleteActivity)="deleteActivity($event)"
          (goToSingleEntry)="singleEntry($event)"
          [showControls]="true"
          class=""></app-activities-list>
      </div>
    </main>
    <div class="row justify-content-end pt-1">
      <div class="col-md-8 d-flex justify-content-end">
        <div class="col-md-auto pr-1">
          <button class="btn btn-add"
            (click)="add()">+ Add Activity</button>
        </div>
        <div class="col-md-auto pl-1 pr-0">
          <button class="btn btn-add"
            (click)="showCalendarView()">View Calendar</button>
        </div>
      </div>
    </div>
    <div class="row pt-1 justify-content-end">
      <div class="col-md-5 d-flex justify-content-end">
        <span class="btn btn-save">
          <span class="btn-save-text">Save</span>
          <button class="btn btn-cont"
            (click)="saveAndContinue()">+ Continue</button>
        </span>
      </div>
    </div>
  </ng-container>
  <app-activities-edit *ngIf="inEditView && iseventsLoaded"
    (onExitEditMode)="exitEditView($event)"
    [activityInput]="activity"
    [isReadOnly]="isReadOnly"
    [activities]="activities"
    [viewDate]="viewDate"
    [isBackwardingOfCalendarDisabled]="isBackwardingOfCalendarDisabled"
    [isForwardingOfCalendarDisabled]="isForwardingOfCalendarDisabled"
    [events]="events"
    (nextMonthClickedFromEdit)="nextMonthClicked($event)"
    (previousMonthClickedFromEdit)="previousMonthClicked($event)"
    [iseventsLoaded]="iseventsLoaded"></app-activities-edit>
</div>
<div id="app-calendar-container"
  *ngIf="showCalendar">
  <div class="app-calendar-content">
    <app-calendar (closeCalendar)="closeCalendar($event)"
      [viewDate]="viewDate"
      [events]="events"
      (nextMonthClicked)="nextMonthClicked($event)"
      (previousMonthClicked)="previousMonthClicked($event)"
      [isWeeklyHoursRequired]="true"
      [isBackwardingDisabled]="isBackwardingOfCalendarDisabled"
      [isForwardingDisabled]="isForwardingOfCalendarDisabled"
      [iseventsLoaded]="iseventsLoaded"
      [eventsName]="'epEvents'"></app-calendar>
  </div>
</div>

<app-confirm-dialog *ngIf="inConfirmDeleteView"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
  title="Delete Activity"
  confirmButtonText="Delete Activity"
  cancelButtonText="Cancel"
  message="Deleting an Activity will remove its information from this Employability Plan. Are you sure you want to do this?">
</app-confirm-dialog>
