<h2 class="poplegend">
  Child and Youth Supports
  <app-help-button [featureName]="'ia-child-and-youth-supports-help'"></app-help-button>
</h2>
<app-modified-stamp *ngIf="model?.modifiedBy"
  [author]="model?.modifiedBy"
  [lastModified]="model?.modifiedDate"
  [readOnly]="true"></app-modified-stamp>
<!-- We should load this dynamically -->
<blockquote class="popdesc">The following questions are about your children, whether you need assistance in
  setting up
  child care arrangements, and what
  other services might be available to help you and your children.</blockquote>
<!--This is where we show validation errors-->
<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
<fieldset *ngIf="model && isSectionActive"
  class="form-page">
  <hr />
  <app-cww-children [cwwChildren]="this.model?.cwwChildren"
    [cwwEligibility]="this.model?.cwwEligibility">
  </app-cww-children>
  <div class="row pad0-1">
    <label class="col-md-9 control-label"
      for="cc-chldrn">Do you have any children age 12 years old or under?</label>
    <div class="col-md-3">
      <div class="right">
        <app-yes-no-basic *ngIf="model"
          (ngModelChange)="model.hasChildren = $event; onModelChange();"
          [(ngModel)]="model.hasChildren"
          [isRequired]="true"
          [isDisabled]="model.hasNonEmptyChildren"
          [cacheInnerValue]="cached?.hasChildren"
          [errorIndicator]="modelErrors['hasChildren']"></app-yes-no-basic>
      </div>
    </div>
  </div>
  <hr class="spacer" />
  <div class="row pad0-1">
    <app-under12-child-age-repeater *ngIf="model && model.hasChildren"
      [(ngModel)]="model.children"
      class="w-100"
      (ngModelChange)="onModelChange()"
      [modelErrors]="modelErrors['children']"
      [modelsDeleted]="model.deletedChildren"
      [childYouthSupportsArrangmentDrop]="childChildCareArrangements"
      [cachedInitialModels]="cached?.children">
    </app-under12-child-age-repeater>
  </div>
  <div class="row pad0-1">
    <label class="col-md-9 control-label"
      for="cc-teen">Do you have any children age 13 to 18 with special needs in need
      of child care?</label>
    <div class="col-md-3">
      <div class="right">
        <app-yes-no-basic *ngIf="model"
          (ngModelChange)="model.hasTeensWithDisabilityInNeedOfChildCare = $event; onModelChange();"
          [(ngModel)]="model.hasTeensWithDisabilityInNeedOfChildCare"
          [isRequired]="true"
          [isDisabled]="model.hasNonEmptyTeens"
          [cacheInnerValue]="cached?.hasTeensWithDisabilityInNeedOfChildCare"
          [errorIndicator]="modelErrors['hasTeensWithDisabilityInNeedOfChildCare']"></app-yes-no-basic>
      </div>
    </div>
  </div>
  <hr class="spacer" />
  <div class="row pad0-1">
    <app-between13-and18-children-age-repeater class="w-100"
      *ngIf="model && model.hasTeensWithDisabilityInNeedOfChildCare"
      [(ngModel)]="model.teens"
      (ngModelChange)="onModelChange()"
      [modelsDeleted]="model.deletedTeens"
      [modelErrors]="modelErrors['teens']"
      [cachedInitialModels]="cached?.teens"></app-between13-and18-children-age-repeater>
  </div>
  <!-- if any of the child has special needs-->
  <div *ngIf="model.hasSpecialNeedsChild">
    <div class="row pad0-1">
      <label class="col-md-10">Does your child or family participate in any special needs programming?
        (Examples include
        Birth to 3, DVR, and school district programming)</label>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic *ngIf="model"
            [(ngModel)]="model.isSpecialNeedsProgramming"
            (ngModelChange)="model.isSpecialNeedsProgramming = $event; onModelChange();"
            [isRequired]="true"
            [cacheInnerValue]="cached?.isSpecialNeedsProgramming"
            [errorIndicator]="modelErrors['isSpecialNeedsProgramming']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row pad0-1">
      <div class="form-group col-md-12">
        <app-text-area *ngIf="model && model.isSpecialNeedsProgramming === true"
          [isDetails]="true"
          [maxlength]="380"
          [isAutoSizeable]="true"
          [placeholder]="'Details'"
          [(ngModel)]="model.specialNeedsProgrammingDetails"
          (ngModelChange)="model.specialNeedsProgrammingDetails = $event; onModelChange();"
          [isRequired]="model.isSpecialNeedsProgrammingRequired"
          [cacheInnerValue]="cached?.specialNeedsProgrammingDetails"
          [isInvalid]="modelErrors['specialNeedsProgrammingDetails']"></app-text-area>
      </div>
    </div>
  </div>
  <!-- if child under 5 years old -->
  <div *ngIf="model?.hasChildUnder5"
    class="pad1-0">
    <div class="standout pad0-1">
      <div class="row pad0-1">
        <div class="col-md-6">
          <label class=" control-label">Are you receiving WIC benefits?</label><br />
          <app-yes-no-basic *ngIf="model"
            [(ngModel)]="model.hasWicBenefits"
            (ngModelChange)="model.hasWicBenefits = $event; onModelChange();"
            [isRequired]="true"
            [cacheInnerValue]="cached?.hasWicBenefits"
            [errorIndicator]="modelErrors['hasWicBenefits']">
          </app-yes-no-basic>
        </div>
        <div class="col-md-6">
          <label class="control-label">Does your family participate in Head Start?</label><br />
          <app-yes-no-basic *ngIf="model"
            [(ngModel)]="model.isInHeadStart"
            (ngModelChange)="model.isInHeadStart = $event; onModelChange();"
            [isRequired]="true"
            [cacheInnerValue]="cached?.isInHeadStart"
            [errorIndicator]="modelErrors['isInHeadStart']">
          </app-yes-no-basic>
        </div>
      </div>
    </div>
  </div>

  <hr *ngIf="model?.hasChildUnder5" />

  <!-- END if child under 5 years old -->
  <!-- if no child under 5 years old -->
  <div *ngIf="model && !model.hasChildUnder5"
    class="pad2-1">
    <blockquote class="standout">Questions about WIC and Head Start are only displayed for participants with
      children
      under the age of 5 years old.</blockquote>
  </div>
  <!-- END if no child under 5 years old -->
  <!-- if child over 5 years old -->
  <!-- {{model | json}} -->
  <div *ngIf="model?.hasChildOrTeen5orOver">
    <div class="pad1-0">
      <div class="row pad0-1">
        <label class="col-md-10">Do any of your children participate in after school or summer programs?
          (Examples
          include the Boys and Girls Club, YMCA and other youth groups)</label>
        <div class="col-md-2">
          <div class="right">
            <app-yes-no-basic *ngIf="model"
              [(ngModel)]="model.isInAfterSchoolOrSummerProgram"
              (ngModelChange)="model.isInAfterSchoolOrSummerProgram = $event; onModelChange();"
              [isRequired]="true"
              [cacheInnerValue]="cached?.isInAfterSchoolOrSummerProgram"
              [errorIndicator]="modelErrors['isInAfterSchoolOrSummerProgram']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pad0-1">
        <div class="form-group col-md-12">
          <app-text-area *ngIf="model && model.isInAfterSchoolOrSummerProgram === true"
            [isDetails]="true"
            [(ngModel)]="model.afterSchoolOrSummerProgramNotes"
            (ngModelChange)="model.afterSchoolOrSummerProgramNotes = $event; onModelChange();"
            [isRequired]="model.isAfterSchoolOrSummerProgramNotesRequired"
            [cacheInnerValue]="cached?.afterSchoolOrSummerProgramNotes"
            [isInvalid]="modelErrors['afterSchoolOrSummerProgramNotes']"></app-text-area>
        </div>
      </div>
      <div class="row pad0-1">
        <label class="col-md-10">Do any of your children participate in mentoring programs? (Examples include
          Big
          Brothers/Big Sisters and Community Action Programs)</label>
        <div class="col-md-2">
          <div class="right">
            <app-yes-no-basic *ngIf="model"
              [(ngModel)]="model.isInMentoringProgram"
              (ngModelChange)="model.isInMentoringProgram = $event; onModelChange();"
              [isRequired]="true"
              [cacheInnerValue]="cached?.isInMentoringProgram"
              [errorIndicator]="modelErrors['isInMentoringProgram']">
            </app-yes-no-basic>
          </div>
        </div>
      </div>
      <div class="row pad0-1">
        <div class="form-group col-md-12">
          <app-text-area *ngIf="model && model.isInMentoringProgram === true"
            [isDetails]="true"
            [(ngModel)]="model.mentoringProgramNotes"
            (ngModelChange)="model.mentoringProgramNotes = $event; onModelChange();"
            [isRequired]="model.isMentoringProgramNotesRequired"
            [isInvalid]="modelErrors['mentoringProgramNotes']"
            [cacheInnerValue]="cached?.mentoringProgramNotes"></app-text-area>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="model?.hasChildOrTeen5orOver" />
  <!-- END if child over 5 years old -->
  <!-- if no child over 5 years old -->
  <div *ngIf="model && !model.hasChildOrTeen5orOver"
    class="pad1">
    <blockquote class="standout">Questions about after school programs and mentoring programs are only
      displayed for
      participants with children the age
      of 5 to 18 years old.</blockquote>
  </div>
  <!-- END if no child over 5 years old -->
  <div class="pad1">
    <div class="row">
      <label class="col-md-9">Do any of your children currently have a child welfare worker? This includes any
        children
        who live with another person most of the time.</label>
      <div class="col-md-3">
        <div class="right">
          <app-tab-selector *ngIf="model"
            [(ngModel)]="model.hasChildWelfareWorkerId"
            (ngModelChange)="model.hasChildWelfareWorkerId = $event; onModelChange();"
            [cacheInnerValue]="cached?.hasChildWelfareWorkerId"
            [tabs]="hasChildWelfareWorkerDrop"
            [isRequired]="true"
            [isInValid]="modelErrors['hasChildWelfareWorkerId']">
          </app-tab-selector>
        </div>
      </div>
    </div>
    <div *ngIf="model?.hasChildWelfareWorkerId === 1">
      <blockquote class="standout">
        <div class="row pad0-1">
          <div class="col-md-6">
            <label class="control-label">For which child(ren)?</label>
            <app-text-area [(ngModel)]="model.childWelfareWorkerChildren"
              (ngModelChange)="model.childWelfareWorkerChildren = $event; onModelChange();"
              [isInvalid]="modelErrors['childWelfareWorkerChildren']"
              [placeholder]="''"
              [cacheInnerValue]="cached?.childWelfareWorkerChildren"
              maxlength="120"
              [isAutoSizeable]="true"
              [isRequired]="true"></app-text-area>
          </div>
          <div class="col-md-6">
            <label class="control-label">Current plan or requirements</label>
            <app-text-area [(ngModel)]="model.childWelfareWorkerPlan"
              (ngModelChange)="model.childWelfareWorkerPlan = $event; onModelChange();"
              [isInvalid]="modelErrors['childWelfareWorkerPlan']"
              [cacheInnerValue]="cached?.childWelfareWorkerPlan"
              maxlength="380"
              [isAutoSizeable]="true"
              [isRequired]="true"
              placeholder="Details"></app-text-area>
          </div>
        </div>
        <div class="row pad0-1">
          <div class="col-md-12">
            <app-contacts-embed *ngIf="model"
              [pin]="participant?.pin"
              [cacheInnerValue]="cached?.childWelfareWorkerContactId"
              [(ngModel)]="model.childWelfareWorkerContactId"
              (ngModelChange)="model.childWelfareWorkerContactId = $event; onModelChange();">
            </app-contacts-embed>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
  <!-- only if participant is under 26 years old -->
  <div *ngIf="isParticipantUnder26()">
    <div class="row pad1">
      <label class="col-md-9 control-label">Did you or will you age out of foster care?</label>
      <div class="col-md-3">
        <div class="right">
          <app-yes-no-basic *ngIf="model"
            [(ngModel)]="model.didOrWillAgeOutOfFosterCare"
            (ngModelChange)="model.didOrWillAgeOutOfFosterCare = $event; onModelChange();"
            [isRequired]="true"
            [cacheInnerValue]="cached?.didOrWillAgeOutOfFosterCare"
            [errorIndicator]="modelErrors['didOrWillAgeOutOfFosterCare']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div *ngIf="model && model.didOrWillAgeOutOfFosterCare === true">
      <div class="alert alert-info">
        <p>Independent Living (IL) services are available to eligible individuals placed in out-of-home care
          and those
          that age out of care up to age 21.</p>
        <p>The DCF Scholarship and Education and Training Voucher (EVT) Funds may be available to individuals
          up to age
          23 in certain circumstances.</p>
        <p>Individuals who were in foster care at age 18 may receive full Medicaid benefits until age 26.</p>
        <p>Apply for these services at your Regional Independent Living Transition Resource Agency.</p>
        <a href="https://dcf.wisconsin.gov/independentliving"
          target="_blank"
          class="btn btn-primary">Contact
          information and regional map</a>
      </div>

      <div class="row pad0-1">
        <div class="form-group col-md-12">
          <app-text-area [isDetails]="true"
            [(ngModel)]="model.fosterCareNotes"
            (ngModelChange)="model.fosterCareNotes = $event; onModelChange();"
            [cacheInnerValue]="cached?.fosterCareNotes"
            [isRequired]="true"
            [isInvalid]="modelErrors['fosterCareNotes']"></app-text-area>
        </div>
      </div>
    </div>
  </div>
  <!-- END if participant is under 26 years old -->
  <div class="row pad1">
    <label class="col-md-9 control-label"
      for="cc-change">Will there be any changes with your child care in the near
      future?</label>
    <div class="col-md-3">
      <div class="right">
        <app-yes-no-basic *ngIf="model"
          (ngModelChange)="model.hasFutureChildCareChanges = $event; onModelChange();"
          [(ngModel)]="model.hasFutureChildCareChanges"
          [isRequired]="true"
          [cacheInnerValue]="cached?.hasFutureChildCareChanges"
          [errorIndicator]="modelErrors['hasFutureChildCareChanges']"></app-yes-no-basic>
      </div>
    </div>
  </div>
  <div class="row pad0-1">
    <div class="form-group col-md-12">
      <app-text-area *ngIf="model && model.hasFutureChildCareChanges === true"
        [isDetails]="true"
        (ngModelChange)="model.futureChildCareChangesNotes = $event; onModelChange();"
        [isRequired]="model.hasFutureChildCareChanges === true"
        [cacheInnerValue]="cached?.futureChildCareChangesNotes"
        [isInvalid]="modelErrors['futureChildCareChangesNotes']"
        [(ngModel)]="model.futureChildCareChangesNotes">
      </app-text-area>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-action-needed-embed [pageName]="'child-youth-supports'"
        *ngIf="model"
        [participantPin]="this.participant?.pin"
        [(ngModel)]="model.actionNeeded"
        (ngModelChange)="model.actionNeeded = $event; onModelChange();"
        [isActionErrored]="modelErrors['actionNeeded']"
        [cacheInnerValue]="cached?.actionNeeded"></app-action-needed-embed>
    </div>
  </div>
  <hr />
  <div class="row pad0-1">
    <div class="col-md-12">
      <app-text-area *ngIf="model"
        (ngModelChange)="model.notes = $event; onModelChange();"
        [(ngModel)]="model.notes"
        [cacheInnerValue]="cached?.notes"></app-text-area>
    </div>
  </div>
</fieldset>
