<h2 class="poplegend">
  <!-- We should load this dynamically -->
  Education History
  <!--<button class="label label-info sec-help help-label" (click)="help.open('lg')"><i class="fa fa-question"></i></button>-->
  <app-help-button [featureName]="'ia-education-history-help'"></app-help-button>
</h2>

<!-- We should load this dynamically -->
<blockquote class="popdesc">The following questions are about your High School graduation status.</blockquote>

<fieldset *ngIf="model" class="form-page">
  <!--This is where we show validation errors-->
  <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

  <app-modified-stamp *ngIf="model?.modifiedBy" [author]="model?.modifiedBy" [lastModified]="model?.modifiedDate" [readOnly]="true"></app-modified-stamp>

  <hr class="spacer" />

  <div class="row pad1-0">
      <div class="graduated form-group col-md-6">
          <label class="control-label" for="lang-interpreter">What is your high school graduation status?</label>
      </div>
      <div class="form-fieldset tright control-group col-md-6">
          <app-tab-selector [(ngModel)]="model.diploma" (ngModelChange)="model.diploma = $event; checkState();" [cacheInnerValue]="cached?.diploma" [tabs]="educationDiplomaTypes" [isRequired]="true" [isInValid]="modelErrors['diploma']"></app-tab-selector>
      </div>
  </div>

  <div class="row pad1-0" *ngIf="model?.diploma === noneId">
      <div class="col-md-6">
          <label class="control-label" for="lang-interpreter">Have you ever attended school?</label>
      </div>

      <div class="col-md-6 tright control-group">
          <div class="right">
              <app-yes-no-basic [errorIndicator]="modelErrors['hasEverGoneToSchool']" [cacheInnerValue]="cached?.hasEverGoneToSchool" (ngModelChange)="model.hasEverGoneToSchool = $event; checkState();" [isRequired]="true" [(ngModel)]="model.hasEverGoneToSchool"></app-yes-no-basic>
          </div>
      </div>
  </div>

  <div class="row pad1-0" *ngIf="model?.diploma === 0 || model?.diploma === diplomaId || model?.diploma === gedId || model?.diploma === hsedId || model.diploma === noneId && model.hasEverGoneToSchool === true">
      <div class="col-md-12 standout">

          <h4>Last School Attended (K-12)</h4>
          <p class="text-muted pad0-1 small">This does not include post-secondary schools or GED/HSED training centers</p>
          <div class="row pad0-1" style="padding-bottom:1em;">

              <div class="col-md-4 control-group">
                  <label for="school-hs-loc" class="control-label"><br />Location</label>
                  <app-remote-auto-complete (ngModelChange)="model.location = $event; model.schoolName = null; checkState();" [cacheInnerValue]="cached?.location" [errorIndicator]="modelErrors['schoolLocation']" [isRequired]="true" [(ngModel)]="model.location"></app-remote-auto-complete>
              </div>

              <div class="col-md-6 rel input-wrapper control-group">
                  <label for="school-hs-name" class="control-label"><br />School Name</label>

                  <app-remote-auto-suggest (ngModelChange)="model.schoolName = $event; checkState();" [isInvalidbyParent]="modelErrors['schoolName']" [googlePlaceIdInput]="model?.location?.googlePlaceId" [cacheInnerValue]="cached?.schoolName" [searchType]="'schools'"
                      [isRequired]="true" [(ngModel)]="model.schoolName"></app-remote-auto-suggest>

              </div>

              <div class="col-md-2 control-group">
                  <label for="school-hs-last-year" class="control-label">Last Year<br />Attended</label>
                  <app-date-input [isRequired]="true" [isValidByParent]="modelErrors['lastYearAttended']" (ngModelChange)="model.lastYearAttended = $event; checkState();" [cacheInnerValue]="cached?.lastYearAttended" [(ngModel)]="model.lastYearAttended"></app-date-input>

              </div>

          </div>
          <div class="row pad0-1" style="padding-bottom:1em;">

              <div *ngIf="model?.diploma != 0 && model?.diploma != diplomaId" class="col-md-5 ged-hsed no-diploma rel control-group">
                  <label for="school-hs-completed" class="control-label">Last Grade Completed</label>
                  <app-select (ngModelChange)="model.lastGradeCompleted = $event; checkState();" [isInvalid]="modelErrors['lastGradeCompleted']" [isRequired]="true" [dropDownList]="lastGradeDrop" [cacheInnerValue]="cached?.lastGradeCompleted" [(ngModel)]="model.lastGradeCompleted"></app-select>
              </div>

              <div *ngIf="model?.diploma == noneId" class="col-md-3 no-diploma control-group">
                  <label class="control-label full" for="school-hs-enrolled">Currently enrolled?</label>
                  <div class="left">
                      <app-yes-no-basic [isRequired]="true" [cacheInnerValue]="cached?.isCurrentlyEnrolled" [errorIndicator]="modelErrors['isCurrentlyEnrolled']" (ngModelChange)="model.isCurrentlyEnrolled = $event; checkState();" [(ngModel)]="model.isCurrentlyEnrolled"></app-yes-no-basic>
                  </div>
              </div>
          </div>

          <div *ngIf="model?.diploma == noneId && model.isCurrentlyEnrolled === true" class="pad0-1">
              <hr />
              <div class="row">
                  <div class="col-md-12">
                      <label>Do you currently have an individualized education plan (IEP)?</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <app-yes-no-basic [isRequired]="true" [cacheInnerValue]="cached?.hasEducationPlan" [errorIndicator]="modelErrors['hasEducationPlan']" (ngModelChange)="model.hasEducationPlan = $event; checkState();" [(ngModel)]="model.hasEducationPlan"></app-yes-no-basic>
                  </div>
                  <div *ngIf="model?.hasEducationPlan === true" class="col-md-9">
                      <app-text-area [maxlength]="380" [isRequired]="true" [isAutoSizeable]="true" [placeholder]="'Details'" [isInvalid]="modelErrors['educationPlanDetails']" (ngModelChange)="model.educationPlanDetails = $event; checkState();" [(ngModel)]="model.educationPlanDetails"
                          [cacheInnerValue]="cached?.educationPlanDetails"></app-text-area>
                  </div>
              </div>
          </div>

      </div>
  </div>

  <div class="row pad1-0" *ngIf="model?.diploma === gedId || model?.diploma === hsedId">
      <div class="col-md-12 standout">
          <h4 class="gedTitle">GED/HSED</h4>

          <div class="row pad0-1 form-group">

              <div class="col-md-5 rel input-wrapper control-group">
                  <label for="school-ged-issuer" class="control-label">State Issued</label>
                  <app-auto-complete [isRequired]="true" (ngModelChange)="model.issuingAuthorityCode = $event; checkState();" [cacheInnerValue]="cached?.issuingAuthorityCode" [isValidByParent]="modelErrors['issuingAuthorityCode']" [dropDownList]="certificatesDrop"
                      [(ngModel)]="model.issuingAuthorityCode"></app-auto-complete>
              </div>

              <div class="col-md-2 control-group">
                  <label for="school-ged-year" class="control-label">Year Awarded</label>
                  <app-date-input [isValidByParent]="modelErrors['certificateYearAwarded']" [cacheInnerValue]="cached?.certificateYearAwarded" (ngModelChange)="model.certificateYearAwarded = $event; checkState();" [(ngModel)]="model.certificateYearAwarded"></app-date-input>
              </div>

          </div>

      </div>
  </div>

  <div class="row pad1-0" *ngIf="model?.diploma === noneId">
      <div class="col-md-6">
          <label class="control-label" for="ged-hsed">
              Are you working towards a GED or HSED?
          </label>
      </div>
      <div class="col-md-6 tright">
          <div class="right">
              <app-yes-no-basic (ngModelChange)="model.gedHsedStatus = $event; checkState();" [cacheInnerValue]="cached?.gedHsedStatus" [isRequired]="false" [(ngModel)]="model.gedHsedStatus"></app-yes-no-basic>
          </div>
      </div>
  </div>

  <div class="row" *ngIf="model && model.diploma === noneId">
      <div class="col-md-12">
          <app-test-scores-embed [pin]="participant?.pin"></app-test-scores-embed>
      </div>
  </div>

  <hr />

  <app-text-area (ngModelChange)="model.notes = $event; checkState();" [cacheInnerValue]="cached?.notes" [(ngModel)]="model.notes"></app-text-area>

</fieldset>
