<h2 class="poplegend">
  Family Barriers
  <app-help-button [featureName]="'ia-family-barriers-help'"></app-help-button>
</h2>
<blockquote class="popdesc">The following questions are about issues that your family is currently facing,
  including
  whether you or anyone in your family has applied for or received SSI/SSDI.</blockquote>
<fieldset *ngIf="model"
  class="form-page">
  <app-validation-summary [errors]='validationManager?.errors'></app-validation-summary>
  <app-modified-stamp *ngIf="model?.modifiedBy"
    [author]="model?.modifiedBy"
    [lastModified]="model?.modifiedDate"
    [readOnly]="true"></app-modified-stamp>
  <hr class="spacer" />
  <h4 class="part-title">SSI/SSDI</h4>
  <div class="py-3">
  </div>
  <div class="py-3"
    *ngIf="canAccessFamilyBarriersSsi">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Have you ever applied for SSI or SSDI?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic *ngIf="model"
            (ngModelChange)="model.hasEverAppliedSsi = $event; onModelChange();"
            [(ngModel)]="model.hasEverAppliedSsi"
            [cacheInnerValue]="cached?.hasEverAppliedSsi"
            [isRequired]="true"
            [errorIndicator]="modelErrors['hasEverAppliedSsi']"></app-yes-no-basic>
        </div>
      </div>
    </div>
  </div>
  <fieldset id="selfSSI"
    *ngIf="model && model.hasEverAppliedSsi && canAccessFamilyBarriersSsi">
    <!-- IF YES -->
    <div class="py-3">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Are you currently in the process of applying for SSI or SSDI?</label>
        </div>
        <div class="col-md-4">
          <div class="right">
            <app-yes-no-basic (ngModelChange)="model.isCurrentlyApplyingSsi = $event; onModelChange();"
              [(ngModel)]="model.isCurrentlyApplyingSsi"
              [cacheInnerValue]="cached?.isCurrentlyApplyingSsi"
              [isRequired]="true"
              [errorIndicator]="modelErrors['isCurrentlyApplyingSsi']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <blockquote *ngIf="model.isCurrentlyApplyingSsi"
        class="standout">
        <!-- IF YES -->
        <div class="row padhalf">
          <div class="col-md-4">
            <label>What is the status of the application?</label><br>
            <app-select [(ngModel)]="model.ssiApplicationStatusId"
              (ngModelChange)="model.ssiApplicationStatusId = $event; onModelChange();"
              [isInvalid]="modelErrors['ssiApplicationStatusId']"
              [cacheInnerValue]="cached?.ssiApplicationStatusId"
              [isRequired]="true"
              [dropDownList]="ssiApplicationStatuses"></app-select>
          </div>
          <div [class.col-md-8]="!model.isSsiApplicationDateDisplayedAndRequired(ssiApplicationStatuses)"
            [class.col-md-5]="model.isSsiApplicationDateDisplayedAndRequired(ssiApplicationStatuses)">
            <label>&nbsp;</label><br>
            <app-text-area [(ngModel)]="model.ssiApplicationStatusDetails"
              (ngModelChange)="model.ssiApplicationStatusDetails = $event; onModelChange();"
              [cacheInnerValue]="cached?.ssiApplicationStatusDetails"
              [isInvalid]="modelErrors['ssiApplicationStatusDetails']"
              maxlength="380"
              [isAutoSizeable]="true"
              [isDetails]="true"
              [placeholder]="'Details'"></app-text-area>
          </div>
          <div *ngIf="model.isSsiApplicationDateDisplayedAndRequired(ssiApplicationStatuses)"
            class="col-md-3">
            <label>Month Applied</label><br />
            <app-date-mm-yyyy [(ngModel)]="model.ssiApplicationDate"
              (ngModelChange)="model.ssiApplicationDate = $event; onModelChange();"
              [cacheInnerValue]="cached?.ssiApplicationDate"
              [isInvalid]="modelErrors['ssiApplicationDate']"
              [isRequired]="true"></app-date-mm-yyyy>
          </div>
        </div>
        <div *ngIf="model.isSsiApplicationIsAnyoneHelpingDisplayedAndRequired(ssiApplicationStatuses)">
          <label class="padhalf"
            style="padding-bottom:0;">Is anyone helping you with your application?</label>
          <div class="row padhalf">
            <div class="col-md-2">
              <app-yes-no-basic
                (ngModelChange)="model.ssiApplicationIsAnyoneHelping = $event; onModelChange();"
                [(ngModel)]="model.ssiApplicationIsAnyoneHelping"
                [cacheInnerValue]="cached?.ssiApplicationIsAnyoneHelping"
                [isRequired]="true"
                [errorIndicator]="modelErrors['ssiApplicationIsAnyoneHelping']"></app-yes-no-basic>
            </div>
            <div *ngIf="model.ssiApplicationIsAnyoneHelping === true"
              class="col-md-10">
              <app-text-area [(ngModel)]="model.ssiApplicationDetails"
                (ngModelChange)="model.ssiApplicationDetails = $event; onModelChange();"
                [cacheInnerValue]="cached?.ssiApplicationDetails"
                [isInvalid]="modelErrors['ssiApplicationDetails']"
                maxlength="380"
                [isRequired]="true"
                [autoResize]="true"
                [isDetails]="true"
                [placeholder]="'Details'">
              </app-text-area>
            </div>
          </div>
          <div *ngIf="model.ssiApplicationIsAnyoneHelping === true"
            class="row padhalf">
            <div class="col-md-12">
              <app-contacts-embed [pin]="participant?.pin"
                [(ngModel)]="model.ssiApplicationContactId"
                [class.dirty]="model.ssiApplicationContactId !== cached?.ssiApplicationContactId"
                (ngModelChange)="model.ssiApplicationContactId = $event; onModelChange();">
              </app-contacts-embed>
            </div>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="py-3">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Have you received SSI or SSDI in the past?</label>
        </div>
        <div class="col-md-4">
          <div class="right">
            <app-yes-no-basic (ngModelChange)="model.hasReceivedPastSsi = $event; onModelChange();"
              [(ngModel)]="model.hasReceivedPastSsi"
              [isRequired]="true"
              [cacheInnerValue]="cached?.hasReceivedPastSsi"
              [errorIndicator]="modelErrors['hasReceivedPastSsi']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <blockquote *ngIf="model && model.hasReceivedPastSsi === true && canAccessFamilyBarriersSsi"
        class="standout">
        <!-- IF YES -->
        <label class="padhalf"
          style="padding-bottom:0;">Why did you receive SSI or SSDI?</label>
        <div class="row padhalf">
          <div class="col-md-12">
            <app-text-area [isDetails]="true"
              (ngModelChange)="model.familyBarriersReasonForPastSsiDetails = $event; onModelChange();"
              [isRequired]="true"
              [cacheInnerValue]="cached?.familyBarriersReasonForPastSsiDetails"
              [isInvalid]="modelErrors['familyBarriersReasonForPastSsiDetails']"
              [(ngModel)]="model.familyBarriersReasonForPastSsiDetails"></app-text-area>
          </div>
        </div>
      </blockquote>
      <blockquote *ngIf="model && model.hasReceivedPastSsi === true"
        class="standout">
        <!-- IF YES -->
        <label class="padhalf"
          style="padding-bottom:0;">What is the reason you no longer receive SSI or SSDI?</label>
        <div class="row padhalf">
          <div class="col-md-12">
            <app-text-area [isDetails]="true"
              (ngModelChange)="model.pastSsiDetails = $event; onModelChange();"
              [isRequired]="true"
              [cacheInnerValue]="cached?.pastSsiDetails"
              [isInvalid]="modelErrors['pastSsiDetails']"
              [(ngModel)]="model.pastSsiDetails"></app-text-area>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="py-3">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Have you ever been denied for SSI or SSDI?</label>
        </div>
        <div class="col-md-4">
          <div class="right">
            <app-yes-no-basic (ngModelChange)="model.hasDeniedSsi = $event; onModelChange();"
              [(ngModel)]="model.hasDeniedSsi"
              [cacheInnerValue]="cached?.hasDeniedSsi"
              [isRequired]="true"
              [errorIndicator]="modelErrors['hasDeniedSsi']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <blockquote *ngIf="model && model.hasDeniedSsi === true"
        class="standout">
        <!-- IF YES -->
        <label class="padhalf"
          style="padding-bottom:0;">What was the approximate month, year, and details for the last
          denial?</label>
        <div class="row padhalf">
          <div class="col-md-3">
            <app-date-mm-yyyy [(ngModel)]="model.deniedSsiDate"
              (ngModelChange)="model.deniedSsiDate = $event; onModelChange();"
              [cacheInnerValue]="cached?.deniedSsiDate"
              [isInvalid]="modelErrors['deniedSsiDate']"
              [isRequired]="true"></app-date-mm-yyyy>
          </div>
          <div class="col-md-9">
            <app-text-area [maxlength]="380"
              [isRequired]="true"
              [isInvalid]="modelErrors['deniedSsiDetails']"
              [cacheInnerValue]="cached?.deniedSsiDetails"
              [isAutoSizeable]="true"
              [placeholder]="'Details'"
              (ngModelChange)="model.deniedSsiDetails"
              (ngModelChange)="model.deniedSsiDetails = $event; onModelChange();"
              [(ngModel)]="model.deniedSsiDetails">
            </app-text-area>
          </div>
        </div>
      </blockquote>
    </div>
  </fieldset>
  <div class="py-3"
    *ngIf="canAccessFamilyBarriersSsi">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Are you interested in learning more about the SSI/SSDI application
          process?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic (ngModelChange)="model.isInterestedInLearningMoreSsi = $event; onModelChange();"
            [(ngModel)]="model.isInterestedInLearningMoreSsi"
            [cacheInnerValue]="cached?.isInterestedInLearningMoreSsi"
            [isRequired]="true"
            [errorIndicator]="modelErrors['isInterestedInLearningMoreSsi']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div *ngIf="model && model.isInterestedInLearningMoreSsi === true"
      class="row">
      <!-- IF YES -->
      <div class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.interestedInLearningMoreSsiDetails = $event; onModelChange();"
          [cacheInnerValue]="cached?.interestedInLearningMoreSsiDetails"
          [isRequired]="true"
          [isInvalid]="modelErrors['interestedInLearningMoreSsiDetails']"
          [(ngModel)]="model.interestedInLearningMoreSsiDetails"></app-text-area>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Has anyone in your family ever applied for SSI or SSDI?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic (ngModelChange)="model.hasAnyoneAppliedForSsi = $event; onModelChange();"
            [(ngModel)]="model.hasAnyoneAppliedForSsi"
            [cacheInnerValue]="cached?.hasAnyoneAppliedForSsi"
            [isRequired]="true"
            [errorIndicator]="modelErrors['hasAnyoneAppliedForSsi']"></app-yes-no-basic>
        </div>
      </div>
    </div>
  </div>
  <fieldset *ngIf="model && model.hasAnyoneAppliedForSsi === true"
    id="familySSI">
    <!-- IF YES -->
    <div class="py-3">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Is anyone in your family receiving SSI or SSDI?</label>
        </div>
        <div class="col-md-4">
          <div class="right">
            <app-yes-no-basic (ngModelChange)="model.isAnyoneReceivingSsi = $event; onModelChange();"
              [(ngModel)]="model.isAnyoneReceivingSsi"
              [cacheInnerValue]="cached?.isAnyoneReceivingSsi"
              [isRequired]="true"
              [errorIndicator]="modelErrors['isAnyoneReceivingSsi']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div *ngIf="model && model.isAnyoneReceivingSsi === true"
        class="row">
        <div class="col-md-12">
          <app-text-area [isDetails]="true"
            (ngModelChange)="model.anyoneReceivingSsiDetails = $event; onModelChange();"
            [cacheInnerValue]="cached?.anyoneReceivingSsiDetails"
            [isRequired]="true"
            [isInvalid]="modelErrors['anyoneReceivingSsiDetails']"
            [(ngModel)]="model.anyoneReceivingSsiDetails">
          </app-text-area>
        </div>
      </div>
    </div>
    <div class="py-3">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Is anyone in your family in the process of applying for SSI or
            SSDI?</label>
        </div>
        <div class="col-md-4">
          <div class="right">
            <app-yes-no-basic (ngModelChange)="model.isAnyoneApplyingForSsi = $event; onModelChange();"
              [(ngModel)]="model.isAnyoneApplyingForSsi"
              [cacheInnerValue]="cached?.isAnyoneApplyingForSsi"
              [isRequired]="true"
              [errorIndicator]="modelErrors['isAnyoneApplyingForSsi']"></app-yes-no-basic>
          </div>
        </div>
      </div>
      <div *ngIf="model && model.isAnyoneApplyingForSsi === true"
        class="row">
        <div class="col-md-12">
          <app-text-area [isDetails]="true"
            (ngModelChange)="model.anyoneApplyingForSsiDetails = $event; onModelChange();"
            [cacheInnerValue]="cached?.anyoneApplyingForSsiDetails"
            [isRequired]="true"
            [isInvalid]="modelErrors['anyoneApplyingForSsiDetails']"
            [(ngModel)]="model.anyoneApplyingForSsiDetails">
          </app-text-area>
        </div>
      </div>
    </div>
  </fieldset>
  <hr class="spacer" />
  <h4 class="part-title">Family Needs</h4>
  <div class="docs-holder tcenter small">
    <a href="https://dcf.wisconsin.gov/files/forms/pdf/10786.pdf"
      target="_blank"
      class="btn btn-primary">
      <span><i class="fa fa-file-alt"></i></span>
      <p>Need to Care for Disabled Family Member</p>
      <p class="small"><strong>DCF-F-DWSP10786</strong></p>
    </a>
  </div>
  <div class="py-3">
    <div class="alert cares-alert"
      role="alert"
      *ngIf="model?.cwwLearnfare[0]?.firstName">
      <h4><img src="/assets/img/cww_logo.png"
          width="36"
          height="36"
          style="margin-top:-2px;" /> Learnfare</h4>

      <table class="table housing"
        id="housing-cww">
        <thead>
          <tr class="d-flex">
            <th class="w-40">Child Name</th>
            <th class="w-20">DOB</th>
            <th class="w-40">Learnfare Status</th>
          </tr>
        </thead>
        <tbody class="flex-wrap">
          <tr class="d-flex"
            *ngFor="let child of model?.cwwLearnfare">
            <td class="w-40">{{child.firstName}}&nbsp;{{child.middleInitial}}&nbsp;{{child.lastName}}</td>
            <td class="w-20">{{child.birthDate | date:'shortDate'}}</td>
            <td class="w-40">{{child.learnFareStatus}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-10">
        <label>Do you have caretaking responsibilities for any family members in your household due to health
          problems
          or other special needs?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic (ngModelChange)="model.hasCaretakingResponsibilities = $event; onModelChange();"
            [(ngModel)]="model.hasCaretakingResponsibilities"
            [cacheInnerValue]="cached?.hasCaretakingResponsibilities"
            [isRequired]="true"
            [errorIndicator]="modelErrors['hasCaretakingResponsibilities']"
            [isDisabled]="model.hasNonEmptyFamilyMembers"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <app-caretaking-repeater *ngIf="model.hasCaretakingResponsibilities === true"
      [(ngModel)]="model.familyMembers"
      (ngModelChange)="onModelChange()"
      [cachedInitialModels]="cached?.familyMembers"
      [modelErrors]="modelErrors['familyMembers']"
      [modelsDeleted]="model.deletedFamilyMembers"
      [relationships]="relationshipsDrop"></app-caretaking-repeater>
  </div>
  <div *ngIf="model && model.hasCaretakingResponsibilities === true"
    class="py-3">
    <!-- if YES on previous question -->
    <div class="row">
      <div class="col-md-10">
        <label>Do you have concerns that these caretaking responsibilities will make it hard to participate in
          work
          activities?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic
            (ngModelChange)="model.hasConcernsAboutCaretakingResponsibilities = $event; onModelChange();"
            [(ngModel)]="model.hasConcernsAboutCaretakingResponsibilities"
            [cacheInnerValue]="cached?.hasConcernsAboutCaretakingResponsibilities"
            [isRequired]="true"
            [errorIndicator]="modelErrors['hasConcernsAboutCaretakingResponsibilities']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- if yes -->
      <div *ngIf="model && model.hasConcernsAboutCaretakingResponsibilities === true"
        class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.concernsAboutCaretakingResponsibilitiesDetails = $event; onModelChange();"
          [cacheInnerValue]="cached?.concernsAboutCaretakingResponsibilitiesDetails"
          [isRequired]="true"
          [isInvalid]="modelErrors['concernsAboutCaretakingResponsibilitiesDetails']"
          [(ngModel)]="model.concernsAboutCaretakingResponsibilitiesDetails"></app-text-area>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-10">
        <label>Do any family members in your household engage in risky activities such as excessive use of
          drugs or
          alcohol, illegal activity, or gang involvement?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic
            (ngModelChange)="model.doesHouseholdEngageInRiskyActivities = $event; onModelChange();"
            [(ngModel)]="model.doesHouseholdEngageInRiskyActivities"
            [cacheInnerValue]="cached?.doesHouseholdEngageInRiskyActivities"
            [isRequired]="true"
            [errorIndicator]="modelErrors['doesHouseholdEngageInRiskyActivities']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- if yes -->
      <div *ngIf="model && model.doesHouseholdEngageInRiskyActivities === true"
        class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.householdEngageInRiskyActivitiesDetails = $event; onModelChange();"
          [isRequired]="true"
          [cacheInnerValue]="cached?.householdEngageInRiskyActivitiesDetails"
          [isInvalid]="modelErrors['householdEngageInRiskyActivitiesDetails']"
          [(ngModel)]="model.householdEngageInRiskyActivitiesDetails"></app-text-area>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-10">
        <label>Do any of the children in your household have other behavior problems that will affect your
          ability to
          participate in work activities?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic (ngModelChange)="model.doChildrenHaveBehaviourProblems = $event; onModelChange();"
            [(ngModel)]="model.doChildrenHaveBehaviourProblems"
            [cacheInnerValue]="cached?.doChildrenHaveBehaviourProblems"
            [isRequired]="true"
            [errorIndicator]="modelErrors['doChildrenHaveBehaviourProblems']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- if yes -->
      <div *ngIf="model && model.doChildrenHaveBehaviourProblems === true"
        class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.childrenHaveBehaviourProblemsDetails = $event; onModelChange();"
          [cacheInnerValue]="cached?.childrenHaveBehaviourProblemsDetails"
          [isRequired]="true"
          [isInvalid]="modelErrors['childrenHaveBehaviourProblemsDetails']"
          [(ngModel)]="model.childrenHaveBehaviourProblemsDetails"></app-text-area>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-10">
        <label>Are any of the children in your household at risk of suspension or expulsion from
          school?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic
            (ngModelChange)="model.areChildrenAtRiskOfSchoolSuspension = $event; onModelChange();"
            [(ngModel)]="model.areChildrenAtRiskOfSchoolSuspension"
            [cacheInnerValue]="cached?.areChildrenAtRiskOfSchoolSuspension"
            [isRequired]="true"
            [errorIndicator]="modelErrors['areChildrenAtRiskOfSchoolSuspension']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- if yes -->
      <div *ngIf="model && model.areChildrenAtRiskOfSchoolSuspension === true"
        class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.childrenAtRiskOfSchoolSuspensionDetails = $event; onModelChange();"
          [cacheInnerValue]="cached?.childrenAtRiskOfSchoolSuspensionDetails"
          [isRequired]="true"
          [isInvalid]="modelErrors['childrenAtRiskOfSchoolSuspensionDetails']"
          [(ngModel)]="model.childrenAtRiskOfSchoolSuspensionDetails"></app-text-area>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="row">
      <div class="col-md-10">
        <label>Are there any other issues with your family that may affect your ability to participate in work
          activities?</label>
      </div>
      <div class="col-md-2">
        <div class="right">
          <app-yes-no-basic (ngModelChange)="model.areAnyFamilyIssuesAffectWork = $event; onModelChange();"
            [(ngModel)]="model.areAnyFamilyIssuesAffectWork"
            [cacheInnerValue]="cached?.areAnyFamilyIssuesAffectWork"
            [isRequired]="true"
            [errorIndicator]="modelErrors['areAnyFamilyIssuesAffectWork']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- if yes -->
      <div *ngIf="model && model.areAnyFamilyIssuesAffectWork === true"
        class="col-md-12">
        <app-text-area [isDetails]="true"
          (ngModelChange)="model.anyFamilyIssuesAffectWorkDetails = $event; onModelChange();"
          [isRequired]="true"
          [cacheInnerValue]="cached?.anyFamilyIssuesAffectWorkDetails"
          [isInvalid]="modelErrors['anyFamilyIssuesAffectWorkDetails']"
          [(ngModel)]="model.anyFamilyIssuesAffectWorkDetails"></app-text-area>
      </div>
    </div>
  </div>
  <hr class="spacer" />
  <hr />
  <div class="row">
    <div class="col-md-12">
      <app-action-needed-embed *ngIf="model"
        [(ngModel)]="model.actionNeeded"
        [pageName]="'family-barriers'"
        [participantPin]="this.participant?.pin"
        (ngModelChange)="model.actionNeeded = $event; onModelChange();"
        [isActionErrored]="modelErrors['actionNeeded']"
        [cacheInnerValue]="cached?.actionNeeded">
      </app-action-needed-embed>
    </div>
  </div>
  <hr />
  <div class="control-group clearfix">
    <app-text-area [(ngModel)]="model.notes"
      (ngModelChange)="model.notes = $event; onModelChange()"
      [cacheInnerValue]="cached?.notes"></app-text-area>
  </div>
</fieldset>