<h2 class="poplegend">
  Housing
  <!--<button class="label label-info sec-help help-label" (click)="help.open('lg')"><i class="fa fa-question"></i></button>-->
  <app-help-button [featureName]="'ia-housing-help'"></app-help-button>
</h2>

<!-- We should load this dynamically -->
<blockquote class="popdesc">The following questions are about your current housing situation.</blockquote>

<!--This is where we show validation errors-->
<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
<!-- <app-validation-summary [errors]='validationManagerCurrentHousing.errors'></app-validation-summary>
<app-validation-summary [errors]='validationManagerCurrentHousingPart2.errors'></app-validation-summary> -->

<app-modified-stamp *ngIf="model?.modifiedBy"
  [author]="model?.modifiedBy"
  [lastModified]="model?.modifiedDate"
  [readOnly]="true"></app-modified-stamp>

<fieldset *ngIf="model"
  class="form-page">

  <hr class="spacer" />

  <div class="pad0-1">
    <div class="alert cares-alert"
      role="alert"
      *ngIf="model?.cwwHousing?.length > 0">
      <h4><img src="/assets/img/cww_logo.png"
          width="36"
          height="36"
          style="margin-top:-2px;" /> Current Address</h4>

      <table class="table housing"
        id="housing-cww">
        <thead>
          <tr class="d-flex">
            <th class="w-30">Address</th>
            <th class="w-20">City</th>
            <th class="w-10">State</th>
            <th class="w-10">Zip</th>
            <th class="w-20">Subsidized</th>
            <th class="w-20">Rent&nbsp;Obligation</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex"
            *ngFor="let housing of model.cwwHousing">
            <td class="w-30">{{housing.address}}</td>
            <td class="w-20">{{housing.city}}</td>
            <td class="w-10">{{housing.state}}</td>
            <td class="w-10">{{housing.zip}}</td>
            <td class="w-20">{{housing.subsidized}}</td>
            <td class="w-20">{{housing.rentObligation}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <h4>Current Housing</h4>

  <fieldset *ngIf="model"
    class="repeat cur-to-hist">
    <div *ngIf="!isForcedAndEndDateVisible">
      <div class="content pad1">

        <div class="row">
          <div class="col-md-4">
            <label>Housing Situation</label><br />
            <app-select [(ngModel)]="model.housingSituationId"
              (ngModelChange)="model.housingSituationId = $event; checkCurrentState(); checkState();"
              [isInvalid]="modelErrors['housingSituationId']"
              [dropDownList]="housingSituationsDrop"
              [isRequired]="true"
              [cacheInnerValue]="this.originalModel?.housingSituationId"></app-select>
          </div>
          <div class="col-md-3">
            <label>Begin Date</label><br />
            <app-date-mm-yyyy-input [(ngModel)]="model.currentHousingBeginDate"
              (ngModelChange)="model.currentHousingBeginDate = $event; checkCurrentState(); checkState();"
              [errorIndicator]="modelErrors['currentHousingBeginDate']"
              [isRequired]="true"
              [cacheInnerValue]="this.originalModel?.currentHousingBeginDate"></app-date-mm-yyyy-input>
          </div>
          <div class="col-md-5">
            <label>Monthly Amount</label><br />
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                <app-currency-input [(ngModel)]="model.currentMonthlyAmount"
                  (ngModelChange)="model.currentMonthlyAmount = $event; checkCurrentState(); checkState();"
                  [errorIndicator]="modelErrors['currentMonthlyAmount']"
                  [isDisabled]="model?.isCurrentAmountUnknown"
                  [isRequired]="true"
                  [NGMaxLength]="9"
                  [cacheInnerValue]="this.originalModel?.currentMonthlyAmount"
                  class="first last"></app-currency-input>
                <app-radio-button [(ngModel)]="model.isCurrentAmountUnknown"
                  (ngModelChange)="model.isCurrentAmountUnknown = $event; checkCurrentState(); checkState();"
                  class="first input-group-addon input-group-append input-group-text"
                  [NgLabel]="'Unknown'">
                </app-radio-button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isForcedEvictedQuestionDisplayed()"
          class="pad1-0">
          <div class="row">
            <div class="col-md-8">
              <label class="control-label">Are you at risk of being evicted or forced to move?</label><br />
            </div>
            <div class="col-md-4">
              <div class="right">
                <app-yes-no-basic [isDisabled]="model?.housingSituationId === homelessId"
                  [(ngModel)]="model.hasCurrentEvictionRisk"
                  [errorIndicator]="modelErrors['hasCurrentEvictionRisk']"
                  (ngModelChange)="model.hasCurrentEvictionRisk = $event; checkCurrentState();  checkState();"
                  [isRequired]="true"
                  [cacheInnerValue]="this.originalModel?.hasCurrentEvictionRisk"></app-yes-no-basic>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <app-text-area [(ngModel)]="model.currentHousingDetails"
              [maxlength]="380"
              [isInvalid]="modelErrors['currentHousingDetails']"
              (ngModelChange)="model.currentHousingDetails = $event; checkCurrentState(); checkState();"
              [isRequired]="isDetailsRequired()"
              [isDetails]="true"
              [cacheInnerValue]="this.originalModel?.currentHousingDetails"></app-text-area>
          </div>
        </div>

      </div>

      <div class="controls">
        <ul>
          <!-- <li class="clear" (click)="eraseCurrentHousing()"><i class="fa fa-eraser" title="clear"></i></li> -->
          <li class="mov"
            (click)="showForcedAndEndDate(true)"><i class="fa fa-level-down-alt"
              title="Move to History"></i></li>
        </ul>
      </div>
    </div>
    <div *ngIf="isForcedAndEndDateVisible"
      class="content pad1 move-to-history">
      <div class="row">
        <div class="col-md-auto">
          <label *ngIf="isForcedEvictedQuestionDisplayed()">Were you evicted or forced to move?</label><br />
          <app-yes-no-basic *ngIf="isForcedEvictedQuestionDisplayed()"
            [(ngModel)]="model.hasBeenEvicted"
            (ngModelChange)="model.hasBeenEvicted = $event; checkCurrentStatePart2();  checkState();"
            [errorIndicator]="modelErrors['hasBeenEvicted']"
            [isRequired]="true"
            [cacheInnerValue]="this.originalModel?.hasBeenEvicted"></app-yes-no-basic>
        </div>
        <div class="col-md-auto">
          <label>End Date</label><br />
          <app-date-mm-yyyy-input [(ngModel)]="model.currentHousingEndDate"
            (ngModelChange)="model.currentHousingEndDate = $event; checkCurrentStatePart2(); checkState();"
            [errorIndicator]="modelErrors['currentHousingEndDate']"
            [isRequired]="true"
            [cacheInnerValue]="this.originalModel?.currentHousingEndDate"></app-date-mm-yyyy-input>
        </div>
        <div class="col-md-auto">
          <label>&nbsp;</label><br />
          <div class="btn-group right hist-move-btns"
            role="group">
            <button (click)="showForcedAndEndDate(false)"
              type="button"
              class="btn"><i class="fa fa-undo"
                aria-hidden="true"></i>&nbsp;Cancel</button>
            <button (click)="moveCurrentHousingToHistory()"
              type="button"
              class="btn"><i class="fa fa-level-down-alt"
                aria-hidden="true"></i>&nbsp;Move to History</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-text-area [(ngModel)]="model.currentHousingDetails"
            [maxlength]="380"
            (ngModelChange)="model.currentHousingDetails = $event; checkCurrentStatePart2();  checkState();"
            [isRequired]="isDetailsRequired()"
            [isInvalid]="modelErrors['currentHousingDetails']"
            [isDetails]="true"
            [cacheInnerValue]="this.originalModel?.currentHousingDetails"></app-text-area>
        </div>
      </div>
    </div>
  </fieldset>


  <div class="row">
    <div class="col-md-12">

      <h4 class="part-title">Housing History</h4>

      <p>The following questions are about your previous housing situations over the past 2 years, including
        the begin and end month, if you were ever evicted or forced to move, and the amount of rent you were
        responsible for paying.
      </p>
    </div>
  </div>
  <app-housing-repeater [(ngModel)]="model.histories"
    [participantDOB]="participantDOB"
    [housingSituationsDrop]="housingSituationsDrop"
    (onHistoricalEdit)="editState($event)"
    (onChange)="checkState()">
  </app-housing-repeater>

  <hr class="spacer" />

  <hr />

  <div class="pad1">
    <div class="row">
      <div class="col-md-9">
        <label class="control-label">Are you at risk of having a utility disconnected?</label>
      </div>
      <div class="col-md-3">
        <div class="right">
          <app-yes-no-basic [(ngModel)]="model.hasUtilityDisconnectionRisk"
            (ngModelChange)="model.hasUtilityDisconnectionRisk = $event; checkState();"
            [errorIndicator]="modelErrors['hasUtilityDisconnectionRisk']"
            [isRequired]="true"
            [cacheInnerValue]="this.originalModel?.hasUtilityDisconnectionRisk"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row"
      *ngIf="model && model.hasUtilityDisconnectionRisk === true">
      <div class="col-md-12">
        <app-text-area [(ngModel)]="model.utilityDisconnectionRiskNotes"
          (ngModelChange)="model.utilityDisconnectionRiskNotes = $event; checkState();"
          [isInvalid]="modelErrors['utilityDisconnectionRiskNotes']"
          [isDetails]="true"
          [isRequired]="model.hasUtilityDisconnectionRisk"
          [cacheInnerValue]="this.originalModel?.utilityDisconnectionRiskNotes"></app-text-area>
      </div>
    </div>
  </div>

  <div class="pad1">
    <div class="row">
      <div class="col-md-9">
        <label>Does your current housing situation make it hard to work or participate in work
          activities?</label>
      </div>
      <div class="col-md-3">
        <div class="right">
          <app-yes-no-basic [(ngModel)]="model.hasDifficultyWorking"
            (ngModelChange)="model.hasDifficultyWorking = $event; checkState();"
            [errorIndicator]="modelErrors['hasDifficultyWorking']"
            [isRequired]="true"
            [cacheInnerValue]="originalModel.hasDifficultyWorking"></app-yes-no-basic>
        </div>
      </div>
    </div>

    <div class="row"
      *ngIf="model.hasDifficultyWorking === true">
      <div class="col-md-12">
        <app-text-area [(ngModel)]="model.difficultyWorkingNotes"
          (ngModelChange)="model.difficultyWorkingNotes = $event; checkState();"
          [isInvalid]="modelErrors['difficultyWorkingNotes']"
          [isDetails]="true"
          [isRequired]="model.hasDifficultyWorking"
          [cacheInnerValue]="this.originalModel?.difficultyWorkingNotes">
        </app-text-area>
      </div>
    </div>
  </div>

  <hr />

  <div class="row pad1-0">
    <div class="col-md-12">
      <app-action-needed-embed *ngIf="model"
        [(ngModel)]="model.actionNeeded"
        [pageName]="'housing'"
        [participantPin]="this.participant?.pin"
        (ngModelChange)="model.actionNeeded = $event; checkState();"
        [isActionErrored]="modelErrors['actionNeeded']"
        [cacheInnerValue]="this.originalModel?.actionNeeded">
      </app-action-needed-embed>
      <!-- <app-action-needed *ngIf="housingActionNeededs" [title]="'Action Needed'" [(ngModel)]="model.actionNeeded" (ngModelChange)="model.actionNeeded = $event; checkState();" [isActionErrored]="modelErrors['actionNeeded']" [isRequired]="true" [isDetailsErrored]="modelErrors['actionNeededDetails']"
              (onCheckState)="checkState($event)" [actionNeededs]="housingActionNeededs"></app-action-needed> -->
      <!-- <app-action-needed-embed></app-action-needed-embed> -->
    </div>
  </div>

  <hr />

  <div class="form-group pad1">
    <app-text-area [(ngModel)]="model.housingNotes"
      [cacheInnerValue]="originalModel?.housingNotes"
      (ngModelChange)="model.housingNotes = $event; checkState();"></app-text-area>
  </div>


</fieldset>
