<h2 class="poplegend">
  Legal Issues
  <!--<button class="label label-info sec-help help-label" (click)="help.open('lg')"><i class="fa fa-question"></i></button>-->
  <app-help-button [featureName]="'ia-legal-issues-help'"></app-help-button>
</h2>
<!-- We should load this dynamically -->
<blockquote class="popdesc">Sometimes having legal issues can affect someone's ability to find and keep a job. The
  following questions are about legal issues that you may have.</blockquote>
<fieldset *ngIf="model && isActive" class="form-page">
  <!--This is where we show validation errors-->
  <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
  <app-modified-stamp *ngIf="model?.modifiedBy" [author]="model?.modifiedBy" [lastModified]="model?.modifiedDate"
    [readOnly]="true"></app-modified-stamp>
  <hr class="spacer" />
  <div class="row pad1-0">
    <div class="col-md-8">
      <label class="control-label">Have you ever been convicted of a misdemeanor or felony?</label>
    </div>
    <div class="col-md-4">
      <div class="right">
        <app-yes-no-basic *ngIf="model" [(ngModel)]="model.isConvictedOfCrime"
          (ngModelChange)="model.isConvictedOfCrime = $event; checkState();"
          [isDisabled]="this.isConvictionsRepeaterEmpty()" [cacheInnerValue]="cached?.isConvictedOfCrime"
          [isRequired]="true" [errorIndicator]="modelErrors['isConvictedOfCrime']"></app-yes-no-basic>
      </div>
    </div>
  </div>
  <app-conviction-repeater [LegalIssuesDrop]="pendingTypesDrop" repeaterTitle="Convictions" addTitle="Conviction"
    (ngModelChange)="model.convictions = $event; checkState()" [cachedInitialModels]="cached?.convictions"
    [DateLabel]="'Month and Year of Conviction'" *ngIf="model && model.isConvictedOfCrime === true"
    [(ngModel)]="model.convictions" [modelErrors]="modelErrors['convictions']"
    [modelsDeleted]="model.deletedConvictions"></app-conviction-repeater>
  <div *ngIf="model.isConvictedOfCrime === true">
    <div class="row">
      <div class="col-md-8">
        <label>Are you currently under community supervision? (this includes parole, probation, extended supervision, or
          Huber)</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic *ngIf="model" (ngModelChange)="model.isUnderCommunitySupervision = $event; checkState();"
            [(ngModel)]="model.isUnderCommunitySupervision" [isRequired]="true"
            [cacheInnerValue]="cached?.isUnderCommunitySupervision"
            [errorIndicator]="modelErrors['isUnderCommunitySupervision']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="model && model.isUnderCommunitySupervision === true">
      <div class="col-md-12 pad0-1">
        <app-text-area [isDetails]="true" [isRequired]="true" [(ngModel)]="model.communitySupervisonDetails"
          (ngModelChange)="model.communitySupervisonDetails = $event; checkState();"
          [cacheInnerValue]="cached?.communitySupervisonDetails"
          [isInvalid]="modelErrors['communitySupervisonDetails']"></app-text-area>
        <app-contacts-embed [pin]="participant?.pin" [(ngModel)]="model.supervisionContactId"
          [cacheInnerValue]="cached?.supervisionContactId"
          (ngModelChange)="model.supervisionContactId = $event; checkState();"></app-contacts-embed>
      </div>
    </div>
    <hr class="spacer" *ngIf="model && model.isUnderCommunitySupervision === true" />
  </div>
  <div class="row pad1-0">
    <div class="col-md-8">
      <label class="control-label">Do you have any pending charges?</label>
    </div>
    <div class="col-md-4">
      <div class="right">
        <app-yes-no-basic *ngIf="model" [isDisabled]="this.isPendingsRepeaterEmpty()"
          (ngModelChange)="model.isPending = $event; checkState();" [(ngModel)]="model.isPending"
          [cacheInnerValue]="cached?.isPending" [isRequired]="true" [errorIndicator]="modelErrors['isPending']">
        </app-yes-no-basic>
      </div>
    </div>
  </div>
  <app-conviction-repeater [isPendingChargesRepeater]="true" [LegalIssuesDrop]="pendingTypesDrop"
    repeaterTitle="Pending Charges" addTitle="Pending Charge" (ngModelChange)="checkState($event)"
    [cachedInitialModels]="cached?.pendings" [DateLabel]="'Month and Year of Charge'"
    *ngIf="model && model.isPending === true" [(ngModel)]="model.pendings" [modelErrors]="modelErrors['pendings']">
  </app-conviction-repeater>
  <div class="pad1-0">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Are there currently any restraining orders against you?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic *ngIf="model" (ngModelChange)="model.hasRestrainingOrders = $event; checkState();"
            [(ngModel)]="model.hasRestrainingOrders" [cacheInnerValue]="cached?.hasRestrainingOrders"
            [isRequired]="true" [errorIndicator]="modelErrors['hasRestrainingOrders']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="model && model.hasRestrainingOrders === true">
      <div class="col-md-12">
        <app-text-area [isDetails]="true" [maxlength]="380" [isAutoSizeable]="true" [placeholder]="'Details'"
          [isRequired]="true" [(ngModel)]="model.restrainingOrderNotes"
          (ngModelChange)="model.restrainingOrderNotes = $event; checkState();"
          [cacheInnerValue]="cached?.restrainingOrderNotes" [isInvalid]="modelErrors['restrainingOrderNotes']">
        </app-text-area>
      </div>
    </div>
  </div>
  <div class="pad1-0">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Do you currently have a restraining order against anyone to prevent that person
          from contacting you?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic *ngIf="model" (ngModelChange)="model.hasRestrainingOrderToPrevent = $event; checkState();"
            [(ngModel)]="model.hasRestrainingOrderToPrevent" [cacheInnerValue]="cached?.hasRestrainingOrderToPrevent"
            [isRequired]="true" [errorIndicator]="modelErrors['hasRestrainingOrderToPrevent']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="model && model.hasRestrainingOrderToPrevent === true">
      <div class="col-md-12">
        <app-text-area [isDetails]="true" [maxlength]="380" [isAutoSizeable]="true" [placeholder]="'Details'"
          [isRequired]="true" [(ngModel)]="model.restrainingOrderToPreventNotes"
          (ngModelChange)="model.restrainingOrderToPreventNotes = $event; checkState();"
          [cacheInnerValue]="cached?.restrainingOrderToPreventNotes"
          [isInvalid]="modelErrors['restrainingOrderToPreventNotes']"></app-text-area>
      </div>
    </div>
  </div>
  <div class="pad1-0">
    <div class="row">
      <div class="col-md-8">
        <label class="control-label">Do you have any immediate family members with legal issues?</label>
      </div>
      <div class="col-md-4">
        <div class="right">
          <app-yes-no-basic *ngIf="model" (ngModelChange)="model.hasFamilyLegalIssues = $event; checkState();"
            [(ngModel)]="model.hasFamilyLegalIssues" [cacheInnerValue]="cached?.hasFamilyLegalIssues"
            [isRequired]="true" [errorIndicator]="modelErrors['hasFamilyLegalIssues']"></app-yes-no-basic>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="model && model.hasFamilyLegalIssues === true">
      <div class="col-md-12">
        <app-text-area [isDetails]="true" [isRequired]="true" [(ngModel)]="model.familyLegalIssueNotes"
          (ngModelChange)="model.familyLegalIssueNotes = $event; checkState();"
          [cacheInnerValue]="cached?.familyLegalIssueNotes" [isInvalid]="modelErrors['familyLegalIssueNotes']">
        </app-text-area>
      </div>
    </div>
  </div>
  <div class="row pad1-0">
    <div class="col-md-8">
      <label class="control-label">Have you been ordered to appear for any upcoming court dates?</label>
    </div>
    <div class="col-md-4">
      <div class="right">
        <app-yes-no-basic *ngIf="model" (ngModelChange)="model.hasUpcomingCourtDates = $event; checkState();"
          [isDisabled]="this.isCourtDatesRepeaterEmpty()" [(ngModel)]="model.hasUpcomingCourtDates"
          [cacheInnerValue]="cached?.hasUpcomingCourtDates" [isRequired]="true"
          [errorIndicator]="modelErrors['hasUpcomingCourtDates']"></app-yes-no-basic>
      </div>
    </div>
  </div>
  <app-court-dates-repeater (ngModelChange)="checkState($event)" *ngIf="model && model.hasUpcomingCourtDates === true"
    [(ngModel)]="model.courtDates" [cachedInitialModels]="cached?.courtDates" [ParticipantInfo]="participant"
    [modelErrors]="modelErrors['courtDates']"></app-court-dates-repeater>

  <div class="row">
    <div class="col-md-12">
      <app-action-needed-embed [pageName]="'legal-issues'" *ngIf="model" [participantPin]="this.participant?.pin"
        [(ngModel)]="model.actionNeeded" (ngModelChange)="model.actionNeeded = $event; checkState();"
        [isActionErrored]="modelErrors['actionNeeded']" [cacheInnerValue]="cached?.actionNeeded">
      </app-action-needed-embed>
    </div>
  </div>
  <div class="control-group clearfix">
    <hr />
    <app-text-area (ngModelChange)="model.notes = $event; checkState();" [(ngModel)]="model.notes"
      [cacheInnerValue]="cached?.notes"></app-text-area>
  </div>
</fieldset>
