<h2 class="poplegend">
  Military Service
  <!--<button class="label label-info sec-help help-label" (click)="help.open('lg')"><i class="fa fa-question"></i></button>-->
  <app-help-button [featureName]="'ia-military-service-help'"></app-help-button>
</h2>

<!-- We should load this dynamically -->
<blockquote class="popdesc">The following questions are about your military history.</blockquote>

<fieldset *ngIf="model && isActive" class="form-page">
  <!--This is where we show validation errors-->
  <app-validation-summary [errors]="validationManager.errors"></app-validation-summary>

  <app-modified-stamp *ngIf="model?.modifiedBy" [author]="model?.modifiedBy" [lastModified]="model?.modifiedDate"
    [readOnly]="true"></app-modified-stamp>

  <hr class="spacer" />

  <div class="row">
    <div class="col-md-8">
      <label class="control-label" for="mil-training">Do you have any military training?</label>
    </div>
    <div class="col-md-4">
      <div class="right">
        <app-yes-no-basic *ngIf="model" [errorIndicator]="modelErrors['hasTraining']" [isRequired]="true"
          (ngModelChange)="model.hasTraining = $event; checkState();" [(ngModel)]="model.hasTraining"
          [cacheInnerValue]="cached?.hasTraining"></app-yes-no-basic>
      </div>
    </div>
  </div>

  <div *ngIf="model?.hasTraining" class="clearfix">
    <hr class="spacer" />
    <div class="standout">

      <h4>Military History</h4>

      <div class="row p-2">
        <div class="col-md-4">
          <label for="mil-branch" class="control-label">Branch</label>
          <app-select [isRequired]="true" [isInvalid]="modelErrors['branchId']"
            (ngModelChange)="model.branchId = $event; checkState();" [dropDownList]="branchDrop"
            [(ngModel)]="model.branchId" [cacheInnerValue]="cached?.branchId"></app-select>
        </div>

        <div class="col-md-2">
          <label class="control-label" for="milRank">Rank</label>
          <app-select [isRequired]="true" [isInvalid]="modelErrors['rankId']"
            (ngModelChange)="model.rankId = $event; checkState();" [dropDownList]="rankDrop" [(ngModel)]="model.rankId"
            [cacheInnerValue]="cached?.rankId" [isDisabled]="model.branchId === this.outsideOfTheUsId"></app-select>
        </div>

        <div class="col-md-6">
          <label class="control-label" for="milRate">Rate or MOS</label>
          <app-text-area name="milRate" maxlength="120" [isAutoSizeable]="true" [placeholder]="''"
            (ngModelChange)="model.rate = $event; checkState();" [(ngModel)]="model.rate"
            [cacheInnerValue]="cached?.rate" [isDisabled]="model.branchId === this.outsideOfTheUsId"></app-text-area>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-md-3">
          <label for="milYears" class="control-label">Enlistment&nbsp;Date</label><br />
          <app-date-mm-yyyy-input [(ngModel)]="model.enlistmentDate" [errorIndicator]="modelErrors['enlistmentDate']"
            (ngModelChange)="model.enlistmentDate = $event; checkState();" [cacheInnerValue]="cached?.enlistmentDate">
          </app-date-mm-yyyy-input>
        </div>

        <div class="col-md-5">
          <label for="milYears" class="control-label">Discharge&nbsp;Date</label>
          <div class="input-group">
            <app-date-mm-yyyy-input class="first col-md-6 px-0" #dischargeDate
              [errorIndicator]="modelErrors['dischargeDate']" [(ngModel)]="model.dischargeDate"
              (ngModelChange)="model.dischargeDate = $event; checkState();" [cacheInnerValue]="cached?.dischargeDate"
              [isDisabled]="!model.isDischargeDateDisplayed()">
            </app-date-mm-yyyy-input>
            <app-radio-button [(ngModel)]="model.isCurrentlyEnlisted"
              (ngModelChange)="model.isCurrentlyEnlisted = $event; checkState();"
              (onDirty)="dischargeDate.forceIsDirty = $event" [NgLabel]="'Currently Enlisted'"
              [cacheInnerValue]="cached?.isCurrentlyEnlisted"
              class="last col-md-6 input-group-addon input-group-append input-group-text last"></app-radio-button>
          </div>
        </div>

        <div class="col-md-4">
          <label class="control-label" for="milDischarge">Discharge Type</label>
          <app-select *ngIf="model.isCurrentlyEnlisted !== true && model.branchId !== this.outsideOfTheUsId"
            [isRequired]="true" [isInvalid]="modelErrors['dischargeTypeId']"
            (ngModelChange)="model.dischargeTypeId = $event; checkState();" [dropDownList]="dischargeDrop"
            [(ngModel)]="model.dischargeTypeId" [cacheInnerValue]="cached?.dischargeTypeId"></app-select>

          <app-select *ngIf="model.isCurrentlyEnlisted === true || model.branchId === this.outsideOfTheUsId"
            [isDisabled]="model.isCurrentlyEnlisted === true || model.branchId === this.outsideOfTheUsId"></app-select>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-md-12">
          <label class="control-label" for="milSkills">Skills & Training</label>
          <app-text-area [maxlength]="380" [isAutoSizeable]="true" [placeholder]="''"
            (ngModelChange)="model.skillsAndTraining = $event; checkState();" [(ngModel)]="model.skillsAndTraining"
            [cacheInnerValue]="cached?.skillsAndTraining"></app-text-area>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-md-8">
          <label class="control-label">Are you eligible for any benefits from your military service? Examples include
            medical benefits, education programs, employment services and financial benefits.</label>
        </div>
        <div class="form-fieldset tright col-md-4">
          <div>
            <app-tab-selector [(ngModel)]="model.isEligibleForBenefitsYesNoUnknown"
              (ngModelChange)="model.isEligibleForBenefitsYesNoUnknown = $event; checkState();"
              [cacheInnerValue]="cached?.isEligibleForBenefitsYesNoUnknown" [tabs]="polarInputDropDown"
              [isRequired]="true" [isInValid]="modelErrors['isEligibleForBenefitsYesNoUnknown']"></app-tab-selector>
          </div>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-md-12">
          <app-text-area [maxlength]="380" [isAutoSizeable]="true" [placeholder]="'Details'"
            (ngModelChange)="model.benefitsDetails = $event; checkState();" [(ngModel)]="model.benefitsDetails"
            [cacheInnerValue]="cached?.benefitsDetails" [isRequired]="model.isEligibleForBenefitsYesNoUnknown === 1"
            [isInvalid]="modelErrors['benefitsDetails']"></app-text-area>
        </div>
      </div>

    </div>
  </div>

  <hr />

  <div class="control-group clearfix">
    <app-text-area (ngModelChange)="model.notes = $event; checkState();" [cacheInnerValue]="cached?.notes"
      [(ngModel)]="model.notes"></app-text-area>
    <span class="remaining"></span>
  </div>
</fieldset>
