<h2 class="poplegend">
  Post-Secondary Education
  <!--<button class="label label-info sec-help help-label" (click)="help.open('lg')"><i class="fa fa-question"></i></button>-->
  <app-help-button [featureName]="'ia-post-secondary-help'"></app-help-button>
</h2>

<!--This is where we show validation errors-->
<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

<app-modified-stamp *ngIf="model?.modifiedBy" [author]="model?.modifiedBy" [lastModified]="model?.modifiedDate" [readOnly]="true"></app-modified-stamp>

<!-- We should load this dynamically -->
<blockquote class="popdesc">The following questions are about your post-secondary education, degrees, licenses and certifications.</blockquote>

<fieldset *ngIf="model" class="form-page">

  <hr class="spacer" />

  <div class="row pad1">
    <label class="col-md-9 control-label" for="ps-attn-college">Have you attended, or are you currently attending a college or university?</label>
    <div class="col-md-3 control-group">
      <div class="right">
        <app-yes-no-basic (ngModelChange)="model.hasAttendedCollege = $event; checkState();" [isRequired]="true" *ngIf="model" [(ngModel)]="model.hasAttendedCollege"
          [isDisabled]="model.hasNonEmptyColleges" [cacheInnerValue]="this.originalModel?.hasAttendedCollege" [errorIndicator]="modelErrors['hasAttendedCollege']"></app-yes-no-basic>
      </div>
    </div>
  </div>

  <div class="row pad0-1" *ngIf="model && model.hasAttendedCollege">
    <div class="col-md-12">
      <app-college-repeater (ngModelChange)="onModelChange()" [(ngModel)]="model.postSecondaryColleges"  [cachedInitialModels]="this.originalModel?.postSecondaryColleges" [modelErrors]="modelErrors['postSecondaryColleges']"></app-college-repeater>
    </div>
  </div>

  <div class="row pad1" *ngIf="model && model.hasAttendedCollege">
    <label class="col-md-9 control-label" for="ps-degree">Do you have any degrees?</label>
    <div class="col-md-3 control-group">
      <div class="right">
        <app-yes-no-basic *ngIf="model" (ngModelChange)="model.hasDegree = $event; checkState();" [isRequired]="true" [(ngModel)]="model.hasDegree"
          [isDisabled]="model.hasNonEmptyDegrees" [cacheInnerValue]="this.originalModel?.hasDegree"  [errorIndicator]="modelErrors['hasDegree']"></app-yes-no-basic>
      </div>
    </div>
  </div>

  <div class="row pad0-1" *ngIf="model && model.hasDegree && model.hasAttendedCollege">
    <div class="col-md-12">
      <app-degree-repeater [(ngModel)]="model.postSecondaryDegrees" (ngModelChange)="onModelChange()" [degreeLevelDrop]="degreeLevelDrop"
        [collegesDrop]="collegesDrop" [cachedInitialModels]="this.originalModel?.postSecondaryDegrees" [modelErrors]="modelErrors['postSecondaryDegrees']"></app-degree-repeater>
    </div>
  </div>

  <div class="row pad1">
    <label class="col-md-9 control-label" for="ps-lic-cert">Do you have or are you working towards any licenses or certificates?</label>
    <div class="col-md-3 control-group">
      <div class="right">
        <app-yes-no-basic *ngIf="model" [isRequired]="true" [(ngModel)]="model.isWorkingOnLicensesOrCertificates" (ngModelChange)="model.isWorkingOnLicensesOrCertificates = $event; checkState();"
          [isDisabled]="model.hasNonEmptyLicenses" [cacheInnerValue]="this.originalModel?.isWorkingOnLicensesOrCertificates"  [errorIndicator]="modelErrors['isWorkingOnLicensesOrCertificates']"></app-yes-no-basic>
      </div>
    </div>
  </div>

  <div class="row pad0-1" *ngIf="model && model.isWorkingOnLicensesOrCertificates">
    <div class="col-md-12">
      <app-license-repeater [(ngModel)]="model.postSecondaryLicenses" [cachedInitialModels]="this.originalModel?.postSecondaryLicenses" (ngModelChange)="onModelChange()" [modelErrors]="modelErrors['postSecondaryLicenses']"
        [licenseTypeDrop]="licenseTypeDrop" [licenseValidDrop]="licenseValidDrop"></app-license-repeater>
    </div>
  </div>

  <hr />

  <div class="form-group pad0-1 clearfix control-group">
    <app-text-area *ngIf="model" (ngModelChange)="model.postSecondaryNotes = $event; checkState();" [(ngModel)]="model.postSecondaryNotes" [cacheInnerValue]="this.originalModel?.postSecondaryNotes"></app-text-area>
  </div>
