<h2 id="top-test" class="poplegend">
  Work Programs
  <app-help-button [featureName]="'ia-work-programs-help'"></app-help-button>
</h2>


<app-modified-stamp *ngIf="model?.modifiedBy" [author]="model?.modifiedBy" [lastModified]="model?.modifiedDate" [readOnly]="true"></app-modified-stamp>

<blockquote class="popdesc">This section captures any past, present, or future participant involvement in work programs.</blockquote>

<div class="pad1-0">
  <div class="alert cares-alert" role="alert" *ngIf="model?.cwwFsetStatus?.currentStatusCode">
    <h4><img src="/assets/img/cww_logo.png" width="36" height="36" style="margin-top:-4px;" /> FSET Status</h4>

    <table class="table housing" id="housing-cww">
      <thead>
        <th>Current Status</th>
        <th>Enrollment Date</th>
        <th>Disenrollment Date</th>
        <th>Disenrollment Reason Code</th>
      </thead>
      <tbody>
        <tr>
          <td>{{model?.cwwFsetStatus?.currentStatusCode}}</td>
          <td>{{model?.cwwFsetStatus?.enrollmentDate | date:'shortDate'}}</td>
          <td>{{model?.cwwFsetStatus?.disenrollmentDate | date:'shortDate'}}</td>
          <td>{{model?.cwwFsetStatus?.disenrollmentReasonCode}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<!--This is where we show validation errors-->
<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

<fieldset *ngIf="model && isActive" class="form-page">

  <div class="row pad1-0">
    <div class="col-md-8">
      <label class="control-label" for="workp">Have you, are you
            currently, or will you be involved in any other work
            programs?</label>
    </div>
    <div class="col-md-4 tright">
      <div class="right">
        <app-yes-no-basic *ngIf="model" [errorIndicator]="modelErrors['isInOtherPrograms']" (ngModelChange)="model.isInOtherPrograms = $event; checkState()"
          [(ngModel)]="model.isInOtherPrograms" [cacheInnerValue]="cached?.isInOtherPrograms" [isDisabled]='!isWorkProgramsListEmpty()'
          [isRequired]="true"></app-yes-no-basic>
      </div>
    </div>
  </div>

  <div *ngIf="model?.isInOtherPrograms" class="row">
    <app-work-program-repeater class="col-md-12" *ngIf="model" (ngModelChange)="model.workPrograms = $event; checkState()" [pin]="participant?.pin" (onDirty)="checkState()" [(ngModel)]="model.workPrograms" [cachedInitialModels]="cached.workPrograms" [workProgramStatuses]="workProgramStatusesDrop" [modelErrors]="modelErrors['workPrograms']" [workProgramNames]="workProgramsDrop"></app-work-program-repeater>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <app-text-area *ngIf="model" (ngModelChange)="model.notes = $event; checkState()" [cacheInnerValue]="cached?.notes"  [(ngModel)]="model.notes"></app-text-area>
    </div>
  </div>

</fieldset>
