<app-sub-header pageTitle="Informal Assessment" [goBackUrl]="goBackUrl" [participant]="participant"
  [isLoading]="!isLoaded" [helpComponent]="'ia-summary'"></app-sub-header>
<app-sub-header-nav *ngIf="!isSaving" mode="Assessment" [pin]="pin" [participant]="participant"
  [assessment]="assessment"></app-sub-header-nav>


<div class="row pad1-0">

  <section class="pad2" *ngIf="!isLoaded">
    <div class="lg tgrey2 tcenter pad2">
      <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div class="tgrey3 tcenter">Loading Informal Assessment...</div>
  </section>

  <aside [class.col-md-1]="isSidebarCollapsed" [class.col-md-3]="!isSidebarCollapsed" id="sidebar"
    [class.loading]="!isLoaded" *ngIf="assessment?.id">
    <div class="toggle-side" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </div>
    <ul class="participant-menu popmenu">
      <li class="menu-item ia-language" data-goto="ia-language"
        [class.error]="assessment?.languagesSection.isSubmittedViaDriverFlow && !isSectionValid[languagesSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.languagesSection.isSubmittedViaDriverFlow && isSectionValid[languagesSectionName]">
        Languages</li>
      <li class="menu-item ia-work-history" data-goto="ia-work-history"
        [class.error]="assessment?.workHistorySection.isSubmittedViaDriverFlow && !isSectionValid[workHistorySectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.workHistorySection.isSubmittedViaDriverFlow && isSectionValid[workHistorySectionName]">
        Work History</li>
      <li class="menu-item ia-work-program" data-goto="ia-work-program"
        [class.error]="assessment?.workProgramSection.isSubmittedViaDriverFlow && !isSectionValid[workProgramsSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.workProgramSection.isSubmittedViaDriverFlow && isSectionValid[workProgramsSectionName]">
        Work Programs</li>
      <li class="menu-item ia-education" data-goto="ia-education"
        [class.error]="assessment?.educationSection.isSubmittedViaDriverFlow && !isSectionValid[educationHistorySectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.educationSection.isSubmittedViaDriverFlow && isSectionValid[educationHistorySectionName]">
        Education History</li>
      <li class="menu-item ia-post-secondary" data-goto="ia-post-secondary"
        [class.error]="assessment?.postSecondarySection.isSubmittedViaDriverFlow && !isSectionValid[postSecondaryEducationSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.postSecondarySection.isSubmittedViaDriverFlow && isSectionValid[postSecondaryEducationSectionName]">
        Post-Secondary Education</li>
      <li class="menu-item ia-military" data-goto="ia-military"
        [class.error]="assessment?.militarySection.isSubmittedViaDriverFlow && !isSectionValid[militaryTrainingSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.militarySection.isSubmittedViaDriverFlow && isSectionValid[militaryTrainingSectionName]">
        Military Service</li>
      <li class="menu-item ia-housing" data-goto="ia-housing"
        [class.error]="assessment?.housingSection.isSubmittedViaDriverFlow && !isSectionValid[housingSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.housingSection.isSubmittedViaDriverFlow && isSectionValid[housingSectionName]">
        Housing</li>
      <li class="menu-item ia-transportation" data-goto="ia-transportation"
        [class.error]="assessment?.transportationSection.isSubmittedViaDriverFlow && !isSectionValid[transportationSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.transportationSection.isSubmittedViaDriverFlow && isSectionValid[transportationSectionName]">
        Transportation</li>
      <li class="menu-item ia-legal-issues" data-goto="ia-legal-issues"
        [class.error]="assessment?.legalIssuesSection.isSubmittedViaDriverFlow && !isSectionValid[legalIssuesSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.legalIssuesSection.isSubmittedViaDriverFlow && isSectionValid[legalIssuesSectionName]">
        Legal Issues</li>
      <li *ngIf="hasPBAccessBol" class="menu-item ia-participant-barriers" data-goto="ia-participant-barriers"
        [class.error]="assessment?.participantBarriersSection.isSubmittedViaDriverFlow && !isSectionValid[participantBarriersSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.participantBarriersSection.isSubmittedViaDriverFlow && isSectionValid[participantBarriersSectionName]">
        Participant Barriers</li>
      <li class="menu-item ia-childcare" data-goto="ia-childcare"
        [class.error]="assessment?.childYouthSupportsSection.isSubmittedViaDriverFlow && !isSectionValid[childYouthSupportsSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.childYouthSupportsSection.isSubmittedViaDriverFlow && isSectionValid[childYouthSupportsSectionName]">
        Child and Youth Supports</li>
      <li *ngIf="hasFBAccessBol" class="menu-item ia-family-barriers" data-goto="ia-family-barriers"
        [class.error]="assessment?.familyBarriersSection.isSubmittedViaDriverFlow && !isSectionValid[familyBarriersSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.familyBarriersSection.isSubmittedViaDriverFlow && isSectionValid[familyBarriersSectionName]">
        Family Barriers</li>
      <li class="menu-item ia-ncp" data-goto="ia-ncp"
        [class.error]="assessment?.nonCustodialParentsSection.isSubmittedViaDriverFlow && !isSectionValid[nonCustodialParentsSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.nonCustodialParentsSection.isSubmittedViaDriverFlow && isSectionValid[nonCustodialParentsSectionName]">
        Non-Custodial Parents</li>
      <li class="menu-item ia-ncpr" data-goto="ia-ncpr"
        [class.error]="assessment?.nonCustodialParentsReferralSection.isSubmittedViaDriverFlow && !isSectionValid[nonCustodialParentsReferralSectionName]"
        [class.saved]="!assessment?.submitDate && assessment?.nonCustodialParentsReferralSection.isSubmittedViaDriverFlow && isSectionValid[nonCustodialParentsReferralSectionName]">
        NCP Referral</li>
    </ul>
  </aside>

  <main id="main" class="col-md-12" [class.loading]="!isLoaded"
    *ngIf="!assessment?.id && !isReadOnly && isLoaded && !isSaving">
    <blockquote class="tcenter pad2">
      <h3>Create the Initial Informal Assessment</h3>
      <p>
        <button class="btn btn-div btn-primary" (click)="onNew()">
          <i class="wwp-ia-add"></i> New Assessment</button>
      </p>
    </blockquote>
  </main>

  <main id="main" class="col-md-12" [class.loading]="!isLoaded" *ngIf="!assessment?.id && isReadOnly">
    <blockquote class="tcenter pad2">
      <h3>No Informal Assessment to display.</h3>
    </blockquote>
  </main>

  <main [class.col-md-11]="isSidebarCollapsed" [class.col-md-9]="!isSidebarCollapsed" id="main"
    [class.loading]="!isLoaded" *ngIf="assessment?.id && isLoaded">

    <!-- <div class="error alert alert-danger">
        <a aria-label="close" class="close" data-dismiss="alert">×</a>
        <strong>Incomplete Informal Assessment</strong> Not every section in the informal assesment has been reviewed. The informal assessment cannot be submitted until every section is reviwed and valid.
    </div> -->
    <section class="overview-options pad2-0 tright">
      <div class="btn-group" role="group">
        <button class="btn btn-light printBorder" onClick="window.print();">
          <i class="fa fa-print"></i> Print</button>
        <button *ngIf="hasEditIaAccess()" class="btn btn-success btn-submit" [disabled]="!isSubmitable"
          (click)="onSubmit()">
          <i class="fa fa-paper-plane"></i> Submit</button>
      </div>
    </section>


    <app-languages-overview [section]="assessment?.languagesSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(languagesSectionName)"
      [modelErrors]="modelErrors[languagesSectionName]" (reenableValidation)="onReenableValidation()"
      [hasFcdpRole]="hasFcdpRole"></app-languages-overview>

    <app-work-history-overview [section]="assessment?.workHistorySection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(workHistorySectionName)"
      [modelErrors]="modelErrors[workHistorySectionName]" (reenableValidation)="onReenableValidation()"
      [hasFcdpRole]="hasFcdpRole"></app-work-history-overview>

    <app-work-programs-overview [section]="assessment?.workProgramSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(workProgramsSectionName)"
      [modelErrors]="modelErrors[workProgramsSectionName]" (reenableValidation)="onReenableValidation()"
      [hasFcdpRole]="hasFcdpRole"></app-work-programs-overview>

    <app-education-history-overview [section]="assessment?.educationSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(educationHistorySectionName)"
      [modelErrors]="modelErrors[educationHistorySectionName]" [hasFcdpRole]="hasFcdpRole">
    </app-education-history-overview>

    <app-post-secondary-education-overview [section]="assessment?.postSecondarySection"
      [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(postSecondaryEducationSectionName)"
      [modelErrors]="modelErrors[postSecondaryEducationSectionName]" [hasFcdpRole]="hasFcdpRole">
    </app-post-secondary-education-overview>

    <app-military-overview [section]="assessment?.militarySection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(militaryTrainingSectionName)"
      [modelErrors]="modelErrors[militaryTrainingSectionName]" [hasFcdpRole]="hasFcdpRole"></app-military-overview>

    <app-housing-overview [section]="assessment?.housingSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(housingSectionName)"
      [modelErrors]="modelErrors[housingSectionName]" [hasFcdpRole]="hasFcdpRole"></app-housing-overview>

    <app-transportation-overview [section]="assessment?.transportationSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(transportationSectionName)"
      [modelErrors]="modelErrors[transportationSectionName]" [hasFcdpRole]="hasFcdpRole"></app-transportation-overview>

    <app-legal-issues-overview [section]="assessment?.legalIssuesSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(legalIssuesSectionName)"
      [modelErrors]="modelErrors[legalIssuesSectionName]" [hasFcdpRole]="hasFcdpRole"></app-legal-issues-overview>

    <app-participant-barriers-overview *ngIf="hasPBAccessBol" [hasPBAccess]="hasPBAccessBol"
      [section]="assessment?.participantBarriersSection" [pin]="pin" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(participantBarriersSectionName)"
      [modelErrors]="modelErrors[participantBarriersSectionName]" [hasFcdpRole]="hasFcdpRole">
    </app-participant-barriers-overview>

    <app-child-youth-supports-overview [section]="assessment?.childYouthSupportsSection"
      [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(childYouthSupportsSectionName)"
      [modelErrors]="modelErrors[childYouthSupportsSectionName]" [hasFcdpRole]="hasFcdpRole">
    </app-child-youth-supports-overview>

    <app-family-barriers-overview *ngIf="hasFBAccessBol" [section]="assessment?.familyBarriersSection"
      [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(familyBarriersSectionName)"
      [modelErrors]="modelErrors[familyBarriersSectionName]" [hasFcdpRole]="hasFcdpRole"></app-family-barriers-overview>

    <app-ncp-overview [section]="assessment?.nonCustodialParentsSection" [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(nonCustodialParentsSectionName)"
      [modelErrors]="modelErrors[nonCustodialParentsSectionName]" [hasFcdpRole]="hasFcdpRole"></app-ncp-overview>

    <app-ncpr-overview [section]="assessment?.nonCustodialParentsReferralSection"
      [hasEditAccess]="this.hasEditIaAccess()"
      [validationManager]="validationManagers?.getValue(nonCustodialParentsReferralSectionName)"
      [modelErrors]="modelErrors[nonCustodialParentsReferralSectionName]" (reenableValidation)="onReenableValidation()"
      [hasFcdpRole]="hasFcdpRole"></app-ncpr-overview>

  </main>
</div>

<div id="submit-confirm" class="sb-prompt" [class.open]="showSubmitSuccess">
  <div class="overlay">
    <div class="message-container">
      <div class="primary-icon">
        <div class="outer">
          <div class="inner">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
      <p>The Informal Assessment has been submitted successfully.</p>
      <button class="btn btn-close" (click)="closeSubmit()">Continue</button>
    </div>
  </div>
</div>

<div id="submit-fail" class="sb-prompt" [class.open]="showSubmitFail">
  <div class="overlay">
    <div class="message-container">
      <div class="primary-icon">
        <div class="outer">
          <div class="inner">
            <i class="fa fa-exclamation"></i>
          </div>
        </div>
      </div>
      <p>There was a problem submitting the Informal Assessment.</p>
      <button class="btn btn-close" (click)="closeSubmit()">Try Again</button>
    </div>
  </div>
</div>
