<app-sub-header pageTitle="Organization Information"
  [goBackUrl]="goBackUrl"
  [helpComponent]="'organization-information'"></app-sub-header>

<main class="pad1"
  id="orginfo">
  <div class="row align-items-center">
    <div class="col-md-3">
      <label class="rowSpace">Program</label>
      <app-select [(ngModel)]="programId"
        (ngModelChange)="programId = $event; initOrganization($event)"
        [dropDownList]="programDrop"
        [cacheInnerValue]="cachedProgramId"
        [isInvalid]="modelErrors['program']"
        [isRequired]="true"></app-select>
    </div>
    <div *ngIf="enrolledProgram.w2Id === programId?.toString()" class="col-md-9 tgrey3 pt-3 mt-3 pl-0">
      <span class="bold">Note:</span> This W-2 location is used only for the return address on EA notices.</div>
  </div>
  <div *ngIf="programId && orgDrop">
    <div class="row">
      <div class="col-md-4">
        <label class="rowSpace">Organization</label>
        <app-select [(ngModel)]="organizationId"
          (ngModelChange)="organizationId = $event; initModel();"
          [dropDownList]="orgDrop"
          [cacheInnerValue]="cachedOrganizationId"
          [isInvalid]="modelErrors['organization']"
          [isRequired]="true"></app-select>
      </div>
    </div>
    <div *ngIf="isLoaded"
      class="row rowSpace">
      <div class="col-md-12">
        <app-org-info-list *ngIf="isLoaded"
          [orgInfo]="model"
          [organizationId]="organizationId"
          [programId]="programId">
        </app-org-info-list>

      </div>
    </div>
  </div>
</main>
