<app-sub-header pageTitle="Action Needed"
  [goBackUrl]="goBackUrl"
  [participant]="participant"
  [helpComponent]="'action-needed-list'"></app-sub-header>
<app-sub-header-nav [mode]="'Pin'"
  activeItem="action-needed"
  [pin]="pin"
  [participant]="participant">
</app-sub-header-nav>

<main class="pad1-0"
  *ngIf="isLoaded && actionNeededs?.length > 0">
  <div class="action-control">
    <div class="top-controls">
      <div class="row dont-print m-0 pb-1">
        <div class="search-holder col-md-2 p-0">
          <input class="search"
            [(ngModel)]="searchQuery"
            (ngModelChange)="searchQuery = $event;"
            maxlength="120"
            placeholder="Search" />
        </div>
        <app-multi-select-dropdown [isFilter]="true"
          [(ngModel)]="selectedFilters"
          (ngModelChange)="selectedFilters = $event; filter();"
          (onReverseSort)="reverseList()"
          [options]="filterOptions"
          [icon]="'fa-filter'"
          class="padl col-md-4"></app-multi-select-dropdown>

        <div class="col-md-6 tright">
          <button *ngIf="!isReadOnly && getAccess() === AccessType.edit"
            type="button"
            (click)="addTask()"
            class="btn btn-add">+ Add Task</button>
        </div>
      </div>
    </div>

  </div>


  <section id="tasks">
    <div class="task-col">
      <app-action-needed-list-view [isReadOnly]="isReadOnly"
        [accessType]="getAccess()"
        [searchQuery]="searchQuery"
        [allTasks]="actionNeededs"
        [listName]="'Worker'"
        [filterOnGoing]="filterOnGoing"
        [filterRecentActions]="filterRecentActions"
        [filterCompleted]="filterCompleted"
        [filterNotCompleted]="filterNotCompleted"
        [actionNeededPagesDrop]="actionNeededPagesDrop"
        (reload)="getModel()"
        [participantName]="participant?.displayName"></app-action-needed-list-view>
    </div>
    <div class="task-col">
      <app-action-needed-list-view [isReadOnly]="isReadOnly"
        [accessType]="getAccess()"
        [searchQuery]="searchQuery"
        [allTasks]="actionNeededs"
        [listName]="'Participant'"
        [filterOnGoing]="filterOnGoing"
        [filterRecentActions]="filterRecentActions"
        [filterCompleted]="filterCompleted"
        [filterNotCompleted]="filterNotCompleted"
        [actionNeededPagesDrop]="actionNeededPagesDrop"
        (reload)="getModel()"
        [participantName]="participant?.displayName"></app-action-needed-list-view>
    </div>
  </section>

</main>

<div *ngIf="!isLoaded"
  class="pad2">
  <div class="lg tgrey2 tcenter pad2">
    <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
  </div>
  <div class="tgrey3 tcenter">Loading Actions Needed...</div>
</div>
<section class="empty pad1-0"
  *ngIf="isLoaded && actionNeededs?.length < 1">
  <!-- if no tasks -->
  <blockquote class="jumbotron tcenter">No Tasks</blockquote>

  <div class="full">
    <span class="right">
      <button *ngIf="!isReadOnly  && getAccess() === AccessType.edit"
        id="add-test"
        (click)="addTask()"
        class="btn btn-add">+ Add Task</button>
    </span>
  </div>
</section>

<div id="status">
  <div class="left instructions">
    <span class="inst">
      <span class="label label-default">
        <i class="wwp-l-click"></i>
      </span> Complete Task</span>
    <span class="inst">
      <span class="label label-default">Shift +
        <i class="wwp-l-click"></i>
      </span> Did Not Complete Task</span>
  </div>
  <div class="right tright prompt"></div>
</div>
