<fieldset *ngFor="let item of models; let i=index" class="repeat rel">

  <div *ngIf="suffixTypesDrop" class="content pad1">
      <div class="d-flex row">
          <div class="col-md-3">
              <label class="control-label">First Name</label>
              <app-generic-text-input  [(ngModel)]="item.firstName"  (ngModelChange)="item.firstName = $event; onChangeCallback(models);" [isDisabled]="isReadOnly || (areInputFieldsReadonly && item.id != 0)" [cacheInnerValue]="getInitialModelValue(item.id, 'firstName')" [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')" [NGMaxLength]="15" [isRequired]="isRepeaterRowRequired(i)"></app-generic-text-input>
          </div>
          <div class="col-md-1">
              <label class="control-label">MI</label>
              <app-generic-text-input  [(ngModel)]="item.middleInitial" (ngModelChange)="item.middleInitial = $event; onChangeCallback(models);" [isDisabled]="isReadOnly || (areInputFieldsReadonly && item.id != 0)" [cacheInnerValue]="getInitialModelValue(item.id, 'middleInitial')" [isInvalid]="isModelErrorsItemInvalid(i, 'middleInitial')" [NGMaxLength]="1"></app-generic-text-input>
          </div>
          <div class="col-md-4">
              <label class="control-label">Last Name</label>
              <app-generic-text-input  [(ngModel)]="item.lastName" (ngModelChange)="item.lastName = $event; onChangeCallback(models);" [isDisabled]="isReadOnly || (areInputFieldsReadonly && item.id != 0)" [cacheInnerValue]="getInitialModelValue(item.id, 'lastName')" [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')" [NGMaxLength]="20" [isRequired]="isRepeaterRowRequired(i)"></app-generic-text-input>
          </div>
          <div class="col-md-2">
              <label class="control-label">Suffix</label>
              <app-select [(ngModel)]="item.suffix" (ngModelChange)="item.suffix = $event; onChangeCallback(models);" [isDisabled]="isReadOnly || (areInputFieldsReadonly && item.id != 0)" [isIdString]="true" [cacheInnerValue]="getInitialModelValue(item.id, 'suffix')" [isInvalid]="isModelErrorsItemInvalid(i, 'suffixTypeId')" [dropDownList]="suffixTypesDrop" ></app-select>
          </div>
          <div class="col-md-2">
              <label class="control-label">Alias Type</label>
              <app-select [(ngModel)]="item.alias" (ngModelChange)="item.alias = $event; onChangeCallback(models);" [isDisabled]="isReadOnly || (areInputFieldsReadonly && item.id != 0)" [isIdString]="true" [cacheInnerValue]="getInitialModelValue(item.id, 'alias')" [isInvalid]="isModelErrorsItemInvalid(i, 'alias')" [isRequired]="isRepeaterRowRequired(i)" [dropDownList]="aliasTypesDrop" ></app-select>
          </div>
      </div>
  </div>
  <div class="controls">
      <ul>
          <li *ngIf="!isReadOnly" class="del" (click)="deleteFromRepeater(item, 0)"><i class="fa fa-trash-alt" title="delete"></i></li>
          <li *ngIf="isReadOnly" class="del disabled"><i class="fa fa-trash-alt" title="delete"></i></li>
      </ul>
  </div>
</fieldset>
<div class="col-md-12 add-holder">
 <div class="row">
  <div class="col-md-6" *ngIf="models?.length >= maxAlias">You can enter up to 2 Alias Names</div>
  <div class="d-flex justify-content-end col-md-6" *ngIf="models?.length >= maxAlias">
    <button class="btn btn-sm btn-light disabled" >+ &nbsp; Add Alias Name</button>
  </div>
  <div class="d-flex justify-content-end col-md-12" *ngIf="isReadOnly">
        <button class="btn btn-sm btn-light disabled" >+ &nbsp; Add Alias Name</button>
  </div>
  <div class="d-flex justify-content-end col-md-12" *ngIf="models?.length < maxAlias && !isReadOnly">
    <button (click)="addToRepeater()" class="btn btn-sm btn-light btn-add">+ &nbsp; Add Alias Name</button>
  </div>
  <hr class="spacer">
  </div>
</div>
