<app-sub-header pageTitle='Time Limit - Search'></app-sub-header>
<app-sub-header-nav mode="TimeLimits"></app-sub-header-nav>

  <div class="search">
    <fieldset>
      <div class="input-group">
        <input #searchInput [(ngModel)]="inputModel" [attr.placeholder]="searchMode" (keyup)="onKeyup($event)"
               [ngClass]="{required: isRequired, error: isInvalid}" [disabled]="isSearching"
               [attr.maxlength]="maxLength" class="form-control">
        <!--<div class="input-group-btn">-->
          <!--<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"-->
                  <!--aria-expanded="false">-->
            <!--Search By: PIN-->
          <!--</button>-->
          <!--<div class="dropdown-menu dropdown-menu-right">-->
            <!--<h6 class="dropdown-header">Separated link</h6>-->
            <!--<a class="dropdown-item" (click)="searchBy('pin')">PIN Number</a>-->
            <!--<a class="dropdown-item" (click)="searchBy('case')">Case Number</a>-->
            <!--<a class="dropdown-item" (click)="searchBy('name')">Name</a>-->
          <!--</div>-->
        <!--</div>-->
        <span class="input-group-btn">
        <button class="btn btn-primary disabled" *ngIf="isSearching"><i
          class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>Searching</button>
        <button class="btn btn-primary" *ngIf="!isSearching" (click)="search()" [disabled]="isInvalid">Search</button>
      </span>
      </div>

    </fieldset>
  </div>
