<input *ngIf="!datePickerRequired"
  class="form-control"
  [ngClass]="{error: isInvalid, required: isRequired && !isReadOnly, dirty: isModified, readOnly: isReadOnly}"
  maxlength="10"
  [disabled]="isDisabled"
  placeholder="MM/DD/YYYY"
  [(ngModel)]="value"
  (keydown)="keyDown($event)"
  (keyup)="keyUp($event)" />

<input *ngIf="datePickerRequired"
  class="form-control"
  [ngClass]="{error: isInvalid, required: isRequired && !isReadOnly, dirty: isModified, readOnly: isReadOnly}"
  maxlength="10"
  [disabled]="isDisabled"
  placeholder="MM/DD/YYYY"
  [ngModel]="value"
  (keydown)="keyDown($event)"
  (keyup)="keyUp($event)"
  datetime-picker
  [allow-only-sundays]="false"
  [date-format]="'MM/DD/YYYY'"
  [date-only]="true"
  [show-close-layer]="true" />
