<div *ngIf="isButtonStyled != true">
  <input [ngClass]="{error: isInvalid, scaled:scaleButton}" [class.dirty]="isModified" [(ngModel)]="value" type="checkbox" value="true"
    [attr.id]="uniqueId" [disabled]="isDisabled || isReadOnly" />
  <label [ngClass]="{scaled:scaleButton}" [class.disabled]="isDisabled" [attr.for]="uniqueId">{{NgLabel}}</label>
</div>


<div *ngIf="isButtonStyled">
  <button *ngIf="value === true" (click)="value = false" type="button" class="btn btn-outline-secondary active">
    <i class="{{icon}}" aria-hidden="true"></i> {{NgLabel}}</button>
  <button *ngIf="value === false" (click)="value = true" type="button" class="btn btn-outline-secondary">
    <i class="{{icon}}" aria-hidden="true"></i> {{NgLabel}}</button>
</div>
