<div *ngIf="!isInEditMode">
  <app-sub-header [participant]="participant"
    pageTitle="EA Application History"
    [goBackUrl]="goBackUrl">
  </app-sub-header>
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'EA Request History'"></app-loading>
  <div *ngIf="isLoaded">
    <div class="alert alert-danger"
      *ngIf="showError">
      <strong>EA Application cannot be added because an In Progress or Pending application exists.</strong>
    </div>
    <div class="alert alert-warning"
      *ngIf="warningMessage !== ''">
      <a class="close"
        data-dismiss="alert"
        aria-label="close">&times;</a>
      <strong>{{warningMessage}}</strong>
    </div>

    <div *ngIf="eaRequestListModel && eaRequestListModel.length > 0; else noResults">
      <div class="flex-row list-item py-3"
        (click)="single(r)"
        *ngFor="let r of eaRequestListModel">
        <div class="col-md-2 pr-0">
          <label>Application Date</label>
          <div class="tgrey3 wrapword">{{r.eaDemographics.applicationDate | dateMmDdYyyy}}</div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="row">
            <div class="col-md-3 pl-0">
              <label class="text-nowrap">Agency</label>
              <div class="tgrey3 wrapword">{{r.organizationCode}}</div>
            </div>
            <div class="col-md-4 pl-0">
              <label class="text-nowrap">Request #</label>
              <div class="tgrey3 wrapword">{{r.requestNumber}}</div>
            </div>
            <div class="col-md-5 pl-0">
              <label class="text-nowrap">CARES Case #</label>
              <div class="tgrey3 wrapword">{{r?.caresCaseNumber}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-5">
              <label>Emergency Type(s)</label>
              <div class="tgrey3 wrapword"
                *ngFor="let item of r?.eaEmergencyType?.emergencyTypeNames; let last = last">{{item}}<span
                  *ngIf="item === 'Impending Homelessness' && r?.eaEmergencyType?.eaImpendingHomelessness?.emergencyTypeReasonName">
                  ({{r?.eaEmergencyType?.eaImpendingHomelessness?.emergencyTypeReasonName}})</span><span
                  *ngIf="item === 'Homelessness' && r?.eaEmergencyType?.eaHomelessness?.emergencyTypeReasonName">
                  ({{r?.eaEmergencyType?.eaHomelessness?.emergencyTypeReasonName}})</span><span
                  *ngIf="!last">,</span>
              </div>
            </div>
            <div class="col-md-4">
              <label>Application Status</label>
              <div class="tgrey3 wrapword">
                <span>{{r?.statusName}}</span>
                <span *ngFor="let item of r?.statusReasonNames; let last=last; let first=first"><span
                    *ngIf="first">
                    - </span><span>
                    {{item}}</span><span *ngIf="!last">,<br /></span>
                </span>
                <span *ngIf="r.statusName === 'Approved'">
                  {{" ($"+r.approvedPaymentAmount+")"}}
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <label>Individual Type</label>
              <div class="tgrey3 wrapword">{{getIndividualType(r)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mx-0 mt-3">
      <button class="btn btn-add"
        (click)="onAdd()"
        *ngIf="showEditButtons">+ New EA Application</button>
    </div>
    <div class="card my-3">
      <h4 class="card-header">
        EA IPV History</h4>
      <div *ngIf="ipvListModel && ipvListModel.length > 0; else noResults">
        <app-ipv-list [ipvList]="ipvListModel"
          (goToSingleEntry)="onIpvSingleEntry($event)"></app-ipv-list>
      </div>
    </div>
    <div class="row justify-content-end mx-0 mt-3">
      <button class="btn btn-add"
        (click)="onIPVAdd()"
        *ngIf="canShowAddIPVButton">+ New EA IPV</button>
    </div>
  </div>
</div>

<ng-template #noResults>
  <div class="row justify-content-center">
    <blockquote class="pad2">
      <p>No Results Found</p>
    </blockquote>
  </div>
</ng-template>
<app-ipv-edit *ngIf="isInEditMode"></app-ipv-edit>
