#sidebar {
  transform: translateX(0);
  opacity:1;
  transition-property: transform,opacity,width !important;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-in-out !important;
}

.psStatusFont{
  font-size: small;
    }
  
    .hrWidth{
      width: 90%;
    }