<fieldset *ngFor="let child of models; let i=index" class="chld-repeat repeat rel chld-1">
  <input type="hidden" id="ps-chld-id-{{i}}" name="ps-chld-id-1" value="0" />
  <div class="content pad1">
    <div class="row">
      <div class="col-md-3 control-group">
        <label class="control-label" title="First Name">First Name</label>
        <app-text-input [(ngModel)]="child.firstName"
          (ngModelChange)="child.firstName = $event; onChangeCallback(models);" [isRequired]="isRepeaterRowRequired(i)"
          [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')"
          [cacheInnerValue]="getInitialModelValue(child.id, 'firstName')" [maxLength]="120"></app-text-input>
      </div>
      <div class="col-md-3 control-group">
        <label class="control-label" title="Last Name">Last Name</label>
        <app-text-input [(ngModel)]="child.lastName"
          (ngModelChange)="child.lastName = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')" [isRequired]="isRepeaterRowRequired(i)"
          [cacheInnerValue]="getInitialModelValue(child.id, 'lastName')" [maxLength]="120"></app-text-input>
      </div>
      <div class="col-md-3 control-group">
        <label class="control-label" title="Date of Birth">Date of Birth</label>
        <app-date-mm-dd-yyyy-new [(ngModel)]="child.dateOfBirth"
          (ngModelChange)="child.dateOfBirth = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'dateOfBirth')" [isRequired]="isRepeaterRowRequired(i)"
          [cacheInnerValue]="getInitialModelValue(child.id, 'dateOfBirth')"></app-date-mm-dd-yyyy-new>
      </div>
      <div class="col-md-3 control-group">
        <label class="control-label" title="Care Arrangement">Care Arrangement</label>
        <app-select [(ngModel)]="child.careArrangementId"
          (ngModelChange)="child.careArrangementId = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'careArrangementId')" [isRequired]="isRepeaterRowRequired(i)"
          [cacheInnerValue]="getInitialModelValue(child.id, 'careArrangementId')"
          [dropDownList]="childYouthSupportsArrangmentDrop"></app-select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 control-group">
        <label class="control-label" title="Special Needs?">Special Needs?</label>
        <div class="left">
          <app-yes-no-basic [(ngModel)]="child.isSpecialNeeds"
            (ngModelChange)="child.isSpecialNeeds = $event; onChangeCallback(models);"
            [isRequired]="isRepeaterRowRequired(i)" [errorIndicator]="isModelErrorsItemInvalid(i, 'isSpecialNeeds')"
            [cacheInnerValue]="getInitialModelValue(child.id, 'isSpecialNeeds')"></app-yes-no-basic>
        </div>
      </div>
      <div class="col-md-10 control-group">
        <label class="control-label"
          title="Do you have any children age 12 years old or under? - Details">Details</label>
        <app-text-area maxlength="380" [isAutoSizeable]="true" [placeholder]="''" [(ngModel)]="child.details"
          (ngModelChange)="child.details = $event; onChangeCallback(models);"
          [cacheInnerValue]="getInitialModelValue(child.id, 'details')"></app-text-area>
      </div>
    </div>

  </div>
  <div class="controls">
    <ul>
      <app-delete-reason-button [type]="'childYouth12'" [objectWatched]="child"
        (deletedObject)="this.repeaterItemToBeDeleted($event)"></app-delete-reason-button>
    </ul>
  </div>
</fieldset>
<div class="tright col-md-12 add-holder">
  <button class="btn btn-sm btn-add add-chld" (click)="addToRepeater()">+ &nbsp; Add Child</button>
  <hr class="spacer" />
</div>
