<div *ngIf="name !== 'Other'" class="time-summary-box">
  <h6>{{ name }}</h6>
  <div class="used-months">
    <span>{{ usedMonths | default: 0 }}</span>
    <label>Used</label>
  </div>
  <div class="remaining-months">
    <span>{{ remainingMonths | default: "-"  }}/{{ maxMonths | default: "-"  }}</span>
    <label>remain/max</label>
  </div>
</div>

<div class="other-wrapper" *ngIf="name === 'Other'">
  <div  class="time-summary-box">
    <div class= "left-summary">
      <h6>{{ name }}</h6>
      <div class="used-months">
        <span>{{ usedMonths | default: 0 }}</span>
        <label>Used</label>
      </div>
      <div class="remaining-months">
        <span>{{ remainingMonths | default: "-" }}/{{ maxMonths | default:"-" }}</span>
        <label>remain/max</label>
      </div>
    </div>
    <div class="right-summary">
      <div class="clearfix"><span>OTF</span> <span class="clock-totals">{{ OTFCount }}</span></div>
      <div class="clearfix"><span>Tribal</span> <span class="clock-totals">{{ TribalCount }}</span></div>
      <div class="clearfix"><span>TJB</span> <span class="clock-totals">{{ TJBCount }}</span></div>
      <div class="clearfix"><span>JOBS</span> <span class="clock-totals"> {{ JOBSCount }}</span></div>
      <div class="clearfix"><span>NO24 </span> <span class="clock-totals">{{ NoPlacementLimitCount }}</span></div>
    </div>
  </div>
</div>
<div class="time-summary-footer">
  <div class="ext-summary" >
    <span *ngIf="extension && extension.decision === ExtensionDecision.Approve"> EXT EnD {{ extension.dateRange?.end | amDateFormat: 'MM/YYYY' }} </span>
    <span *ngIf="hasDeniedExtension"> EXT DENIED </span>
    <span *ngIf="!extension && (canBeExtended)"> ENTER EXT Decision </span>
    </div>
</div>
