<app-sub-header [participant]="participant" [helpComponent]="'tl-overview'" pageTitle='Time Limit' [goBackUrl]="goBackUrl"></app-sub-header>
<app-sub-header-nav mode="TimeLimits" [pin]="pin"></app-sub-header-nav>
<div *ngIf="isLoading" class="pad2">
    <div class="lg tgrey2 tcenter pad2"><i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i></div>
    <div class="tgrey3 tcenter">Loading Time Limit...</div>
</div>
<section class=" assistance-group" *ngIf="!isLoading">
    <div class="assistance-group-details">
        <table class="table table-sm " *ngIf="assistanceGroup">
            <thead>
                <tr>
                    <th>Participant Name</th>
                    <th>PIN</th>
                    <th>Relationship</th>
                </tr>
            </thead>
            <tbody *ngIf="assistanceGroup.parents.length">
                    <tr *ngFor="let parent of assistanceGroup.parents" [class.selected]="parent.pin === pin" [class.placed]="parent.isPlaced" [class.selectable]="parent.isSelectable">
                        <td>
                          <span class="clock-state" *ngIf="parent.timeline?.timelineState.state.Warn || parent.timeline?.timelineState.state.Danger" [class.danger]="parent.timeline?.timelineState?.state.Danger" [class.warning]="parent.timeline?.timelineState?.state.Warn" >
                          <i class="fa fa-exclamation-triangle"></i>
                        </span>
                          {{parent.participant?.firstName}} {{parent.participant?.lastName}}</td>
                        <td class="pin-number">{{parent.pin}}</td>
                        <td> <span *ngIf="parent.pin === pin">Self</span>
                             <span *ngIf="parent.pin !== pin">{{parent.relationship | default:'-'}}</span>
                            <a *ngIf="parent.pin !== pin && parent.isSelectable" (click)="navigateToTimelimitsPage(parent.pin)" class="right"><i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
                        </td>
                    </tr>
            </tbody>
            <tbody *ngIf="hadLoadError">
                    <tr>
                        <td>
                          <span class="clock-state danger">
                          <i class="fa fa-exclamation-triangle"></i>
                        </span>
                          Unable to load Assistance Group members</td>
                        <td class="pin-number">-</td>
                        <td> - </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="assistance-group-summary">
        <table class="table-sm table">
            <tbody>
                <tr>
                    <td colspan="1">Case #</td>
                    <td colspan="2">Not&nbsp;Available</td>
                </tr>
                <tr>
                    <td colspan="2">Last&nbsp;Updated</td>
                    <td colspan="1">{{ lastBatchRun | amDateFormat: 'MM/DD/YYYY' | default: '-' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="time-summary" *ngIf="!isLoading">
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.Federal)" [timeline]="timeline" [name]="'Federal'" [clockTypeFlag]="ClockTypes.Federal" class="right-border no-max"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.State)" [timeline]="timeline" [name]="'State'" [clockTypeFlag]="ClockTypes.State" class="right-border"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.CSJ)" [timeline]="timeline" [name]="'CSJ'" [clockTypeFlag]="ClockTypes.CSJ"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.W2T)" [timeline]="timeline" [name]="'W-2 T'" [clockTypeFlag]="ClockTypes.W2T"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.TEMP)" [timeline]="timeline" [name]="'TEMP'" [clockTypeFlag]="ClockTypes.TEMP"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.CMC)" [timeline]="timeline" [name]="'CMC'" [clockTypeFlag]="ClockTypes.CMC"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.OPC)" [timeline]="timeline" [name]="'OPC'" [clockTypeFlag]="ClockTypes.OPC"></app-clock-summary>
    <app-clock-summary (click)="openSummaryDetails(ClockTypes.OTHER)" [timeline]="timeline" [name]="'Other'" [clockTypeFlag]="ClockTypes.OTHER" class="layout-other"></app-clock-summary>
</section>
<section class="pb-2" *ngIf="!isLoading">
    <app-limits-timeline *ngIf="participant" [pin]="pin" (editExtension)="onEditExtension($event)" [participant]="participant"
        [timeline]="timeline" (monthSelected)="onMonthSelected($event)" (addExtension)="onEditExtension($event)"></app-limits-timeline>
</section>
<section class="" *ngIf="!isLoading">
    <!--<app-month-details [month]="selectedMonth"></app-month-details>-->
    <app-month-details [pin]="pin" [participant]="participant" *ngIf="selectedMonth" [month]="selectedMonth" [timeline]="timeline" (save)="onMonthSaved($event)"></app-month-details>
</section>
<app-clock-details (close)="closeSummaryDetails()" [months]="selectedSummaryMonths" [clockType]="selectedClockType" (monthSelected)="onMonthSelected($event)"></app-clock-details>
<app-edit-extension [pin]="pin" (save)="closeExtensionEditing($event)" (close)="closeExtensionEditing()" [timeline]="timeline" [model]="selectedExtension"></app-edit-extension>
