>>> :host a, >>> a:not([href]):not([tabindex]){color:#95A5A6; text-decoration:none;}

.assistance-group{
    display:flex;
    text-transform: uppercase;
    color:#373A3C;
    margin-top:.5em;
    font-weight: 700;
}
.assistance-group .assistance-group-details, .assistance-group .assistance-group-summary{
    flex-grow: 1;
}
.assistance-group .assistance-group-details{
    flex-basis: 80%;
}
.assistance-group .assistance-group-details .selected{
    background-color: #fff;
}


.assistance-group .assistance-group-details .selectable a{ cursor:pointer; }
.assistance-group .assistance-group-details .selectable:hover{
    background-color: #ffffff;
}

.assistance-group .assistance-group-details .selected .pin-number{
    color:#1ABC9C;
}
.assistance-group .assistance-group-details .pin-number{
    color:#95A5A6;
}

.assistance-group .assistance-group-summary{
    padding-left:2em;
}


.assistance-group .assistance-group-details th {
    font-size: .7em;
    font-weight: 700;
    color:#63899D;
    padding-bottom:.2em;
}

.assistance-group .assistance-group-summary tr {
    border-bottom:none;
}

.assistance-group .assistance-group-summary td {
    border:none;
    text-align: right;
}

.assistance-group .assistance-group-summary td:first-child {
    font-size: .8em;
    font-weight: 700;
    color:#63899D;
    text-align: left;
}

.assistance-group tr {
    border-bottom:1px solid #D9D9D9;
}

.assistance-group td,
.assistance-group .table thead th{
    border:none;
}

.assistance-group td{
    line-height: .9em;
    vertical-align: bottom;
    font-size: .9em;
    font-weight: 600;
}

.assistance-group .clock-state.warning i { color:#f1c40f;}
.assistance-group .clock-state.danger i { color:#A94442;}

app-sub-header.has-notices{
    padding: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #c9d2d6;
    margin-bottom: 0.25em;
}


label{
    cursor: inherit;
}

a {
    color: #95A5A6;
}

app-summary section header,
app-summary section footer,
app-summary section section {
	/* display: block; */
	/* float: none; */
	clear:both;
	width:auto;
	position:relative;
}

.time-summary{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1em;
}




