<app-participant-barriers-edit-app [barrierId]="this.recordId" [defaultbarrierType]="barrierType" (onSaveAndExit)="exit()" *ngIf="inEditView"></app-participant-barriers-edit-app>
<div class="app-embed" *ngIf="participantBarriers?.length > 0">
    <div *ngFor="let e of participantBarriers" class="record">
        <!-- repeater for each record -->
        <div class="app-icon">
            <a target="_blank" href="{{barriersUrl}}"><i class="wwp-barrier-alt"></i></a>
        </div>

        <div class="app-options" *ngIf="!isReadOnly">
            <ul class="app-option-list">

                <li (click)="edit(e.id)" class="app-option app-edit" *ngIf="!e.isDeleted">
                    <a><i class="fa fa-pencil-alt"></i></a>
                </li>
                <li (click)="delete(e.id)" class="app-option app-delete">
                    <a><i class="fa fa-trash-alt"></i></a>
                </li>
            </ul>
        </div>

        <div (click)="this.open(e.id)" class="app-info small pointerFinger">
            <div class="half left">
               <div class="row">
                 <div class="col-md-6">
                    <p class="barrier-type">{{e.barrierTypeName}}</p>
                    <p class="tgrey3" *ngIf="e.barrierSubType?.barrierSubTypeNames?.length == 1">{{e?.barrierSubType?.barrierSubTypeNames[0]}}</p>
                    <p class="tgrey3" *ngIf="e.barrierSubType?.barrierSubTypeNames?.length > 1">Multiple Subtypes</p>
                </div>
                <div class="col-md-6 tright">
                    <p>Onset Month: <span class="tblue3">{{e.onsetDate}}</span></p>
                    <p *ngIf="e.isAccommodationNeeded == true"><span class="tblue3 viewPortFit">Accommodation(s) Needed</span> </p>
                    <p *ngIf="!e.isAccommodationNeeded == false"><span class="tgrey2 viewPortFit">No Accommodation(s) Needed</span> </p>
                </div>
               </div>
            </div>
            <div class="half right">

                <div class="tgrey2" *ngIf="e.formalAssessments?.length == 0">
                    <p>No Formal Assessments</p>
                </div>

                <div class="" *ngIf="e.formalAssessments?.length == 1">
                    <div class="small" *ngIf="!e.formalAssessments[0].assessmentDate && e.formalAssessments[0].assessmentNotCompleted && e.barrierTypeName !== 'Domestic Violence'">
                        Formal Assessment Date: <span class="tgrey3">Not Completed</span></div>
                    <div class="small" *ngIf="!e.formalAssessments[0].assessmentDate && e.formalAssessments[0].referralDeclined && e.barrierTypeName !== 'Domestic Violence'">
                        Formal Assessment Date: <span class="tgrey3">Declined</span></div>
                    <div class="small" *ngIf="e.formalAssessments[0].assessmentDate && e.barrierTypeName !== 'Domestic Violence'">
                        Formal Assessment Date: <span class="tgrey3">{{e.formalAssessments[0].assessmentDate}}</span></div>
                    <div class="small" *ngIf="e.barrierTypeName === 'Domestic Violence'">
                        Formal Assessment Date: <span class="tgrey3">NA</span></div>
                    <div class="small" *ngIf="!e.formalAssessments[0].assessmentDate && !e.formalAssessments[0].assessmentNotCompleted && !e.formalAssessments[0].referralDeclined && e.barrierTypeName !== 'Domestic Violence'">
                        Formal Assessment Date: <span class="tgrey3"></span></div>

                    <div class="small" *ngIf="e.formalAssessments[0].reassessmentRecommendedDate && e.barrierTypeName !== 'Domestic Violence'">Recommended Reassessment Date:
                        <span class="tgrey3">{{e.formalAssessments[0].reassessmentRecommendedDate}}</span>
                        <i *ngIf="e.formalAssessments[0].hasReassessmentRecommendedDatePassed" class="fa fa-exclamation-triangle tred"></i>
                    </div>
                    <div class="small" *ngIf="!e.formalAssessments[0].reassessmentRecommendedDate && e.formalAssessments[0].isRecommendedDateNotNeeded && e.barrierTypeName !== 'Domestic Violence'">
                        Recommended Reassessment Date: <span class="tgrey3">Not Needed</span></div>
                    <div class="small" *ngIf="!e.formalAssessments[0].reassessmentRecommendedDate && !e.formalAssessments[0].referralDeclined && !e.formalAssessments[0].assessmentNotCompleted && !e.formalAssessments[0].isRecommendedDateNotNeeded && e.barrierTypeName !== 'Domestic Violence'">
                            Recommended Reassessment Date: <span class="tgrey3"></span></div>
                    <div class="small" *ngIf="e.formalAssessments[0].referralDeclined || e.formalAssessments[0].assessmentNotCompleted || e.barrierTypeName === 'Domestic Violence'">
                        Recommended Reassessment Date: <span class="tgrey3">NA</span></div>
                </div>

                <div class="" *ngIf="e.formalAssessments?.length > 1">
                    <p>{{e.formalAssessments?.length}} Formal Assessments</p>
                </div>

            </div>
        </div>

        <!-- if no barriers selected -->
        <div class="app-info" *ngIf="participantBarriers == null || participantBarriers.length == 0">
            <p class="app-none tcenter">No Barriers</p>
        </div>
    </div>

</div>
<div class="tright full pad1-0"  *ngIf="!isReadOnly">
    <button id="add-work" class="btn btn-add" (click)="add()">+ Add Barrier</button>
</div>

<app-confirm-dialog *ngIf="inConfirmDeleteView" (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()" title="Delete Barrier"
    confirmButtonText="Delete Barrier" cancelButtonText="Cancel" message="Deleting a Barrier will remove its information throughout the entire application. Are you sure you want to do this?"></app-confirm-dialog>
