<div *ngIf="this.model" id="contact-modal">
  <header class="nav-header pad1">
    <div class="clearfix">
      <a (click)="this.exit()" class="btn btn-back btn-secondary-outline btn-sm" title="Close Record">
        <i class="fa fa-times"></i>
      </a>
      <h1 id="pageTitle">{{this.title}}</h1>
      <!-- <h1 id="pageTitle">Edit Task</h1> -->
      <!-- IF EDIT -->
      <app-help-button [featureName]="'action-needed-add-edit-help'"></app-help-button>
    </div>
  </header>
  <div class="app-content">
    <div class="wrapper">

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label class="padhalf">Assign To</label>
        </div>
        <div class="col-md-9">
          <app-tab-selector [(ngModel)]="this.model.assigneeId"
            (ngModelChange)="this.model.assigneeId = $event; this.validate();"
            [cacheInnerValue]="this.cachedModel?.assigneeId" [tabs]="this.actionNeededAssigneeDrop" [isRequired]="true">
          </app-tab-selector>
        </div>
      </div>

      <hr />

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Page</label>
        </div>
        <div class="col-md-5">
          <app-select [(ngModel)]="this.model.pageId"
            (ngModelChange)="this.model.pageId = $event; this.validate(); this.initPageSpecificActionsItems();"
            [cacheInnerValue]="this.cachedModel?.pageId" [isInvalid]="this.modelErrors['pageId']"
            [dropDownList]="this.actionNeededPagesDrop" [isRequired]="true"></app-select>
        </div>
        <div class="col-md-4">
          &nbsp;
        </div>
      </div>

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Action Item</label>
        </div>
        <div class="col-md-5">
          <app-select [(ngModel)]="this.model.actionItemId"
            (ngModelChange)="this.model.actionItemId = $event; this.validate();"
            [cacheInnerValue]="this.cachedModel?.actionItemId"
            [isDisabled]="this.model.pageId == null || this.model.pageId.toString() == '' || this.model.isActionNeededDisabled(this.actionNeededPagesDrop) === true"
            [dropDownList]="this.actionItemsDrop" [isInvalid]="this.modelErrors['actionItemId']" [isRequired]="true">
          </app-select>
        </div>
        <div class="col-md-4">&nbsp;</div>
      </div>

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Task</label>
        </div>
        <div class="col-md-5">
          <app-generic-text-input [(ngModel)]="this.model.followUpTask"
            (ngModelChange)="this.model.followUpTask = $event; this.validate();"
            [cacheInnerValue]="this.cachedModel?.followUpTask" [isInvalid]="this.modelErrors['followUpTask']"
            [NGMaxLength]="120" [isRequired]="true"></app-generic-text-input>
        </div>
      </div>

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Due Date</label>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <app-date-mm-dd-yyyy #dueDate [(ngModel)]="this.model.dueDateMmDdYyyy"
              (ngModelChange)="this.model.dueDateMmDdYyyy = $event; this.validate();"
              [cacheInnerValue]="this.cachedModel?.dueDateMmDdYyyy" [isDisabled]="this.model.isNoDueDate"
              [isInvalid]="this.modelErrors['dueDate']" [isRequired]="true" class="first"></app-date-mm-dd-yyyy>
            <app-radio-button [(ngModel)]="this.model.isNoDueDate"
              (ngModelChange)="this.model.isNoDueDate = $event; this.validate();"
              (onDirty)="dueDate.forceIsDirty = $event" [cacheInnerValue]="this.cachedModel?.isNoDueDate"
              [NgLabel]="'No Due Date'" class="input-group-addon input-group-text last"></app-radio-button>
          </div>
        </div>
        <div class="col-md-3">
          &nbsp;
        </div>
      </div>

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Completion Date</label>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <app-date-mm-dd-yyyy #completionDate [(ngModel)]="this.model.completionDateMmDdYyyy"
              (ngModelChange)="this.model.completionDateMmDdYyyy = $event; this.validate();"
              [cacheInnerValue]="this.cachedModel?.completionDateMmDdYyyy"
              [isInvalid]="this.modelErrors['completionDate']" [isDisabled]="this.model.isNoCompletionDate"
              class="first"></app-date-mm-dd-yyyy>
            <app-radio-button [(ngModel)]="this.model.isNoCompletionDate"
              (ngModelChange)="this.model.isNoCompletionDate = $event; this.validate();"
              (onDirty)="completionDate.forceIsDirty = $event" [cacheInnerValue]="this.cachedModel?.isNoCompletionDate"
              [NgLabel]="'Did Not Complete'" class="input-group-addon input-group-text last"></app-radio-button>
          </div>
        </div>
        <div class="col-md-3">
          &nbsp;
        </div>
      </div>

      <div class="row control-group padhalf">
        <div class="col-md-3">
          <label>Priority</label>
        </div>
        <div class="col-md-5">
          <app-select [(ngModel)]="this.model.priorityId"
            (ngModelChange)="this.model.priorityId = $event; this.validate();"
            [cacheInnerValue]="this.cachedModel?.priorityId" [dropDownList]="this.prioritiesDrop"></app-select>
        </div>
        <div class="col-md-4">&nbsp;</div>
      </div>

      <hr />

      <div class="row control-group padhalf">
        <div class="col-md-12 form-group">
          <app-text-area [(ngModel)]="this.model.details"
            (ngModelChange)="this.model.details = $event; this.validate();"
            [cacheInnerValue]="this.cachedModel?.details" [isInvalid]="this.modelErrors['details']"
            [isRequired]="this.model.isDetailsRequired(this.actionItemsDrop) && this.model.isActionNeededDisabled(this.actionNeededPagesDrop) === false"
            [maxlength]="380" [isAutoSizeable]="true" [placeholder]="'Details'"></app-text-area>
        </div>
      </div>

    </div>
  </div>
  <footer class="nav-footer">
    <div class="wrapper tright">
      <div *ngIf="hadSaveError">There was an error saving.</div>
      <button class="btn btn-add" (click)="exit()">Cancel</button>
      <button class="btn btn-primary disabled" *ngIf="this.isSaving"><i
          class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> Saving </button>
      <button class="btn btn-primary" *ngIf="!this.isSaving" (click)="saveAndExit()" [class.disabled]="!this.isSaveAble"
        [disabled]="!this.isSaveAble">Save</button>
    </div>
  </footer>
</div>
