
:host app-date-mm-yyyy-input {
  height:100%;
  padding:0;
  margin: 0;
}

:host app-date-mm-yyyy-input input {
  height:100%;
  border-radius: .25rem 0 0 .25rem;
  border-right:none;
}

/* app-date-mm-yyyy-input.error {
  border-left: 4px solid #c0392b!important;
} */

/*:host app-date-mm-yyyy-input.dirty input {
  border-left: 4px solid #f1c40f;
}*/
