    .grid-container-header {
        display: -ms-grid;
        display: grid;
        grid-template-columns: .9fr 1200px .9fr;
        -ms-grid-columns: .9fr 1200px .9fr;

        @for $i from 1 through 3 {
            .grid-item:nth-child(#{$i}) {
                -ms-grid-column:($i);
                grid-column:($i);
            };
        }

    }

    .grid-container-user-header {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.1fr 2fr 0.1fr 0.8fr 0.8fr 0.8fr;
        -ms-grid-columns: 0.5fr 3fr 0.1fr  2fr 0.1fr 0.8fr 0.8fr 0.8fr;

        @for $i from 1 through 12 {
            .grid-item:nth-child(#{$i}) {
                -ms-grid-column:($i);
                grid-column:($i);
            };
        }
    }
