@media print {
    
    app-header,
    #status,
    app-sub-header a, 
    app-sub-header .btn-back, 
    app-sub-header h1,
    app-sub-header-nav,
    app-sub-header-nav ul,
    app-sub-header-nav ul li,
    pagination-template,
    nav,
    .clear-edit,
    button,
    button.btn-add,
    aside,
    #top-options,
    .dont-print,
    .alert-danger {
      display: none !important;
    }

    .overview-field {
        border-left:none !important;
    }

    body {
        background:#fff;
        color:#000;
        min-width:980px;
        transform: scale(72%);
    }

    body #main {
        width:100%!important;
    }

    div.partTitle span {
        font-size:1em !important;
        margin:0.5em 0;
        font-weight: 700;
    }

    /* Defining all page breaks */
    a { page-break-inside: avoid; }
    blockquote { page-break-inside: avoid; }
    h1, h2, h3, h4, h5, h6 { page-break-after:avoid;  page-break-inside:avoid }
    img { page-break-inside:avoid;  page-break-after:avoid; }
    table, pre { page-break-inside:avoid }
    ul, ol, dl  { page-break-before:avoid }

}