@import "./variables.scss";

label.readOnly {
    color: $color-read-only-label;
    size: $size-read-only-label;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1px;
} 


// TODO: break this style up?
.read-only-group {
    margin: .75em 0;
    padding-top: 1px;
    padding-bottom: 1px;
}



// TODO: use var for width?.
.bb-l-1p {
    border-bottom: 1px solid #ecf0f1;
}

.bb-l-2p {
    border-bottom: 2px solid #ecf0f1;
}