
// WWP Color Palette
$color-read-only-label: #63899d;

// Input Colors
$color-error: #c0392b;
$color-error-light: #c0392b02;
$color-input-focus: #31B0D5;
$color-input-dirty: #f1c40f;



// WWP Font Sizes
$size-read-only-label: .8rem;

