<app-sub-header pageTitle="W-2 Auxiliaries"
  [goBackUrl]="goBackUrl"
  [participant]="participant"
  [helpComponent]="'aux-worker-list'">
</app-sub-header>
<div class="container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Auxiliaries'"></app-loading>
</div>
<div class="container">
  <div class="row justify-content-center"
    *ngIf="!isInEditMode && !auxiliaryList?.length && isLoaded">
    <blockquote class="p-3 m-3">
      <div>No Auxiliary</div>
    </blockquote>
  </div>
</div>
<div *ngIf="!isInEditMode && auxiliaryList?.length && isLoaded">
  <div class="row justify-content-end btmborder m-1 p-2">
    <button (click)="sortByDate()"
      class="btn sort-btn sortbtnsort py-1 px-2"
      [ngClass]="{sortbtnasc: !isSortByDateToggled, sortbtndesc: isSortByDateToggled}"
      data-sort="date">Sort by Status Date</button>
  </div>
  <div class="list-item p-1"
    *ngFor="let aux of this.auxiliaryList">
    <div (click)="edit(aux, true)">
      <div class="row">
        <div class="col-md-6">
          <span><strong>Participation Period:</strong></span>
          <span>{{aux.participationPeriodName}}</span>
          <span><strong>Year:</strong></span>
          <span>{{aux.participationPeriodYear}}</span>
        </div>
        <div class="col-md-6">
          <span><strong>Status:</strong></span>
          <span>{{aux.auxiliaryStatusTypeDisplayName}}</span>
          <span>as of</span>
          <span><strong>Status Date:</strong></span>
          <span>{{aux.auxiliaryStatusDate | date :'MM/dd/yyyy' }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span><strong>Issued Amount:</strong></span>
          <span>${{aux.requestedAmount}}</span>
        </div>
        <div class="col-md-6">
          <span>{{aux.modifiedBy}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoaded && canEditAux() && !isInEditMode"
  class="pad1-0">
  <span class="right">
    <button id=""
      class="btn btn-add"
      (click)="onAdd()">+ Add Auxiliary</button>
  </span>
</div>
<app-auxiliary-edit *ngIf="isInEditMode"
  [allAuxiliaries]="auxiliaryList"
  [participant]="participant"
  [participationDetails]="participationDetails"></app-auxiliary-edit>
