<app-loading [isLoaded]="isLoaded"
  [loadingLabel]="'Goal(s) and Activity(s)'"></app-loading>

<div class="app-content"
  *ngIf="isLoaded">
  <app-sub-header pageTitle="End Employability Plan"
    [pin]="pin"
    [helpComponent]="'end-employability-plan'">
  </app-sub-header>
  <app-dialog-box *ngIf="appService?.isDialogPresent && !appService?.isChildDialogPresent"
    (dialogClose)="exitEndEPEditIgnoreChanges($event)"
    [doesNotNavigateBack]="true"></app-dialog-box>
</div>
<app-validation-summary [errors]='validationManager.errors'></app-validation-summary>

<div class="row"
  *ngIf="isLoaded && !this.goals?.length">
  <app-ep-card-header [title]="'Goals'"
    [showEdit]="false"></app-ep-card-header>
  <blockquote class="tcenter pad2">
    <p>Participant does not have any Goals.</p>
  </blockquote>
</div>

<div class="card"
  *ngIf="isLoaded && this.goals?.length">
  <div class="card-header">
    <app-ep-card-header [title]="'Goals'"
      [showEdit]="false"></app-ep-card-header>
  </div>
  <div class="row p-1 card-body"
    *ngFor="let goal of this.goals; let i=index">
    <div *ngIf="isLoaded"
      class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <p class="programFont">{{goal.program}}</p>
        </div>
        <div class="col-md-5">
          <h6>Goal Type:</h6>
          <p class="tgrey3 wrapword">
            <app-text-input [(ngModel)]="goal.goalTypeName"
              [isReadOnly]="true"
              [isResizable]="true"> </app-text-input>
          </p>
          <h6>Goal Name:</h6>
          <p class="tgrey3 wrapword">
            <app-generic-text-input [(ngModel)]="this.goal.name"
              [isDisabled]="true"></app-generic-text-input>
          </p>
          <h6>Goal Description:</h6>
          <p class="tgrey3 wrapword">
            <app-text-area [(ngModel)]="this.goal.details"
              [isDisabled]="true"></app-text-area>
          </p>
        </div>
        <div class="col-md-5">
          <h6>Begin Date:</h6>
          <p class="tgrey3 wrapword">
            <app-date-mm-dd-yyyy [(ngModel)]="goal.beginDate"
              [isReadOnly]="true"> </app-date-mm-dd-yyyy>
          </p>
          <h6>End Date:</h6>
          <p class="tgrey3 wrapword">
            <app-date-mm-dd-yyyy [(ngModel)]="goal.endDate"
              [isReadOnly]="true"> </app-date-mm-dd-yyyy>
          </p>

          <h6>End Reason:</h6>
          <p class="tgrey3 wrapword">
            <app-select [(ngModel)]="goal.endReasonId"
              (ngModelChange)="goal.endReasonId = $event;validate();"
              [dropDownList]="endGoalTypesDrop"
              [isRequired]="true"
              [isInvalid]="isChildModelErrorsItemInvalid(i,'goals','endReasonId')"
              [cacheInnerValue]="getInitialGoalModelValue(i, 'endReasonId')"></app-select>
          </p>
        </div>
      </div>
      <hr />

    </div>
  </div>
</div>


<!-- Activities without Completion Reasons -->

<div class="row"
  *ngIf="isLoaded && !this.activities?.length">
  <blockquote class="tcenter pad2">
    <p>Participant does not have any Activities.</p>
  </blockquote>
</div>
<div class="card"
  *ngIf="isLoaded && this.activities?.length">
  <div class="card-header">
    <app-ep-card-header [title]="'Activities'"
      [showEdit]="false"></app-ep-card-header>
  </div>
  <div class="row p-1 card-body"
    *ngFor="let activity of this.activities; let i=index">
    <div *ngIf="isLoaded"
      class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <p class="programFont">{{activity.program}}</p>
        </div>
        <div class="col-md-5">
          <h6>Activity:</h6>
          <p class="tgrey3 wrapword">
            <app-text-input [(ngModel)]="activity.activityTypeName"
              [isReadOnly]="true"> </app-text-input>
          </p>
          <h6>Activity Description:</h6>
          <p class="tgrey3 wrapword">
            <app-text-area [(ngModel)]="activity.description"
              [isDisabled]="true"
              [maxlength]="120"></app-text-area>
          </p>
          <h6>Start Date:</h6>
          <p class="tgrey3 wrapword">
            <app-date-mm-dd-yyyy [(ngModel)]="activity.minStartDate"
              [isReadOnly]="true"></app-date-mm-dd-yyyy>
          </p>
        </div>
        <div class="col-md-5">
          <h6>Planned End Date:</h6>
          <p class="tgrey3 wrapword">
            <app-date-mm-dd-yyyy [(ngModel)]="activity.maxEndDate"
              [isReadOnly]="true"></app-date-mm-dd-yyyy>
          </p>

          <div *ngIf="!isFutureActivity(activity.minStartDate)">
            <h6>Actual End Date:</h6>
            <p class="tgrey3 wrapword">
              <app-date-mm-dd-yyyy [(ngModel)]="activity.endDate"
                (ngModelChange)="activity.endDate = $event;validate();"
                [isReadOnly]="false"
                [isRequired]="true"
                [isInvalid]="isChildModelErrorsItemInvalid(i,'activities','endDate')"
                [cacheInnerValue]="getInitialActivityModelValue(i, 'endDate')"
                [datePickerRequired]="true"></app-date-mm-dd-yyyy>
              <h6>Completion Reason:</h6>
              <p class="tgrey3 wrapword">
                <app-select [(ngModel)]="activity.activityCompletionReasonId"
                  (ngModelChange)="activity.activityCompletionReasonId = $event;validate();"
                  [dropDownList]="activity.completionReasons"
                  [isRequired]="true"
                  [isInvalid]="isChildModelErrorsItemInvalid(i,'activities','activityCompletionReasonId')"
                  [cacheInnerValue]="getInitialActivityModelValue(i, 'activityCompletionReasonId')">
                </app-select>
              </p>
          </div>
          <div *ngIf="isFutureActivity(activity.minStartDate)"
            class="controls right delBtn"
            title="Delete Activity">
            <button class="btn btn-del allowClick"
              (click)="deleteActivity(activity)">
              <i class="fa fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <hr />

    </div>
  </div>
</div>

<div *ngIf="isLoaded && (this.activities?.length || this.goals?.length)"
  class="tright col-md-12 pt-1 pr-0">
  <button (click)="cancel()"
    class="btn btn-add">Cancel</button>
  <button *ngIf="!isSaving"
    (click)="save()"
    [disabled]="validationManager.errors && validationManager.errors.length > 0"
    class="btn btn-add">End Employability Plan</button>
  <button *ngIf="isSaving"
    class="btn btn-primary btn-save disabled"><i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>Ending
    EP</button>
</div>

<app-confirm-dialog *ngIf="inConfirmDeleteView"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
  title="Delete Activity"
  confirmButtonText="Delete Activity"
  cancelButtonText="Cancel"
  message="Deleting this Activity will remove its information from all Employability Plans. Are you sure you want to do this?">
</app-confirm-dialog>
