<section class="overview ia fields childcare current"
  id="ia-childcare">

  <app-overview-card-header [title]="'Child and Youth Supports'"
    [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess"
    [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length"
    (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)"
    (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion"
    [hasFcdpRole]="hasFcdpRole"
    [section]="'Child and Youth Supports'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion"
    [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part childcare"
    [class.collapse]="isCollapsed"
    *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">
    <div class="row reprow">
      <span class="ovtitle reptitle">Children age 12 and under</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.error]="modelErrors['hasChildren']">
        <span class="ovtitle"
          title="Do you have any children age 12 years old or under?">Any children age 12
          and under?</span>
        <span class="ovval">{{section.hasChildren | yesNo}}&nbsp;</span>
      </div>
    </div>
    <div *ngIf="section?.hasChildren">
      <div class="chld-holder"
        *ngFor="let child of section?.children; let i = index;">
        <div class="row">
          <div class="overview-field col-md-3 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'firstName')">
            <span class="ovtitle"
              title="First Name">First Name</span>
            <span class="ovval">{{child?.firstName}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-3 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'lastName')">
            <span class="ovtitle"
              title="Last Name">Last Name</span>
            <span class="ovval">{{child?.lastName}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'dateOfBirth')">
            <span class="ovtitle"
              title="Date of Birth">DOB</span>
            <span class="ovval">{{child?.dateOfBirth}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-4 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'careArrangementId')">
            <span class="ovtitle"
              title="Care Arrangement">Care Arrangement</span>
            <span class="ovval">{{child?.careArrangementName}}&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="overview-field col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'isSpecialNeeds')">
            <span class="ovtitle"
              title="Special Needs?">Special Needs</span>
            <span class="ovval">{{child?.isSpecialNeeds | yesNo}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-10 overviewItem"
            [class.blank]="!child?.details"
            [class.error]="isModelErrorsItemInvalid(i, 'children', 'details')">
            <span class="ovtitle"
              title="Do you have any children age 12 years old or under? - Details">Details</span>
            <span class="ovval">{{child?.details}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row reprow">
      <span class="ovtitle reptitle">children age 13 to 18 with special needs</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.error]="modelErrors['hasTeensWithDisabilityInNeedOfChildCare']">
        <span class="ovtitle"
          title="Do you have any children age 13 to 18 with special needs in need of child care?">Any
          children age 13 to 18 with special needs in need of child care?</span>
        <span class="ovval">{{section.hasTeensWithDisabilityInNeedOfChildCare | yesNo}}&nbsp;</span>
      </div>
    </div>

    <div class="chld-holder"
      *ngFor="let teen of section?.teens; let i = index;">
      <div class="row">
        <div class="overview-field col-md-3 caret overviewItem"
          [class.error]="isModelErrorsItemInvalid(i, 'teens', 'firstName')">
          <span class="ovtitle"
            title="First Name">First Name</span>
          <span class="ovval">{{teen?.firstName}}&nbsp;</span>
        </div>
        <div class="overview-field col-md-3 overviewItem"
          [class.error]="isModelErrorsItemInvalid(i, 'teens', 'lastName')">
          <span class="ovtitle"
            title="Last Name">Last Name</span>
          <span class="ovval">{{teen?.lastName}}&nbsp;</span>
        </div>
        <div class="overview-field flex-row col-md-6 overviewItem"
          [class.error]="isModelErrorsItemInvalid(i, 'teens', 'dateOfBirth')">
          <span class="ovtitle"
            title="Date of Birth">DOB</span>
          <span class="ovval">{{teen?.dateOfBirth}}&nbsp;</span>
        </div>
      </div>
      <div class="flex-row overviewContainer">
        <div class="overview-field flex-row col-md-12 overviewItem"
          [class.blank]="!teen?.details"
          [class.error]="isModelErrorsItemInvalid(i, 'teens', 'details')">
          <span class="ovtitle"
            title="Do you have any children age 13 to 18 with special needs in need of child care? - Details">Details</span>
          <span class="ovval">{{teen?.details}}&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="row"></div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasSpecialNeedsChild">
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['isSpecialNeedsProgramming']">
        <span class="ovtitle"
          title="Special needs programming?">Special needs programming?</span>
        <span class="ovval">{{section?.isSpecialNeedsProgramming | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        *ngIf="section?.isSpecialNeedsProgramming"
        [class.blank]="!section?.isSpecialNeedsProgramming"
        [class.error]="modelErrors['specialNeedsProgrammingDetails']">
        <span class="ovtitle"
          title="Special needs programming? - Details">Details</span>
        <span class="ovval">{{section?.specialNeedsProgrammingDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 blank overviewItem"
        *ngIf="!section?.isSpecialNeedsProgramming">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="row"
      *ngIf="section?.hasChildUnder5">
      <div class="overview-field col-md-6 overviewItem"
        [class.error]="modelErrors['hasWicBenefits']">
        <span class="ovtitle"
          title="Are you receiving WIC benefits?">Are you receiving WIC benefits?</span>
        <span class="ovval">{{section?.hasWicBenefits | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['isInHeadStart']">
        <span class="ovtitle"
          title="Does your family participate in Head Start?">Does family participate in
          Head Start?</span>
        <span class="ovval">{{section?.isInHeadStart | yesNo}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasChildOrTeen5orOver">
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['isInAfterSchoolOrSummerProgram']">
        <span class="ovtitle"
          title="Do any of your children participate in after school or summer programs?">Children
          participate in after school or summer programs?</span>
        <span class="ovval">{{section?.isInAfterSchoolOrSummerProgram | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        *ngIf="section?.isInAfterSchoolOrSummerProgram"
        [class.blank]="!section?.afterSchoolOrSummerProgramNotes"
        [class.error]="modelErrors['afterSchoolOrSummerProgramNotes']">
        <span class="ovtitle"
          title="Do any of your children participate in after school or summer programs? - Details">Details</span>
        <span class="ovval">{{section?.afterSchoolOrSummerProgramNotes}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 blank overviewItem"
        *ngIf="!section?.isInAfterSchoolOrSummerProgram">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>
    <div class="flex-row overviewContainer"
      *ngIf="section?.hasChildOrTeen5orOver">
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['isInMentoringProgram']">
        <span class="ovtitle"
          title="Do any of your children participate in mentoring programs?">Children
          participate in mentoring programs?</span>
        <span class="ovval">{{section?.isInMentoringProgram | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        *ngIf="section?.isInMentoringProgram"
        [class.blank]="!section?.isInMentoringProgram"
        [class.error]="modelErrors['mentoringProgramNotes']">
        <span class="ovtitle"
          title="Do any of your children participate in mentoring programs? - Details">Details</span>
        <span class="ovval">{{section?.mentoringProgramNotes}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 blank overviewItem"
        *ngIf="!section?.isInMentoringProgram">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="row">
      <div class="overview-field col-md-12 overviewItem"
        [class.error]="modelErrors['hasChildWelfareWorkerId']">
        <span class="ovtitle"
          title="Do any of your children currently have a child welfare worker?">Any
          children currently have a child welfare worker?</span>
        <span class="ovval">{{section?.hasChildWelfareWorkerName}}&nbsp;</span>
        <!-- |yesNo -->
      </div>
    </div>

    <div class="row"
      *ngIf="section?.hasChildWelfareWorkerId === 1 || section.hasChildWelfareWorkerName === 'Yes'">
      <div class="overview-field col-md-6 overviewItem"
        [class.blank]="!section?.childWelfareWorkerChildren"
        [class.error]="modelErrors['childWelfareWorkerChildren']">
        <span class="ovtitle"
          title="For which child(ren)?">For which child(ren)?</span>
        <span class="ovval">{{section?.childWelfareWorkerChildren}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-6 overviewItem"
        [class.blank]="!section?.childWelfareWorkerPlan"
        [class.error]="modelErrors['childWelfareWorkerPlan']">
        <span class="ovtitle"
          title="Current plan or requirements">Current plan or requirements</span>
        <span class="ovval">{{section?.childWelfareWorkerPlan}}&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="overview-field col-md-12 overviewItem"
        *ngIf="section?.hasChildWelfareWorkerId === 1">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-contacts-embed class="tabled"
          isReadOnly="true"
          [pin]="pin"
          [(ngModel)]="section.childWelfareWorkerContactId"></app-contacts-embed>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section.isParticipantUnder26">
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['didOrWillAgeOutOfFosterCare']">
        <span class="ovtitle"
          title="Did you or will you age out of foster care?">Did you/will you age out of
          foster care?</span>
        <span class="ovval">{{section?.didOrWillAgeOutOfFosterCare | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        *ngIf="section?.didOrWillAgeOutOfFosterCare"
        [class.blank]="!section?.fosterCareNotes"
        [class.error]="modelErrors['fosterCareNotes']">
        <span class="ovtitle"
          title="Did you or will you age out of foster care? - Details">Details</span>
        <span class="ovval">{{section?.fosterCareNotes}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 blank overviewItem"
        *ngIf="!section?.didOrWillAgeOutOfFosterCare">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-6 overviewItem"
        [class.error]="modelErrors['hasFutureChildCareChanges']">
        <span class="ovtitle"
          title="Will there be any changes with your child care in the near future?">Any
          changes to child care in near future?</span>
        <span class="ovval">{{section?.hasFutureChildCareChanges | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 overviewItem"
        *ngIf="section?.hasFutureChildCareChanges"
        [class.blank]="!section?.futureChildCareChangesNotes"
        [class.error]="modelErrors['futureChildCareChangesNotes']">
        <span class="ovtitle"
          title="Will there be any changes with your child care in the near future? - Details">Details</span>
        <span class="ovval">{{section?.futureChildCareChangesNotes}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-6 blank overviewItem"
        *ngIf="!section?.hasFutureChildCareChanges">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="row"></div>
    <div *ngIf="section?.actionNeeded"
      class="overview-field col-md-12 overviewItem"
      [class.error]="modelErrors['actionNeeded']">
      <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
      <app-action-needed-embed [readOnly]="true"
        [pageName]="'child-youth-supports'"
        [participantPin]="pin"
        [(ngModel)]="section.actionNeeded"></app-action-needed-embed>
    </div>

    <div class="row"></div>
    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.blank]="!section?.notes">
        <span class="ovtitle"
          title="Notes">Notes</span>
        <span class="ovval">{{ section?.notes }}&nbsp;</span>
      </div>
    </div>
  </div>

</section>
