<section class="overview ia fields education current" id="ia-education">

  <app-overview-card-header [title]="'Education History'" [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess" [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length" (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)" (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion" [hasFcdpRole]="hasFcdpRole" [section]="'Education History'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion" [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part education border-right" [class.collapse]="isCollapsed" *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-4 overviewItem" [class.error]="modelErrors['diploma']">
        <span class="ovtitle" title="What is your high school graduation status?">High School Graduation Status</span>
        <span class="ovval">{{section?.diplomaName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-8 overviewItem" *ngIf="section?.diplomaName == 'None'"
        [class.blank]="section?.hasEverGoneToSchool === null" [class.error]="modelErrors['hasEverGoneToSchool']">
        <span class="ovtitle" title="Have you ever attended school?">Ever attended school?</span>
        <span class="ovval">{{section?.hasEverGoneToSchool | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-8 overviewItemblank" *ngIf="section?.diplomaName != 'None'">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer" *ngIf="section.isSchoolLocationDisplayed(this.educationDiplomaTypesDrop)">
      <div class="overview-field col-md-4 overviewItem" [class.error]="modelErrors['schoolLocation']">
        <span class="ovtitle" title="Location">Location</span>
        <span class="ovval">{{section?.location?.description}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-4 overviewItem" [class.error]="modelErrors['schoolName']">
        <span class="ovtitle" title="School Name">School Name</span>
        <span class="ovval">{{section?.schoolName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-4 overviewItem"
        [class.blank]="!section?.lastYearAttended && !modelErrors?.lastYearAttended"
        [class.error]="modelErrors['lastYearAttended']">
        <span class="ovtitle" title="Last Year Attended">Last Year Attended</span>
        <span class="ovval">{{section?.lastYearAttended}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section.isLastGradeCompletedDisplayed(this.educationDiplomaTypesDrop)">

      <div class="overview-field flex-row col-md-3 overviewItem"
        *ngIf="section?.isLastGradeCompletedDisplayed(educationDiplomaTypesDrop) === true"
        [class.blank]="!section?.lastGradeCompleted && !modelErrors?.lastGradeCompleted"
        [class.error]="modelErrors['lastGradeCompleted']">
        <span class="ovtitle" title="Last Grade Completed">Last Grade Completed</span>
        <span class="ovval">{{section?.lastGradeCompletedName}}&nbsp;</span>
      </div>
      <div *ngIf="section?.isCurrentlyEnrolledDisplayed(educationDiplomaTypesDrop) === true"
        class="overview-field flex-row col-md-9 overviewItem"
        [class.blank]="section?.isCurrentlyEnrolled === null && !modelErrors?.isCurrentlyEnrolled"
        [class.error]="modelErrors['isCurrentlyEnrolled']">
        <span class="ovtitle" title="Currently enrolled?">Currently Enrolled?</span>
        <span class="ovval">{{section?.isCurrentlyEnrolled | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-9 blank overviewItem"
        *ngIf="!section?.isCurrentlyEnrolledDisplayed(educationDiplomaTypesDrop)"
        [class.col-md-9]="!section?.isCurrentlyEnrolledDisplayed(educationDiplomaTypesDrop)"
        [class.col-md-12]="!section?.isCurrentlyEnrolledDisplayed(educationDiplomaTypesDrop) && !section?.isLastGradeCompletedDisplayed(educationDiplomaTypesDrop)">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer" *ngIf="section?.isCurrentlyEnrolled">
      <div class="overview-field flex-row col-md-4 overviewItem" [class.error]="modelErrors['hasEducationPlan']">
        <span class="ovtitle" title="Do you currently have an individualized education plan (IEP)?">Individualized
          Education Plan?</span>
        <span class="ovval">{{section?.hasEducationPlan | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-8 overviewItem" *ngIf="section?.hasEducationPlan"
        [class.blank]="!section?.educationPlanDetails" [class.error]="modelErrors['educationPlanDetails']">
        <span class="ovtitle"
          title="Do you currently have an individualized education plan (IEP)? - Details">Details</span>
        <span class="ovval">{{section?.educationPlanDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-8 blank overviewItem" *ngIf="!section?.hasEducationPlan">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="!isStringEmptyOrNull(section?.diplomaName) && (section?.diplomaName === 'None')">
      <div class="overview-field flex-row col-md-12 overviewItem" [class.blank]="section?.gedHsedStatus == null">
        <span class="ovtitle" title="Are you working towards a GED or HSED?">Working towards a GED or HSED?</span>
        <span class="ovval">{{section?.gedHsedStatus | yesNo}}&nbsp;</span>
      </div>
    </div>

    <!-- <div class="flex-row overviewContainer" *ngIf="section?.schoolName"></div> -->

    <div class="flex-row overviewContainer" *ngIf="section?.isStateIssuedDisplayed(educationDiplomaTypesDrop)">
      <div class="overview-field flex-row col-md-10 overviewItem" [class.error]="modelErrors['issuingAuthorityCode']">
        <span class="ovtitle" title="State Issued">GED/HSED Issuer</span>
        <span class="ovval">{{section?.issuingAuthorityName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem" [class.blank]="section?.certificateYearAwarded == null"
        [class.error]="modelErrors['certificateYearAwarded']">
        <span class="ovtitle" title="Year Awarded">Year Awarded</span>
        <span class="ovval">{{section?.certificateYearAwarded}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.isTestScoresAppDisplayed(educationDiplomaTypesDrop) === true">
      <div class="overview-field col-md-12 overviewItem">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-test-scores-embed [pin]="pin" [isReadOnly]="true" class="tabled"></app-test-scores-embed>
      </div>
    </div>

    <div class="row"></div>

    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-12 overviewItem" [class.blank]="!section?.notes">
        <span class="ovtitle" title="Notes">Notes</span>
        <span class="ovval">{{section?.notes}}&nbsp;</span>
      </div>
    </div>

  </div>
</section>
