<section class="overview ia fields family-barriers current"
  id="ia-family-barriers">

  <app-overview-card-header [title]="'Family Barriers'"
    [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess && !canRequestFBAccess"
    [showHistoryIcon]="showHistoryIcon"
    [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length"
    (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)"
    (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)">
  </app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion"
    [hasFcdpRole]="hasFcdpRole"
    [section]="'Family Barriers'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion && !canRequestFBAccess"
    [errors]='validationManager?.errors'>
  </app-validation-summary>

  <div class="part family-barriers border-right"
    [class.collapse]="isCollapsed || canRequestFBAccess"
    *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="row reprow">
      <span class="ovtitle reptitle">SSI/SSDI</span>
    </div>

    <div class="flex-row overviewContainer0"
      *ngIf="canAccessFamilyBarriersSsi">
      <div class="overview-field col-md-3 overviewItem"
        [class.error]="modelErrors['hasEverAppliedSsi']">
        <span class="ovtitle"
          title="Have you ever applied for SSI or SSDI?">Ever Applied for SSI/SSDI?</span>
        <span class="ovval">{{section?.hasEverAppliedSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-6 overviewItem"
        *ngIf="section?.hasEverAppliedSsi"
        [class.error]="modelErrors['isCurrentlyApplyingSsi']">
        <span class="ovtitle"
          title="Are you currently in the process of applying for SSI or SSDI?">Currently
          in the process of applying for SSI/SSDI?</span>
        <span class="ovval">{{section?.isCurrentlyApplyingSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-3 blank"
        *ngIf="section?.hasEverAppliedSsi">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
      <div class="overview-field col-md-9 blank"
        *ngIf="!section?.hasEverAppliedSsi">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div *ngIf="section?.isCurrentlyApplyingSsi"
      class="flex-row overviewContainer">
      <div class="overview-field col-md-4 overviewItem"
        [class.error]="modelErrors['ssiApplicationStatusId']">
        <span class="ovtitle"
          title="What is the status of the application?">Application Status</span>
        <span class="ovval">{{section?.ssiApplicationStatusName}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-6 overviewItem"
        [class.error]="modelErrors['ssiApplicationStatusDetails']"
        [class.blank]="isStringEmptyOrNull(section?.ssiApplicationStatusDetails)">
        <span class="ovtitle"
          title="What is the status of the application? - Details">Details</span>
        <span class="ovval">{{section?.ssiApplicationStatusDetails}}&nbsp;</span>
      </div>
      <div *ngIf="section.isSsiApplicationDateDisplayedAndRequired(ssiApplicationStatuses)"
        class="overview-field col-md-2 overviewItem"
        [class.error]="modelErrors['ssiApplicationDate']">
        <span class="ovtitle"
          title="Month Applied">Month Applied</span>
        <span class="ovval">{{section?.ssiApplicationDate}}&nbsp;</span>
      </div>
      <div *ngIf="!section.isSsiApplicationDateDisplayedAndRequired(ssiApplicationStatuses)"
        [class.blank]="isStringEmptyOrNull(section?.ssiApplicationDate)"
        class="overview-field col-md-2 overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div *ngIf="section.isSsiApplicationIsAnyoneHelpingDisplayedAndRequired(ssiApplicationStatuses)"
      class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['ssiApplicationIsAnyoneHelping']">
        <span class="ovtitle"
          title="Is anyone helping you with your application?">Anyone helping with
          application?</span>
        <span class="ovval">{{section?.ssiApplicationIsAnyoneHelping | yesNo}}&nbsp;</span>
      </div>
      <div *ngIf="section?.ssiApplicationIsAnyoneHelping"
        class="overview-field flex-row col-md-7 overviewItem"
        [class.blank]="isStringEmptyOrNull(section?.ssiApplicationDetails)"
        [class.error]="modelErrors['ssiApplicationDetails']">
        <span class="ovtitle"
          title="Is anyone helping you with your application? - Details">Details</span>
        <span class="ovval">{{section?.ssiApplicationDetails}}&nbsp;</span>
      </div>
      <div *ngIf="!section?.ssiApplicationIsAnyoneHelping && !this.isHistoryActive"
        class="overview-field flex-row col-md-7 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>


    <div class="flex-row overviewContainer"
      *ngIf="section?.ssiApplicationIsAnyoneHelping">
      <div class="overview-field overviewItem col-md-12">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-contacts-embed class="tabled"
          isReadOnly="true"
          [pin]="pin"
          [(ngModel)]="section.ssiApplicationContactId">
        </app-contacts-embed>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasEverAppliedSsi && canAccessFamilyBarriersSsi">
      <div class="overview-field flex-row overviewItem col-md-4"
        [class.error]="modelErrors['hasReceivedPastSsi']">
        <span class="ovtitle"
          title="Have you received SSI or SSDI in the past?">Received SSI/SSDI in the past?</span>
        <span class="ovval">{{section?.hasReceivedPastSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row overviewItem col-md-4"
        *ngIf="section?.hasReceivedPastSsi"
        [class.blank]="!section?.familyBarriersReasonForPastSsiDetails"
        [class.error]="modelErrors['familyBarriersReasonForPastSsiDetails']">
        <span class="ovtitle"
          title="Why did you receive SSI or SSDI?">Why did you receive SSI or SSDI?</span>
        <span class="ovval">{{section?.familyBarriersReasonForPastSsiDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row overviewItem col-md-4"
        *ngIf="section?.hasReceivedPastSsi"
        [class.blank]="!section?.pastSsiDetails"
        [class.error]="modelErrors['pastSsiDetails']">
        <span class="ovtitle"
          title="What is the reason you no longer receive SSI or SSDI?">Reason no longer
          receiving SSI/SSDI</span>
        <span class="ovval">{{section?.pastSsiDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row overviewItem col-md-8 blank"
        *ngIf="!section?.hasReceivedPastSsi && !this.isHistoryActive">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasEverAppliedSsi && canAccessFamilyBarriersSsi">
      <div class="overview-field flew-row overviewItem col-md-3"
        [class.error]="modelErrors['hasDeniedSsi']">
        <span class="ovtitle"
          title="Have you ever been denied for SSI or SSDI?">Ever been denied for SSI/SSDI?</span>
        <span class="ovval">{{section?.hasDeniedSsi | yesNo}}&nbsp;</span>
      </div>
      <div *ngIf="section?.hasDeniedSsi"
        class="overview-field flex-row overviewItem col-md-5"
        [class.error]="modelErrors['deniedSsiDate']">
        <span class="ovtitle"
          title="Have you ever been denied for SSI or SSDI? - Month and Year">Approximate
          Month and Year of the Last Denial</span>
        <span class="ovval">{{section?.deniedSsiDate}}&nbsp;</span>
      </div>
      <div *ngIf="section?.hasDeniedSsi"
        class="overview-field flex-row overviewItem col-md-4"
        [class.blank]="!section?.deniedSsiDetails"
        [class.error]="modelErrors['deniedSsiDetails']">
        <span class="ovtitle"
          title="Have you ever been denied for SSI or SSDI? - Details">Details</span>
        <span class="ovval">{{section?.deniedSsiDetails}}&nbsp;</span>
      </div>
      <div *ngIf="!section?.hasDeniedSsi && !this.isHistoryActive"
        class="overview-field flex-row overviewItem blank col-md-9">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>

    </div>

    <div class="flex-row overviewContainer"
      *ngIf="canAccessFamilyBarriersSsi">
      <div class="overview-field flex-row overviewItem col-md-5"
        [class.error]="modelErrors['isInterestedInLearningMoreSsi']">
        <span class="ovtitle"
          title="Are you interested in learning more about the SSI/SSDI application process?">Interested
          in SSI/SSDI application process?</span>
        <span class="ovval">{{section?.isInterestedInLearningMoreSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row overviewItem col-md-7"
        *ngIf="section?.isInterestedInLearningMoreSsi"
        [class.blank]="!section?.interestedInLearningMoreSsiDetails"
        [class.error]="modelErrors['interestedInLearningMoreSsiDetails']">
        <span class="ovtitle"
          title="Are you interested in learning more about the SSI/SSDI application process? - Details">Details</span>
        <span class="ovval">{{section?.interestedInLearningMoreSsiDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 blank overviewItem"
        *ngIf="!section?.isInterestedInLearningMoreSsi && !this.isHistoryActive">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field  overviewItem col-md-5"
        [class.error]="modelErrors['hasAnyoneAppliedForSsi']">
        <span class="ovtitle"
          title="Has anyone in your family ever applied for SSI or SSDI?">Anyone in family
          ever applied for SSI/SSDI?</span>
        <span class="ovval">{{section?.hasAnyoneAppliedForSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7 blank">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasAnyoneAppliedForSsi">
      <div class="overview-field  overviewItem col-md-5"
        [class.error]="modelErrors['isAnyoneReceivingSsi']">
        <span class="ovtitle"
          title="Is anyone in your family receiving SSI or SSDI?">Anyone in family
          receiving SSI/SSDI?</span>
        <span class="ovval">{{section?.isAnyoneReceivingSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.isAnyoneReceivingSsi"
        [class.blank]="!section?.anyoneReceivingSsiDetails"
        [class.error]="modelErrors['anyoneReceivingSsiDetails']">
        <span class="ovtitle"
          title="Is anyone in your family receiving SSI or SSDI? - Details">Details</span>
        <span class="ovval">{{section?.anyoneReceivingSsiDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 blank overviewItem"
        *ngIf="!section?.isAnyoneReceivingSsi && !this.isHistoryActive">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasAnyoneAppliedForSsi">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['isAnyoneApplyingForSsi']">
        <span class="ovtitle"
          title="Is anyone in your family in the process of applying for SSI or SSDI?">Anyone
          in family applying for SSI/SSDI?</span>
        <span class="ovval">{{section?.isAnyoneApplyingForSsi | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.isAnyoneApplyingForSsi"
        [class.blank]="isStringEmptyOrNull(section.anyoneApplyingForSsiDetails)"
        [class.error]="modelErrors['anyoneApplyingForSsiDetails']">
        <span class="ovtitle"
          title="Is anyone in your family in the process of applying for SSI or SSDI? - Details">Details</span>
        <span class="ovval">{{section?.anyoneApplyingForSsiDetails}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 blank overviewItem"
        *ngIf="!section?.isAnyoneApplyingForSsi && !this.isHistoryActive">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="row reprow">
      <span class="ovtitle reptitle">Family Needs</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-7"
        [class.error]="modelErrors['hasCaretakingResponsibilities']">
        <span class="ovtitle"
          title="Do you have caretaking responsibilities for any family members in your household due to health problems or other special needs?">Caretaking
          responsibilities for any family members?</span>
        <span class="ovval">{{section?.hasCaretakingResponsibilities | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-5 blank">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div *ngIf="section?.hasCaretakingResponsibilities">
      <div *ngFor="let person of section?.familyMembers;let i = index;">
        <div class="flex-row overviewContainer">
          <div class="overview-field overviewItem col-md-3 caret"
            [class.error]="isModelErrorsItemInvalid(i, 'familyMembers', 'firstName')">
            <span class="ovtitle"
              title="First Name">First Name</span>
            <span class="ovval">{{person?.firstName}}&nbsp;</span>
          </div>
          <div class="overview-field overviewItem col-md-3"
            [class.error]="isModelErrorsItemInvalid(i, 'familyMembers', 'lastName')">
            <span class="ovtitle"
              title="Last Name">Last Name</span>
            <span class="ovval">{{person?.lastName}}&nbsp;</span>
          </div>
          <div class="overview-field overviewItem col-md-3"
            [class.error]="isModelErrorsItemInvalid(i, 'familyMembers', 'relationshipId')">
            <span class="ovtitle"
              title="Relationship">Relationship</span>
            <span class="ovval">{{person?.relationshipName}}&nbsp;</span>
          </div>
          <div class="overview-field overviewItem col-md-3 blank"
            [class.blank]="isStringEmptyOrNull(person.details)"
            [class.error]="isModelErrorsItemInvalid(i, 'familyMembers', 'details')">
            <span class="ovtitle"
              title="Do you have caretaking responsibilities for any family members in your household due to health problems or other special needs? - Details">Details</span>
            <span class="ovval">{{person?.details}}&nbsp;</span>
          </div>
        </div>

        <!-- <div class="flex-row overviewContainer">
                  <div class="overview-field overviewItem col-md-12" [class.blank]="!person?.details">
                      <span class="ovtitle" title="Do you have caretaking responsibilities for any family members in your household due to health problems or other special needs? - Details">Details</span>
                      <span class="ovval">{{person?.details}}&nbsp;</span>
                  </div>
              </div> -->
      </div>
    </div>
    <div class="flex-row overviewContainer"
      *ngIf="section?.familyMembers?.length > 0"></div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasCaretakingResponsibilities">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['hasConcernsAboutCaretakingResponsibilities']">
        <span class="ovtitle"
          title="Do you have concerns that these caretaking responsibilities will make it hard to participate in work activities?">Concerns
          about participation?</span>
        <span class="ovval">{{section?.hasConcernsAboutCaretakingResponsibilities | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.hasConcernsAboutCaretakingResponsibilities"
        [class.blank]="!section?.concernsAboutCaretakingResponsibilitiesDetails"
        [class.error]="modelErrors['concernsAboutCaretakingResponsibilitiesDetails']">
        <span class="ovtitle"
          title="Do you have concerns that these caretaking responsibilities will make it hard to participate in work activities? - Details">Details</span>
        <span class="ovval">{{section?.concernsAboutCaretakingResponsibilitiesDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem"
        *ngIf="!section?.hasConcernsAboutCaretakingResponsibilities">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['doesHouseholdEngageInRiskyActivities']">
        <span class="ovtitle"
          title="Do any family members in your household engage in risky activities such as excessive use of drugs or alcohol, illegal activity, or gang involvement?">Any
          family members engage in risky activities?</span>
        <span class="ovval">{{section?.doesHouseholdEngageInRiskyActivities | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.doesHouseholdEngageInRiskyActivities"
        [class.error]="modelErrors['householdEngageInRiskyActivitiesDetails']">
        <span class="ovtitle"
          title="Do any family members in your household engage in risky activities such as excessive use of drugs or alcohol, illegal activity, or gang involvement? - Details">Details</span>
        <span class="ovval">{{section?.householdEngageInRiskyActivitiesDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem"
        *ngIf="!section?.doesHouseholdEngageInRiskyActivities">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['doChildrenHaveBehaviourProblems']">
        <span class="ovtitle"
          title="Do any of the children in your household have other behavior problems that will affect your ability to participate in work activities?">Any
          children with other behavior problems?</span>
        <span class="ovval">{{section?.doChildrenHaveBehaviourProblems | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.doChildrenHaveBehaviourProblems"
        [class.error]="modelErrors['childrenHaveBehaviourProblemsDetails']">
        <span class="ovtitle"
          title="Do any of the children in your household have other behavior problems that will affect your ability to participate in work activities? - Details">Details</span>
        <span class="ovval">{{section?.childrenHaveBehaviourProblemsDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem"
        *ngIf="!section?.doChildrenHaveBehaviourProblems">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['areChildrenAtRiskOfSchoolSuspension']">
        <span class="ovtitle"
          title="Are any of the children in your household at risk of suspension or expulsion from school?">Any
          children at risk of suspension or expulsion?</span>
        <span class="ovval">{{section?.areChildrenAtRiskOfSchoolSuspension | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.areChildrenAtRiskOfSchoolSuspension"
        [class.error]="modelErrors['childrenAtRiskOfSchoolSuspensionDetails']">
        <span class="ovtitle"
          title="Are any of the children in your household at risk of suspension or expulsion from school? - Details">Details</span>
        <span class="ovval">{{section?.childrenAtRiskOfSchoolSuspensionDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem"
        *ngIf="!section?.areChildrenAtRiskOfSchoolSuspension">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-5"
        [class.error]="modelErrors['areAnyFamilyIssuesAffectWork']">
        <span class="ovtitle"
          title="Are there any other issues with your family that may affect your ability to participate in work activities?">Other
          issues affecting participation?</span>
        <span class="ovval">{{section?.areAnyFamilyIssuesAffectWork | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field overviewItem col-md-7"
        *ngIf="section?.areAnyFamilyIssuesAffectWork"
        [class.error]="modelErrors['anyFamilyIssuesAffectWorkDetails']">
        <span class="ovtitle"
          title="Are there any other issues with your family that may affect your ability to participate in work activities? - Details">Details</span>
        <span class="ovval">{{section?.anyFamilyIssuesAffectWorkDetails}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem"
        *ngIf="!section?.areAnyFamilyIssuesAffectWork">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div *ngIf="section?.actionNeeded"
        class="overview-field col-md-12 overviewItem"
        [class.error]="modelErrors['actionNeeded']">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-action-needed-embed [readOnly]="true"
          [pageName]="'family-barriers'"
          [participantPin]="pin"
          [(ngModel)]="section.actionNeeded"></app-action-needed-embed>
      </div>
    </div>

    <div class="flex-row overviewContainer"></div>
    <div class="flex-row overviewContainer">
      <div class="overview-field overviewItem col-md-12"
        [class.blank]="!section?.notes">
        <span class="ovtitle"
          title="Notes">Notes</span>
        <span class="ovval">{{section?.notes}}&nbsp;</span>
      </div>
    </div>
  </div>

</section>