<section class="overview ia fields language current" id="ia-language">

  <app-overview-card-header [title]="'Languages'" [rowVersion]="section?.rowVersion" [isEditHidden]="this.hasEditAccess"
    [historyDrop]="this.historyManager?.historyDrop" [historyArrayLength]="this.historyManager?.history.length"
    (onEdit)="this.onEdit($event)" (onHistory)="this.toggleHistory($event)"
    (onHistorySelected)="this.loadHistorySection($event)" (onCollapse)="this.toggleCollapse($event)">
  </app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion" [hasFcdpRole]="hasFcdpRole" [section]="'Language'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion" [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part language border-right" [class.collapse]="isCollapsed" *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="flex-row overviewContainer" *ngIf="section">
      <div class="overview-field flex-row col-md-6 overviewItem" [class.error]="modelErrors['homeLanguageTypeId']">
        <span class="ovtitle" title="What language do you use at home?">Home Language</span>
        <span class="ovval">{{section?.homeLanguageName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem"
        [class.error]="modelErrors['isAbleToReadHomeLanguage']">
        <span class="ovtitle" title="Read">Read</span>
        <span class="ovval">{{section?.isAbleToReadHomeLanguage | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem"
        [class.error]="modelErrors['isAbleToWriteHomeLanguage']">
        <span class="ovtitle" title="Write">Write</span>
        <span class="ovval">{{section?.isAbleToWriteHomeLanguage | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem"
        [class.error]="modelErrors['isAbleToSpeakHomeLanguage']">
        <span class="ovtitle" title="Speak">Speak</span>
        <span class="ovval">{{section?.isAbleToSpeakHomeLanguage | yesNo}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="(section?.homeLanguageTypeId != this.englishId && section?.homeLanguageId > 0)">
      <div class="overview-field flex-row col-md-6 overviewItem">
        <span class="ovtitle" title="Which English skills do you have?">English Skills</span>
        <span class="ovval">-&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem" [class.error]="modelErrors['isAbleToReadEnglish']">
        <span class="ovtitle" title="Read">Read</span>
        <span class="ovval">{{section?.isAbleToReadEnglish | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem" [class.error]="modelErrors['isAbleToWriteEnglish']">
        <span class="ovtitle" title="Write">Write</span>
        <span class="ovval">{{section?.isAbleToWriteEnglish | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-2 overviewItem" [class.error]="modelErrors['isAbleToSpeakEnglish']">
        <span class="ovtitle" title="Speak">Speak</span>
        <span class="ovval">{{section?.isAbleToSpeakEnglish | yesNo}}&nbsp;</span>
      </div>
    </div>

    <div *ngIf="section?.knownLanguages != null && section?.knownLanguages?.length > 0">
      <div class="flex-row overviewContainer" *ngFor="let lang of section?.knownLanguages; let i = index;">
        <div class="overview-field flex-row col-md-6 caret overviewItem" [class.blank]="lang.id < 1"
          [class.error]="isModelErrorsItemInvalid(i, 'knownLanguages', 'languageId')">
          <span class="ovtitle" title="List any other languages you know">Other Language
            <!-- #{{i+1}} -->
          </span>
          <span class="ovval">{{lang?.languageName}}&nbsp;</span>
        </div>
        <div class="overview-field flex-row col-md-2 overviewItem" [class.blank]="lang.id < 1"
          [class.error]="isModelErrorsItemInvalid(i, 'knownLanguages', 'canRead')">
          <span class="ovtitle" title="Read">Read</span>
          <span class="ovval">{{lang?.canRead | yesNo}}&nbsp;</span>
        </div>
        <div class="overview-field flex-row col-md-2 overviewItem" [class.blank]="lang.id < 1"
          [class.error]="isModelErrorsItemInvalid(i, 'knownLanguages', 'canWrite')">
          <span class="ovtitle" title="Write">Write</span>
          <span class="ovval">{{lang?.canWrite | yesNo}}&nbsp;</span>
        </div>
        <div class="overview-field flex-row col-md-2 overviewItem" [class.blank]="lang.id < 1" appHistoryData
          [class.error]="isModelErrorsItemInvalid(i, 'knownLanguages', 'canSpeak')">
          <span class="ovtitle" title="Speak">Speak</span>
          <span class="ovval">{{lang?.canSpeak | yesNo}}&nbsp;</span>
        </div>
      </div>
    </div>


    <div class="flex-row overviewContainer"
      *ngIf="(!isStringEmptyOrNull(section?.homeLanguageName) && section?.homeLanguageName != 'English')">
      <div class="overview-field flex-row col-md-3 overviewItem" [class.error]="modelErrors['isNeedingInterpreter']">
        <span class="ovtitle" title="Do you need an interpreter?">Need Interpreter?</span>
        <span class="ovval">{{section?.isNeedingInterpreter | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-9 overviewItem" [class.blank]="!section?.interpreterDetails">
        <span class="ovtitle" title="Do you need an interpreter? - Details">Details</span>
        <span class="ovval">{{section?.interpreterDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"></div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem" [class.blank]="!section?.notes">
        <span class="ovtitle" title="Notes">Notes</span>
        <span class="ovval">{{section?.notes}}&nbsp;</span>
      </div>
    </div>
  </div>
</section>
