<section class="overview ia fields legal-issues current" id="ia-legal-issues">

  <app-overview-card-header [title]="'Legal Issues'" [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess" [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length" (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)" (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion" [hasFcdpRole]="hasFcdpRole" [section]="'Legal Issues'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion" [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part legal-issues" [class.collapse]="isCollapsed" *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="row reprow" *ngIf="section?.convictions?.length > 0">
      <span class="ovtitle reptitle">Convictions</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-6 overviewItem" [class.error]="modelErrors['isConvictedOfCrime']">
        <span class="ovtitle" title="Have you ever been convicted of a misdemeanor or felony?">Ever been
          convicted of a misdemeanor or felony?</span>
        <span class="ovval">{{ section?.isConvictedOfCrime | yesNo }}&nbsp;</span>
      </div>
      <div class="overview-field col-md-6 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div *ngIf="section?.isConvictedOfCrime">
      <div class="conv-holder" *ngFor="let conv of section?.convictions; let i = index;">
        <div class="flex-row overviewContainer">
          <div class="overview-field col-md-2 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'convictions', 'type')">
            <span class="ovtitle" title="Type">Type</span>
            <span class="ovval">{{conv?.typeName}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'convictions', 'date')">
            <span class="ovtitle" title="Month and Year of Conviction">Month and Year of Conviction</span>
            <span class="ovval">{{conv?.isDateUnknown ? 'Unknown' : conv?.date }}&nbsp;</span>
          </div>
          <div class="overview-field col-md-8 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'convictions', 'details')">
            <span class="ovtitle" title="Conviction - Details">Details</span>
            <span class="ovval">{{conv?.details}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row overviewContainer" *ngIf="section?.isConvictedOfCrime === true">
      <div class="overview-field col-md-5 overviewItem" [class.error]="modelErrors['isUnderCommunitySupervision']">
        <span class="ovtitle" title="Are you currently under community supervision?">Currently under Community
          Supervision?</span>
        <span class="ovval">{{ section?.isUnderCommunitySupervision | yesNo }}</span>
      </div>
      <div *ngIf="section?.isUnderCommunitySupervision === true" class="overview-field col-md-7 overviewItem"
        [class.blank]="!section?.communitySupervisonDetails" [class.error]="modelErrors['communitySupervisonDetails']">
        <span class="ovtitle" title="Supervision Details">Supervision Details</span>
        <span class="ovval">{{section?.communitySupervisonDetails}}&nbsp;</span>
      </div>
      <div *ngIf="!section?.isUnderCommunitySupervision && !this.isHistoryActive" class="overview-field col-md-7 blank">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer" *ngIf="section?.isUnderCommunitySupervision === true">
      <div class="overview-field col-md-12 overviewItem">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-contacts-embed class="tabled" isReadOnly="true" [pin]="pin" [(ngModel)]="section.supervisionContactId">
        </app-contacts-embed>
      </div>
    </div>

    <div class="row reprow" *ngIf="section?.pendings?.length > 0">
      <span class="ovtitle reptitle">Pending Charges</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-6 overviewItem" [class.error]="modelErrors['isPending']">
        <span class="ovtitle" title="Do you have any pending charges?">Any pending charges?</span>
        <span class="ovval">{{ section?.isPending | yesNo }}&nbsp;</span>
      </div>
      <div class="overview-field col-md-6 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>


    <div *ngIf="section?.isPending">
      <div class="pend-holder" *ngFor="let pend of section?.pendings; let i = index;">
        <div class="flex-row overviewContainer">
          <div class="overview-field col-md-2 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'pendings', 'type')">
            <span class="ovtitle" title="Type">Type</span>
            <span class="ovval">{{pend?.typeName}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'pendings', 'date')">
            <span class="ovtitle" title="Month and Year of Charge">Month and Year of Charge</span>
            <span class="ovval">{{pend?.isDateUnknown ? 'Unknown' : pend?.date }}&nbsp;</span>
          </div>
          <div class="overview-field col-md-8 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'pendings', 'details')">
            <span class="ovtitle" title="Pending Charges - Details">Details</span>
            <span class="ovval">{{pend?.details}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-5 overviewItem" [class.error]="modelErrors['hasRestrainingOrders']">
        <span class="ovtitle" title="Are there currently any restraining orders against you?">Restraining
          orders against you?</span>
        <span class="ovval">{{ section?.hasRestrainingOrders | yesNo }}</span>
      </div>
      <div class="overview-field col-md-7 overviewItem" *ngIf="section?.hasRestrainingOrders"
        [class.error]="modelErrors['restrainingOrderNotes']">
        <span class="ovtitle" title="Are there currently any restraining orders against you? - Details">Details</span>
        <span class="ovval">{{section?.restrainingOrderNotes}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem" *ngIf="!section?.hasRestrainingOrders">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>
    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-5 overviewItem" [class.error]="modelErrors['hasRestrainingOrderToPrevent']">
        <span class="ovtitle"
          title="Do you currently have a restraining order against anyone to prevent that person from contacting you?">Restraining
          against someone else?</span>
        <span class="ovval">{{ section?.hasRestrainingOrderToPrevent | yesNo }}</span>
      </div>
      <div class="overview-field col-md-7 overviewItem" *ngIf="section?.hasRestrainingOrderToPrevent"
        [class.error]="modelErrors['restrainingOrderToPreventNotes']">
        <span class="ovtitle"
          title="Do you currently have a restraining order against anyone to prevent that person from contacting you? - Details">Details</span>
        <span class="ovval">{{section?.restrainingOrderToPreventNotes}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem" *ngIf="!section?.hasRestrainingOrderToPrevent">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>


    <div class="flex-row overviewContainer"></div>
    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-5 overviewItem" [class.error]="modelErrors['hasFamilyLegalIssues']">
        <span class="ovtitle" title="Do you have any immediate family members with legal issues?">Any Family
          Members with Legal Issues?</span>
        <span class="ovval">{{ section?.hasFamilyLegalIssues | yesNo }}</span>
      </div>
      <div class="overview-field col-md-7 overviewItem" *ngIf="section?.hasFamilyLegalIssues"
        [class.error]="modelErrors['familyLegalIssueNotes']">
        <span class="ovtitle"
          title="Do you have any immediate family members with legal issues? - Details">Details</span>
        <span class="ovval">{{section?.familyLegalIssueNotes}}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem" *ngIf="!section?.hasFamilyLegalIssues">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="row reprow">
      <span class="ovtitle reptitle">Court Dates</span>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-7 overviewItem" [class.error]="modelErrors['hasUpcomingCourtDates']">
        <span class="ovtitle" title="Have you been ordered to appear for any upcoming court dates?">Any
          upcoming court dates?</span>
        <span class="ovval">{{ section?.hasUpcomingCourtDates | yesNo }}&nbsp;</span>
      </div>
      <div class="overview-field col-md-5 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>


    <div *ngIf="section?.hasUpcomingCourtDates">
      <div class="court-holder" *ngFor="let court of section?.courtDates; let i = index;">
        <div class="flex-row overviewContainer">
          <div class="overview-field col-md-2 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'courtDates', 'location')">
            <span class="ovtitle" title="Location">Location</span>
            <span class="ovval">{{court?.location}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'courtDates', 'date')">
            <span class="ovtitle" title="Court Date">Court Date</span>
            <span class="ovval">{{court?.isDateUnknown ? 'Unknown' : court?.date }}&nbsp;</span>
          </div>
          <div class="overview-field col-md-8 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'courtDates', 'details')">
            <span class="ovtitle" title="Court Date - Details">Details</span>
            <span class="ovval">{{court?.details}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>


    <div class="flex-row overviewContainer">
      <div *ngIf="section?.actionNeeded" class="overview-field col-md-12 overviewItem"
        [class.error]="modelErrors['actionNeeded']">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-action-needed-embed [readOnly]="true" [pageName]="'legal-issues'" [participantPin]="pin"
          [(ngModel)]="section.actionNeeded"></app-action-needed-embed>
      </div>
    </div>

    <div class="flex-row overviewContainer"></div>

    <div class="flex-row overviewContainer">
      <div class="overview-field col-md-12 overviewItem" [class.blank]="!section?.notes">
        <span class="ovtitle" title="Notes">Notes</span>
        <span class="ovval">{{ section?.notes }}&nbsp;</span>
      </div>
    </div>

  </div>
</section>
