<section class="overview ia fields ncpr current"
  id="ia-ncpr">

  <app-overview-card-header [title]="'NCP Referral'" [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess" [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length" (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)" (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion" [hasFcdpRole]="hasFcdpRole" [section]="'NCP Referral'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion" [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part ncpr" [class.collapse]="isCollapsed" *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">
    <div class="row">
      <div class="overview-field col-md-12 overviewItem" [class.error]="modelErrors['hasChildrenId']">
        <span class="ovtitle"
          title="Do you have any children age 18 or under whose other parent isn't living with you?">Any
          children 18 or under whose other parent isn't living with you?</span>
        <span class="ovval">{{section?.hasChildrenName}}&nbsp;</span>
      </div>
    </div>
    <div *ngIf="section?.hasChildrenName === 'Yes'">
      <div class="caretaker" *ngFor="let parent of section.parents; let i=index;">
        <div class="row reprow">
          <span class="ovtitle reptitle">Other Parent</span>
        </div>
        <div class="row">
          <div class="overview-field col-md-6 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i,'parents','firstName')">
            <span class="ovtitle" title="First Name">First Name</span>
            <span class="ovval">{{parent.firstName}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-6 overviewItem" [class.blank]="isStringEmptyOrNull(parent.lastName)">
            <span class="ovtitle" title="Last Name">Last Name</span>
            <span class="ovval">{{parent.lastName}}&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="overview-field col-md-6 overviewItem" [class.blank]="parent.isAvailableOrWorking === null">
            <span class="ovtitle" title="Is this parent currently working or available for work?">Is parent
              working/available for work?</span>
            <span class="ovval">{{parent.isAvailableOrWorking | yesNo}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-6 overviewItem"
            [class.blank]="isStringEmptyOrNull(parent.availableOrWorkingDetails)">
            <span class="ovtitle"
              title="Is this parent currently working or available for work? - Details">Details</span>
            <span class="ovval">{{parent.availableOrWorkingDetails}}&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="overview-field col-md-6 overviewItem" [class.blank]="parent.isInterestedInWorkProgram === null">
            <span class="ovtitle"
              title="Do you think this parent would be interested in participating in a work program?">Is
              parent interested in participating in a work program?</span>
            <span class="ovval">{{parent.isInterestedInWorkProgram | yesNo}}&nbsp;</span>
          </div>
          <div class="overview-field col-md-6 overviewItem"
            [class.blank]="isStringEmptyOrNull(parent.interestedInWorkProgramDetails)">
            <span class="ovtitle"
              title="Do you think this parent would be interested in participating in a work program? - Details">Details</span>
            <span class="ovval">{{parent.interestedInWorkProgramDetails}}&nbsp;</span>
          </div>
        </div>
        <div class="row">
          <div class="overview-field col-md-12 overviewItem" [class.blank]="parent.isContactKnownWithParent === null">
            <span class="ovtitle" title="Do you know how to get in contact with this parent?">Do you know
              how to get in contact with this parent?</span>
            <span class="ovval">{{parent.isContactKnownWithParent | yesNo}}&nbsp;</span>
          </div>
        </div>
        <div class="row" *ngIf="parent.isContactKnownWithParent">
          <div class="overview-field col-md-12 overviewItem">
            <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
            <app-contacts-embed class="tabled" isReadOnly="true" [pin]="pin" [(ngModel)]="parent.contactId">
            </app-contacts-embed>
          </div>
        </div>
        <div class="row">
          <div class="child col-md-12" *ngFor="let child of parent.children; let j=index">
            <div class="row reprow">
              <span class="ovtitle reptitle">Child</span>
            </div>
            <div class="row">
              <div class="overview-field col-md-6 caret overviewItem"
                [class.error]="isModelErrorsChildItemInvalid(i,j,'parents','children','firstName')">
                <span class="ovtitle" title="First Name">First Name</span>
                <span class="ovval">{{child.firstName}}&nbsp;</span>
              </div>
              <div class="overview-field col-md-6 overviewItem" [class.blank]="isStringEmptyOrNull(child.lastName)">
                <span class="ovtitle" Title="Last Name">Last Name</span>
                <span class="ovval">{{child.lastName}}&nbsp;</span>
              </div>
            </div>
            <div class="row">
              <div class="overview-field col-md-6 overviewItem"
                [class.blank]="isStringEmptyOrNull(child.contactIntervalName)">
                <span class="ovtitle" title="How often does the other parent have contact with the child?">How
                  often does the other parent have contact?</span>
                <span class="ovval">{{child.contactIntervalName}}&nbsp;</span>
              </div>
              <div class="overview-field col-md-6 overviewItem"
                [class.blank]="isStringEmptyOrNull(child.contactIntervalDetails)">
                <span class="ovtitle"
                  title="How often does the other parent have contact with the child? - Details">Details</span>
                <span class="ovval">{{child.contactIntervalDetails}}&nbsp;</span>
              </div>
            </div>
            <div class="row"  *ngIf="!child.isOtherParentDeceased([], child.contactIntervalName)">
              <div class="overview-field col-md-4 overviewItem" [class.blank]="child.hasChildSupportOrder === null">
                <span class="ovtitle" title="Is there a child support order for this child?">Child
                  support order?</span>
                <span class="ovval">{{child.hasChildSupportOrder | yesNo}}&nbsp;</span>
              </div>
              <div class="overview-field col-md-8 overviewItem"
                [class.blank]="isStringEmptyOrNull(child.childSupportOrderDetails)">
                <span class="ovtitle" title="Is there a child support order for this child? - Details">Details</span>
                <span class="ovval">{{child.childSupportOrderDetails}}&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"></div>

    <div class="row">
      <div class="overview-field col-md-12 overviewItem" [class.blank]="isStringEmptyOrNull(section?.notes)">
        <span class="ovtitle" title="Notes">Notes</span>
        <span class="ovval">{{section?.notes | emptyStringIfNull}}&nbsp;</span>
      </div>
    </div>

  </div>

</section>
