<section class="overview ia fields post-secondary current"
  id="ia-post-secondary">

  <app-overview-card-header [title]="'Post-Secondary Education'"
    [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess"
    [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length"
    (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)"
    (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion"
    [hasFcdpRole]="hasFcdpRole"
    [section]="'Post-Secondary Education'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion"
    [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part post-secondary border-right"
    [class.collapse]="isCollapsed"
    *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['hasAttendedCollege']">
        <span class="ovtitle"
          title="Have you attended, or are you currently attending a college or university?">Ever
          attended college/university?</span>
        <span class="ovval">{{section?.hasAttendedCollege | yesNo}}</span>
      </div>
      <div class="overview-field flex-row col-md-7 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div>
      <div class="coll-holder"
        *ngFor="let coll of section?.postSecondaryColleges; let i = index;">
        <div class="flex-row overviewContainer"
          *ngIf="section?.hasAttendedCollege">
          <div class="overview-field flex-row col-md-5 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryColleges', 'collegeLocation')">
            <span class="ovtitle"
              title="Location">Location</span>
            <span class="ovval">{{coll?.location?.description}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-5 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryColleges', 'collegeName')">
            <span class="ovtitle"
              title="College Name">College Name</span>
            <span class="ovval">{{coll?.name}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryColleges', 'graduated')">
            <span class="ovtitle"
              title="Graduated">Graduated</span>
            <span class="ovval">{{coll?.hasGraduated | yesNo}}&nbsp;</span>
          </div>
        </div>
        <div class="flex-row overviewContainer"
          *ngIf="section?.hasAttendedCollege">
          <div class="overview-field flex-row col-md-3 overviewItem"
            [class.blank]="!coll?.lastYearAttended && !coll?.isCurrentlyAttending"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryColleges', 'lastYearAttended')">
            <span class="ovtitle"
              title="Last Year Attended">Last Year Attended</span>
            <span class="ovval"
              *ngIf="!coll?.isCurrentlyAttending">{{coll?.lastYearAttended}}&nbsp;</span>
            <span class="ovval"
              *ngIf="coll?.isCurrentlyAttending"
              title="Currently Attending">Currently
              Attending</span>
          </div>
          <div class="overview-field flex-row col-md-3 overviewItem "
            [class.blank]="!coll?.semesters">
            <span class="ovtitle"
              title="Semesters Completed">Semesters Completed</span>
            <span class="ovval">{{coll?.semesters}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            [class.blank]="!coll?.credits">
            <span class="ovtitle"
              title="Credits Attained">Credits Attained</span>
            <span class="ovval">{{coll?.credits}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-4 overviewItem"
            [class.blank]="!coll?.details">
            <span class="ovtitle"
              title="College or University - Details">Details</span>
            <span class="ovval">{{coll?.details}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <div>

      <div class="flex-row overviewContainer"
        *ngIf="section?.hasAttendedCollege">
        <div class="overview-field flex-row col-md-5 overviewItem"
          [class.error]="modelErrors['hasDegree']">
          <span class="ovtitle"
            title="Do you have any degrees?"
            title="Do you have any degrees?">Any college
            degrees?</span>
          <span class="ovval">{{section?.hasDegree | yesNo}}</span>
        </div>
        <div class="overview-field flex-row col-md-7 blank overviewItem">
          <span class="ovtitle">&nbsp;</span>
          <span class="ovval">&nbsp;</span>
        </div>
      </div>

      <div>
        <div class="flex-row overviewContainer"
          *ngFor="let deg of section?.postSecondaryDegrees; let i = index;">
          <div class="overview-field flex-row col-md-4 caret overviewItem"
            *ngIf="section?.hasDegree"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryDegrees', 'degreeName')">
            <span class="ovtitle"
              title="Degree Name">Degree Name</span>
            <span class="ovval">{{deg?.name}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            *ngIf="section?.hasDegree"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryDegrees', 'degreeType')">
            <span class="ovtitle"
              title="Degree Level">Degree Level</span>
            <span class="ovval">{{deg?.typeName}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-4 overviewItem"
            *ngIf="section?.hasDegree"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryDegrees', 'degreeCollege')">
            <span class="ovtitle"
              title="College">College</span>
            <span class="ovval">{{deg?.college}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            *ngIf="section?.hasDegree"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryDegrees', 'yearAttained')">
            <span class="ovtitle"
              title="Year Attained">Year Attained</span>
            <span class="ovval">{{deg?.yearAttained}}&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row overviewContainer">
      <div class="overview-field  flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['isWorkingOnLicensesOrCertificates']">
        <span class="ovtitle"
          title="Do you have or are you working towards any licenses or certificates?">License(s)
          or certificate(s)?</span>
        <span class="ovval">{{section?.isWorkingOnLicensesOrCertificates | yesNo}}</span>
      </div>
      <div class="overview-field flex-row col-md-7 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div>
      <div class="cert-holder"
        *ngFor="let cert of section?.postSecondaryLicenses; let i = index;">
        <div class="flex-row overviewContainer"
          *ngIf=section?.isWorkingOnLicensesOrCertificates>
          <div class="overview-field flex-row col-md-2 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'licenseType')">
            <span class="ovtitle"
              title="Type">Type</span>
            <span class="ovval">{{cert?.licenseTypeName }}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-6 overviewItem"
            *ngIf=section?.isWorkingOnLicensesOrCertificates
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'licenseName')">
            <span class="ovtitle"
              title="Credential Name">Credential Name</span>
            <span class="ovval">{{cert?.name}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-4 overviewItem"
            *ngIf=section?.isWorkingOnLicensesOrCertificates
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'licenseIssuer')">
            <span class="ovtitle"
              title="Issuer">Issuer</span>
            <span class="ovval">{{cert?.issuer}}&nbsp;</span>
          </div>
        </div>
        <div class="flex-row overviewContainer"
          *ngIf=section?.isWorkingOnLicensesOrCertificates>
          <div class="overview-field flex-row col-md-3 overviewItem"
            [class.blank]="!cert?.isInProgress && !cert?.attainedDate"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'attainedDate')">
            <span class="ovtitle"
              title="Month and Year Attained">Month and Year Attained</span>
            <span class="ovval"
              *ngIf="!cert?.isInProgress">{{cert?.attainedDate}}&nbsp;</span>
            <span class="ovval"
              *ngIf="cert?.isInProgress">In Progress</span>
          </div>
          <div class="overview-field flex-row col-md-4 overviewItem"
            [class.blank]="!cert?.doesNotExpire && !cert?.expiredDate"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'expiredDate')">
            <span class="ovtitle"
              title="Expiration Month and Year">Expiration Month and Year</span>
            <span class="ovval"
              *ngIf="!cert?.doesNotExpire">{{cert?.expiredDate}}&nbsp;</span>
            <span class="ovval"
              *ngIf="cert?.doesNotExpire"
              title="Does not expire">Does not expire</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            [class.blank]="!cert?.validInWi"
            [class.error]="isModelErrorsItemInvalid(i, 'postSecondaryLicenses', 'licenseValid')">
            <span class="ovtitle"
              title="Valid in WI">Valid in WI</span>
            <span class="ovval">{{cert?.validInWi}}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-3 blank overviewItem">
            <span class="ovtitle">&nbsp;</span>
            <span class="ovval">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.postSecondaryLicenses?.length > 0 || section?.postSecondaryDegrees?.length > 0 || section?.postSecondaryColleges?.length > 0">
    </div>
    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.blank]="!section?.postSecondaryNotes">
        <span class="ovtitle"
          title="Notes">Notes</span>
        <span class="ovval">{{ section?.postSecondaryNotes }}&nbsp;</span>
      </div>
    </div>
  </div>
</section>