<section class="overview ia fields transportation current"
  id="ia-transportation">

  <app-overview-card-header [title]="'Transportation'"
    [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess"
    [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length"
    (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)"
    (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion"
    [hasFcdpRole]="hasFcdpRole"
    [section]="'Transportation'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion"
    [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part transportation border-right"
    [class.collapse]="isCollapsed"
    *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.error]="modelErrors['methods']">
        <span class="ovtitle"
          title="Which transportation methods can you use to participate in work or work activities?">transportation
          method(s)</span>
        <span class="ovval">
          <span>{{section?.transportationMethods?.join(', ')}}</span>&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.error]="modelErrors['methodDetails']"
        [class.blank]="isStringEmptyOrNull(section.methodDetails)">
        <span class="ovtitle"
          title="Which transportation methods can you use to participate in work or work activities? - Details">Details</span>
        <span class="ovval">{{section?.methodDetails}}&nbsp;</span>
      </div>
    </div>
    <div class="flex-row overviewContainer"
      *ngIf="isPrivate"></div>

    <div class="flex-row overviewContainer"
      *ngIf="isPrivate">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['isVehicleInsuredId']">
        <span class="ovtitle"
          title="Is the vehicle insured?">Is the vehicle insured?</span>
        <span class="ovval">{{section?.isVehicleInsuredName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 overviewItem"
        [class.error]="modelErrors['vehicleInsuredDetails']"
        [class.blank]="isStringEmptyOrNull(section.vehicleInsuredDetails)">
        <span class="ovtitle"
          title="Is the vehicle insured? - Details">Details</span>
        <span class="ovval">{{section?.vehicleInsuredDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="isPrivate">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['isVehicleRegistrationCurrentId']">
        <span class="ovtitle"
          title="Is the vehicle registration current?">Is the vehicle registration current?</span>
        <span class="ovval">{{section?.isVehicleRegistrationCurrentName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 overviewItem"
        [class.error]="modelErrors['vehicleRegistrationCurrentDetails']"
        [class.blank]="isStringEmptyOrNull(section.vehicleRegistrationCurrentDetails)">
        <span class="ovtitle"
          title="Is the vehicle registration current? - Details">Details</span>
        <span class="ovval">{{section?.vehicleRegistrationCurrentDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"></div>
    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-4 overviewItem"
        [class.error]="modelErrors['hasValidDriversLicense']">
        <span class="ovtitle"
          title="Do you have a valid driver's license?">valid driver's license?</span>
        <span class="ovval">{{section?.hasValidDriversLicense | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field  flex-row col-md-8 blank  overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasValidDriversLicense === true">
      <div class="overview-field flex-row col-md-3 overviewItem"
        [class.error]="modelErrors['driversLicenseStateId']">
        <span class="ovtitle"
          title="State Issued">State Issued</span>
        <span class="ovval">{{section?.driversLicenseStateName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-4 overviewItem"
        [class.error]="modelErrors['driversLicenseExpirationDate']">
        <span class="ovtitle"
          title="Expiration Date Month and Year">Expiration Date Month and Year</span>
        <span class="ovval">{{section?.driversLicenseExpirationDateMmDdYyyy}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['driversLicenseDetails']"
        [class.blank]="isStringEmptyOrNull(section.driversLicenseDetails)">
        <span class="ovtitle"
          title="List Any Drive Restrictions">Driving Restrictions&nbsp;</span>
        <span class="ovval">{{section?.driversLicenseDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hasValidDriversLicense === false">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['driversLicenseInvalidReasonId']">
        <span class="ovtitle"
          title="Why don't you have a valid driver's license?">Why don't you have a valid
          driver's license?</span>
        <span class="ovval">{{section?.driversLicenseInvalidReasonName}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 overviewItem"
        [class.blank]="isStringEmptyOrNull(section.driversLicenseInvalidDetails)"
        [class.error]="modelErrors['driversLicenseInvalidDetails']">
        <span class="ovtitle"
          title="Why don't you have a valid driver's license? - Details">Details&nbsp;</span>
        <span class="ovval">{{section?.driversLicenseInvalidDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.driversLicenseInvalidReasonName != 'Never Applied for a License'">
      <div class="overview-field flex-row col-md-4 overviewItem"
        [class.error]="modelErrors['hadCommercialDriversLicense']">
        <span class="ovtitle"
          title="Have you ever had a commercial driver's license?">Ever Had A Commercial
          Driver's License?</span>
        <span class="ovval">{{section?.hadCommercialDriversLicense | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-8 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer"
      *ngIf="section?.hadCommercialDriversLicense">
      <div class="overview-field flex-row col-md-5 overviewItem"
        [class.error]="modelErrors['isCommercialDriversLicenseActive']">
        <span class="ovtitle"
          title="Is your CDL still active?">Is Commercial Driver's License still active?</span>
        <span class="ovval">{{section?.isCommercialDriversLicenseActive | yesNo}}&nbsp;</span>
      </div>
      <div class="overview-field flex-row col-md-7 overviewItem"
        [class.blank]="isStringEmptyOrNull(section.commercialDriversLicenseDetails)"
        [class.error]="modelErrors['commercialDriversLicenseDetails']">
        <span class="ovtitle"
          title="What kind of vehicles have you operated in the past?">types of vehicles
          operated</span>
        <span class="ovval">{{section?.commercialDriversLicenseDetails}}&nbsp;</span>
      </div>
    </div>

    <div class="flex-row overviewContainer">
      <div *ngIf="section?.actionNeeded"
        class="overview-field flex-row col-md-12 overviewItem"
        [class.error]="modelErrors['actionNeeded']">
        <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
        <app-action-needed-embed [readOnly]="true"
          [pageName]="'transportation'"
          [participantPin]="pin"
          [(ngModel)]="section.actionNeeded"></app-action-needed-embed>
      </div>
    </div>

    <div class="flex-row overviewContainer"></div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem"
        [class.blank]="isStringEmptyOrNull(section.notes)">
        <span class="ovtitle"
          title="notes">Notes</span>
        <span class="ovval">{{ section?.notes }}&nbsp;</span>
      </div>
    </div>
  </div>

</section>
