<section class="overview ia fields work-program current" id="ia-work-program">

  <app-overview-card-header [title]="'Work Programs'" [rowVersion]="section?.rowVersion"
    [isEditHidden]="this.hasEditAccess" [historyDrop]="this.historyManager?.historyDrop"
    [historyArrayLength]="this.historyManager?.history.length" (onEdit)="this.onEdit($event)"
    (onHistory)="this.toggleHistory($event)" (onHistorySelected)="this.loadHistorySection($event)"
    (onCollapse)="this.toggleCollapse($event)"></app-overview-card-header>

  <app-alert-warning *ngIf="!section?.rowVersion" [hasFcdpRole]="hasFcdpRole" [section]="'Work Programs'">
  </app-alert-warning>

  <app-validation-summary *ngIf="section?.rowVersion" [errors]='validationManager?.errors'></app-validation-summary>

  <div class="part work-program border-right" [class.collapse]="isCollapsed" *ngIf="section?.rowVersion"
    [class.history]="this.isHistoryActive">
    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-5 overviewItem" [class.error]="modelErrors['isInOtherPrograms']">
        <span class="ovtitle"
          title="Have you, are you currently, or will you be involved in any other work programs?">Participation
          in other work programs?</span>
        <span class="ovval">{{ section?.isInOtherPrograms | yesNo }}&nbsp;</span>
      </div>
      <div class="overview-field col-md-7 blank overviewItem">
        <span class="ovtitle">&nbsp;</span>
        <span class="ovval">&nbsp;</span>
      </div>
    </div>
    <div *ngIf="section?.workPrograms != null && section?.isInOtherPrograms === true === true">
      <div class="program" *ngFor="let program of section?.workPrograms; let i = index;">

        <div class="flex-row overviewContainer">
          <div class="overview-field col-md-3 caret overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'workPrograms', 'workStatus')">
            <span class="ovtitle" title="Status">Status</span>
            <span class="ovval">{{ program.workStatusName }}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-5 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'workPrograms', 'workProgram')">
            <span class="ovtitle" title="Program Name">Program Name</span>
            <span class="ovval">{{ program.workProgramName }}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i,'workPrograms', 'startDate')" [class.blank]="!program.startDate">
            <span class="ovtitle" title="Start Date">Start Date</span>
            <span class="ovval">{{ program.startDate }}&nbsp;</span>
          </div>
          <div class="overview-field flex-row col-md-2 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i,'workPrograms', 'endDate')" [class.blank]="!program.endDate">
            <span class="ovtitle" title="End Date">End Date</span>
            <span class="ovval">{{ program.endDate }}&nbsp;</span>
          </div>
        </div>

        <div class="flex-row overviewContainer">
          <div class="overview-field flex-row col-md-4 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i,'workPrograms', 'location')" [class.blank]="!program.location">
            <span class="ovtitle" title="Location">Location</span>
            <span class="ovval">{{ program.location?.description}}</span>
          </div>
          <div class="overview-field flex-row col-md-8 overviewItem"
            [class.error]="isModelErrorsItemInvalid(i, 'details')" [class.blank]="!program.details">
            <span class="ovtitle" title="Work Program - Details">Details</span>
            <span class="ovval">{{ program.details }}&nbsp;</span>
          </div>
        </div>

        <div class="flex-row overviewContainer">
          <div class="overview-field flex-row col-md-12 overviewItem" overviewItem>
            <app-history-alert *ngIf="this.isHistoryActive"></app-history-alert>
            <app-contacts-embed class="tabled" isReadOnly="true" [pin]="this?.pin" [(ngModel)]="program.contactId">
            </app-contacts-embed>
          </div>
        </div>

      </div>
    </div>

    <div class="flex-row overviewContainer"></div>

    <div class="flex-row overviewContainer">
      <div class="overview-field flex-row col-md-12 overviewItem" [class.blank]="!section?.notes"
        [class.error]="modelErrors['notes']">
        <span class="ovtitle" title="Notes">Notes</span>
        <span class="ovval">{{ section?.notes }}&nbsp;</span>
      </div>
    </div>

  </div>
</section>
