<div class="partTitle row">
  <div class="row history-dropdown px-2" role="group" *ngIf="isHistoryActive && !isHistoryLoading">
    <button class="btn btn-link line-height-75" (click)="forward()" *ngIf="historyIndex > 0">
      <i class="fa fa-angle-right"></i>
    </button>
    <button class="btn btn-link disabled disabledBtn line-height-75" *ngIf="!(historyIndex > 0)">
      <i class="fa fa-angle-right"></i>
    </button>
    <app-select [hasEmptyOption]="false" [isCompact]="true" [(ngModel)]="historyIndex"
      (ngModelChange)="historyIndex = $event; loadHistorySection();" [dropDownList]="historyDrop"></app-select>
    <button class="btn btn-link line-height-75" (click)="back()" *ngIf="(historyIndex < (historyArrayLength - 1))">
      <i class="fa fa-angle-left"></i>
    </button>
    <button class="btn btn-link disabled disabledBtn line-height-75" *ngIf="!(historyIndex < (historyArrayLength - 1))">
      <i class="fa fa-angle-left"></i>
    </button>
  </div>
  <div class="row history-dropdown" *ngIf="isHistoryActive && isHistoryLoading"></div>
  <div class="row history-dropdown" *ngIf="!isHistoryActive"></div>
  <nav>
    <a *ngIf="!isHistoryLoading && rowVersion && showHistoryIcon" (click)="toggleHistory()"
      [class.history]="isHistoryActive"><i class="fa fa-history"></i></a>
    <a *ngIf="isHistoryLoading" [class.history]="isHistoryActive"><i
        class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i></a>
  </nav>
</div>
