<div class="card-body">
  <div *ngFor="let i of ipvList"
    class="row item py-3 border-bottom"
    (click)="singleEntry(i, true)">
    <div class="col-md-2">
      <h6>Determination Date</h6>
      <div class="tgrey3">{{i.determinationDate | dateMmDdYyyy}}</div>
    </div>
    <div class="col-md-1">
      <h6>Agency</h6>
      <div class="tgrey3 wrapword">
        {{i.organizationCode}}
      </div>
    </div>
    <div class="col-md-1">
      <h6>IPV #</h6>
      <div class="tgrey3">{{i.iPVNumber}}</div>
    </div>
    <div class="col-md-3">
      <h6>Reason</h6>
      <div class="tgrey3 wrapword">
        {{i.reasonNames.join(', ')}}
      </div>
    </div>
    <div class="col-md-3">
      <h6>Occurrence</h6>
      <div class="tgrey3 wrapword">
        {{i.occurrenceName}}
      </div>
    </div>
    <div class="col-md-1 pl-0">
      <h6>Status</h6>
      <div class="tgrey3 wrapword">
        {{i.statusName}}
      </div>
    </div>
    <div class="col-md-1 btn-item d-flex align-items-center">
      <button *ngIf="i.canEdit"
        class="btn btn-add"
        (click)="singleEntry(i, false)">
        <i class="fa fa-pencil-alt"></i>
      </button>
    </div>
  </div>
</div>
