<div class="pad1"
  *ngIf="isLoaded">
  <main id="main"
    class="w-100">
    <div class="py-2 ruler btmborder ng-star-inserted"
      *ngIf="allEmployments?.length > 0">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <span *ngIf="allEmployments?.length > 0"
              class="left">
              <input class="search"
                maxlength="120"
                [(ngModel)]="searchQuery"
                (keyup)="onSearch()"
                placeholder="Search">
              <button (click)="sortByDate()"
                class="btn"
                [ngClass]="{sort: true, asc: isSortByDateToggled, desc: !isSortByDateToggled}"
                data-sort="date">Sort by
                Date</button>
            </span>
          </div>
          <div class="col-md-6">
            <span *ngIf="allEmployments?.length > 0 && canViewPrintWHButton && showPrintWHFeature"
              class="right">
              <button class="btn"
                (click)="printWorkHistory()">Print Work History</button>
            </span>
            <span class="right">
              <button class="btn"
                *ngIf="(employments?.length > config.itemsPerPage || isShowAllToggled) && !isShowAllToggled"
                (click)="showAll()">Show All</button>
              <button class="btn"
                *ngIf="(employments?.length > config.itemsPerPage || isShowAllToggled) && isShowAllToggled"
                (click)="showAll()">Show Less</button>
              <button class="btn"
                (click)="filterOnToggleIsDeletedRecords()"
                *ngIf="isShowDelToggled && isNonDeletedOnlyShown"
                data-toggle="deleted">Show
                Deleted</button>
              <button class="btn"
                (click)="filterOnToggleIsDeletedRecords()"
                *ngIf="isShowDelToggled && !isNonDeletedOnlyShown"
                data-toggle="deleted">Hide
                Deleted</button>
            </span>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center pt-2"
          *ngIf="canAddAndShowTMJTJSubsidizedHours(employments)">
          <ul class="list-group">
            <li class="list-group-item list-group-item-warning"
              *ngIf="participant.totalLifeTimeHoursDate">
              The Subsidized
              Worker has
              reached the
              maximum allowed Subsidized Hours.
            </li>
            <li class="list-group-item"
              *ngIf="totalLifeTimeTMJTJSubsidizedHours">
              {{totalLifeTimeTMJTJSubsidizedHours}} Total
              Lifetime TJ/TMJ Subsidized Hours Used
            </li>
          </ul>
        </div>
        <div class="row d-flex justify-content-center pt-2"
          *ngIf="showError">
          <div class="col-md-12">
            <ul *ngIf="precheck == null"
              class="list-group">
              <li></li>
            </ul>
            <ul *ngIf="precheck?.errors != null"
              class="list-group">
              <li *ngFor="let error of precheck.errors"
                class="list-group-item list-group-item-danger">{{error}}</li>
            </ul>
            <ul *ngIf="precheck?.warnings != null"
              class="list-group">
              <li *ngFor="let warning of precheck.warnings"
                class="list-group-item list-group-item-warning">
                {{warning}}</li>
            </ul>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-hover"
        id="workHistory">
        <tbody *ngIf="employments?.length != 0"
          class="row list"
          id="workHistoryList">
          <tr class="workHistory row"
            [class.deleted]="employment.deleteReasonId != null"
            *ngFor="let employment of employments | paginate: config">
            <td (click)="goToSingleView(employment.id)"
              class="col-md-5 main-info">
              <div *ngIf="employment.isConverted"
                class="clearfix"><span class="left"><i class="fa fa-upload"></i></span>
              </div>
              <div class="half left wrapword">
                <h5>
                  <!-- position -->{{employment.jobPosition}}</h5>
                <p class="tgrey3">
                  <!-- employer -->{{employment.companyName}}</p>
              </div>
              <div class="half left tright">
                <p class="tgrey4 small semibold">
                  <!-- address -->{{employment.location?.fullAddress}}
                  <br *ngIf="employment.location?.fullAddress" />{{employment.location.description}}
                  {{employment.location.zipAddress}}</p>
              </div>
              <div class="clearfix"></div>
              <div *ngIf="!employment.isConverted"
                class="full">
                <span class="left small semibold">{{employment.jobTypeName}}</span>
                <span class="right small semibold"
                  *ngIf="canShowProgramTypeName(employment.jobTypeName)">{{employment.employmentProgramTypeName}}</span>
              </div>
              <div class="clearfix"></div>
              <div class="full"
                *ngIf="employment.employerOfRecordSelectedValue">
                <span class="left small semibold">Employer Of Record:
                  {{employment.employerOfRecordSelectedValue}} </span>
              </div>
            </td>
            <td (click)="goToSingleView(employment.id)"
              class="col-md-6 more-info">
              <div class="dates">
                <span class="left"><i class="fa fa-calendar"></i> {{employment.jobBeginDate}}</span>
                <span *ngIf="employment.isCurrentlyEmployed"
                  class="workHistory right">Present</span>
                <span *ngIf="!employment.isCurrentlyEmployed"
                  class="right">{{employment.jobEndDate}}</span>
              </div>
              <div class="sub-dates">
                <span class="left">
                  <!-- reason for leaving -->{{employment.leavingReasonName}}&nbsp;</span>
                <span class="right tgrey3">
                  <!-- length of employment -->{{employment.jobDateDuration}}</span>
              </div>
              <ng-container *ngIf="!employment.jobEndDate">
                <ng-container *ngFor="let loa of employment.absences">
                  <div class="dates"
                    *ngIf="loaInView(loa.beginDate, loa.endDate)">
                    <span class="left"><i class="fas fa-user-alt-slash"></i>{{loa.beginDate}}</span>
                    <span *ngIf="!loa.endDate"
                      class="workHistory right">Present</span>
                    <span *ngIf="!!loa.endDate"
                      class="right">{{loa.endDate}}</span>
                  </div>
                </ng-container>
              </ng-container>
              <div class="hours-wage">
                <span class="left">
                  <i class="far fa-clock"></i> <strong>
                    <!-- HOURS -->{{employment.wageHour?.currentAverageWeeklyHours}}</strong>{{hoursPerWeek}}
                </span>
                <span class="right"
                  *ngIf="isWageDisplayed(employment)">
                  <span>
                    <i *ngIf="calculateHourlyWage(employment)?.isCalculated !== null"
                      class="far fa-money-bill-alt"></i>
                    <span *ngIf="calculateHourlyWage(employment)?.isCalculated">&asymp;</span>
                    $<strong>{{calculateHourlyWage(employment)?.value}}</strong>/{{calculateHourlyWage(employment)?.units}}
                  </span>
                </span>
                <span class="right"
                  *ngIf="calculateHourlyWage(employment)?.isCalculated === null">
                  <i *ngIf="calculateHourlyWage(employment)?.isCalculated === null"
                    class="far fa-money-bill-alt"></i>
                  <span *ngIf="calculateHourlyWage(employment)?.isCalculated">&asymp;</span>No Pay
                </span>
              </div>
              <div class="total-subsidized-hours">
                <span class="left"
                  *ngIf="canAddAndShowTMJTJSubsidizedHours(employment)">
                  <span *ngIf="employment?.totalSubsidizedHours">{{employment.totalSubsidizedHours}} Total
                    Subsidized Hours</span>
                  <span *ngIf="
                  !employment?.totalSubsidizedHours">0 Total Subsidized Hours</span>
                </span>
              </div>
            </td>
            <td class="col-md-1 tright">
              <div *ngIf="!isReadOnly && employment.deleteReasonId == null && employment.showDel"
                class="clear-edit alt">
                <div (click)="editWorkHistory(employment.id)"
                  class="edit">
                  <i class="fa fa-pencil-alt"></i>
                </div>
                <!-- workHistory -->
                <app-delete-reason-button *ngIf="employment.showDel"
                  [type]="'workHistory'"
                  [objectWatched]="employment"
                  (deletedObject)="delete($event)">
                </app-delete-reason-button>

              </div>
              <div *ngIf="!isReadOnly && employment.deleteReasonId == null && !employment.showDel"
                class="clear-edit alt">
                <div (click)="editWorkHistory(employment.id)"
                  class="edit">
                  <i class="fa fa-pencil-alt"></i>
                </div>
                <div class="clear-edit trashbtn">
                  <i class="fa fa-trash-alt"
                    title="Disabled"></i>
                </div>
              </div>
              <div *ngIf="!this.isReadOnly && employment.deleteReasonId != null"
                class="trash-del btn disabled">
                <div>
                  <i class="fa fa-trash-alt"
                    title="Deleted"></i>
                </div>
              </div>
              <div class="btn-item"
                *ngIf="canAddAndShowTMJTJSubsidizedHours(employment)">
                <button class="btn btn-del allowClick edit"
                  (click)="goToHourlyEntry(employment)">
                  <i class="fas fa-user-clock"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row"
        *ngIf="!employments || (employments.length === 0 && searchQuery === '')">
        <div class="col-md-12">
          <blockquote class="jumbotron tcenter"><span>No Employments</span></blockquote>
        </div>
      </div>

      <div class="row"
        *ngIf="employments?.length === 0 && searchQuery !== ''">
        <div class="col-md-12">
          <blockquote class="jumbotron tcenter"><span>No Results</span></blockquote>
        </div>
      </div>

      <!--<div class="tright full pad1-0">
            <button id="add-work" class="btn btn-add" (click)="addWorkHistory()">+ Add Work History</button>
        </div>-->

      <div class="tcenter full pad1-0">
        <pagination-template *ngIf="employments?.length > config.itemsPerPage"
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          class="center">
          <button class="btn btn-add"
            (click)="p.previous()"
            *ngIf="!p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
          <button class="btn btn-add disabled"
            *ngIf="p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
          <span class="paging-info pad0-1">
            {{numberInView(config, p, employments?.length)}} of {{employments?.length}}
          </span>
          <button class="btn btn-add"
            (click)="p.next()"
            *ngIf="!p.isLastPage()"><i class="fa fa-angle-right"></i></button>
          <button class="btn btn-add disabled"
            *ngIf="p.isLastPage()"><i class="fa fa-angle-right"></i></button>
        </pagination-template>
        <span class="right">
          <button *ngIf="!isReadOnly"
            id="add-work"
            class="btn btn-add"
            (click)="addWorkHistory()">+ Add
            Work History</button>
        </span>
      </div>
    </div>
  </main>
</div>
<app-work-history-edit [recordId]="employmentRecordId"
  [isHD]="isHD"
  (onSaveAndExit)="exitWorkHistory($event)"
  *ngIf="inEditView"
  [totalLifeTimeTMJTJSubsidizedHours]="totalLifeTimeTMJTJSubsidizedHours"
  [hasOnlyFcdp]="hasOnlyFcdp"></app-work-history-edit>
<app-print *ngIf="openPrintWhWindow"
  [employments]="employments"></app-print>
<app-confirm-dialog *ngIf="inConfirmDeleteView"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
  title="Delete Employment"
  confirmButtonText="Delete Employment"
  cancelButtonText="Cancel"
  message="Deleting an employment will remove its information throughout the entire application. Are you sure you want to do this?"
  warningMsg="This job is associated with the current EP. A new EP may be needed"
  [showWarning]="hasEmploymentOnEp && !hasOnlyFcdp">
</app-confirm-dialog>
