<fieldset *ngFor="let teen of models; let i=index" class="deg-repeat repeat rel deg-1">
  <input type="hidden" id="ps-deg-id-{{i}}" name="ps-deg-id-1" value="0" />
  <div class="content pad1">
    <div class="row">
      <div class="col-md-3 control-group">
        <label class="control-label" title="First Name">First Name</label>
        <app-text-input [(ngModel)]="teen.firstName"
          (ngModelChange)="teen.firstName = $event; onChangeCallback(models);" [isRequired]="isRepeaterRowRequired(i)"
          [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')" [maxLength]="120"
          [cacheInnerValue]="getInitialModelValue(teen.id, 'firstName')"></app-text-input>
      </div>
      <div class="col-md-3 control-group">
        <label class="control-label" title="Last Name">Last Name</label>
        <app-text-input [(ngModel)]="teen.lastName" (ngModelChange)="teen.lastName = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')" [isRequired]="isRepeaterRowRequired(i)"
          [maxLength]="120" [cacheInnerValue]="getInitialModelValue(teen.id, 'lastName')"></app-text-input>
      </div>
      <div class="col-md-3 control-group">
        <label class="control-label" title="Date of Birth">Date of Birth</label>
        <app-date-mm-dd-yyyy-new [(ngModel)]="teen.dateOfBirth"
          (ngModelChange)="teen.dateOfBirth = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'dateOfBirth')" [isRequired]="isRepeaterRowRequired(i)"
          [cacheInnerValue]="getInitialModelValue(teen.id, 'dateOfBirth')"></app-date-mm-dd-yyyy-new>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 control-group">
        <label class="control-label"
          title="Do you have any children age 13 to 18 with special needs in need of child care? - Details">Details</label>
        <app-text-area maxlength="380" [placeholder]="''" [isAutoSizeable]="true" [(ngModel)]="teen.details"
          (ngModelChange)="teen.details = $event; onChangeCallback(models);"
          [cacheInnerValue]="getInitialModelValue(teen.id, 'details')"></app-text-area>
      </div>
    </div>
  </div>
  <div class="controls">
    <ul>
      <app-delete-reason-button [type]="'childYouth13'" [objectWatched]="teen"
        (deletedObject)="this.repeaterItemToBeDeleted($event)"></app-delete-reason-button>
    </ul>
  </div>
</fieldset>
<div class="tright col-md-12 add-holder">
  <button class="btn btn-sm btn-add add-deg" (click)="addToRepeater()">+ &nbsp; Add Teen</button>
  <hr class="spacer" />
</div>
