<app-sub-header-nav *ngIf="!isInEditMode"
  [mode]="'App'"
  activeItem="pin-comments">
</app-sub-header-nav>
<app-loading [isLoaded]="this.isLoaded"
  [loadingLabel]="'PIN Comment(s)'"></app-loading>
<div *ngIf="isLoaded">
  <div *ngIf="!isInEditMode && canAdd"
    class="row justify-content-end">
    <button *ngIf="commentService.canEdit() === true"
      class="btn btn-add"
      (click)="onAdd()">+ Add PIN
      Comment</button>
  </div>
  <div class="container">
    <div class="row pb-2 border-bottom">
      <div class="col-md-3 p-0">
        <div class="font-weight-bold">Filter</div>
        <app-multi-select-dropdown [placeholder]="'Comment Type'"
          [options]="commentTypeDrop"
          [(ngModel)]="commentTypes"
          (ngModelChange)="commentTypes = $event; filter(false, true);"></app-multi-select-dropdown>
      </div>
      <div class="col-md-2">
        <br />
        <app-multi-select-dropdown [placeholder]="'Worker Name'"
          [options]="workerDrop"
          [(ngModel)]="workers"
          (ngModelChange)="workers = $event; filter();"></app-multi-select-dropdown>
      </div>
      <div class="col-md-2">
        <label class="m-0">From</label>
        <app-date-mm-dd-yyyy-new class=""
          [(ngModel)]="fromDate"
          (ngModelChange)="fromDate = $event; setGoFlag();">
        </app-date-mm-dd-yyyy-new>
      </div>
      <div class="col-md-2">
        <label class="m-0">To</label>
        <app-date-mm-dd-yyyy-new [(ngModel)]="toDate"
          (ngModelChange)="toDate = $event; setGoFlag();">
        </app-date-mm-dd-yyyy-new>
      </div>
      <div class="col-md-1">
        <br />
        <button *ngIf="goDisableFlag"
          class="btn btn-add disabled">Apply</button>
        <button *ngIf="!goDisableFlag"
          class="btn btn-add"
          (click)="filter(true);">Apply</button>
      </div>
      <div class="col-md-2">
        <br />
        <button class="btn btn-add"
          (click)="resetFilter()">Reset Filters</button>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="row justify-content-center"
    *ngIf="!isInEditMode && !pinComments?.length">
    <div *ngIf="!localPinComments?.length && isLoaded">
      <blockquote class=" pad2">
        <p>No PIN Comments</p>
      </blockquote>
    </div>
  </div>
</div>
<div *ngIf="!isInEditMode && pinComments?.length && isLoaded">
  <div class="container">
    <div class="row list-item p-2"
      *ngFor="let comment of pinComments">
      <div class="container">
        <div class="row">
          <div class="col-md-1 p-0">
            <label>Date</label>
            <p class="tgrey3 wrapword">{{comment.modifiedDate | date:'short'}}</p>
          </div>
          <div class="col-md-6">
            <label>Comment</label>
            <p class="tgrey3 pre-wrap">{{comment.commentText}}</p>
          </div>
          <div class="col-md-2">
            <label>Comment Types</label>
            <br />
            <p class="tgrey3 wrapword"
              *ngIf="comment?.commentTypes">
              <span *ngFor="let commentType of comment?.commentTypes; let last = last">
                {{commentType.commentTypeName}}<span *ngIf="!last">,</span></span></p>
          </div>
          <div class="col-md-2">
            <label>Worker Name</label>
            <p class="tgrey3 wrapword">{{comment.modifiedBy}}</p>
          </div>
          <div class="col-md-1 btn-item d-flex flex-column justify-content-center">
            <p class="tgrey3 wrapword"
              *ngIf="comment?.isEdited">Edited</p>
            <button *ngIf="isEditable(comment, comment.wiuid)"
              class="btn btn-del allowClick edit"
              (click)="edit(comment, false)">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-comments-edit *ngIf="isInEditMode"
  (isInEditMode)="closeEdit($event)">
</app-comments-edit>
