<div class="modal-overlay">
  <div class="modal-container">
    <header>
      <h4>Simulate Date</h4>
    </header>
    <section class="dialog-content">
      <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
      <fieldset class="form-group">
        <div class="row m-0">
          <div class="col col-xs-3 col-md-3 col-lg-3"><label for="datetime">Simulated Date</label></div>
          <div class="col col-xs-7 col-md-7 col-lg-7">
            <app-date-mm-dd-yyyy [(ngModel)]="model.cdoDate"
              [isRequired]="true"
              (ngModelChange)="model.cdoDate = $event; validate();"
              [isInvalid]="modelErrors['cdoDate']"
              [cacheInnerValue]="this.originalDate.cdoDate"
              (keyup.enter)="save()"></app-date-mm-dd-yyyy>
          </div>
        </div>
      </fieldset>
    </section>
    <footer>
      <app-cancel-save-footer [isDisabled]="isSectionValid"
        [canSubmit]="true"
        (cancelEvent)="exit()"
        (submitEvent)="save()"></app-cancel-save-footer>
    </footer>
  </div>
</div>
