:host {
  height:100%;
}

:host.last select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:host.first select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
}
