<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'EA Group Members'"></app-loading>
  <div *ngIf="this.isLoaded">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitEAEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom align-items-center">
          <div class="col-md-8">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close EA Group">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="isInPreviousMember">Previous Group Members
            </h1>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="isSearchMode">Add Group Members
            </h1>
          </div>
        </div>
      </div>
    </header>
    <div class="edit-content">
      <div class="container pt-3">

        <div *ngIf="isSearchMode">
          <div class="row pt-3">
            <div class="center">
              <div class="input-group">
                <app-numerical-input [isRequired]="true"
                  [isBorderRequired]="false"
                  [NGMaxLength]="10"
                  [NGPlaceHolder]="'Enter 10-digit PIN'"
                  [(ngModel)]="searchQuery"
                  (keyup.enter)="onSearch()"
                  [isDisabled]="eaRequestModel[0]?.add"></app-numerical-input>
                <span class="input-group-btn">
                  <button type="button"
                    class="btn btn-save"
                    (click)="onSearch()"
                    [disabled]="eaRequestModel[0]?.add"><span><i class="fa fa-search"></i></span>
                    Search</button><button type="button"
                    [disabled]="isSearching || eaRequestModel[0]?.add"
                    class="btn btn-save clearance"
                    (click)="onClearance()"><span><i class="fa fa-search-plus"></i></span>
                    Clearance</button>
                </span>
              </div>
            </div>
            <hr />
          </div>
          <div *ngIf="isSearching"
            class="tcenter tgrey3 pad1-0">
            <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
            <p>Searching for Participant...</p>
          </div>
          <div *ngIf="errorMessage !== '' && !isSearching"
            class="tcenter pad1-0">
            <i class="tred fa fa-exclamation-triangle xxlarge"></i>
            <p class="center text-danger">{{errorMessage}}</p>
          </div>
        </div>

        <ng-container *ngIf="eaRequestModel && eaRequestModel.length > 0 && !isSearching; else noResults">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">Name</div>
            <div class="col-md-2">Date of Birth</div>
            <div class="col-md-1">Gender</div>
            <div class="col-md-2">SSN</div>
            <div class="col-md-2">
              <div class="d-flex justify-content-center">Add to Application</div>
            </div>
          </div>
          <div class="row py-3"
            *ngFor="let r of eaRequestModel; let indexOfElement = index">
            <div class="col-md-1"></div>
            <div class="col-md-3 tgrey3 wrapword">{{r.participantName}}</div>
            <div class="col-md-2 tgrey3">{{r.participantDOB | dateMmDdYyyy}}</div>
            <div class="col-md-1 tgrey3">{{r.participantGender}}</div>
            <div class="col-md-2 tgrey3">{{r?.ssn ? 'XXX-XX-' + r.ssn.toString().substr(-4) : 'Unknown'}}
            </div>
            <div class="col-md-2 tgrey3">
              <label class="d-flex justify-content-center">
                <input *ngIf="!r.alreadyAdded"
                  [disabled]="r.alreadyAdded"
                  [(ngModel)]="r.add"
                  (ngModelChange)="r.add = $event; r.isIncluded = $event; isSectionModified = true;"
                  type="checkbox"
                  name="checkbox"
                  value="true"
                  class="mr-2">
                <span *ngIf="r.alreadyAdded">Already Added</span>
              </label>
            </div>
          </div>
        </ng-container>
        <ng-template #noResults>
          <div *ngIf="errorMessage === '' && !isSearching"
            class="row justify-content-center">
            <blockquote class="pad2">
              <p>No Members Found</p>
            </blockquote>
          </div>
        </ng-template>
      </div>
      <app-cancel-save-footer [hadSaveError]="hadSaveError"
        [isSaving]="isSaving"
        [isDisabled]="isSectionModified"
        (cancelEvent)="exit()"
        (saveEvent)="onAdd()"></app-cancel-save-footer>
    </div>
  </div>
</div>
