<div class="card-body border-bottom"
  *ngFor="let goal of this.goals">
  <div class="row">
    <div class="item col-md-11"
      (click)="singleEntry(goal)">
      <div class="row">
        <div class="col-md-4">
          <h6>Goal Type:</h6>
          <p class="tgrey3 wrapword">{{goal.goalTypeName}}</p>
          <h6>Goal Name:</h6>
          <p class="tgrey3 wrapword">{{goal.name}}</p>
        </div>
        <div class="col-md-4">
          <h6>Begin Date:</h6>
          <p class="tgrey3 wrapword">{{goal.beginDate | date:'MM/dd/yyyy'}}</p>
          <h6>Goal Description:</h6>
          <p class="tgrey3 wrapword">{{goal.details}}</p>
        </div>
        <div *ngIf="goal?.isGoalEnded"
          class="col-md-4">
          <h6>End Date:</h6>
          <p class="tgrey3 wrapword">{{goal.endDate | date:'MM/dd/yyyy'}}</p>
          <h6>End Reason:</h6>
          <p class="tgrey3 wrapword">{{goal.endReasonName}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showControls && goal?.showControl"
      class="col-md-1 d-flex flex-column justify-content-center">
      <div class="row p-1">
        <button class="btn btn-del col-md-12 border"
          (click)="delete(goal)">
          <i class="fa fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
