<fieldset *ngFor="let c of models; let i=index" class="child-repeater">

  <div class="row">
    <div class="col-md-6">
      <label title="First Name">First Name</label><br />
      <app-text-input type="text" [(ngModel)]="c.firstName" [cacheInnerValue]="getInitialModelValue(c.id, 'firstName')"
        (ngModelChange)="c.firstName = $event; onChangeCallback(models);"
        [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')"
        [isRequired]="isChildRepeaterRowRequired(i,nonCustodialOtherParentModel,parentIndex)" [maxLength]="120">
      </app-text-input>
    </div>
    <div class="col-md-6">
      <label title="Last Name">Last Name</label><br />
      <app-text-input type="text" [(ngModel)]="c.lastName" [cacheInnerValue]="getInitialModelValue(c.id, 'lastName')"
        (ngModelChange)="c.lastName = $event; onChangeCallback(models);"
        [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')" [maxLength]="120"></app-text-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="How often does the other parent have contact with the child?">How often does the other parent have
        contact with the child?</label><br />
      <div class="input-group flex-row">
        <app-select [(ngModel)]="c.contactIntervalId"
          [cacheInnerValue]="getInitialModelValue(c.id, 'contactIntervalId')"
          (ngModelChange)="c.contactIntervalId = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalId')" [dropDownList]="contactIntervalDrop"
          class="first"></app-select>
        <span class="input-group-addon gapless"></span>
        <app-text-area [(ngModel)]="c.contactIntervalDetails"
          [cacheInnerValue]="getInitialModelValue(c.id, 'contactIntervalDetails')"
          (ngModelChange)="c.contactIntervalDetails = $event; onChangeCallback(models);"
          [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalDetails')" [maxlength]="380" [isAutoSizeable]="true"
          [placeholder]="'Details'" class="inline last"></app-text-area>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!c.isOtherParentDeceased(contactIntervalDrop)" class="col-md-12">
      <label title="Is there a child support order for this child?">Is there a child support order for this
        child?</label><br />
      <div class="row">
        <div class="col-md-4">
          <app-yes-no-basic [(ngModel)]="c.hasChildSupportOrder"
            [cacheInnerValue]="getInitialModelValue(c.id, 'hasChildSupportOrder')"
            (ngModelChange)="c.hasChildSupportOrder = $event; onChangeCallback(models);"
            [errorIndicator]="isModelErrorsItemInvalid(i, 'hasChildSupportOrder')"></app-yes-no-basic>
        </div>
        <div class="col-md-8 pl-0">
          <app-text-area [(ngModel)]="c.childSupportOrderDetails"
            [cacheInnerValue]="getInitialModelValue(c.id, 'childSupportOrderDetails')"
            (ngModelChange)="c.childSupportOrderDetails = $event; onChangeCallback(models);"
            [isInvalid]="isModelErrorsItemInvalid(i, 'childSupportOrderDetails')" [maxlength]="380"
            [isAutoSizeable]="true" [placeholder]="'Details'"></app-text-area>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-2 control">
      <div class="del-reason-holder" *ngIf="i != 0 || (!isEmptyObject(models[i]) || models[i].id != 0)">
        <app-delete-reason-button [type]="'ncp'" [objectWatched]="c"
          (deletedObject)="this.deleteFromRepeater($event); onChangeCallback(models);"></app-delete-reason-button>
      </div>
    </div>

    <div *ngIf="availableParentsDrop?.length > 1" class="col-md-10">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
          <label class="padhalf">Move Child To:</label>
        </div>
        <div class="col-md-6">
          <app-select [(ngModel)]="parentGuid" (ngModelChange)="parentGuid = $event; emitMovedNonCustodialChild(c)"
            [dropDownList]="cachedAvailableParentsDrop" [isRequired]="false" [isIdString]="true"></app-select>
        </div>
      </div>
    </div>
  </div>

</fieldset>

<div class="row">
  <div class="col-md-12 add-holder tright">
    <button class="btn btn-add" (click)="addToRepeater()"><i class="fa fa-plus"></i> Add Child</button>
  </div>
</div>
