
.input-group span.input-group-addon.gapless {
  width:0;
  padding:0;
  border:0;
}

.child-repeater {
  padding: 1em;
  border: 1px solid #bdc3c7;
  border-bottom: none;
  margin: 0 -15px;
  background: rgba(236, 240, 241,.5);
}
