#content-admin-bar{
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 1260px;
  max-width: 98%;
  transform: translateX(-50%);
  padding: 0.5em;
  background: #ecf0f1;
  border-top: 1px solid #bdc3c7;
  z-index: 200;
  box-shadow: 0 -3px 8px #ecf0f1;
  display: flex;
}

#content-admin-bar .wrapper{
  display:flex;
  flex-direction: row;
}

.btn.btn-save{
  background: #1abc9c;
  border: 1px solid #16a085;
  color: #fff;
}
.flex-left{
  display: flex;
  flex-grow: 1;
}

.flex-right{
  display:flex;
}
