:host blockquote {
    border:1px solid #bdc3c7;
    background:rgba(255,255,255,.4);
    color:#373a3c;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}

:host blockquote i {
    color: #7f8c8d;
}

:host blockquote h4 {
    color:#34495e;
}

:host .contact-holder a {
    color:#7f8c8d;
    text-decoration: underline;
}

:host .contact-holder a:hover {
    background: transparent!important; 
    color:#2980b9;
}