<div *ngIf="isLoaded" class="w-100">
  <main id="main" [class.loading]="!isLoaded">

    <div *ngIf="participantBarriers">
      <div *ngIf="this.allParticipantBarriers?.length > 0" class="row pb-1">
        <div class="col-md-2">
          <input class="search" maxlength="120" [(ngModel)]="this.searchQuery" (keyup)="filterOnSearch()" placeholder="Search">
        </div>
        <div class="col-md-2 justify-content-start px-025">
          <button class="sort no-wrap w-100 btn btn-light squared order-holder" data-sort="name" (click)="sortByDate()" [ngClass]="{sort: true, asc: hasSortedByAscDate, desc: hasSortedByAscDate == false}">Sort by Onset Month</button>
        </div>
        <div class="col-md-4 px-0">
          <app-multi-select-dropdown [options]="this.barrierTypes" [settings]="multSelectSettings" [placeholder]="'Filter by Barrier Type(s)'"
            [(ngModel)]="filterQueryTypes" (ngModelChange)="filterQueryTypes = $event; filterOnType();"></app-multi-select-dropdown>
        </div>
        <div class="col-md-2 px-0">
          <div class="justify-content-flex-end">
            <button class="no-wrap w-100 btn btn-light squared order-holder" (click)="filterOnToggleOpenCloseRecords()" *ngIf="isClosedBarrier && isOpenOnlyShown" data-toggle="closed">Include Closed Barriers</button>
            <button class="no-wrap w-100 btn btn-light squared order-holder" (click)="filterOnToggleOpenCloseRecords()" *ngIf="isClosedBarrier && !isOpenOnlyShown" data-toggle="closed">Hide Closed Barriers</button>
          </div>
        </div>
        <div class="col-md-2 px-0">
          <div class="px-025">
            <button class="no-wrap w-100 btn btn-light squared order-holder" (click)="filterOnToggleIsDeletedRecords()" *ngIf="isDeletedBarrier && isNonDeletedOnlyShown"
              data-toggle="deleted">Include Deleted Barriers</button>
            <button class="no-wrap w-100 btn btn-light squared order-holder" (click)="filterOnToggleIsDeletedRecords()" *ngIf="isDeletedBarrier && !isNonDeletedOnlyShown"
              data-toggle="deleted">Hide Deleted Barriers</button>
          </div>
        </div>
      </div>
    </div>


    <!-- <th width="36%" colspan="2">
      <span class="right">


      </span>
    </th> -->


    <!-- </table> -->
    <table class="table table-hover" id="barriers">
      <tbody class="list" *ngIf="participantBarriers?.length > 0" id="barriersList">
        <tr class="barrier" [class.closed]="participantBarrier.endDate != null" [class.deleted]="participantBarrier.isDeleted === true"
          *ngFor="let participantBarrier of participantBarriers | paginate: config">
          <td (click)="goToSingleView(participantBarrier.id)" width="45%" colspan="2">
            <div class="half left">
              <div *ngIf="participantBarrier.isConverted" class="clearfix">
                <span class="left">
                  <i class="fa fa-upload"></i>
                </span>
              </div>
              <h5>{{participantBarrier.barrierTypeName}}</h5>
              <p class="tgrey3" *ngIf="participantBarrier?.barrierSubType?.barrierSubTypeNames?.length == 1">{{participantBarrier?.barrierSubType?.barrierSubTypeNames[0]}}</p>
              <p class="tgrey3" *ngIf="participantBarrier?.barrierSubType?.barrierSubTypeNames?.length > 1">Multiple Subtypes
              </p>
            </div>
            <div class="half right tright">
              <p>Onset Month:
                <span *ngIf="participantBarrier.isDeleted">
                  <span class="tgrey3">{{participantBarrier.onsetDate}}</span>
                </span>
                <span *ngIf="!participantBarrier.isDeleted">
                  <span class="tblue3">{{participantBarrier.onsetDate}}</span>
                </span>
              </p>
              <p *ngIf="participantBarrier.wasClosedAtDisenrollment && participantBarrier.endDate != null">Closed at Disenrollment:
                <span *ngIf="participantBarrier.isDeleted">
                  <span class="tgrey3">{{participantBarrier.endDate}}</span>
                </span>
                <span *ngIf="!participantBarrier.isDeleted">
                  <span class="tblue3">{{participantBarrier.endDate}}</span>
                </span>
              </p>
              <p *ngIf="participantBarrier.wasClosedAtDisenrollment == false && participantBarrier.endDate != null">End Month:
                <span *ngIf="participantBarrier.isDeleted">
                  <span class="tgrey3">{{participantBarrier.endDate}}</span>
                </span>
                <span *ngIf="!participantBarrier.isDeleted">
                  <span class="tblue3">{{participantBarrier.endDate}}</span>
                </span>
              </p>
              <p *ngIf="participantBarrier.isAccommodationNeeded">
                <span *ngIf="participantBarrier.isDeleted">
                  <span class="tgrey2">Accommodation(s) Needed</span>
                </span>
                <span *ngIf="!participantBarrier.isDeleted">
                  <span class="tblue3">Accommodation(s) Needed</span>
                </span>
              </p>
              <p *ngIf="!participantBarrier.isAccommodationNeeded && participantBarrier.isAccommodationNeeded != null">
                <span class="tgrey2">No Accommodation(s) Needed</span>
              </p>
            </div>
          </td>
          <td (click)="goToSingleView(participantBarrier.id)" width="45%" colspan="2">
            <div class="row small fa-top" *ngIf="participantBarrier.formalAssessments?.length > 0">
              <div class="col-md-6">Formal Assessment Date</div>
              <div class="col-md-6">Recommended Reassessment Date</div>
            </div>

            <div class="row tgrey2 tcenter" *ngIf="participantBarrier.formalAssessments?.length == 0">
              <p>No Formal Assessments</p>
            </div>

            <div *ngFor="let fa of participantBarrier.formalAssessments" class="row">
              <div class="col-md-6 tgrey3" *ngIf="!fa.assessmentDate && fa.assessmentNotCompleted && participantBarrier?.barrierTypeName !== 'Domestic Violence'">Not Completed
              </div>
              <div class="col-md-6 tgrey3" *ngIf="!fa.assessmentDate && fa.referralDeclined && participantBarrier?.barrierTypeName !== 'Domestic Violence'">Declined</div>
              <div class="col-md-6" *ngIf="fa.assessmentDate && participantBarrier?.barrierTypeName !== 'Domestic Violence'">{{fa.assessmentDate}}</div>
              <div class="col-md-6 tgrey3" *ngIf="participantBarrier?.barrierTypeName === 'Domestic Violence'">NA</div>
              <div class="col-md-6 tgrey3" *ngIf="!fa.assessmentDate && !fa.assessmentNotCompleted && !fa.referralDeclined && participantBarrier?.barrierTypeName != 'Domestic Violence'"></div>

              <div class="col-md-6" *ngIf="fa.reassessmentRecommendedDate && participantBarrier?.barrierTypeName !== 'Domestic Violence'">{{fa.reassessmentRecommendedDate}}
                <i *ngIf="fa.hasReassessmentRecommendedDatePassed" class="fa fa-exclamation-triangle tred"></i>
              </div>
              <div class="col-md-6 tgrey3" *ngIf="!fa.reassessmentRecommendedDate && fa.isRecommendedDateNotNeeded && participantBarrier?.barrierTypeName !== 'Domestic Violence'">Not Needed
              </div>
              <div class="col-md-6 tgrey3" *ngIf="!fa.reassessmentRecommendedDate && !fa.referralDeclined && !fa.assessmentNotCompleted && !fa.isRecommendedDateNotNeeded"></div>
              <div class="col-md-6 tgrey3" *ngIf="fa.referralDeclined || fa.assessmentNotCompleted || participantBarrier?.barrierTypeName === 'Domestic Violence'">NA</div>
            </div>

          </td>
          <td width="10%" colspan="1" class="tright">
            <div *ngIf="participantBarrier.isOpen === false " (click)="goToSingleView(participantBarrier.id)" class="trash-del btn">
              <div>
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div *ngIf="!this.isReadOnly && participantBarrier.isDeleted === false && participantBarrier.isOpen === true" class="clear-edit">
              <div *ngIf="participantBarrier.isOpen === true" (click)="addEditPartBarrier(participantBarrier.id)" class="edit">
                <i class="fa fa-pencil-alt"></i>
              </div>
              <div *ngIf="participantBarrier.isDeleted === false && participantBarrier.isConverted != true && participantBarrier.isOpen === true"
                (click)="delete(participantBarrier.id)" class="del">
                <i class="fa fa-trash-alt"></i>
              </div>
            </div>
            <div *ngIf="!this.isReadOnly && participantBarrier.isDeleted === true" class="trash-del btn disabled">
              <div>
                <i class="fa fa-trash-alt" title="Deleted"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div *ngIf="!participantBarriers || (participantBarriers.length === 0 && searchQuery === '')" class="col-md-12">
        <blockquote class="jumbotron tcenter">
          <span *ngIf="!isClosedBarrier">No Barriers</span>
          <span *ngIf="isClosedBarrier">No Open Barriers</span>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div *ngIf="participantBarriers?.length === 0 && searchQuery !== ''" class="col-md-12">
        <blockquote class="jumbotron tcenter">
          <span>No Results</span>
        </blockquote>
      </div>
    </div>

    <div class="tcenter full pad1-0">
      <!--Pagination-->
      <pagination-template *ngIf="participantBarriers?.length >= config.itemsPerPage" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event"
        class="center">
        <button class="btn btn-add" (click)="p.previous()" *ngIf="!p.isFirstPage()">
          <i class="fa fa-angle-left"></i>
        </button>
        <button class="btn btn-add disabled" *ngIf="p.isFirstPage()">
          <i class="fa fa-angle-left"></i>
        </button>
        <span class="paging-info pad0-1">
          {{numberInView(config, p, this.participantBarriers?.length)}} of {{participantBarriers?.length}}
        </span>
        <button class="btn btn-add" (click)="p.next()" *ngIf="!p.isLastPage()">
          <i class="fa fa-angle-right"></i>
        </button>
        <button class="btn btn-add disabled" *ngIf="p.isLastPage()">
          <i class="fa fa-angle-right"></i>
        </button>
      </pagination-template>

      <span class="right">
        <button *ngIf="!this.isReadOnly" id="add-barrier" class="btn btn-add" (click)="addEditPartBarrier(0)">+ Add Barrier
        </button>
      </span>
    </div>

  </main>
</div>

<app-participant-barriers-edit-app [barrierId]="barrierRecordId" (onSaveAndExit)="exit()" *ngIf="inEditView"></app-participant-barriers-edit-app>

<app-confirm-dialog *ngIf="inConfirmDeleteView" (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()" title="Delete Barrier"
  confirmButtonText="Delete Barrier" cancelButtonText="Cancel" message="Deleting a barrier will remove its information throughout the entire application. Are you sure you want to do this?"></app-confirm-dialog>
