.history {
  color: #7f8c8d;
  right: 2em;
  margin-top: 10px;
}

.history div.lastEdit {
  font-size: 0.8em;
  margin-top: -8px;
}

.history strong {
  color:#63899D;
  display:inline-block;
  font-weight: 600;
  padding:0 0.25em;
}

.history strong span {
  color: #7f8c8d;
  margin-right: 0.5em;
  font-weight: normal;
}

.history strong sub {
  font-weight:800;
  bottom:0;
}
.border {
   background: rgba(255,255,255,.5);
    border: 1px solid #bdc3c7!important;
    color: #7f8c8d;
    letter-spacing: 0px;
}
