<div
  [ngClass]="{default: isDefault, required: isRequired && !isDisabled, error: IsError, readOnly: isReadOnly}">
  <button [disabled]="isDisabled"
    [ngClass]="{btn: true, button: true, selected: isYes, dirty: isModified && !IsError, disabledCursor: isDisabled}"
    [disabled]="isDisabled"
    (click)="click(true)">Yes</button>
  <button [disabled]="isDisabled"
    [ngClass]="{btn: true,button: true, selected: !isYes && isYes != null, disabledCursor: isDisabled}"
    [disabled]="isDisabled"
    (click)="click(false)">No</button>
</div>
