<fieldset *ngFor="let child of models; let i=index" class="child-repeater">

  <div class="row">
    <div class="col-md-6">
      <label title="First Name">First Name</label><br />
      <app-text-input [(ngModel)]="child.firstName"
        (ngModelChange)="child.firstName = $event; onChangeCallback(models);"
        [cacheInnerValue]="getInitialModelValue(child.id, 'firstName')"
        [isInvalid]="isModelErrorsItemInvalid(i, 'firstName')"
        [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)" type="text"
        [maxLength]="120"></app-text-input>
    </div>
    <div class="col-md-6">
      <label title="Last Name">Last Name</label><br />
      <app-text-input [(ngModel)]="child.lastName" (ngModelChange)="child.lastName = $event; onChangeCallback(models);"
        [cacheInnerValue]="getInitialModelValue(child.id, 'lastName')"
        [isInvalid]="isModelErrorsItemInvalid(i, 'lastName')"
        [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)" type="text"
        [maxLength]="120"></app-text-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label title="Date of Birth">DOB</label><br />
      <app-date-mm-dd-yyyy-new [(ngModel)]="child.dateOfBirth"
        (ngModelChange)="child.dateOfBirth = $event; onChangeCallback(models);"
        [cacheInnerValue]="getInitialModelValue(child.id, 'dateOfBirth')"
        [isInvalid]="isModelErrorsItemInvalid(i, 'dateOfBirth')"
        [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)"></app-date-mm-dd-yyyy-new>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="Child support order?">Child support order?</label><br />
      <div class="row">
        <div class="col-md-4">
          <app-yes-no-basic [(ngModel)]="child.hasChildSupportOrder"
            (ngModelChange)="child.hasChildSupportOrder = $event; onChangeCallback(models);"
            [cacheInnerValue]="getInitialModelValue(child.id, 'hasChildSupportOrder')"
            [errorIndicator]="isModelErrorsItemInvalid(i, 'hasChildSupportOrder')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)"></app-yes-no-basic>
        </div>
        <div class="col-md-8 pl-0">
          <app-text-area [maxlength]="380" [(ngModel)]="child.childSupportOrderDetails"
            (ngModelChange)="child.childSupportOrderDetails = $event; onChangeCallback(models);"
            [isInvalid]="isModelErrorsItemInvalid(i, 'childSupportOrderDetails')"
            [cacheInnerValue]="getInitialModelValue(child.id, 'childSupportOrderDetails')" [isAutoSizeable]="true"
            [placeholder]="'Details'"></app-text-area>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="child.hasChildSupportOrder === false">
    <div class="col-md-12">
      <label title="Is your name on the child's birth record?">Is your name on the child's birth record?</label><br />
      <app-yes-no-basic [(ngModel)]="child.hasNameOnChildBirthRecord"
        (ngModelChange)="child.hasNameOnChildBirthRecord = $event; onChangeCallback(models);"
        [cacheInnerValue]="getInitialModelValue(child.id, 'hasNameOnChildBirthRecord')"
        [errorIndicator]="isModelErrorsItemInvalid(i, 'hasNameOnChildBirthRecord')"
        [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)"></app-yes-no-basic>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="How often do you have contact with this child?">How often do you have contact with this
        child?</label><br />
      <div class="input-group flex-row">
        <app-select [(ngModel)]="child.contactIntervalId"
          (ngModelChange)="child.contactIntervalId = $event; onChangeCallback(models);"
          [cacheInnerValue]="getInitialModelValue(child.id, 'contactIntervalId')"
          [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalId')" [dropDownList]="contactIntervalDrop"
          [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)" class="first">
        </app-select>
        <span class="input-group-addon gapless"></span>
        <app-text-area [maxlength]="380" [(ngModel)]="child.contactIntervalDetails"
          (ngModelChange)="child.contactIntervalDetails = $event; onChangeCallback(models);"
          [cacheInnerValue]="getInitialModelValue(child.id, 'contactIntervalDetails')"
          [isInvalid]="isModelErrorsItemInvalid(i, 'contactIntervalDetails')"
          [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)" [isAutoSizeable]="true"
          [placeholder]="'Details'" class="inline last"></app-text-area>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="Are there other adults caring for this child?">Are there other adults caring for this
        child?</label><br />
      <div class="row">
        <div class="col-md-6">
          <app-tab-selector [(ngModel)]="child.hasOtherAdultsPolarLookupId"
            (ngModelChange)="child.hasOtherAdultsPolarLookupId = $event; onChangeCallback(models);"
            [isInValid]="isModelErrorsItemInvalid(i, 'hasOtherAdultsPolarLookupId')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)"
            [cacheInnerValue]="getInitialModelValue(child.id, 'hasOtherAdultsPolarLookupId')" [tabs]="polarDrop"
            class="left"></app-tab-selector>
        </div>
        <div class="col-md-6">
          <app-text-area [maxlength]="380" [(ngModel)]="child.otherAdultsDetails"
            (ngModelChange)="child.otherAdultsDetails = $event; onChangeCallback(models);"
            [cacheInnerValue]="getInitialModelValue(child.id, 'otherAdultsDetails')"
            [isInvalid]="isModelErrorsItemInvalid(i, 'otherAdultsDetails')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex) && child.isOtherAdultsDetailsRequired(polarDrop)"
            [isAutoSizeable]="true" [placeholder]="'Details'"></app-text-area>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="Is there anything you would like to change about your relationship with this child?">Is there
        anything you would like to change about your relationship with this child? </label><br />
      <div class="row">
        <div class="col-md-4">
          <app-yes-no-basic [(ngModel)]="child.isRelationshipChangeRequested"
            (ngModelChange)="child.isRelationshipChangeRequested = $event; onChangeCallback(models);"
            [cacheInnerValue]="getInitialModelValue(child.id, 'isRelationshipChangeRequested')"
            [errorIndicator]="isModelErrorsItemInvalid(i, 'isRelationshipChangeRequested')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)"></app-yes-no-basic>
        </div>
        <div class="col-md-8 pl-0">
          <app-text-area [maxlength]="380" [(ngModel)]="child.relationshipChangeRequestedDetails"
            (ngModelChange)="child.relationshipChangeRequestedDetails = $event; onChangeCallback(models);"
            [cacheInnerValue]="getInitialModelValue(child.id, 'relationshipChangeRequestedDetails')"
            [isInvalid]="isModelErrorsItemInvalid(i, 'relationshipChangeRequestedDetails')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex) && child.isRelationshipChangeRequestedDetailsRequired()"
            [isAutoSizeable]="true" [placeholder]="'Details'"></app-text-area>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label title="Is the child in need of any services?">Is the child in need of any services?</label><br />
      <div class="row">
        <div class="col-md-6">
          <app-tab-selector [(ngModel)]="child.isNeedOfServicesPolarLookupId"
            (ngModelChange)="child.isNeedOfServicesPolarLookupId = $event; onChangeCallback(models);"
            [isInValid]="isModelErrorsItemInvalid(i, 'isNeedOfServicesPolarLookupId')"
            [cacheInnerValue]="getInitialModelValue(child.id, 'isNeedOfServicesPolarLookupId')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex)" [tabs]="polarDrop"
            class="left"></app-tab-selector>
        </div>
        <div class="col-md-6">
          <app-text-area [maxlength]="380" [(ngModel)]="child.needOfServicesDetails"
            (ngModelChange)="child.needOfServicesDetails = $event; onChangeCallback(models);"
            [cacheInnerValue]="getInitialModelValue(child.id, 'needOfServicesDetails')"
            [isInvalid]="isModelErrorsItemInvalid(i, 'needOfServicesDetails')"
            [isRequired]="isChildRepeaterRowRequired(i,nonCustodialCaretakerModel,parentIndex) && child.isNeedOfServicesDetailsRequired(polarDrop)"
            [isAutoSizeable]="true" [placeholder]="'Details'"></app-text-area>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-2 control">
      <div class="del-reason-holder" *ngIf="i != 0 || (!isEmptyObject(models[i]) || models[i].id != 0)">
        <app-delete-reason-button [type]="'ncp'" [objectWatched]="child"
          (deletedObject)="this.deleteFromRepeater($event)"></app-delete-reason-button>
      </div>
    </div>
    <div *ngIf="availableCaretackersDrop?.length > 1" class="col-md-10">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
          <label class="padhalf">Move Child To:</label>
        </div>
        <div class="col-md-6">
          <app-select [(ngModel)]="parentGuid" (ngModelChange)="parentGuid = $event; emitMovedNonCustodialChild(child)"
            [dropDownList]="cachedAvailableCaretackersDrop" [isRequired]="false" [isIdString]="true"></app-select>
        </div>
      </div>
    </div>
  </div>

</fieldset>

<div class="row">
  <div class="col-md-12 add-holder tright">
    <button (click)="addToRepeater()" class="btn btn-add"><i class="fa fa-plus"></i> Add Child</button>
  </div>
</div>
