<h4>Current or Most Recent Wage/Hours</h4>

<fieldset *ngIf="model"
  class="repeat cur-to-hist">
  <div>
    <!-- NGIF -->
    <div class="content pad1">
      <div class="row">
        <div *ngIf="currentJobCategory=== 'currentJob' || this.isCurrentJobAtCreation"
          class="col-md-3">
          <label>Effective Date</label>
          <br />
          <!-- #21 -->
          <app-date-mm-dd-yyyy [isRequired]="!isReadOnly"
            [isInvalid]="modelErrors['currentEffectiveDate']"
            [cacheInnerValue]="this.originalModel?.currentEffectiveDate"
            [maxDate]="date10DaysAfterCurrent"
            [(ngModel)]="model.currentEffectiveDate"
            (ngModelChange)="model.currentEffectiveDate = $event; registerModelChange($event);"
            [isReadOnly]="isReadOnly"
            [datePickerRequired]="!isReadOnly"></app-date-mm-dd-yyyy>
        </div>
        <div class="col-md-9">
          <label>Pay Types <span class="small">(Select all that apply.)</span></label>
          <br />
          <!-- #22 -->
          <div class="input-group">
            <app-multi-select-dropdown class="first input-group-btn"
              *ngIf="model.currentPayType && !isPayTypeHidden()"
              [cacheInnerValue]="this.originalModel?.currentPayType?.jobActionTypes"
              [isInvalid]="modelErrors['currentPayType']"
              [isRequired]="true"
              [(ngModel)]="model.currentPayType.jobActionTypes"
              (ngModelChange)="model.currentPayType.jobActionTypes = $event; registerModelChange($event);"
              [options]="payTypesDrop"
              [isReadOnly]="isReadOnly"
              [isDisabled]="isReadOnly"></app-multi-select-dropdown>
            <span class="input-group-btn"
              *ngIf="isPayTypeHidden()">
              <button class="btn btn-light first"
                disabled>No Pay</button>
            </span>
            <span class="input-group-addon gapless"></span>
            <app-text-area [maxlength]="380"
              [isRequired]="isCurrentPayDetailsRequired()"
              [isDetails]="true"
              [cacheInnerValue]="this.originalModel?.currentPayTypeDetails"
              [isInvalid]="modelErrors['currentPayTypeDetails']"
              [placeholder]="'Details'"
              [isAutoSizeable]="true"
              (ngModelChange)="model.currentPayTypeDetails = $event; registerModelChange();"
              [(ngModel)]="model.currentPayTypeDetails"
              class="last"
              [isReadOnly]="isReadOnly"></app-text-area>
          </div>
        </div>
      </div>
      <div *ngIf="model && currentJobCategory === 'pastJob' && !this.isCurrentJobAtCreation"
        class="row">
        <div class="col-md-5 pr-1">
          <label>Beginning Rate</label>
          <br />
          <div class="input-group">
            <span class="input-group-addon input-group-text spnFirst">$</span>
            <app-numerical-input [isMoney]="true"
              [(ngModel)]="model.pastBeginPayRate"
              (ngModelChange)="model.pastBeginPayRate = $event; registerModelChange($event);"
              [isInvalid]="modelErrors['pastBeginPayRate']"
              [cacheInnerValue]="this.originalModel?.pastBeginPayRate"
              [isRequired]="true"
              [isDisabled]="isBeginningPayDisabled()"
              class="first last col-md-4 p-0"
              [isReadOnly]="isReadOnly"
              [NGMaxLength]="9"></app-numerical-input>
            <span class="input-group-addon input-group-text spnFirst last">per</span>
            <app-select [(ngModel)]="model.pastBeginPayRateIntervalId"
              (ngModelChange)="model.pastBeginPayRateIntervalId = $event; registerModelChange($event);"
              [isInvalid]="modelErrors['pastBeginPayRateIntervalId']"
              [cacheInnerValue]="this.originalModel?.pastBeginPayRateIntervalId"
              class="last col-md-4 p-0"
              [isRequired]="true"
              [isDisabled]="isBeginningPayDisabled()"
              [dropDownList]="filteredIntervalTypes || intervalTypesDrop"
              [isReadOnly]="isReadOnly">
            </app-select>
          </div>
        </div>
        <div class="col-md-7 pr-0">
          <label>Ending Rate</label>
          <br />
          <div class="input-group">
            <span class="input-group-addon input-group-text spnFirst">$</span>
            <app-numerical-input [isMoney]="true"
              [(ngModel)]="model.pastEndPayRate"
              (ngModelChange)="model.pastEndPayRate = $event; registerModelChange($event);"
              [isInvalid]="modelErrors['pastEndPayRate']"
              class="w-25 first last"
              [cacheInnerValue]="this.originalModel?.pastEndPayRate"
              [isRequired]="true"
              [isDisabled]="isEndPayDisabled()"
              [isReadOnly]="isReadOnly"
              [NGMaxLength]="9"></app-numerical-input>
            <span class="input-group-addon input-group-text spnFirst last">per</span>
            <app-select class="first last"
              [(ngModel)]="model.pastEndPayRateIntervalId"
              (ngModelChange)="model.pastEndPayRateIntervalId = $event; registerModelChange($event);"
              [isInvalid]="modelErrors['pastEndPayRateIntervalId']"
              [cacheInnerValue]="this.originalModel?.pastEndPayRateIntervalId"
              [isRequired]="true"
              [dropDownList]="filteredIntervalTypes || intervalTypesDrop"
              [isDisabled]="isEndPayDisabled()"
              [isReadOnly]="isReadOnly">
            </app-select>
            <app-radio-button [(ngModel)]="model.unchangedPastPayRateIndicator"
              (ngModelChange)="model.unchangedPastPayRateIndicator = $event; registerModelChange($event);"
              NgLabel="no change"
              class="input-group-addon input-group-text last"
              [isDisabled]="isUnchangedPastPayRateIndicatorDisabled()"
              [isReadOnly]="isReadOnly"></app-radio-button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Avg Weekly Hours</label>
          <br />
          <!-- #24 -->
          <app-numerical-input [isRequired]="true"
            [isInvalid]="modelErrors['currentAverageWeeklyHours']"
            [cacheInnerValue]="this.originalModel?.currentAverageWeeklyHours"
            [NGMaxLength]="3"
            [(ngModel)]="model.currentAverageWeeklyHours"
            (ngModelChange)="model.currentAverageWeeklyHours = $event; registerModelChange($event);"
            [isReadOnly]="isReadOnly"></app-numerical-input>
        </div>
        <div class="col-md-6"
          *ngIf="currentJobCategory==='currentJob' || this.originalModel?.currentPayRate">
          <label>Pay Rate</label>
          <br />
          <div class="input-group row m-0">
            <span class="input-group-addon input-group-text spnFirst">$</span>
            <app-numerical-input [isMoney]="true"
              [isRequired]="true"
              [isDisabled]="isCurrentPayRateDisabled()"
              [isInvalid]="modelErrors['currentPayRate']"
              [cacheInnerValue]="this.originalModel?.currentPayRate"
              [(ngModel)]="model.currentPayRate"
              (ngModelChange)="model.currentPayRate = $event; registerModelChange($event);"
              class="first col-md-4 last p-0"
              [isReadOnly]="isReadOnly"
              [NGMaxLength]="9"></app-numerical-input>
            <span class="spnFirst input-group-addon input-group-text last">per</span>
            <app-select [isRequired]="true"
              [isDisabledWithNoValue]="isCurrentPayRateDisabled()"
              [isInvalid]="modelErrors['currentPayRateIntervalId']"
              [cacheInnerValue]="this.originalModel?.currentPayRateIntervalId"
              [(ngModel)]="model.currentPayRateIntervalId"
              (ngModelChange)="model.currentPayRateIntervalId = $event; registerModelChange($event);"
              [dropDownList]="filteredIntervalTypes || intervalTypesDrop"
              class="last col-md-5 p-0"
              [isReadOnly]="isReadOnly"></app-select>
          </div>
        </div>
        <div class="col-md-3"
          *ngIf="((currentJobCategory==='currentJob' || this.originalModel?.currentHourlySubsidyRate) )">
          <label>Hourly Subsidy</label>
          <br />
          <!-- #30 -->
          <div class="input-group">
            <span class="input-group-addon input-group-text spnFirst">$</span>
            <app-numerical-input class="w-75 last"
              [isInvalid]="modelErrors['currentHourlySubsidyRate']"
              [isDisabled]="isHourlySubsidyDisabled"
              [isMoney]="true"
              [NGMaxLength]="5"
              [(ngModel)]="model.currentHourlySubsidyRate"
              [isRequired]="!isHourlySubsidyDisabled"
              [cacheInnerValue]="this.originalModel?.currentHourlySubsidyRate"
              (ngModelChange)="model.currentHourlySubsidyRate = $event; registerModelChange($event);"
              [isReadOnly]="isReadOnly"></app-numerical-input>
          </div>
        </div>
      </div>
      <div class="row"
        *ngIf="((currentJobCategory==='currentJob' || this.originalModel?.workSiteContribution) ) && isTJOrTMJSubsidizedJob(this.jobTypeId, this.modelIds.tjSubsidizedId, this.modelIds.tmjSubsidizedId)">
        <div class="col-md-4">
          <label>Work Site Contribution</label>
          <br />
          <div class="input-group">
            <span class="input-group-addon input-group-text spnFirst">$</span>
            <app-numerical-input class="w-75 last"
              [isInvalid]="modelErrors['workSiteContribution']"
              [isDisabled]="isHourlySubsidyDisabled"
              [isMoney]="true"
              [NGMaxLength]="5"
              [(ngModel)]="model.workSiteContribution"
              [isRequired]="!isHourlySubsidyDisabled"
              [cacheInnerValue]="this.originalModel?.workSiteContribution"
              (ngModelChange)="model.workSiteContribution = $event; registerModelChange($event);"
              [isReadOnly]="isReadOnly"></app-numerical-input>
          </div>
        </div>
      </div>
    </div>

    <div class="controls"
      *ngIf="currentJobCategory === 'currentJob'">
      <ul>
        <!-- <li class="clear" (click)="eraseCurrentWage()"><i class="fa fa-eraser" title="clear"></i></li> -->
        <li class="mov"
          (click)="moveCurrentWageToHistory()">
          <i class="fa fa-level-down-alt"
            title="Move to History"></i>
        </li>
      </ul>
    </div>
  </div>

</fieldset>
