<select *ngIf="!isFilter && !isResizable"
  [ngClass]="{required: isRequired, compact: isCompact, error: _isInvalid, dirty: isModified && !_isInvalid, isDisabledWithNoValue: isDisabledWithNoValue}"
  class="form-control"
  [disabled]="isDisabled || isDisabledWithNoValue || isReadOnly"
  [(ngModel)]="value">
  <!--<option value="null"  [disabled]="true"></option>-->
  <option *ngIf="hasEmptyOption"
    value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
  <option *ngFor="let item of localDropList"
    value={{item.id}}>{{item.name}}</option>
</select>

<select *ngIf="!isFilter && isResizable"
  [ngClass]="{required: isRequired, compact: isCompact, error: _isInvalid, dirty: isModified && !_isInvalid, isDisabledWithNoValue: isDisabledWithNoValue}"
  class="form-control autoWidth"
  [disabled]="isDisabled || isDisabledWithNoValue || isReadOnly"
  [(ngModel)]="value">
  <!--<option value="null"  [disabled]="true"></option>-->
  <option *ngIf="hasEmptyOption"
    value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
  <option *ngFor="let item of localDropList"
    value={{item.id}}>{{item.name}}</option>
</select>

<div *ngIf="isFilter === true"
  [ngClass]="{right: floatRight}"
  class="sort-holder padl" >
  <!-- turn this into a shared component -->
  <div class="btn-group squared"
    role="group">
    <button type="button"
      class="btn btn-add tgrey3"
      (click)="toggleSortMenu()">
      <span class="fs">
        <i class="fa {{icon}}"
          aria-hidden="true"></i> Sort by
        <span class="tblack">{{sortName}}</span></span>
    </button>
    <button type="button"
      title="Ascending Order"
      class="btn btn-add sort-btn"
      (click)="toggleFilter()"
      *ngIf="isFilterAsc">
      <i class="fa fa-sort-up"></i>
    </button>
    <button type="button"
      title="Descending Order"
      class="btn btn-add sort-btn"
      (click)="toggleFilter()"
      *ngIf="!isFilterAsc">
      <i class="fa fa-sort-down"></i>
    </button>
  </div>
  <ul class="sort-select"
    [class.hidden]="!showOptions">
    <li (click)="select(item)"
      *ngFor="let item of localDropList"
      tabindex="0"
      [class.select]="false">
      <span class="st-title">{{ item.name }}</span>
  </ul>
</div>
