<div class="card-body border-bottom"
  *ngFor="let emp of tempEmps">
  <div class="row align-items-center">
    <div *ngIf="!isReadOnly"
      class="col-md-1 d-flex justify-content-center">
      <app-radio-button [NgLabel]="''"
        [(ngModel)]="emp.isSelected"
        (ngModelChange)="checked = $event; selected(emp)"></app-radio-button>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class=" col-md-6">
          <h6>Job Type</h6>
          <p class="tgrey3 wrapword">{{emp.jobTypeName}}</p>
          <h6>Position</h6>
          <p class="tgrey3 wrapword">{{emp.jobPosition}}</p>
          <h6>Company/Organization Name</h6>
          <p class="tgrey3 wrapword">{{emp.companyName}}</p>
          <h6>Company/Organization Location</h6>
          <p class="tgrey4 small semibold">
            <!-- address -->{{emp.location?.fullAddress}}
            <br *ngIf="emp.location?.fullAddress" />{{emp.location.description}}
            {{emp.location.zipAddress}}</p>
        </div>
        <div class=" col-md-6">
          <h6>Job Begin Date</h6>
          <p class="tgrey3 wrapword">{{emp.jobBeginDate | dateMmDdYyyy}}</p>
          <h6>Job End Date</h6>
          <p *ngIf="emp.jobEndDate"
            class="tgrey3 wrapword">{{emp.jobEndDate | dateMmDdYyyy}}</p>
          <p *ngIf="!emp.jobEndDate"
            class="tgrey3 wrapword"><br /></p>
          <h6>Avg Weekly Hours</h6>
          <p class="tgrey3 wrapword">{{emp.wageHour}}</p>
        </div>
      </div>
    </div>

  </div>

</div>
