<div *ngIf="month">
    <header>
      <h3 class="left">{{ month.date | amDateFormat : 'MMM YYYY' }} <span>{{ month.tick.tickType | clockTypeName }}</span> </h3>
      <app-modified-stamp class="inline" *ngIf="month.modifiedBy || month.createdDate" [author]="month.modifiedBy" [readOnly]="true" [lastModified]="(month.modifiedDate ? month.modifiedDate : month.createdDate) | amDateFormat: 'M/D/YY hh:mm A'"></app-modified-stamp>
      <div class="edit-month">
        <button class="btn btn-sm btn-add" [disabled]="!canEditMonth" (click)="editMonthClicked(month)"><i class="fa fa-pencil-alt"></i> Edit Month</button>
      </div>
    </header>
    <section>
      <div class="month-details">
        <div class="placements">
          <h5>Time Limit(s)</h5>
          <div class="time-limit-type"><i class="fa fa-check" [class.invisible]="!month.tick?.clockTypes.state.Federal"></i> Federal</div>
          <div class="time-limit-type"><i class="fa fa-check" [class.invisible]="!month.tick?.clockTypes.state.State"></i> State</div>
          <div class="time-limit-type"><i class="fa fa-check" [class.invisible]="!isPlacement(month) "></i> 24 Month </div>
        </div>
        <!--<div class="payments-summary">
          <h5>Payment</h5>
          <div class="payment-ind">{{ month.paymentIssued | yesNo | default: 'No' }}</div>
        </div>-->
        <div class="extensions-list">
          <h5>Extension(s)</h5>
          <div *ngFor="let ext of month.extensions"> {{ ClockTypes[ext.clockType.valueOf()] }} </div>
          <div *ngIf="!month.extensions.length"> - </div>
        </div>
      </div>
      <div class="notes-details">
        <h5>Notes</h5>
        <div class="notes" [innerHTML]="notes">
        </div>
        <div class="action-history">
  
            <div class="tleft" >
              <button *ngIf="month.changeHistory?.length === 0" class="btn btn-add" (click)="loadHistory()"><i class="fa fa-history"></i> &nbsp; Load History</button>
              <button *ngIf="month.changeHistory?.length > 0" class="btn btn-add" (click)="loadHistory()"><i class="fa fa-history"></i> &nbsp; Reload History</button>
            </div>
  
            <div class="history-loader" *ngIf="isLoadingChangeHistory">
              <div class="loader"><i class="fa fa-circle-notch fa-spin fa-2x fa-fw"></i></div>
            </div>
          
          <div class="col-md-12 tborder" *ngIf="month.changeHistory?.length > 0">
              <div class="row form-group">
                <div class="col-md-3 theader">Time Limit Type</div>
                <div class="col-md-3 theader">Reason For Change</div>
                <div class="col-md-1 theader">Federal</div>
                <div class="col-md-1 theader">State</div>
                <div class="col-md-2 theader">24 Month</div>
                <div class="col-md-2 theader"></div>
              </div>
          </div>
          <div class="col-md-12 tborder" *ngFor="let changeMonth of month.changeHistory">
              <div class="row form-group">
                <div class="col-md-3" >{{ ClockTypes[changeMonth.tick.tickType] }}</div>
                <div class="col-md-3"> {{ ReasonsForChange.get(changeMonth.reasonForChange) | default:'-' }} <span *ngIf="changeMonth.reasonForChangeDetails && changeMonth.reasonForChangeDetails.length">: {{ changeMonth.reasonForChangeDetails }}</span></div>
                <div class="col-md-1"> <i class="fa fa-check" *ngIf="changeMonth.tick.clockTypes.state.Federal"></i> </div>
                <div class="col-md-1"> <i class="fa fa-check" *ngIf="changeMonth.tick.clockTypes.state.State"></i> </div>
                <div class="col-md-1"> <i class="fa fa-check" *ngIf="isPlacement(changeMonth)"></i> </div>
                <div class="col-md-3">
                  <app-modified-stamp class="inline" *ngIf="changeMonth.modifiedBy" [label]="'Edited by'" [author]="changeMonth.modifiedBy" [readOnly]="true" [lastModified]="(changeMonth.modifiedDate ? changeMonth.modifiedDate : changeMonth.createdDate) | amDateFormat: 'M/D/YY hh:mm A'"></app-modified-stamp>
                </div>
          </div>
        </div>
  
        </div>
      </div>
    </section>
    <app-edit-month [pin]="pin" [participant]="participant" [model]="selectedEditMonth" [timeline]="timeline" (close)="closeEditMonth()" (save)="monthSaved($event)"></app-edit-month>
  </div>
