<app-sub-header pageTitle="Job Readiness"
  [goBackUrl]="goBackUrl"
  [isSectionModified]="modelString !== originalModelString"
  [participant]="participant"
  [helpComponent]="'job-readiness'"></app-sub-header>
<app-sub-header-nav [mode]="'App'"
  activeItem="jobReadiness"
  [pin]="pin"></app-sub-header-nav>
<app-loading [isLoaded]="isLoaded"
  [loadingLabel]="'Job Readiness'"></app-loading>

<div *ngIf="isLoaded"
  class="container">
  <app-dialog-box *ngIf="appService?.isDialogPresent && !appService?.isChildDialogPresent"
    (dialogClose)="exitJobReadinessIgnoreChanges($event)"
    [doesNotNavigateBack]="true"></app-dialog-box>
  <div class="row  justify-content-end">
    <div class="col-md-6"
      *ngIf="model && model?.modifiedBy">
      <app-app-modified-stamp [readOnly]="true"
        [author]="model.modifiedBy"
        [lastModified]="model.modifiedDate"></app-app-modified-stamp>
    </div>
  </div>
  <div class="row ">
    <app-validation-summary [errors]='validationManager.errors'
      class="col-md-12"></app-validation-summary>
  </div>
  <h4>Work Preference Questions</h4>
  <div class="row">
    <div class="col-md-12">
      <label class=" pt-2">What kind of job would you like?</label>

    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrWorkPreferences.kindOfJobDetails"
        (ngModelChange)="model.jrWorkPreferences.kindOfJobDetails = $event; validate()"
        [cacheInnerValue]="originalModel?.jrWorkPreferences?.kindOfJobDetails"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrWorkPreferences?.kindOfJobDetails?.length"
        [isRequired]="true"
        [isDetails]="true"
        [isInvalid]="modelErrors['kindOfJobDetails']"
        [isDisabled]="isReadOnly"></app-text-area>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class=" pt-2">What about that job interests you?</label>

    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrWorkPreferences.jobInterestDetails"
        (ngModelChange)="model.jrWorkPreferences.jobInterestDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrWorkPreferences?.jobInterestDetails"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrWorkPreferences?.jobInterestDetails?.length"
        [isRequired]="true"
        [isDetails]="true"
        [isInvalid]="modelErrors['jobInterestDetails']"
        [isDisabled]="isReadOnly"></app-text-area>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class=" pt-2">What kind of training or experience do you think you might need for that
        job?</label>
    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrWorkPreferences.trainingNeededForJobDetails"
        (ngModelChange)="model.jrWorkPreferences.trainingNeededForJobDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrWorkPreferences?.trainingNeededForJobDetails"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrWorkPreferences?.trainingNeededForJobDetails?.length"
        [isRequired]="true"
        [isDetails]="true"
        [isInvalid]="modelErrors['trainingNeededForJobDetails']"
        [isDisabled]="isReadOnly"></app-text-area>
    </div>
  </div>


  <div>
    <div class="row">
      <div class="col-md-12">
        <label class=" pt-2">Can you name some places (companies or organizations) where that job
          may be available?</label>
      </div>
      <div class="col-md-12 input-group flex-nowrap">
        <app-text-area class="first"
          [maxlength]="380"
          [(ngModel)]="model.jrWorkPreferences.someOtherPlacesJobAvailableDetails"
          (ngModelChange)="model.jrWorkPreferences.someOtherPlacesJobAvailableDetails = $event;validate()"
          [isTextLengthGiven]="true"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.someOtherPlacesJobAvailableDetails"
          [textLength]="model?.jrWorkPreferences?.someOtherPlacesJobAvailableDetails?.length"
          [isRequired]="!model?.jrWorkPreferences?.someOtherPlacesJobAvailableUnknown"
          [isDetails]="true"
          [isInvalid]="modelErrors['someOtherPlacesJobAvailableDetails']"
          [isDisabled]="isReadOnly"></app-text-area>
        <app-radio-button class="input-group-text radioDiv last"
          [(ngModel)]="model.jrWorkPreferences.someOtherPlacesJobAvailableUnknown"
          [NgLabel]="'Unknown'"
          (ngModelChange)="model.jrWorkPreferences.someOtherPlacesJobAvailableUnknown = $event;validate()"
          [isDisabled]="isReadOnly"></app-radio-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class=" pt-2">Are there any work situations or jobs you prefer to avoid?</label>
    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrWorkPreferences.situationsToAvoidDetails"
        (ngModelChange)="model.jrWorkPreferences.situationsToAvoidDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrWorkPreferences?.situationsToAvoidDetails"
        [isInvalid]="modelErrors['situationsToAvoidDetails']"
        [isDisabled]="isReadOnly"
        [isRequired]="true"
        [isDetails]="true"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrWorkPreferences?.situationsToAvoidDetails?.length"></app-text-area>
    </div>
  </div>


  <label class="part-title col=md-3 pt-2">What is your ideal work schedule?</label>
  <div class="row pt-1 pb-3 ml-2">
    <div class="col-md-4">
      <label>Work Shift(s) <span class="small">(Select all that apply.)</span></label>
      <br />
      <app-multi-select-dropdown [options]="workShiftDrop"
        [(ngModel)]="model.jrWorkPreferences.workShiftIds"
        (ngModelChange)="model.jrWorkPreferences.workShiftIds = $event; validate();"
        [cacheInnerValue]="originalModel?.jrWorkPreferences.workShiftIds"
        [isInvalid]="modelErrors['workShiftIds']"
        [isRequired]="true"
        [isDisabled]="isReadOnly"
        [isHistorical]="true"></app-multi-select-dropdown>
    </div>
  </div>

  <div class="row py-1 ml-2">
    <div class="col-md-2">
      <label class="pr-1">Begin Time</label>

    </div>
    <div class="col-md-4 d-flex justify-content-around">
      <div class="">
        <app-select [dropDownList]="hours"
          [(ngModel)]="model.jrWorkPreferences.beginHour"
          (ngModelChange)="model.jrWorkPreferences.beginHour = $event; onSelectTime(); validate();"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.beginHour"
          [isRequired]="isBeginTimeRequired"
          [isInvalid]="modelErrors['beginHour']"
          [isDisabled]="isReadOnly"></app-select>
      </div>

      <div class="align-self-center"> : </div>

      <div class="">
        <app-select [dropDownList]="minutes"
          [(ngModel)]="model.jrWorkPreferences.beginMinute"
          (ngModelChange)="model.jrWorkPreferences.beginMinute = $event; onSelectTime(); validate();"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.beginMinute"
          [isRequired]="isBeginTimeRequired"
          [isInvalid]="modelErrors['beginMinute']"
          [isDisabled]="isReadOnly"></app-select>
      </div>

      <div class="">
        <app-tab-selector [tabs]="amPmTab"
          [(ngModel)]="model.jrWorkPreferences.beginAmPm"
          (ngModelChange)="model.jrWorkPreferences.beginAmPm = $event; onSelectTime(); validate();"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.beginAmPm"
          [isRequired]="isBeginTimeRequired"
          [isInValid]="modelErrors['beginAmPm']"
          [isDisabled]="isReadOnly"></app-tab-selector>
      </div>
    </div>
  </div>

  <div class="row py-1 ml-2">
    <div class="col-md-2">
      <label class="">End Time</label>

    </div>
    <div class="col-md-4 d-flex justify-content-around">
      <div class="">
        <app-select [dropDownList]="hours"
          [(ngModel)]="model.jrWorkPreferences.endHour"
          (ngModelChange)="model.jrWorkPreferences.endHour = $event; onSelectTime(); validate()"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.endHour"
          [isRequired]="isEndTimeRequired"
          [isInvalid]="modelErrors['endHour']"
          [isDisabled]="isReadOnly"></app-select>
      </div>

      <div class="align-self-center"> : </div>

      <div class="">
        <app-select [dropDownList]="minutes"
          [(ngModel)]="model.jrWorkPreferences.endMinute"
          (ngModelChange)="model.jrWorkPreferences.endMinute = $event; onSelectTime(); validate()"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.endMinute"
          [isRequired]="isEndTimeRequired"
          [isInvalid]="modelErrors['endMinute']"
          [isDisabled]="isReadOnly"></app-select>
      </div>

      <div class="">
        <app-tab-selector [tabs]="amPmTab"
          [(ngModel)]="model.jrWorkPreferences.endAmPm"
          (ngModelChange)="model.jrWorkPreferences.endAmPm = $event; onSelectTime(); validate()"
          [cacheInnerValue]="originalModel?.jrWorkPreferences?.endAmPm"
          [isRequired]="isEndTimeRequired"
          [isInValid]="modelErrors['endAmPm']"
          [isDisabled]="isReadOnly">
        </app-tab-selector>
      </div>
    </div>
  </div>

  <div class="row py-1 ml-4">
    <app-text-area [maxlength]="380"
      [isRequired]="false"
      [(ngModel)]="model.jrWorkPreferences.workScheduleDetails"
      (ngModelChange)="model.jrWorkPreferences.workScheduleDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrWorkPreferences?.workScheduleDetails"
      [isDetails]="true"
      [isDisabled]="isReadOnly"
      [isTextLengthGiven]="true"
      [textLength]="model?.jrWorkPreferences?.workScheduleDetails?.length"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class=" pt-2">How far are you willing/able to travel to get to work?</label>

    </div>
  </div>

  <div class="row pt-1 ml-2 pt-1">
    <div class="col-md-12">
      <label>Travel Time:</label>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [isRequired]="true"
      [(ngModel)]="model.jrWorkPreferences.travelTimeToWork"
      (ngModelChange)="model.jrWorkPreferences.travelTimeToWork = $event;;validate()"
      [cacheInnerValue]="originalModel?.jrWorkPreferences?.travelTimeToWork"
      [isInvalid]="modelErrors['travelTimeToWork']"
      [isDisabled]="isReadOnly"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrWorkPreferences?.travelTimeToWork?.length"
      class="col-md-12"></app-generic-text-input>
  </div>
  <div class="row pt-1 pt-1 ml-2">
    <div class='col-md-12'>
      <label>Distance from Home to Work:</label>

    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [(ngModel)]="model.jrWorkPreferences.distanceHomeToWork"
      (ngModelChange)="model.jrWorkPreferences.distanceHomeToWork = $event;validate()"
      [cacheInnerValue]="originalModel?.jrWorkPreferences?.distanceHomeToWork"
      [isInvalid]="modelErrors['distanceHomeToWork']"
      [isDisabled]="isReadOnly"
      [isRequired]="true"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrWorkPreferences?.distanceHomeToWork?.length"
      class="col-md-12"></app-generic-text-input>
  </div>

  <hr />

  <h4>History Questions</h4>
  <div class="row">
    <div class="col-md-12">
      <label class="">Tell me about your last job.</label>
    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrHistoryInfo.lastJobDetails"
        (ngModelChange)="model.jrHistoryInfo.lastJobDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrHistoryInfo?.lastJobDetails"
        [isInvalid]="modelErrors['lastJobDetails']"
        [isDisabled]="isReadOnly"
        [isRequired]="true"
        [isDetails]="true"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrHistoryInfo?.lastJobDetails?.length"></app-text-area>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="">Tell me about a time you felt proud of something you accomplished.</label>

    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrHistoryInfo.accomplishmentDetails"
        (ngModelChange)="model.jrHistoryInfo.accomplishmentDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrHistoryInfo?.accomplishmentDetails"
        [isInvalid]="modelErrors['accomplishmentDetails']"
        [isDisabled]="isReadOnly"
        [isRequired]="true"
        [isDetails]="true"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrHistoryInfo?.accomplishmentDetails?.length"></app-text-area>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="">What are your greatest strengths?</label>
    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrHistoryInfo.strengthDetails"
        (ngModelChange)="model.jrHistoryInfo.strengthDetails = $event;validate()"
        [cacheInnerValue]="originalModel?.jrHistoryInfo?.strengthDetails"
        [isInvalid]="modelErrors['strengthDetails']"
        [isRequired]="true"
        [isDisabled]="isReadOnly"
        [isDetails]="true"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrHistoryInfo?.strengthDetails?.length"></app-text-area>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label class="">What areas would you like to improve on?</label>
    </div>
    <div class="col-md-12 pt-1">
      <app-text-area [maxlength]="380"
        [(ngModel)]="model.jrHistoryInfo.areasNeedImprove"
        (ngModelChange)="model.jrHistoryInfo.areasNeedImprove = $event;validate()"
        [cacheInnerValue]="originalModel?.jrHistoryInfo?.areasNeedImprove"
        [isInvalid]="modelErrors['areasNeedImprove']"
        [isRequired]="true"
        [isDisabled]="isReadOnly"
        [isDetails]="true"
        [isTextLengthGiven]="true"
        [textLength]="model?.jrHistoryInfo?.areasNeedImprove?.length"></app-text-area>
    </div>
  </div>
  <hr />

  <h4>Application Questions</h4>
  <div class="row">
    <div class="col-md-9">
      <label class="">Are you comfortable submitting an online job application?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrApplicationInfo.canSubmitOnline"
        (ngModelChange)="model.jrApplicationInfo.canSubmitOnline = $event;validate()"
        [cacheInnerValue]="originalModel?.jrApplicationInfo?.canSubmitOnline"
        [isRequired]="true"
        [errorIndicator]="modelErrors['canSubmitOnline']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrApplicationInfo.canSubmitOnlineDetails"
      (ngModelChange)="model.jrApplicationInfo.canSubmitOnlineDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrApplicationInfo?.canSubmitOnlineDetails"
      [isTextLengthGiven]="true"
      [isRequired]="false"
      [isDisabled]="isReadOnly"
      [isDetails]="true"
      [textLength]="model?.jrApplicationInfo?.canSubmitOnlineDetails?.length"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-9">
      <label class="">Do you have a current resume and a cover letter?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrApplicationInfo.haveCurrentResume"
        (ngModelChange)="model.jrApplicationInfo.haveCurrentResume = $event;validate()"
        [cacheInnerValue]="originalModel?.jrApplicationInfo?.haveCurrentResume"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveCurrentResume']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrApplicationInfo.haveCurrentResumeDetails"
      (ngModelChange)="model.jrApplicationInfo.haveCurrentResumeDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrApplicationInfo?.haveCurrentResumeDetails"
      [isTextLengthGiven]="true"
      [isRequired]="false"
      [isDetails]="true"
      [textLength]="model?.jrApplicationInfo?.haveCurrentResumeDetails?.length"
      [isDisabled]="isReadOnly"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-9">
      <label class="">Do you have three personal or professional references for a job?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrApplicationInfo.haveProfessionalReference"
        (ngModelChange)="model.jrApplicationInfo.haveProfessionalReference = $event;validate()"
        [cacheInnerValue]="originalModel?.jrApplicationInfo?.haveProfessionalReference"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveProfessionalReference']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrApplicationInfo.haveProfessionalReferenceDetails"
      (ngModelChange)="model.jrApplicationInfo.haveProfessionalReferenceDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrApplicationInfo?.haveProfessionalReferenceDetails"
      [isTextLengthGiven]="true"
      [isRequired]="false"
      [textLength]="model?.jrApplicationInfo?.haveProfessionalReferenceDetails?.length"
      [isDisabled]="isReadOnly"
      [isDetails]="true"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-9">
      <label class="">Do you have the documents needed for employment (such as a social
        security
        card)?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-tab-selector [(ngModel)]="model.jrApplicationInfo.needDocumentLookupId"
        (ngModelChange)="model.jrApplicationInfo.needDocumentLookupId = $event;validate()"
        [cacheInnerValue]="originalModel?.jrApplicationInfo?.needDocumentLookupId"
        [tabs]="polarDrop"
        [isRequired]="true"
        [isInValid]="modelErrors['needDocumentLookupId']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end"></app-tab-selector>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrApplicationInfo.needDocumentDetail"
      (ngModelChange)="model.jrApplicationInfo.needDocumentDetail = $event;validate()"
      [cacheInnerValue]="originalModel?.jrApplicationInfo?.needDocumentDetail"
      [isTextLengthGiven]="true"
      [isRequired]="false"
      [textLength]="model?.jrApplicationInfo?.needDocumentDetail?.length"
      [isDisabled]="isReadOnly"
      [isDetails]="true"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <hr />

  <h4>Interview Questions</h4>
  <div class="row">
    <div class="col-md-12">
      <label>Tell me about your last job interview.</label>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrInterviewInfo.lastInterviewDetails"
      (ngModelChange)="model.jrInterviewInfo.lastInterviewDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrInterviewInfo?.lastInterviewDetails"
      [isInvalid]="modelErrors['lastInterviewDetails']"
      [isTextLengthGiven]="true"
      [isRequired]="true"
      [isDetails]="true"
      [textLength]="model?.jrInterviewInfo?.lastInterviewDetails?.length"
      [isDisabled]="isReadOnly"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-9">
      <label class="">Is there anything you would not want a potential employer to see on your
        Facebook or other social media?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrInterviewInfo.canLookAtSocialMedia"
        (ngModelChange)="model.jrInterviewInfo.canLookAtSocialMedia = $event;validate()"
        [cacheInnerValue]="originalModel?.jrInterviewInfo?.canLookAtSocialMedia"
        [isRequired]="true"
        [errorIndicator]="modelErrors['canLookAtSocialMedia']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-text-area [maxlength]="380"
      [(ngModel)]="model.jrInterviewInfo.canLookAtSocialMediaDetails"
      [isTextLengthGiven]="true"
      (ngModelChange)="model.jrInterviewInfo.canLookAtSocialMediaDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrInterviewInfo?.canLookAtSocialMediaDetails"
      [isRequired]="false"
      [isDetails]="true"
      [textLength]="model?.jrInterviewInfo?.canLookAtSocialMediaDetails?.length"
      [isDisabled]="isReadOnly"
      class="col-md-12 pt-1"></app-text-area>
  </div>
  <div class="row">
    <div class="col-md-9 pt-1">
      <label class="">Do you have an outfit to wear to a job interview?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrInterviewInfo.haveOutfit"
        (ngModelChange)="model.jrInterviewInfo.haveOutfit = $event;validate()"
        [cacheInnerValue]="originalModel?.jrInterviewInfo?.haveOutfit"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveOutfit']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [(ngModel)]="model.jrInterviewInfo.haveOutfitDetails"
      (ngModelChange)="model.jrInterviewInfo.haveOutfitDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrInterviewInfo?.haveOutfitDetails"
      [isRequired]="false"
      [isInvalid]="modelErrors['haveOutfitDetails']"
      [isDisabled]="isReadOnly"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrInterviewInfo?.haveOutfitDetails?.length"
      class="col-md-12 pt-1"></app-generic-text-input>
  </div>
  <hr />
  <h4>Contact Questions</h4>
  <div class="docs-holder tcenter small">
    <a href="https://psc.wi.gov/Documents/Brochures/Wisconsin%20Lifeline.pdf"
      target="_blank"
      class="btn btn-primary">
      <span><i class="fas fa-file-alt"></i></span>
      <p>Printable Wisconsin Lifeline Phone Services Brochure</p>
    </a>
  </div>

  <div class="row">
    <div class="col-md-9">
      <label class="">Do you have a phone number that employers can use to contact you?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrContactInfo.canYourPhoneNumberUsed"
        (ngModelChange)="model.jrContactInfo.canYourPhoneNumberUsed = $event;validate()"
        [cacheInnerValue]="originalModel?.jrContactInfo?.canYourPhoneNumberUsed"
        [isRequired]="true"
        [errorIndicator]="modelErrors['canYourPhoneNumberUsed']"
        [isDisabled]="isReadOnly"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [isRequired]="false"
      [(ngModel)]="model.jrContactInfo.phoneNumberDetails"
      (ngModelChange)="model.jrContactInfo.phoneNumberDetails = $event;validate()"
      [cacheInnerValue]="originalModel?.jrContactInfo?.phoneNumberDetails"
      [isDisabled]="isReadOnly"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrContactInfo?.phoneNumberDetails?.length"
      class="col-md-12 pt-1"></app-generic-text-input>
  </div>
  <div class="row">
    <div class="col-md-9 pt-1">
      <label class="">Do you have access to voicemail or text messages on this phone?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrContactInfo.haveAccessToVoiceMailOrTextMessages"
        (ngModelChange)="model.jrContactInfo.haveAccessToVoiceMailOrTextMessages = $event;validate()"
        [isDisabled]="isReadOnly"
        [cacheInnerValue]="originalModel?.jrContactInfo?.haveAccessToVoiceMailOrTextMessages"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveAccessToVoiceMailOrTextMessages']"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [isRequired]="false"
      [(ngModel)]="model.jrContactInfo.voiceOrTextMessageDetails"
      (ngModelChange)="model.jrContactInfo.voiceOrTextMessageDetails = $event;validate()"
      [isDisabled]="isReadOnly"
      [cacheInnerValue]="originalModel?.jrContactInfo?.voiceOrTextMessageDetails"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrContactInfo?.voiceOrTextMessageDetails?.length"
      class="col-md-12 pt-1"></app-generic-text-input>
  </div>
  <div class="row">
    <div class="col-md-9 pt-1">
      <label class="">Do you have an email address that employers can use to contact
        you?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrContactInfo.haveEmailAddress"
        (ngModelChange)="model.jrContactInfo.haveEmailAddress = $event; validate()"
        [isDisabled]="isReadOnly"
        [cacheInnerValue]="originalModel?.jrContactInfo?.haveEmailAddress"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveEmailAddress']"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [isRequired]="false"
      [(ngModel)]="model.jrContactInfo.emailAddressDetails"
      (ngModelChange)="model.jrContactInfo.emailAddressDetails = $event;validate()"
      [isDisabled]="isReadOnly"
      [cacheInnerValue]="originalModel?.jrContactInfo?.emailAddressDetails"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrContactInfo?.emailAddressDetails?.length"
      class="col-md-12 pt-1"></app-generic-text-input>
  </div>
  <div class="row">
    <div class="col-md-9 pt-1">
      <label class="">Can you access your email on a daily basis?</label>
    </div>
    <div class="col-md-3 pt-1 align-self-end">
      <app-yes-no-basic [(ngModel)]="model.jrContactInfo.haveAccessDailyToEmail"
        (ngModelChange)="model.jrContactInfo.haveAccessDailyToEmail = $event;validate()"
        [isDisabled]="isReadOnly"
        [cacheInnerValue]="originalModel?.jrContactInfo?.haveAccessDailyToEmail"
        [isRequired]="true"
        [errorIndicator]="modelErrors['haveAccessDailyToEmail']"
        class="d-flex justify-content-end">
      </app-yes-no-basic>
    </div>
    <app-generic-text-input [NGMaxLength]="120"
      [isRequired]="false"
      [(ngModel)]="model.jrContactInfo.accessEmailDailyDetails"
      (ngModelChange)="model.jrContactInfo.accessEmailDailyDetails = $event;validate()"
      [isDisabled]="isReadOnly"
      [cacheInnerValue]="originalModel?.jrContactInfo?.accessEmailDailyDetails"
      [isTextLengthGiven]="true"
      [ngPlaceholder]="'Details'"
      [textLength]="model?.jrContactInfo?.accessEmailDailyDetails?.length"
      class="col-md-12 pt-1"></app-generic-text-input>
  </div>

  <hr />
  <div class="row">
    <app-action-needed-embed *ngIf="model && model.actionNeeded && isReadOnly"
      [readOnly]="true"
      [pageName]="'job-readiness'"
      [participantPin]="this.participant?.pin"
      [(ngModel)]="model.actionNeeded"
      class="col-md-12"></app-action-needed-embed>
    <app-action-needed-embed [pageName]="'job-readiness'"
      *ngIf="model && model.actionNeeded && !isReadOnly"
      [participantPin]="this.participant?.pin"
      [(ngModel)]="model.actionNeeded"
      (ngModelChange)="model.actionNeeded = $event; validateActionNeeded();"
      [isActionErrored]="modelErrors['actionNeeded']"
      [cacheInnerValue]="originalModel?.actionNeeded"
      [isRequired]="actionRequired"
      class="col-md-12"></app-action-needed-embed>
  </div>


  <footer class="nav-footer">
    <div class="container">
      <div class="row justify-content-end
        p-3"
        *ngIf="!isReadOnly">
        <button class="btn btn-add
          mr-1"
          (click)="cancel()">Cancel </button>
        <button *ngIf="continueWithErrors && !this.isSaving"
          class="btn btn-danger
          mr-1"
          (click)="saveWithErrors()">Save with Errors</button>
        <button *ngIf="!continueWithErrors && !this.isSaving"
          class="btn btn-primary btn-save
          mr-1"
          (click)="save() ">Save</button>
        <button *ngIf="this.isSaving"
          class="btn btn-primary btn-save disabled
          mr-1"><i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>Saving</button>
      </div>
    </div>

  </footer>
</div>
