<div class="card">
  <div class="card-header">
    <app-ep-card-header [showEdit]="showEdit"
      [title]="'Employments'" (editSec)="editSection()"></app-ep-card-header>
  </div>
  <!-- <div class="card-body flex pad1" *ngFor="let goal of this.goals">
    <div class="item">Goal Name <span>{{goal.name}}</span></div>
    <div class="item">Goal Begin Date: <span>{{goal.beginDate | dateMmDdYyyy}}</span></div>
    <div class="item">Goal Type: <span>{{goal.goalTypeName}}</span></div>
  </div> -->
  <app-epemployments-list [employments]="this.employments"
    [showControls]="true"
    [isReadOnly]="true"></app-epemployments-list>
</div>