<div *ngIf="!this.isReadOnly">
  <div *ngFor="let person of models; let i=index" class="deg-repeat repeat rel deg-1">
    <div class="grid-container-5-1fr">
      <div class="grid-item pr-3">
        <label>First Name</label>
        <app-text-input [(ngModel)]="person.firstName"
          (ngModelChange)="person.firstName = $event; onChangeCallback(models)"
          [isInvalid]="isModelErrorsItemInvalid(i ,'firstName')"
          [cacheInnerValue]="getInitialModelValue(person.id, 'firstName')" [maxLength]="120"
          [isRequired]="person.isFirstNameRequired && isRepeaterRowRequired(i)"></app-text-input>
      </div>
      <div class="grid-item pr-3">
        <label>Last Name</label>
        <app-text-input [(ngModel)]="person.lastName"
          (ngModelChange)="person.lastName = $event; onChangeCallback(models)"
          [isInvalid]="isModelErrorsItemInvalid(i ,'lastName')"
          [cacheInnerValue]="getInitialModelValue(person.id, 'lastName')" [maxLength]="120"
          [isRequired]="person.isLastNameRequired && isRepeaterRowRequired(i)"></app-text-input>
      </div>
      <div class="grid-item pr-3">
        <label>DOB</label>
        <app-date-mm-dd-yyyy [(ngModel)]="person.dateOfBirth"
          (ngModelChange)="person.dateOfBirth = $event; onChangeCallback(models)"
          [isInvalid]="isModelErrorsItemInvalid(i ,'dateOfBirth')"
          [cacheInnerValue]="getInitialModelValue(person.id, 'dateOfBirth')"
          [isRequired]="person.isDateOfBirthRequired && isRepeaterRowRequired(i)"></app-date-mm-dd-yyyy>
      </div>
      <div class="grid-item pr-3">
        <label>Gender</label>
        <app-tab-selector [(ngModel)]="person.genderId"
          (ngModelChange)="person.genderId = $event; onChangeCallback(models)"
          [isInValid]="isModelErrorsItemInvalid(i ,'genderId')"
          [cacheInnerValue]="getInitialModelValue(person.id, 'genderId')" [tabs]="this.genderDrop"
          [isRequired]="person.isGenderRequired && isRepeaterRowRequired(i)"></app-tab-selector>
      </div>
      <div class="grid-item">
        <label>&nbsp;</label>
        <i class="fa fa-trash-alt clear-del del-rfa" (click)="deleteFromRepeater(person)" title="delete"></i>
      </div>
    </div>
  </div>

  <div class="flex-row justify-content-flex-end pt-3">
    <button (click)="addToRepeater()" class="btn btn-sm btn-add add-deg">+ &nbsp; Add Child</button>
  </div>

</div>

<div *ngIf="this.isReadOnly">
  <div *ngFor="let person of models; let i=index" class="flex-row" [class.pt-5]="i == 0"
    [class.pb-1]="i == models.length">
    <div class="col-md-3">
      <label *ngIf="i == 0" class="readOnly">First Name</label>
      <br /> {{person.firstName}}
    </div>
    <div class="col-md-3">
      <label *ngIf="i == 0" class="readOnly">Last Name</label>
      <br /> {{person.lastName}}
    </div>
    <div class="col-md-3">
      <label *ngIf="i == 0" class="readOnly">DOB</label>
      <br /> {{person.dateOfBirth | dateMmDdYyyy}}
    </div>
    <div class="col-md-3">
      <label *ngIf="i == 0" class="readOnly">Gender</label>
      <br /> {{person.gender}}
    </div>
  </div>
</div>
