<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Goal Edit'"></app-loading>
  <div *ngIf="this.isLoaded">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitGoalEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class=" row wrapper">
        <div class="clearfix col-lg-6">
          <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
            (click)="cancel()"
            title="Close Goal">
            <i class="fa fa-times"></i>
          </a>
          <h1 id="editPageTitle"
            *ngIf="this.goal.id == 0 && !showControl"
            class="px-3">Add Goal</h1>
          <h1 id="editPageTitle"
            *ngIf="this.goal.id != 0 && !showControl"
            class="px-3">Edit Goal</h1>
          <h1 id="editPageTitle"
            *ngIf="showControl"
            class="px-3">Goal</h1>
        </div>
        <div class="history col-lg-6 col-md-6"
          *ngIf="goal && goal?.modifiedBy">
          <app-modified-stamp [readOnly]="true"
            [author]="goal.modifiedBy"
            [lastModified]="goal.modifiedDate">
          </app-modified-stamp>
        </div>
      </div>
    </header>

    <div class="edit-content">
      <div class="wrapper pad1">
        <div class="row pad1-0">
          <main id="app-goal-edit"
            class="col-md-10">

            <app-validation-summary [errors]='validationManager.errors'></app-validation-summary>
            <div class="row">
              <div *ngIf="!showControl"
                class="col-lg-12">
                <label class="rowSpace">Goal Type</label>
                <app-select [(ngModel)]="this.goal.goalTypeId"
                  (ngModelChange)="this.goal.goalTypeId = $event; this.validate()"
                  [cacheInnerValue]="this.originalGoal?.goalTypeId"
                  [dropDownList]="goalTypesDrop"
                  [isInvalid]="modelErrors['goalTypeId']"
                  [isRequired]="true"
                  [isDisabled]="showControl"
                  [isResizable]="true"></app-select>
              </div>
              <div *ngIf="showControl"
                class="col-lg-4">
                <label class="rowSpace">Goal Type</label>
                <app-text-input [(ngModel)]="goal.goalTypeName"
                  [isReadOnly]="showControl"
                  [isResizable]="true">
                </app-text-input>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label class="rowSpace">Goal Begin Date</label>
                <br />
                <div *ngIf="!showControl">
                  <app-date-mm-dd-yyyy [(ngModel)]="this.goal.beginDate"
                    (ngModelChange)="this.goal.beginDate = $event; validate()"
                    [isInvalid]="modelErrors['beginDate']"
                    [isReadOnly]="true"
                    [cacheInnerValue]="this.originalGoal?.beginDate">
                  </app-date-mm-dd-yyyy>
                </div>
                <div *ngIf="showControl">
                  <app-date-mm-dd-yyyy [(ngModel)]="this.goal.beginDate"
                    [isReadOnly]="true"></app-date-mm-dd-yyyy>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label class="rowSpace">Goal Name</label>
                <app-generic-text-input [(ngModel)]="this.goal.name"
                  (ngModelChange)="this.goal.name = $event; this.validate()"
                  [NGMaxLength]="120"
                  [isRequired]="true"
                  [cacheInnerValue]="this.originalGoal?.name"
                  [isInvalid]="modelErrors['name']"
                  [isDisabled]="showControl"></app-generic-text-input>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-page">
                <label class="rowSpace">Goal Description</label>
                  <app-text-area maxlength="380"
                  (ngModelChange)="this.goal.details = $event; this.validate()"
                  [(ngModel)]="goal.details"
                  [cacheInnerValue]="originalGoal?.details"
                  [isRequired]="true"
                  [isInvalid]="modelErrors['details']"
                  [placeholder]="' '"
                  [isDisabled]="showControl"></app-text-area>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-12"
                *ngIf="(showControl && this.goal.goalSteps.length > 0) || (!showControl)">
                <h4>Goal Steps</h4>
                <app-goal-step-repeater [(ngModel)]="this.goal.goalSteps"
                  (ngModelChange)="this.goal.goalSteps = $event; this.validate()"
                  [goalTypeDrop]="goalTypesDrop"
                  [originalModel]="this.originalGoal?.goalSteps"
                  [modelErrors]="modelErrors['goalSteps']"
                  [isDisabled]="showControl"
                  [isReadOnly]="isReadOnly"
                  [canEditCompleted]="canEditCompleted"
                  [goal]="this.goal"></app-goal-step-repeater>
              </div>
            </div>
            <div class="row">
              <div *ngIf="showControl && !isReadOnly"
                class="col-md-12">
                <button (click)="showEndGoalReason()"
                  class="btn btn-end">End Goal </button>
                <hr />
              </div>
              <div *ngIf="showEndReasons || this.goal?.isGoalEnded"
                class="col-md-12">
                <app-end-goal [goal]="this.goal"
                  [originalGoal]="originalGoal"
                  [endGoalTypesDrop]="endGoalTypesDrop"
                  (endGoalValidation)="this.validate()"
                  [modelErrors]="modelErrors"></app-end-goal>
              </div>
            </div>

          </main>
        </div>
      </div>
    </div>
    <footer class="edit-footer">
      <app-cancel-save-footer [isReadOnly]="isReadOnly"
        [canSaveOnReadOnly]="canSaveOnReadOnly"
        [isSaving]="isSaving"
        [isDisabled]="isSectionValid"
        (cancelEvent)="cancel()"
        (saveEvent)="save()"></app-cancel-save-footer>
    </footer>
  </div>
</div>
