.edit-content {
  position: absolute;
}

button.btn-end {
  height: 26px;
  padding: 2px 12px 2px 12px;
  border: 1px solid #bdc3c7;
  margin: 25px 0px 0px 15px;
  background: none;
}

button.btn-end:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

button.btn-end:not(.disabled):hover {
  background: #fff;
}

.rowSpace {
  margin-top: .5rem;
  margin-bottom: .1rem;
}
