<div [ngClass]="{error: isInValid}"  class="btn-group required" role="group">
  <button [ngClass]="{selected: isDiplomaSelected}" id="school-dip-yes" (click)="getEducationTab(1)">Diploma</button>
  <button [ngClass]="{selected: isGEDSelected}" id="school-dip-ged" (click)="getEducationTab(2)">GED</button>
  <button [ngClass]="{selected: isHSEDSelected}" id="school-dip-hsed" (click)="getEducationTab(3)">HSED</button>
  <button [ngClass]="{selected: isNoneSelected}" id="school-dip-none" (click)="getEducationTab(4)">None</button>
</div>
