.month-container {
    display: inline-block;
    /*background-color: #ecf0f1;*/
    background-color: #fff;
    margin-bottom:1px;
}
.month-box {
    background-color: #ffffff;
    border: 1px solid #D7DBDD;
    color: #D7DBDD;
    line-height: 1em;
    margin-left: 2px;
    text-align: center;
    display: flex;
    min-width: 44px;
    min-height: 48px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-transform: uppercase;
    cursor: pointer;
    transition-property: color, background-color, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    position: relative;
    z-index: 100;

}
.month-box .clock-type {
    display: block;
    font-size: .8em;
    position: absolute;
    bottom:1rem;
    left:0;
    width: 100%;

}
.month {
    display: block;
    font-size: .6em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.month-container {
    position: relative;
}
.month-container .federal-bar,
.month-container .state-bar,
.month-container .placement-bar {
    height: 16px;
    margin:2px 0;
    background: #ecf0f1;

}

/*.month-container .federal-bar,
.month-container .placement-bar {
    height:16px;
}*/

/*.month-container .state-bar{
  height: 16px;
}*/

.month-container .federal-bar.ticked,
.month-container .state-bar.ticked,
.month-container .placement-bar.ticked,
.month-container .federal-bar.extension,
.month-container .state-bar.extension,
.month-container .placement-bar.extension{
    border-width: 1px 0;
    border-style: solid;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.month-container.future .federal-bar.extension,
.month-container.future .state-bar.extension,
.month-container.future .placement-bar.extension{
    border-style:dashed;
    cursor: auto;
}

.month-container .federal-bar.ticked,
.month-container .placement-bar.ticked{
    background-color:#D4D9DC;
    border-color: #BDC3C7;
}
.month-container .state-bar.ticked {
    background-color:#DEE1E3;
    border-color:#BDC3C7;
}
.month-container .state-bar.extension,
.month-container .placement-bar.extension{
    border-color: #D35400;
    background: #FF9940;

}


/* unused extension month will have bar "Ticked" - but we don't want it to appear as "used"
so we blank out the background*/
.month-container:not(.used) .state-bar.extension,
.month-container:not(.used) .placement-bar.extension
{
    background-color: transparent
}

.month-container.future .state-bar.extension,
.month-container.future .placement-bar.extension {
  background-color: #F5CBA7;
}


.month-container .federal-bar.ticked.start,
.month-container .state-bar.ticked.start,
.month-container .placement-bar.ticked.start,
.month-container .federal-bar.extension.start,
.month-container .state-bar.extension.start,
.month-container .placement-bar.extension.start{
    border-left-width:1px;
    margin-left: 2px;
}

.month-container .federal-bar.ticked.start,
.month-container .placement-bar.ticked.start {
    box-shadow: -10px 0 0 #ECF0F1;
}

.month-container .federal-bar.ticked.end,
.month-container .state-bar.ticked.end,
.month-container .placement-bar.ticked.end,
.month-container .federal-bar.extension.end,
.month-container .state-bar.extension.end,
.month-container .placement-bar.extension.end{
    border-right-width:1px;
    margin-right: 0;
}

.month-container.today:after{
    content: "Latest";
    position: absolute;
    top: 2px;
    left: 1px;
    text-transform: uppercase;
    color: #0275d8;
    font-size: .7em;
    font-weight: 700;
    border-left: 2px solid #0275d8;
    line-height: 1em;
    height: auto;
    padding-top: 130px;
    padding-left: 3px;
}

.month-container.today.extension .federal-bar.ticked,
.month-container.today.extension .state-bar.ticked,
.month-container.today.extension .placement-bar.ticked
{
    /*border-right-width: 1px;*/
}

.month-container.today .month-bar{
  padding-left:1px;
  margin-left:1px;
}

.month-container.today.year-ind .month-bar{
  padding-left:2px;
  margin-left:3px;
}


.month-container .state-bar, .month-container .month-bar {
    background-color: #ffffff;
}

.month-container .month-bar {
    padding: 1px 0 2px;
    position: relative;
}
.month-container .year-bar {
    height: 18px;
    position: relative;
    padding:2px 0;
    background: #ecf0f1;
}

.year-ind .month-bar,
.year-ind .year-bar {
    padding-left:2px;
        margin: 0 0 -1px 2px;
}

.year-ind .month-bar:after,
.year-ind .year-bar:after {
    content:"";
    position: absolute;
    left:-1px;
    top:1px;
    bottom:0;
    width:0;
    background-color: #3498DB;
    border: 2px solid #3498DB;
}


.year-ind .year-bar:after{
    top:-1px;
}

.year-ind .federal-bar.ticked.start,
.year-ind .state-bar.ticked.start,
.year-ind .placement-bar.ticked.start{
    margin-left:8px;
}

.month-container .year-label {
    background-color: #3498DB;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    left:3px;
    bottom: 0;
    border-radius: 0 10px 10px 0;
    z-index: 100;
}
.month-container .year-label:before,
.month-container .year-label:after {
    position: absolute;
    right: -1px;
    width: 3px;
    height: 50%;
    box-shadow: -2px 0 0 white;
    background: inherit;
    content: '';
}
.month-container .year-label:before {
    top: 0;
    transform: skewX(45deg);
}
.month-container .year-label:after {
    bottom: 0;
    transform: skewX(-45deg);
}
.month-container .year-label span {
    display: block;
    padding: 1px 10px 0 5px;
    color: #fff;
    font-size: .7em;
}


.month-container.future .month-box {
    border-style: dashed;
}

.month-container.used .month-box {
    border-color: #95A5A6;
    background-color: #BDC3C7;
    color:#FFFFFF;
}
 .month-container.paid .month-box {
    border-color: #16A085;
    background-color: #1ABC9C;
    color:#FFFFFF;
    padding-bottom: 2px;
}


.month-container.extension .month-box {    
    background-color: #F5CBA7;
    border-color: #D35400;
    color:#FFFFFF;
}




.month-container.extension.future .month-box{
    background-color: #F5CBA7;
    border-color: #D35400;
    color:#FFFFFF;
}

.month-container.selected .month-box, .month-container .month-box:hover {
  border-color: #2980B9;
  background-color: #3498DB;
  color:#FFFFFF;
}

.month-container.selected.future .month-box, .month-container.future .month-box:hover{
    background-color: #53B4F5;
    border-color: #2980B9;
    color:#FFFFFF;
}

.month-container.edited .month-box:after
 {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 0;
    height: 0;
    border-top-color: #ffffff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-width: 15px 15px 0 0;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.month-container.edited:not(.used) .month-box:after{
  border-top-color: #BDC3C7;
}

