<div id="edit-container">
  <app-loading [isLoaded]="isLoaded"
    [loadingLabel]="'Auxiliary Edit'"></app-loading>
  <div *ngIf="this.isLoaded">
    <app-dialog-box *ngIf="appService?.isDialogPresent"
      (dialogClose)="exitAuxiliaryEditIgnoreChanges($event)"
      [doesNotNavigateBack]="true"></app-dialog-box>
    <header class="edit-header">
      <div class="container">
        <div class="row p-1 border-bottom align-items-center">
          <div class="col-lg-6">
            <a class="btn btn-back btn-secondary-outline btn-sm edit-btn-back"
              (click)="exit()"
              title="Close Auxiliary">
              <i class="fa fa-times"></i>
            </a>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="auxiliary.id === 0">Add Auxiliary
            </h1>
            <h1 id="editPageTitle"
              class="px-3"
              *ngIf="auxiliary.id > 0">Auxiliary
            </h1>
            <app-help-button [featureName]="'auxiliary-edit'"></app-help-button>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="docs-holder  d-flex justify-content-end small">
              <a [href]="auxSheetUrl"
                target="_blank"
                class="btn btn-primary">
                <span><i class="fas fa-file-alt"></i></span>
                <p>Auxiliary Worksheet</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="edit-content">
      <div class="container">
        <div class="row p-1">
          <app-validation-summary class="col-md-12"
            [errors]='validationManager.errors'></app-validation-summary>
          <div class="col-md-6">
            <div class="row p-1">
              <div class="col-md-6">
                <label>Case Number</label>
              </div>
              <div class="col-md-6">
                <app-numerical-input [isReadOnly]="true"
                  [(ngModel)]="auxiliary.caseNumber">
                </app-numerical-input>
              </div>
            </div>
            <div class="row  p-1">
              <div class="col-md-6">
                <label>PIN</label>
              </div>
              <div class="col-md-6">
                <app-numerical-input [isReadOnly]="true"
                  [(ngModel)]="auxiliary.pinNumber">
                </app-numerical-input>
              </div>
            </div>
            <div class="row  p-1">
              <div class="col-md-6">
                <label>Participant Name</label>
              </div>
              <div class="col-md-6">
                <app-text-input [isReadOnly]="true"
                  [(ngModel)]="auxiliary.participantName">
                </app-text-input>
              </div>
            </div>
            <div *ngIf="showOriginalPayment"
              class="row  p-1">
              <div class="col-md-6">
                <label>Original Payment Amount</label>
              </div>
              <div class="input-group col-md-6 flex-nowrap">
                <div class="input-group-prepend"><span class="input-group-text">$</span>
                </div>
                <app-numerical-input class="w-100 last"
                  [isReadOnly]="true"
                  [(ngModel)]="auxiliary.originalPayment"
                  [isInvalid]="modelErrors['originalPayment']">
                </app-numerical-input>
              </div>
            </div>
            <div class="row  p-1"
              *ngIf="isDb2InfoLoaded">
              <div class="col-md-6">
                <label>W-2 Auxiliary Amount</label>
              </div>
              <div class="input-group col-md-6 flex-nowrap">
                <div class="input-group-prepend"><span class="input-group-text">$</span>
                </div>
                <app-numerical-input class="w-100 last"
                  [isRequired]="true"
                  [cacheInnerValue]="cachedModel?.requestedAmount"
                  [isInvalid]="modelErrors['requestedAmount']"
                  [isReadOnly]="isReadOnly || canApproveAux"
                  [NGMaxLength]="3"
                  [(ngModel)]="auxiliary.requestedAmount"
                  (ngModelChange)="validate();">
                </app-numerical-input>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row  p-1">
              <div class="col-md-4">
                <label>Participation Period</label>
              </div>
              <div class="col-md-6 pl-0">
                <app-select [dropDownList]="participationPeriodDrop"
                  [cacheInnerValue]="cachedModel?.participationPeriodId"
                  [isInvalid]="modelErrors['participationPeriodId']"
                  [isRequired]="true"
                  [isReadOnly]="isReadOnly || isReturnedAuxiliarybool || canApproveAux"
                  [(ngModel)]="auxiliary.participationPeriodId"
                  (ngModelChange)="getDetailsBasedonParticipationPeriod();">
                </app-select>
              </div>
              <div class="col-md-2 p-0">
                <app-select [dropDownList]="yearsDrop"
                  [cacheInnerValue]="cachedModel?.participationPeriodYear"
                  [isInvalid]="modelErrors['participationPeriodYear']"
                  [isRequired]="true"
                  [isReadOnly]="isReadOnly || isReturnedAuxiliarybool || canApproveAux"
                  [(ngModel)]="auxiliary.participationPeriodYear"
                  (ngModelChange)="getDetailsBasedonParticipationPeriod();">
                </app-select>
              </div>
            </div>
            <div class="row  p-1">
              <div class="col-md-4">
                <label>County</label>
              </div>
              <div class="col-md-6 pl-0">
                <app-text-input [isReadOnly]="true"
                  [(ngModel)]="auxiliary.countyName">
                </app-text-input>
              </div>
            </div>
            <div class="row  p-1">
              <div class="col-md-4">
                <label>WP Office</label>
              </div>
              <div class="col-md-6 pl-0">
                <app-text-input [isReadOnly]="true"
                  [(ngModel)]="auxiliary.officeNumber">
                </app-text-input>
              </div>
            </div>
          </div>
        </div>
        <div class="row  p-1"
          *ngIf="isDb2InfoLoaded">
          <div class="col-md-3">
            <label>Reason</label>
          </div>
          <div class="col-md-6">
            <app-select [dropDownList]="auxiliaryReasonsDrop"
              [cacheInnerValue]="cachedModel?.auxiliaryReasonId"
              [isInvalid]="modelErrors['auxiliaryReasonId']"
              [isRequired]="true"
              [isReadOnly]="isReadOnly ||  isReturnedAuxiliarybool || canApproveAux"
              [(ngModel)]="auxiliary.auxiliaryReasonId"
              (ngModelChange)="validate();">
            </app-select>
          </div>
        </div>
        <div class="row  p-1"
          *ngIf="isStatusRequired && isDb2InfoLoaded">
          <div class="col-md-3">
            <label>Status</label>
          </div>
          <div class="col-md-6">
            <app-select
              [dropDownList]="cachedModel?.auxiliaryStatusTypeCode === 'AP' ? filteredStatusTypesDrop : auxiliaryStatusTypesDrop"
              [cacheInnerValue]="cachedModel?.auxiliaryStatusTypeId"
              [isInvalid]="modelErrors['auxiliaryStatusTypeId']"
              [isRequired]="isStatusRequired"
              [(ngModel)]="auxiliary.auxiliaryStatusTypeId"
              (ngModelChange)="changeStatus();validate();">
            </app-select>
          </div>
        </div>
        <div class="row  p-1"
          *ngIf="isDb2InfoLoaded">
          <div class="col-md-3">
            <label>Details</label>
          </div>
          <div class="col-md-6">
            <app-text-area [(ngModel)]="auxiliary.details"
              [cacheInnerValue]="cachedModel?.details"
              [isInvalid]="modelErrors['details']"
              [isReadOnly]="isReadOnly && (!canApproveAux  || isReturnedAuxiliarybool)"
              [isRequired]="true"
              [isAutoSizeable]="true"
              placeholder="Details"
              maxlength="380"
              (ngModelChange)="validate();">
            </app-text-area>
          </div>
        </div>
        <div *ngIf="auxiliary.auxiliaryStatuses"
          class="pt-3">
          <div class="row topborder border-bottom p-1 font-weight-bold">
            <div class="col-md-3">Status</div>
            <div class="col-md-2">Status Date</div>
            <div class="col-md-5">Details</div>
            <div class="col-md-2">Last Updated By</div>
          </div>
          <div class="list-item p-1 row"
            *ngFor="let status of auxiliary.auxiliaryStatuses">
            <div class="col-md-3"> {{status.auxiliaryStatusDisplayName}}
            </div>
            <div class="col-md-2"> {{status.auxiliaryStatusDate | date :'MM/dd/yyyy'}}
            </div>
            <div class="col-md-5 wrapword"> {{status.details}}
            </div>
            <div class="col-md-2"> {{status.modifiedBy}}
            </div>
          </div>
        </div>
        <div class="cal-details"
          *ngIf="modelErrors['calcError']">
          <div class="row justify-content-end add-holder">
            <button class="btn btn-sm btn-add"
              (click)="showHideCalDetails()"><span *ngIf="!showCalDetails">+</span> <span
                *ngIf="showCalDetails">-</span>&nbsp;Calculation Details</button>
            <hr class="spacer">
          </div>
          <div class=""
            *ngIf="showCalDetails">
            <p>How was this calculated?</p>
            <p class="mb-0">1. First WWP determined the maximum W-2 payment amount that can be issued for this
              participation period using
              the following information:</p>
            <div class="row border m-0">
              <div class="col-md-9 border-right">Maximum W-2 Payment Allowed for the W-2 Program</div>
              <div class="col-md-3">${{maxW2Payment}}</div>
            </div>
            <div class="row m-0">
              <div class="col-md-9 border border-top-0">-&nbsp; Recoupment Applied </div>
              <div class="col-md-3 border border-top-0 border-left-0">-${{auxiliary.recoupmentAmount}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">=&nbsp; Maximum W-2 Payment Amount</div>
              <div class="col-md-3 border border-top-0 border-left-0">
                ${{maxW2Payment - auxiliary.recoupmentAmount}}</div>
            </div>
            <p class="mt-3 mb-0">2. Then WWP compared the original W-2 payment amount issued to actions taken
              after pulldown for
              this
              participation period:</p>
            <div class="row border m-0">
              <div class="col-md-9 border-right">Original W-2 Payment Amount Issued from CWW W-2 Payment
                History Page</div>
              <div class="col-md-3">${{auxiliary.originalPayment}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">- Total of Overpayments Calculated</div>
              <div class="col-md-3 border border-top-0 border-left-0">-${{auxiliary.overPayAmount}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">+ Total of W-2 Auxiliary Payments Issued</div>
              <div class="col-md-3 border border-top-0 border-left-0">+${{this.totalW2PaymentForPP}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">+ Your Requested Auxiliary Amount</div>
              <div class="col-md-3 border border-top-0 border-left-0">+${{auxiliary.requestedAmount}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">= Total Attempted W-2 Payment</div>
              <div class="col-md-3 border border-top-0 border-left-0">
                ${{auxiliary.calculateW2Amount(this.totalW2PaymentForPP)}}</div>
            </div>
            <p class="mt-3 mb-0">3. WWP determined that the requested auxiliary exceeds the maximum W-2
              payment amount by
              ${{auxiliary.calculateW2Amount(this.totalW2PaymentForPP) - maxW2Payment}}</p>
            <div class="row border m-0">
              <div class="col-md-9 border-right">Maximum W-2 Payment Amount</div>
              <div class="col-md-3">${{maxW2Payment - auxiliary.recoupmentAmount}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">- Total of Attempted W-2 Payment</div>
              <div class="col-md-3 border border-top-0 border-left-0">
                -${{auxiliary.calculateW2Amount(this.totalW2PaymentForPP)}}</div>
            </div>
            <div class="row  m-0">
              <div class="col-md-9 border border-top-0">= Difference</div>
              <div class="col-md-3 border border-top-0 border-left-0">
                ${{auxiliary.calculateW2Amount(this.totalW2PaymentForPP) - (maxW2Payment - auxiliary.recoupmentAmount)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-cancel-save-footer [hadSaveError]="hadSaveError"
        [isSaving]="isSaving"
        [isDisabled]="isSectionValid"
        [canSubmit]="!canApproveAux"
        [canWithdraw]="canWithDrawbool"
        (cancelEvent)="exit()"
        (submitEvent)="submit()"
        (withdrawEvent)="withDraw()"
        [isReadOnly]="isReadOnly"
        (saveEvent)="saveAndExit()"></app-cancel-save-footer>
    </div>
  </div>
</div>
