<app-work-history-edit [recordId]="employmentRecordId"
  (onSaveAndExit)="exitWorkHistory()"
  *ngIf="inEditView"
  [hasOnlyFcdp]="hasOnlyFcdp"></app-work-history-edit>
<div class="app-embed"
  *ngIf="allEmployments?.length > 0">
  <div class="container">
    <div *ngFor="let e of allEmployments | paginate: config"
      class="row border-bottom">
      <!-- repeater for each record -->
      <a class="app-icon col-md-1"
        target="_blank"
        href="{{workHistoryUrl}}"><i class="fa fa-briefcase"></i></a>

      <div class="app-info p-0"
        [class.col-md-9]="!isReadOnly"
        [class.col-md-11]="isReadOnly">
        <div class="row mx-1 align-items-center">
          <div class="col-md-6 pt-1">
            <div class="col-md-12 p-0">
              <h6>
                <p class="workHistory-position wrapword m-0"
                  title="Position"
                  (click)="goToSingleView(e.id)">{{e.jobPosition}}</p>
              </h6>
            </div>
            <div class="app-additional tgrey3 col-md-12 p-0">
              <span class="workHistory-employer left wrapword"
                title="Company/Organization Name">{{e.companyName}}</span>
              <span class="workHistory-employer right"
                *ngIf="e.location"
                title="Location">{{e.location.city}}
                {{e.location.state}}</span>
            </div>
          </div>
          <div class="col-md-6 border-left pt-1">
            <div class="app-dates">
              <span class="workHistory left"
                title="Begin Date"><i class="fa fa-calendar tgrey3"></i> {{e.jobBeginDate}}</span>
              <span *ngIf="e.isCurrentlyEmployed"
                class="workHistory right"
                title="Currently Employed">Present</span>
              <span *ngIf="!e.isCurrentlyEmployed"
                class="workHistory right"
                title="End Date">{{e.jobEndDate}}</span>
            </div>
            <ng-container *ngIf="!e.jobEndDate">
              <ng-container *ngFor="let loa of e?.absences">
                <div class="app-dates"
                  *ngIf="loaInView(loa.beginDate, loa.endDate)">
                  <span class="workHistory left"
                    title="Begin Date"><i class="fas fa-user-alt-slash tgrey3"></i>{{loa.beginDate}}</span>
                  <span *ngIf="!loa.endDate"
                    class="workHistory right"
                    title="Currently Employed">Present</span>
                  <span *ngIf="loa.endDate"
                    class="workHistory right"
                    title="End Date">{{loa.endDate}}</span>
                </div>
              </ng-container>
            </ng-container>
            <div class="app-main app-hours">
              <span class="workHistory-employer left"
                *ngIf="e.wageHour?.currentAverageWeeklyHours"
                title="Avg Weekly Hours"><i class="far fa-clock tgrey3"></i>
                {{e.wageHour?.currentAverageWeeklyHours}}
                hr/week</span>
              <span>
                <span class="workHistory-employer right"
                  *ngIf="e?.jobTypeName != 'Volunteer'"><i
                    *ngIf="calculateHourlyWage(e)?.isCalculated !== null"
                    class="far fa-money-bill-alt tgrey3"></i>
                  <span *ngIf="calculateHourlyWage(e)?.isCalculated">&asymp;</span><span
                    title="Hourly Wage"></span>$<strong>{{calculateHourlyWage(e)?.value}}</strong>/{{calculateHourlyWage(e)?.units}}
                </span>
              </span>
              <span class="workHistory-employer right"
                *ngIf="calculateHourlyWage(e)?.isCalculated === null">No Pay</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 p-0"
        *ngIf="!isReadOnly">
        <div class="clear-edit alt h-100 border-top border-right border-bottom rounded-0">
          <div (click)="edit(e.id)"
            class="edit h-100 d-flex justify-content-center align-items-center">
            <i class="fa fa-pencil-alt"></i>
          </div>
          <app-delete-reason-button class="h-100 d-flex justify-content-center align-items-center"
            [type]="'workHistory'"
            [objectWatched]="e"
            (deletedObject)="delete($event)">
          </app-delete-reason-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tcenter full pad1-0"
  *ngIf="!isReadOnly">
  <!--Pagination-->
  <pagination-template *ngIf="allEmployments?.length >= config.itemsPerPage"
    #p="paginationApi"
    [id]="config.id"
    (pageChange)="config.currentPage = $event"
    class="center">
    <button class="btn btn-add"
      (click)="p.previous()"
      *ngIf="!p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
    <button class="btn btn-add disabled"
      *ngIf="p.isFirstPage()"><i class="fa fa-angle-left"></i></button>
    <span class="paging-info pad0-1">
      {{numberInView(config, p, this.allEmployments?.length)}} of {{allEmployments?.length}}
    </span>
    <button class="btn btn-add"
      (click)="p.next()"
      *ngIf="!p.isLastPage()"><i class="fa fa-angle-right"></i></button>
    <button class="btn btn-add disabled"
      *ngIf="p.isLastPage()"><i class="fa fa-angle-right"></i></button>
  </pagination-template>
  <span class="right">
    <button id="add-work"
      class="btn btn-add"
      [class.error]="isInvalid"
      (click)="add()">+ Add Work History</button>
  </span>
</div>

<app-confirm-dialog *ngIf="inConfirmDeleteView"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()"
  title="Delete Employment"
  confirmButtonText="Delete Employment"
  cancelButtonText="Cancel"
  message="Deleting an employment will remove its information throughout the entire application. Are you sure you want to do this?"
  warningMsg="This job is associated with the current EP. A new EP may be needed"
  [showWarning]="hasEmploymentOnEp && !hasOnlyFcdp"></app-confirm-dialog>

<!-- if no workHistory selected -->
<div class="app-info"
  *ngIf="isReadOnly && allEmployments?.length == 0">
  <p class="app-none tcenter"
    title="No Work History">No Work History</p>
</div>
